<script src="/wechat/web/js/config/area.js"></script>
<script src="/wechat/web/js/config/city.js"></script>
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="ibox">
        <div class="ibox-title"><h5>会员列表</h5></div>
        <div class="ibox-content">
            <div class="form-horizontal clearfix">
                <form action="/admin/member/index" method="get">
                    <div class="col-sm-12">
                        <div class="box-body big">
                            <div class="row form-group">
                                <div class="col-sm-2">
                                    <select name="status" class="form-control">
                                        <option value="">性别</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select name="is_show" class="form-control">
                                        <option value="">最小年龄</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select name="is_show" class="form-control">
                                        <option value="">最大年龄</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" name="id_phone_name" class="form-control" value="{{\Yii::$app->request->get('id_phone_name')}}" placeholder="会员ID、手机号、姓名">
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-primary">搜索</button>
                                    <button type="button" id="moreSearchBtn" class="btn btn-success">高级搜索</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <table id="demo1" class="table  table-bordered    j-datatables"
                   data-is-ajax="1"
                   data-ajax-url="/admin/member/search"
                   cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>头像</th>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>婚姻</th>
                    <th>身高</th>
                    <th>学历</th>
                    <th>等级</th>
                    <th>服务</th>
                    <th>认证</th>
                    <th>签单</th>
                    <th>资料</th>
                    <th>地址</th>
                    <th>证件</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="moreSearch" style="display: none;">
    <div class="ibox">
        <div class="ibox-title center"><h5>高级搜索</h5></div>
        <div class="ibox-content clearfix">
            <div class="row">
                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>身高</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>学历</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>年薪</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>婚姻</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>子女</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>职业</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>购房</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>购车</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>等级</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>生肖</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <select class="form-control">
                        <option>星座</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <select class="form-control">
                        <option>销售红娘</option>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <select class="form-control">
                        <option>服务红娘</option>
                    </select>
                </div>
            </div>
            <div class="row mt20">
                <div class="form-group col-sm-12 center">
                    <button class="btn btn-primary" type="submit">立即搜索</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        $('#moreSearchBtn').click(function(){
            layer.open({
                type: 1,
                title: false,
                area: ['500px', '410px'],
                shadeClose:true,
                content: $('#moreSearch'),
                cancel: function(index){
                    layer.close(index);
                    this.content.show();
                }
            });
        })
    });
</script>