<ion-content>
  正在跳转支付...
</ion-content>
<script type="text/javascript">
    function onBridgeReady() {
        WeixinJSBridge.invoke(
                'getBrandWCPayRequest', {!$param},
        function (res) {
            ajaxPost();
        }
    );
    }
    if (typeof WeixinJSBridge == "undefined") {
        if (document.addEventListener) {
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        } else if (document.attachEvent) {
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    } else {
        onBridgeReady();
    }

    // ajax 对象
    function ajaxObject() {
        var xmlHttp;
        try {
            // Firefox, Opera 8.0+, Safari
            xmlHttp = new XMLHttpRequest();
        }
        catch (e) {
            // Internet Explorer
            try {
                xmlHttp = new ActiveXObject("Msxml2.XMLHTTP");
            } catch (e) {
                try {
                    xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (e) {
                    alert("您的浏览器不支持AJAX！");
                    return false;
                }
            }
        }
        return xmlHttp;
    }

    function ajaxPost () {
        var ajax = ajaxObject();
        ajax.open( "post" , '/wap/charge/order-query' , true );
        ajax.setRequestHeader( "Content-Type" , "application/x-www-form-urlencoded" );
        ajax.onreadystatechange = function () {
            if( ajax.readyState == 4 ) {
                if( ajax.status == 200 ) {
                    function fnSucceed(){
                        alert(ajax.responseText);
                    }
                }
                else {
                    function fnFail(){
                        alert("HTTP请求错误！错误码："+ajax.status)
                    };
                }
            }
            else {
                function fnLoading(){
                    console.log('loading..')
                }

            }
        }
        ajax.send( {out_trade_no:{!$orderId}} );
    }

</script>