
    <link rel="stylesheet" type="text/css" href="/backend/web/CloudAdmin/css/cloud-admin.min.css" >

    <link href="/backend/web/CloudAdmin/font-awesome/css/font-awesome.min.css" rel="stylesheet">


    <script>
        if(typeof(WebSocket)=='undefined'){
            alert('你的浏览器不支持 WebSocket ，推荐使用Google Chrome 或者 Mozilla Firefox');
        }
    </script>

<!-- BOX -->
<div class="box border green chat-window">
    <div class="box-title">
        <h4><i class="fa fa-comments"></i>Chat Window</h4>
        <div class="tools">
            <a href="#box-config" data-toggle="modal" class="config">
                <i class="fa fa-cog"></i>
            </a>
            <a href="javascript:;" class="reload">
                <i class="fa fa-refresh"></i>
            </a>
            <a href="javascript:;" class="collapse">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a href="javascript:;" class="remove">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="box-body big">
        <div class="scroller" data-height="450px" data-always-visible="1" data-rail-visible="1">
            <ul class="media-list chat-list">
                <li class="media other_send" style="display: none">
                    <a class="pull-left" href="#">
                        <img class="media-object" alt="Generic placeholder image" src="/backend/web/CloudAdmin/img/chat/headshot1.jpg">
                    </a>
                    <div class="media-body chat-pop">
                        <h4 class="media-heading">John Doe <span class="pull-right"><i class="fa fa-clock-o"></i> <abbr class="timeago" title="" >Oct 9, 2013</abbr> </span></h4>
                        <p class="cot"></p>

                    </div>
                </li>
                <li class="media self_send" style="display: none">
                    <a class="pull-right" href="#">
                        <img class="media-object"  alt="Generic placeholder image" src="/backend/web/CloudAdmin/img/chat/headshot2.jpg">
                    </a>
                    <div class="pull-right media-body chat-pop mod">
                        <h4 class="media-heading">You <span class="pull-left"><abbr class="timeago" title="Oct 10, 2013" ></abbr> <i class="fa fa-clock-o"></i></span></h4></h4>
                        <span class="cot">
                        </span>
                    </div>
                </li>

            </ul>
        </div>
        <div class="divide-20"></div>
        <div class="chat-form">
            <div class="input-group">
                <input type="hidden" value='{{$config}}' id="config">
                <input type="hidden" value="{{$name}}" id="self_name">
                <input type="hidden" value="{{$sendName}}" id="send_name">
                <input type="text" id="send_message" class="form-control">
                <span class="input-group-btn"> <button class="btn btn-primary" id="send" type="button"><i class="fa fa-check"></i></button> </span>
            </div>
        </div>
    </div>
</div>
<script>
    requirejs(['http://res.wx.qq.com/open/js/jweixin-1.0.0.js','chat/chat', 'comm'], function (wx,chat, comm) {

        // 微信接口调用
        var config = {{$config}};
        wx.config(config);
        wx.ready(function () {

        });

            // 初始化聊天
            var socket = chat.init($("#self_name").val());
            console.log('123123')
            $(document).on('click', '#send', function () { // 点击发送按钮

                var message = $("#send_message").val();
                var key = $("#send_name").val();
                socket.send('&nr=' + chat.esc(message) + '&key=' + key);

            });

            chat.onMessageCallback = function (msg) {   // 服务器返回消息处理函数

                var data = JSON.parse(msg.data);
                console.log(data);
                if (data.type == 'send') {

                    var msgCot = data.sendName != $("#self_name").val() ? $(".self_send:first").clone() : msgCot = $(".other_send:first").clone();
                    msgCot.find('.cot').html(data.nrong);
                    msgCot.find('.timeago').html(comm.currentDate());
                    msgCot.show();
                    $(".chat-list").append(msgCot);

                }
            }
        var send_message = function () {
            socket.send('&nr=' + chat.esc(message) + '&key=xintiao');
        }
        window.setInterval(send_message , 60000);

    });
</script>