<link href="/backend/web/CloudAdmin/js/jQuery-uploadify/uploadify.css" rel="stylesheet">
<div class="box border green">
    <div class="box-title">
        <h4><i class="fa fa-bars"></i>Form states</h4>
        <div class="tools hidden-xs">
            <a href="#box-config" data-toggle="modal" class="config">
                <i class="fa fa-cog"></i>
            </a>
            <a href="javascript:;" class="reload">
                <i class="fa fa-refresh"></i>
            </a>
            <a href="javascript:;" class="collapse">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a href="javascript:;" class="remove">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="box-body big">
        <form class="form-horizontal" role="form" action="create-user" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-10">
                    <input class="form-control" name="name" type="text" placeholder="请输入用户名(真实姓名)" value="" required>
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-2 control-label">真实姓名</label>
                <div class="col-sm-10">
                    <input class="form-control" name="real_name" type="text" placeholder="请输入真实姓名" value="" required>
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input class="form-control" name="password" type="password" placeholder="请输入密码" value="" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">手机号</label>
                <div class="col-sm-10">
                    <input class="form-control" name="phone" type="text" placeholder="请输入手机号" value="" required>
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-2 control-label">座机</label>
                <div class="col-sm-10">
                    <input class="form-control" name="landline" type="text" placeholder="请输入座机" value="" required>
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-2 control-label">QQ</label>
                <div class="col-sm-10">
                    <input class="form-control" name="qq" type="text" placeholder="请输入QQ" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">微信</label>
                <div class="col-sm-10">
                    <input class="form-control" name="wechat" type="text" placeholder="请输入微信" value="">
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-10">
                    <input class="form-control" name="email" type="text" placeholder="请输入邮箱" value="" required>
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-2 control-label">简介</label>
                <div class="col-sm-10">
                    <input class="form-control" name="introduction" type="text" placeholder="请输入简介" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">头像</label>
                <div class="col-md-10">
                    <div class="box border blue">
                        <div class="box-title">
                            <h4><i class="fa fa-picture-o"></i>上传照片</h4>
                        </div>
                        <div class="box-body">
                            <input type="file" name="file_upload" id="file_upload" />
                            <input name="photo" id="photo" type="hidden" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10">
                    <label class="radio-inline"><input type="radio" checked="checked" value="1" name="status" class="uniform"> 正常 </label>
                    <label class="radio-inline"><input type="radio" value="0" name="status" class="uniform"> 禁用 </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">角色分配</label>
                <div class="col-sm-10">
                    {{foreach from=$list item=vo key=k}}
                    <label class="checkbox-inline">
                        <input type="checkbox" name="role[]" value="{{$k}}"> {{$k}}
                    </label>
                    {{/foreach}}
                </div>
            </div>

            <div class="form-group has-error">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-success">保存</button>
                </div>
            </div>
        </form>

    </div>
</div>

<script src="/backend/web/CloudAdmin/js/jQuery-uploadify/jquery.uploadify.min.js"></script>
<script>
    jQuery(document).ready(function () {

//     /wap/file/thumb
        $('#file_upload').uploadify({
            'buttonText'      : '选择照片',
            'fileSizeLimit'   : '8MB',
            'fileTypeDesc'    : '图片文件',
            'fileTypeExts'    : '*.gif; *.jpg; *.png; *.bmp',
            'swf'             : '/backend/web/CloudAdmin/js/jQuery-uploadify/uploadify.swf',
            'uploader'        : '/admin/file/upload-img',
            'formData'        : {'user_id' : 1 , 'timestamp':new Date().getTime()},
            'debug'           : true,
            'onUploadError'   : function(file, errorCode, errorMsg, errorString) {
                alert('文件名： ' + file.name + '， 错误原因: ' + errorString);
            },
            'onUploadSuccess' : function(file, data, response) {
                $('#photo').val(data);
                alert('The file ' + file.name + ' was successfully uploaded with a response of ' + response + ':' + data);
            }

            // Put your options here
        });

    });

</script>