<div class="wrapper wrapper-content animated fadeInUp">
    <div class="ibox">
        <div class="ibox-title"><h5>用户列表</h5>
            <div class="ibox-tools rboor">
                <a href="/admin/user/create-user" class="btn btn-green btn-xs p310"><i class="fa fa-plus"></i> 添加</a>
            </div>
        </div>

        <div class="ibox-content">

            <div class="form-horizontal clearfix">
                <form action="" method="get">
                    <div class="col-sm-12">
                        <div class="box-body big">
                            <div class="row">
                                <div class="col-sm-2">
                                    <select name="group" class="form-control">
                                        <option value="">用户组</option>
                                        {{foreach from=$group item=vo}}
                                        <option value="{{$vo->name}}" {{if $get.group eq $vo->name}} selected="selected" {{/if}}>{{$vo->name}}</option>
                                        {{/foreach}}
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select name="duty" class="form-control">
                                        <option value="">值班</option>
                                        <option value="1"{{if $get.duty eq 1}} selected="selected" {{/if}}>是</option>
                                        <option value="0"{{if !empty($get.duty) and $get.duty eq 0 }} selected="selected" {{/if}}>否</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">搜索</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <table cellpadding="0" cellspacing="0" border="0"
                   class="j-datatables table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th data-name="id">工号</th>
                    <th>头像</th>
                    <th data-name="name">姓名</th>
                    <th>用户组</th>
                    <th>手机号码</th>
                    <th>办公电话</th>
                    <th>值班</th>
                    <th class="hidden-xs">状态</th>
                    <th class="hidden-xs">操作</th>
                </tr>
                </thead>
                <tbody>

                <ul>
                    {{foreach from=$list item=vo}}
                    <tr class="gradeX">
                        <td>{{$vo.id}}</td>
                        <td><img src=""></td>
                        <td>{{$vo.name}}</td>
                        <td>{{$vo.item_name}}</td>
                        <td>{{$vo.phone}}</td>
                        <td>{{$vo.landline}}</td>
                        <td class="duty">{{if $vo.duty eq 1}}<span class="text-danger">是</span>{{else}}否{{/if}}</td>
                        <td class="status">{{if $vo.status eq 1}}正常{{else}}<span class="text-danger">禁用</span>{{/if}}</td>
                        <td>
                            <a href="javascript:;" onclick="changeDuty('{{$vo.id}}',this)" {{if $vo.duty eq 1}} class="btn btn-primary btn-sm btn-success">取消值班{{else}} class="btn btn-primary btn-sm">设置值班{{/if}}</a>
                            <a href="/admin/user/edit-user?id={{$vo.id}}" class="btn btn-sm btn-info">编辑</a>
                            <a href="javascript:;" onclick="changeStatus('{{$vo.id}}',this)" {{if $vo.status eq 1}} class="btn btn-sm btn-danger">禁用{{else}}class="btn btn-sm btn-success">启用{{/if}}</a>
                            <a href="javascript:;" data-url="/admin/user/delete-user?id={{$vo.id}}" class="btn btn-sm btn-warning btn_del">删除</a>
                        </td>
                    </tr>
                    {{/foreach}}
                </ul>

            </table>
        </div>
    </div>
</div>
<script>
    // 禁/启用
    function changeStatus(id,a){
        var flag = $(a).text();
        if(flag == '禁用'){
            bhyFunc.ajaxRequest('/admin/user/update-auth-user',{id:id,status:0},function(res){
                if(res.status > 0){
                    $(a).parent().siblings('.status').html('<span class="text-danger">禁用</span>');
                    $(a).removeClass('btn-danger')
                            .addClass('btn-success')
                            .text('启用');
                }else{
                    layer.msg('禁用失败！');
                }
            })
        }else{
            bhyFunc.ajaxRequest('/admin/user/update-auth-user',{id:id,status:1},function(res){
                if(res.status > 0){
                    $(a).parent().siblings('.status').html('正常');
                    $(a).removeClass('btn-success')
                            .addClass('btn-danger')
                            .text('禁用');
                }else{
                    layer.msg('启用失败！');
                }
            })
        }
    }


    function changeDuty(id,a){
        var flag = $(a).text();
        if(flag == '设置值班'){
            bhyFunc.ajaxRequest('/admin/user/update-auth-user',{id:id,duty:1},function(res){
                if(res.status > 0){
                    $(a).parent().siblings('.duty').html('<span class="text-danger">是</span>');
                    $(a).removeClass('btn-danger')
                            .addClass('btn-success')
                            .text('取消值班');
                }else{
                    layer.msg('设置值班失败！');
                }
            })
        }else{
            bhyFunc.ajaxRequest('/admin/user/update-auth-user',{id:id,duty:0},function(res){
                if(res.status > 0){
                    $(a).parent().siblings('.duty').html('否');
                    $(a).removeClass('btn-success')
                            .addClass('btn-danger')
                            .text('设置值班');
                }else{
                    layer.msg('取消值班失败！');
                }
            })
        }
    }
</script>
