<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>聊天管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- STYLESHEETS --><!--[if lt IE 9]><script src="/backend/web/CloudAdmin/js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="/backend/web/CloudAdmin/css/cloud-admin.css" >
    <link rel="stylesheet" type="text/css"  href="/backend/web/CloudAdmin/css/themes/default.css" id="skin-switcher" >
    <link rel="stylesheet" type="text/css"  href="/backend/web/CloudAdmin/css/responsive.css" >

    <link href="/backend/web/CloudAdmin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="/backend/web/CloudAdmin/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <!-- ANIMATE -->
    <link rel="stylesheet" type="text/css" href="/backend/web/CloudAdmin/css/animatecss/animate.min.css" />
    <!-- FONTS -->
    <link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- PAGE -->
<section id="page">
    <!-- SIDEBAR -->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-menu nav-collapse">

            <ul>
                {{foreach from=$chatList item=vo}}
                {{$info = json_decode($vo.info)}}
                <li>
                    <a href="javascript:getChatMessage({{$vo.send_user_id}} , {{$vo.receive_user_id}} , '{{getName($info->real_name)}}','{{getName($info->head_pic)}}')">
                        <i class="fa fa-tachometer fa-fw"></i> <span class="menu-text">{{getName($info->real_name)}}</span>
                        <span class="selected"></span>
                    </a>
                </li>
                {{/foreach}}
            </ul>
            <!-- /SIDEBAR MENU -->
        </div>
    </div>
    <!-- /SIDEBAR -->
    <div id="main-content">
        <!-- SAMPLE BOX CONFIGURATION MODAL FORM-->
        <div class="modal fade" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Box Settings</h4>
                    </div>
                    <div class="modal-body">
                        Here goes box setting content.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->
        <div class="container">
            <div class="row">
                <div id="content" class="col-lg-12">

                    <!-- CHAT -->
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <!-- BOX -->
                            <div class="box border green chat-window">
                                <div class="box-title">
                                    <h4><i class="fa fa-comments"></i>Chat Window</h4>
                                    <div class="tools">
                                        <a href="#box-config" data-toggle="modal" class="config">
                                            <i class="fa fa-cog"></i>
                                        </a>
                                        <a href="javascript:;" class="reload">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="javascript:;" class="collapse">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a href="javascript:;" class="remove">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="box-body big">
                                    <div class="scroller" data-height="450px" data-always-visible="1" data-rail-visible="1">
                                        <ul class="media-list chat-list">

                                            {{foreach from=$chatList item=vo}}
                                                <li class="media">
                                                    <a class="pull-left pull-right" href="#">
                                                        <img class="media-object" alt="Generic placeholder image" class="pic1" src="">
                                                    </a>
                                                    <div class="media-body chat-pop">
                                                        <h4 class="media-heading"><span class="name1"></span> <span class="pull-right"><i class="fa fa-clock-o"></i> <abbr class="timeago"  >{{date('Y-m-d',$vo.create_time)}}</abbr> </span></h4>
                                                        <p>{{$vo.message}}</p>

                                                    </div>
                                                </li>
                                            {{/foreach}}
                                        </ul>
                                    </div>
                                    <div class="divide-20"></div>
                                    <div class="chat-form">
                                        <div class="input-group">
                                            <input type="text" class="form-control">
                                            <span class="input-group-btn"> <button class="btn btn-primary" type="button"><i class="fa fa-check"></i></button> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /BOX -->
                        </div>
                    </div>
                    <!-- /CHAT -->

                </div><!-- /CONTENT-->
            </div>
        </div>
    </div>
</section>
<!--/PAGE -->
<!-- JAVASCRIPTS -->
<!-- JQUERY -->
<script src="/backend/web/CloudAdmin/js/jquery/jquery-2.0.3.min.js"></script>
<!-- JQUERY UI-->
<script src="/backend/web/CloudAdmin/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<!-- BOOTSTRAP -->

<!-- DATE RANGE PICKER -->
<script src="/backend/web/CloudAdmin/js/bootstrap-daterangepicker/moment.min.js"></script>

<script src="/backend/web/CloudAdmin/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
<!-- SLIMSCROLL -->
<script type="text/javascript" src="/backend/web/CloudAdmin/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script><script type="text/javascript" src="/backend/web/CloudAdmin/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
<!-- BLOCK UI -->
<script type="text/javascript" src="/backend/web/CloudAdmin/js/jQuery-BlockUI/jquery.blockUI.min.js"></script>
<!-- TIMEAGO -->
<script type="text/javascript" src="/backend/web/CloudAdmin/js/timeago/jquery.timeago.min.js"></script>
<!-- COOKIE -->
<script type="text/javascript" src="/backend/web/CloudAdmin/js/jQuery-Cookie/jquery.cookie.min.js"></script>
<!-- CUSTOM SCRIPT -->
<script src="/backend/web/CloudAdmin/js/script.js"></script>
<script>
    jQuery(document).ready(function() {
        App.setPage("chats");  //Set current page
        var handleChat = function (elem) {
            var append = function () {
                //Check if chat is empty
                var input = $('.' + elem + ' .chat-form input');
                var text = input.val();
                if (text.length == 0) {
                    return;
                }

                //Get time
                var curr_time = moment().format('YYYY-MM-DD HH:mm:ss');

                var msg = '';
                msg += '<li class="animated fadeInLeft media">';
                msg += '<a class="pull-right" href="#">';
                msg += '<img class="media-object" alt="Generic placeholder image" src="img/chat/headshot2.jpg">';
                msg += '</a>';
                msg += '<div class="pull-right media-body chat-pop mod">';
                msg += '<h4 class="media-heading">You <span class="pull-left"><abbr id="curr-time" class="timeago" title="' + curr_time + '" >' + curr_time + '</abbr> <i class="fa fa-clock-o"></i></span></h4>';
                msg += text;
                msg += '</div>';
                msg += '</li>';

                var list = $('.' + elem + ' .chat-list');
                list.append(msg);
                jQuery("abbr.timeago").timeago();
                input.val("");
                $('.' + elem + ' .scroller').slimScroll({
                    scrollTo: list.height()
                });
            }
            //If button is pressed
            $('.' + elem + ' .chat-form .btn').click(function (e) {
                e.preventDefault();
                append();
            });

            var input = $('.' + elem + ' .chat-form input');
            //If Enter is pressed
            input.keypress(function (e) {
                if (e.which == 13) {
                    append();
                    return false;
                }
            });
        }

        handleChat("chat-window");
    });

    function getChatMessage(sid , rid , name , pic){
        $.ajax({
            url: "/admin/chat/msg", data: {sid: sid , rid : rid}, success: function (res) {

                $(".name1").text(name)
                $(".pic1").attr("src" , pic);
            }
        });
    }
</script>
<!-- /JAVASCRIPTS -->
</body>
</html>