<!--过滤表单-->
<!--<div class="box border green">-->
<!--    <div class="box-body small">-->
<!--        <div class="row">-->
<!--            <div class="col-xs-2">-->
<!--                <input type="text" class="form-control j-dt-filter" data-col="name:name" placeholder="Rendering engine">-->
<!--            </div>-->
<!--            <div class="col-xs-3">-->
<!--                <input type="text" class="form-control j-dt-filter" data-col="level:name" placeholder="Browser">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--表格-->
<div class="row">
    <div class="col-md-12">
        <!-- BOX -->
        <div class="box border primary">

            <div class="box-body">
                <p class="btn-toolbar text-right"><a href="/admin/rbac/create-permission" class="btn btn-primary"><i class="fa fa-pencil"></i> 添加权限</a></p>
                <table cellpadding="0" cellspacing="0" border="0" class="j-datatables table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th data-name="name">权限名</th>
                        <th data-name="name">权限描述</th>
                        <th class="hidden-xs">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ul>
                        {{foreach from=$list item=vo}}
                            <tr class="">
                                <td>{{$vo->name}}</td>
                                <td>{{$vo->description}}</td>
                                <td>
                                    <a href="/admin/rbac/edit-permission?item={{$vo->name}}"><button type="button" class="btn btn-primary">编辑</button></a>
                                    <button type="button" data-url="/admin/rbac/delete-permission?name={{$vo->name}}" class="btn btn-danger btn_del">删除</button>
                                </td>
                            </tr>
                        {{/foreach}}
                    </ul>

                </table>
            </div>
        </div>
    </div>
</div>


