
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="ibox">
        <div class="ibox-title"><h5>举报管理</h5>
            <div class="ibox-tools rboor">

            </div>
        </div>
        <div class="ibox-content">
            <div class="form-horizontal clearfix">
                <form action="" method="get">
                    <div class="col-sm-12">
                        <div class="box-body big">
                            <div class="row">
                                <div class="col-sm-2">
                                    <select name="status" class="form-control">
                                        <option value="1" {{if \Yii::$app->request->get('status') == 1}} selected="selected" {{/if}}>审核属实</option>
                                        <option value="2" {{if \Yii::$app->request->get('status') == 2}} selected="selected" {{/if}}>待审核</option>
                                        <option value="3" {{if \Yii::$app->request->get('status') == 3}} selected="selected" {{/if}}>审核不属实</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="id_phone_name" class="form-control"
                                           value="{{\Yii::$app->request->get('id_phone_name')}}"
                                           placeholder="会员ID、手机号、姓名">
                                </div>
                                <button type="submit" class="btn btn-primary">搜索</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <table id="demo1" class="table display  dataTable j-datatables"
                   cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="tn">ID</th>
                    <th>举报人</th>
                    <th>被举报人</th>
                    <th>举报内容</th>
                    <th>举报类型</th>
                    <th>举报时间</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                {{foreach from=$list item=vo}}
                <tr data-id="{{$vo.id}}">
                    <td>{{$vo.id}}</td>
                    <td><a target="_blank" href="/admin/member/info?id={{$vo.user_id}}">{{$vo.user_name}}({{$vo.user_id}})</a></td>
                    <td><a target="_blank" href="/admin/member/info?id={{$vo.feedback_id}}">{{$vo.feedback_name}}({{$vo.feedback_id}})</a></td>
                    <td>{{$vo.content}}</td>
                    <td>
                        {{if ($vo.type == 1)}}
                        举报用户
                        {{else if ($vo.type == 2)}}
                        举报动态
                        {{/if}}
                    </td>
                    <td>{{date('Y-m-d H:i:s' ,  $vo.create_time)}}</td>
                    <td>
                        <select class="form-control mySwitch" data-id="{{$vo.id}}">
                            <option value="2" {{if $vo.status eq 2}}selected{{/if}}>待审核</option>
                            <option value="1" {{if $vo.status eq 1}}selected{{/if}}>审核属实</option>
                            <option value="3" {{if $vo.status eq 3}}selected{{/if}}>审核不属实</option>
                        </select>
                    </td>
                </tr>
                {{/foreach}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="feedBack_box" class="col-md-12" style="display: none;">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1_1" data-toggle="tab"><i class="fa fa-home"></i>处理被举报人</a></li>
                        <li><a href="#tab_1_2" data-toggle="tab"><i class="fa fa-envelope"></i> 反馈举报人</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab_1_1">
                            <div class="divide-10"></div>
                            <form role="form">
                                <div class="form-group">

                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="tab_1_2">
                            <div class="divide-10"></div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    jQuery(document).ready(function () {

        $('.mySwitch').on('change', function () {
            var status = $(this).val();
            var id = $(this).data('id');

            if(status == 1 || status == 3){
                layer.open({
                    type: 1,
                    title: '举报处理/反馈',
                    area: ['600px', '400px'],
                    content: $('#feedBack_box'),
                    cancel: function(index){
                        layer.close(index);
                    }
                });

            }else{
                $.ajax({
                    url: "/admin/feedback/auth", data: {id: id , status:status}, success: function (res) {

                        if(JSON.parse(res).status > 0){
                            layer.msg('操作成功');
                        }else{
                            layer.msg('操');
                        }

                    }
                });
            }

        });

        // 全选
        $("#select-all").click(function () {
            $(".j-datatables tbody tr").toggleClass('selected');
        })

        $('.j-datatables tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );

    })
</script>