<div class="wrapper wrapper-content animated fadeInUp">
    <div class="ibox">
        <div class="ibox-title"><h5>举报管理</h5>
            <div class="ibox-tools rboor">
            </div>
        </div>
        <div class="ibox-content">
            <div class="form-horizontal clearfix">
                <form action="" method="get">
                    <div class="col-sm-12">
                        <div class="box-body big">
                            <div class="row">
                                <div class="col-sm-2">
                                    <select name="status" class="form-control">
                                        <option value="1" {{if \Yii::$app->request->get('status') == 1}}
                                            selected="selected" {{/if}}>审核属实
                                        </option>
                                        <option value="2" {{if \Yii::$app->request->get('status') == 2}}
                                            selected="selected" {{/if}}>待审核
                                        </option>
                                        <option value="3" {{if \Yii::$app->request->get('status') == 3}}
                                            selected="selected" {{/if}}>审核不属实
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="id_phone_name" class="form-control"
                                           value="{{\Yii::$app->request->get('id_phone_name')}}"
                                           placeholder="会员ID、手机号、姓名">
                                </div>
                                <button type="submit" class="btn btn-primary">搜索</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <table id="demo1" class="table display  dataTable j-datatables"
                   cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="tn">ID</th>
                    <th>举报人</th>
                    <th>被举报人</th>
                    <th>举报内容</th>
                    <th>举报类型</th>
                    <th>举报时间</th>
                    <th>状态/操作</th>
                </tr>
                </thead>
                <tbody>
                {{foreach from=$list item=vo}}
                <tr data-id="{{$vo.id}}">
                    <td>{{$vo.id}}</td>
                    <td><a target="_blank" href="/admin/member/info?id={{$vo.user_id}}">{{$vo.user_name}}({{$vo.user_id}})</a>
                    </td>
                    <td><a target="_blank" href="/admin/member/info?id={{$vo.feedback_id}}">{{$vo.feedback_name}}({{$vo.feedback_id}})</a>
                    </td>
                    <td>{{$vo.content}}</td>
                    <td>
                        {{if ($vo.type == 1)}}
                        举报用户
                        {{else if ($vo.type == 2)}}
                        举报动态
                        {{/if}}
                    </td>
                    <td>{{date('Y-m-d H:i:s' , $vo.create_time)}}</td>
                    <td>
                        {{if $vo.status eq 2}}
                        <button class="btn btn-info mySwitch" data-id="{{$vo.id}}">审核</button>
                        {{/if}}
                        {{if $vo.status eq 1}}<span>审核属实</span>{{/if}}
                        {{if $vo.status eq 3}}<span>审核不属实</span>{{/if}}
                    </td>
                </tr>
                {{/foreach}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="feedBack_box" class="col-md-12" style="display: none;">
    <div class="panel panel-default mt20">
        <div class="panel-body">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab_1_1">
                            处理举报人
                        </a>
                    </li>
                </ul>
            </div>
            <div class="form-group clearfix">
                <div class="divide-10"></div>
                <label class="col-md-4 control-label">审核</label>
                <div class="col-md-8">
                    <label class="radio-inline"> <input type="radio" class="uniform"
                                                        name="checkStatus"
                                                        value="1"> 属实 </label>
                    <label class="radio-inline"> <input type="radio" class="uniform"
                                                        name="checkStatus"
                                                        value="3"> 不属实 </label>
                </div>
            </div>
            <div class="form-group clearfix checkContent">
                <div class="divide-10"></div>
                <label class="col-md-4 control-label">处理方式</label>
                <div class="col-md-8">
                    <label class="radio-inline"> <input type="radio" class="uniform"
                                                        name="treatment"
                                                        value="1"> 警告 </label>
                    <label class="radio-inline"> <input type="radio" class="uniform"
                                                        name="treatment"
                                                        value="2"> 标记 </label>
                    <label class="radio-inline"> <input type="radio" class="uniform"
                                                        name="treatment"
                                                        value="3"> 禁止登录 </label>
                </div>
            </div>
            <div class="form-group clearfix checkContent" id="textBox">
                <label class="col-md-4 control-label"> 内容 </label>
                <div class="col-md-8">
                    <textarea id="textContent" class="form-control" placeholder="100字以内" maxlength="100"
                              style="resize: none;"></textarea>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-12">
                    <label class="checkbox-inline">
                        <input name="retMsg" type="checkbox" class="uniform" checked>
                        将处理结果反馈给举报人
                    </label>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-md-12 center">
                    <button class="btn btn-primary" id="saveCheck">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function () {

        $('.mySwitch').on('click', function () {
            var id = $(this).data('id');
            layer.open({
                type: 1,
                title: '举报处理/反馈',
                area: ['600px', '425px'],
                content: $('#feedBack_box'),
                success: function (layero) {
                    $(".uniform").uniform();
                    layero.find('#saveCheck').attr('data-id',id);
                },
                cancel: function (index) {
                    layer.close(index);
                }
            });

        });

        $('#saveCheck').on('click',function(){
            var id = $(this).data('id');
            var status = $("input[name='checkStatus']:checked").val();
            if(!status){
                layer.tips('请选择审核结果',$("input[name='checkStatus']").eq(0),{tips:1});
                return false;
            }
            if(!$("input[name='treatment']:checked").val()){
                layer.tips('请选择处理方式',$("input[name='treatment']").eq(0),{tips:1});
                return false;
            }
            if($("input[name='treatment']:checked").val() == 1 && !$.trim($('#textContent').val())){
                layer.tips('请输入警告内容',$('#textContent'),{tips:1});
                return false;
            }
            var ret = $("input[name='retMsg']:checked").val();
            bhyFunc.ajaxRequest('/admin/feedback/auth',{id: id, status: status,type:$("input[name='treatment']:checked").val(),content:$.trim($('#textContent').val()),ret:ret},function(res){
                if (JSON.parse(res).status > 0) {
                    layer.msg('处理成功');
                } else {
                    layer.msg('处理失败');
                }
            })
        })

        $("input[name='treatment']").change(function(){
            if($(this).val() == 1){
                $('#textBox').show();
                $('#textContent').val('')
                                 .prop('readonly',false);
            }
            if($(this).val() == 2){
                $('#textBox').show();
                $('#textContent').val('对方被举报多次，请谨慎交流！')
                                 .prop('readonly',true);
            }
            if($(this).val() == 3){
                $('#textBox').hide();
            }
        })

        $("input[name='checkStatus']").change(function(){
            if($(this).val() == 3){
                $('.checkContent').hide();
            }else{
                $('.checkContent').show();
            }
        })

        // 全选
        $("#select-all").click(function () {
            $(".j-datatables tbody tr").toggleClass('selected');
        })

        $('.j-datatables tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
        });

    })

</script>