<div class="row">
    <div class="col-md-12">
        <div class="box border">
            <div class="box-title">
                <h4><i class="fa fa-bars"></i>充值</h4>
            </div>
            <div class="box-body big">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">会员编号：</label>
                        <div class="col-sm-9 input-group">
                            <input id="userId" onblur="findUser(this.value)" name="user_id" type="text" class="form-control" value="">
                            <span class="input-group-btn">
                                <a id="userInfo" href="javascript:;" class="btn btn-default">请输入会员编号</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">充值产品：</label>
                        <div class="col-sm-9 input-group">
                            <select class="form-control" id="charge_goods" onchange="bhyFunc.selectedGoods(this)">
                                <option value="">请选择</option>
                                {{foreach from=$goods item=good}}
                                <option value="{{$good.id}}">{{$good.name}}{{getTitleByOrderListValue($good.value)}}</option>
                                {{/foreach}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group discount">
                        <label class="col-sm-3 control-label">是否打折：</label>
                        <div class="col-sm-9 input-group">
                            <div class="make-switch switch-small" data-on="info" data-off="success" data-on-label="<i class='fa fa-check icon-white'></i>" data-off-label="<i class='fa fa-times'></i>">
                                <input id="discount" type="checkbox" onchange="bhyFunc.checkedDiscount(this)">
                            </div>
                        </div>
                    </div>
                    <div class="form-group charge_money">
                        <label class="col-sm-3 control-label">折后金额：</label>
                        <div class="col-sm-9 input-group">
                            <input id="charge_money" type="number" class="form-control" placeholder="请输入折后金额，单位：元。">
                        </div>
                    </div>
                    <div class="form-group money" style="display: none;">
                        <label class="col-sm-3 control-label">充值金额：</label>
                        <div class="col-sm-9 input-group">
                            <input id="money" type="number" class="form-control" placeholder="请输入充值金额，单位：元。">
                        </div>
                    </div>
                    <div class="form-group center">
                        <button class="btn btn-primary" id="chargeSubmit" type="button">确认充值</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    function findUser(userId){
        var userId = $.trim(userId);
        if(!userId){
            $('#userInfo').empty().text('请输入会员编号');
            return false;
        }
        $.ajax({
            type: "GET",
            url: "/admin/member/get-user-by-id",
            data: {id:userId},
            dataType: "json",
            beforeSend:function(){
                $('#userInfo').empty().append('<img src="/backend/web/CloudAdmin/img/loaders/5.gif">');
            },
            success: function(res){
                var text;
                if(res){
                    res.info = JSON.parse(res.info);
                    var text = res.info.real_name;
                    if(res.sex == "0"){
                        text += ' 女';
                    }else{
                        text += ' 男';
                    }
                }else {
                    text = '该用户不存在';
                }

                $('#userInfo').text(text);
            },
            error:function(){
                $('#userInfo').empty().text('该用户不存在');
            }

        })
    }

    $('#chargeGoods').on('change',function(){
        if($(this).val() == 8){
            $('.money').show();
        }else{
            $('.money').hide();
        }
    })

    // 确认充值
    $('#chargeSubmit').click(function(){
        var userIdInput = $('#userId');
        var _userId = $.trim(userIdInput.val());
        if(!_userId){
            layer.tips('请输入会员编号', '#userId', {
                tips: [1, '#3595CC'],
                time: 3000
            });
            userIdInput.focus();
            return false;
        }
        if($('#userInfo').text() == "该用户不存在"){
            layer.tips('该用户不存在', '#userId', {
                tips: [1, '#3595CC'],
                time: 3000
            });
            userIdInput.focus();
            return false;
        }
        bhyFunc.charge(_userId);

    })

</script>