<script src="/wechat/web/js/config/area.js"></script>
<script src="/wechat/web/js/config/city.js"></script>
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="ibox">
        <div class="ibox-title"><h5>会员列表</h5>
            <div class="ibox-tools rboor">
                <a href="/admin/member/save" class="btn btn-green btn-xs p310"><i class="fa fa-plus"></i> 添加</a>
                <button class="btn btn-green btn-xs p310 del-user"><i class="fa fa-trash-o"></i> 删除</button>
            </div>
        </div>

        <div class="ibox-content">

            <div class="form-horizontal clearfix">
                <form action="" onsubmit="javascript:return false;" method="get">
                    <div class="col-sm-12">
                        <div class="box-body big">
                            <div class="row form-group">
                                <div class="col-sm-2">
                                    <select name="status" class="form-control">
                                        <option value="">会员状态</option>
                                        <option value="1">未审核</option>
                                        <option value="2">已审核</option>
                                        <option value="3">黑名单</option>
                                        <option value="4">已删除</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select name="is_show" class="form-control">
                                        <option value="">资料状态</option>
                                        <option value="1">开放</option>
                                        <option value="0">关闭
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select name="sex" class="form-control">
                                        <option value="">性别</option>
                                        <option value="0">女</option>
                                        <option value="1">男</option>

                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select name="age1" class="form-control" id="age1">
                                        <option value="">最小年龄</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select name="age2" class="form-control" id="age2">
                                        <option value="">最大年龄</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select name="height" id="height" class="form-control">
                                        <option value="">身高</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-2">
                                    <select name="education" class="form-control">
                                        <option value="">学历</option>
                                        <option value="1">初中以上</option>
                                        <option value="2">高中以上</option>
                                        <option value="3">大专以上</option>
                                        <option value="4">本科以上</option>
                                        <option value="5">硕士以上</option>
                                        <option value="6">博士以上</option>

                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="year_income">
                                        <option value="">年薪</option>
                                        <option value="1">3-5万</option>
                                        <option value="2">6-9万</option>
                                        <option value="3">10-15万</option>
                                        <option value="4">16-25万</option>
                                        <option value="5">100万以上</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="is_marriage">
                                        <option value="">婚姻</option>
                                        <option value="1">未婚</option>
                                        <option value="2">离异</option>
                                        <option value="3">丧偶</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="is_child">
                                        <option value="">子女</option>
                                        <option value="1">无小孩</option>
                                        <option value="2">有小孩归自己</option>
                                        <option value="3">有小孩归对方</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="occupation">
                                        <option value="">职业</option>
                                        <option value="1">销售</option>
                                        <option value="2">计算机/互联网</option>
                                        <option value="3">客户服务</option>
                                        <option value="4">学生</option>
                                        <option value="5">通信/电子</option>
                                        <option value="6">生产/制造</option>
                                        <option value="7">物流/仓储</option>
                                        <option value="8">商贸/采购</option>
                                        <option value="9">人事/行政</option>
                                        <option value="10">高级管理</option>
                                        <option value="11">广告/市场</option>
                                        <option value="12">传媒/艺术</option>
                                        <option value="13">交通运输</option>
                                        <option value="14">政府机构</option>
                                        <option value="15">教育/科研</option>
                                        <option value="16">服务业</option>
                                        <option value="17">建筑/房地产</option>
                                        <option value="18">法律</option>
                                        <option value="19">财会/审计</option>
                                        <option value="20">生物/制药</option>
                                        <option value="21">医疗/护理</option>
                                        <option value="22">金融/银行/保险</option>
                                        <option value="23">咨询/顾问</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="is_purchase">
                                        <option value="">购房</option>
                                        <option value="1">已购房</option>
                                        <option value="2">未购房</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-2">
                                    <select class="form-control" name="is_car">
                                        <option value="">购车</option>
                                        <option value="1">已购车</option>
                                        <option value="2">未购车</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="level">
                                        <option value="">等级</option>
                                        <option value="1">普通</option>
                                        <option value="2">VIP</option>
                                        <option value="3">贵宾</option>
                                        <option value="4">钻石</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="zodiac">
                                        <option value="">生肖</option>
                                        <option value="1">鼠</option>
                                        <option value="2">牛</option>
                                        <option value="3">虎</option>
                                        <option value="4">兔</option>
                                        <option value="5">龙</option>
                                        <option value="6">蛇</option>
                                        <option value="7">马</option>
                                        <option value="8">羊</option>
                                        <option value="9">猴</option>
                                        <option value="10">鸡</option>
                                        <option value="11">狗</option>
                                        <option value="12">猪</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="constellation">
                                        <option value="">星座</option>
                                        <option value="1">水瓶座</option>
                                        <option value="2">双鱼座</option>
                                        <option value="3">白羊座</option>
                                        <option value="4">金牛座</option>
                                        <option value="5">双子座</option>
                                        <option value="6">巨蟹座</option>
                                        <option value="7">狮子座</option>
                                        <option value="8">处女座</option>
                                        <option value="9">天秤座</option>
                                        <option value="10">天蝎座</option>
                                        <option value="11">射手座</option>
                                        <option value="12">摩羯座</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="matchmaker">
                                        <option value="">销售红娘</option>
                                        {{foreach from=$salesUser key=k item=vo}}
                                        <option value="{{$vo.id}}">{{$vo.name}}</option>
                                        {{/foreach}}
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="matchmaking">
                                        <option value="">服务红娘</option>
                                        {{foreach from=$serverUser key=k item=vo}}
                                        <option value="{{$vo.id}}">{{$vo.name}}</option>
                                        {{/foreach}}
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-2">
                                    <select class="form-control" id="provines" name="provines"
                                            onchange="bhyFunc.selectedProvines(this)">
                                        <option value="">省份</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="citys" name="citys"
                                            onchange="bhyFunc.selectedCitys(this)">
                                        <option value="">城市</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" id="area" name="area">
                                        <option value="">区县</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" name="id_phone_name" class="form-control"
                                           value="{{\Yii::$app->request->get('id_phone_name')}}"
                                           placeholder="会员ID、手机号、姓名">
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary btn-block submit-form">搜索</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <table id="demo1" class="table  table-bordered    j-datatables"
                   data-is-ajax="1"
                   data-ajax-url="/admin/member/search"
                   cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>头像</th>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>婚姻</th>
                    <th>身高</th>
                    <th>学历</th>
                    <th>等级</th>
                    <th>服务</th>
                    <th>认证</th>
                    <th>签单</th>
                    <th>资料</th>
                    <th>地址</th>
                    <th>证件</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="ibox" id="returningBox" style="display: none;">
    <div class="ibox-title">
        <h5>回访</h5>
        <div class="ibox-tools rboor">
            <a class="btn btn-green btn-xs p310" id="addReturningBtn" href="javascript:;">
                <i class="fa fa-plus"></i>
                添加回访
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>回访红娘</th>
                <th>回访对象</th>
                <th>内容</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="ibox" id="addReturningBox" style="display: none;">
    <div class="ibox-title"><h5>添加回访</h5></div>
    <div class="ibox-content">
        <div class="form-group">
            <label>回访红娘</label>
            <input class="form-control" id="return_match_name" type="text" disabled value="">
        </div>
        <div class="form-group">
            <label>回访对象</label>
            <input class="form-control" id="return_user_name" type="text" disabled value="">
        </div>
        <div class="form-group">
            <label>内容</label>
            <textarea id="return_content" class="form-control" style="resize: none;" maxlength="300" placeholder="300字以内"></textarea>
        </div>
        <div class="form-group center">
            <button class="btn btn-primary" id="addReturningSubmit">确定添加</button>
        </div>
    </div>
</div>

<div class="ibox" id="pairBox" style="display: none;">
    <div class="ibox-title">
        <h5>配对</h5>
        <div class="ibox-tools rboor">
            <a class="btn btn-green btn-xs p310" id="addPairBtn" href="javascript:;">
                <i class="fa fa-plus"></i>
                添加配对
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>操作人</th>
                <th>配对双方</th>
                <th>内容</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="ibox" id="addPairBox" style="display: none;">
    <div class="ibox-title"><h5>添加配对</h5></div>
    <div class="ibox-content">
        <div class="form-group">
            <label>操作人</label>
            <input class="form-control" id="pair_match_name" type="text" disabled value="">
        </div>
        <div class="form-group">
            <label>配对对象1</label>
            <input class="form-control" id="pair_user_name1" type="text" disabled value="">
        </div>
        <div class="form-group">
            <label>配对对象2</label>
            <input class="form-control" id="pair_user_name2" type="text" value="" placeholder="请输入会员ID" onblur="bhyFunc.getUserById(this)">

        </div>
        <div class="form-group">
            <label>内容</label>
            <textarea id="pair_content" class="form-control" style="resize: none;" maxlength="300" placeholder="300字以内"></textarea>
        </div>
        <div class="form-group center">
            <button class="btn btn-primary" id="addPairSubmit">确定添加</button>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {

        var admin_id = "{{$admin['id']}}";
        var admin_name = "{{$admin['name']}}";
        bhyFunc.cityPickerInit();

        $('#age1,#age2').append(bhyFunc.ageLink(18));
        $('#age1').change(function () {
            if ($(this).val()) {
                $('#age2').empty().append('<option>最大年龄</option>' + bhyFunc.ageLink($(this).val()));
            } else {
                $('#age2').empty().append('<option>最大年龄</option>' + bhyFunc.ageLink(18));
            }
        })
        $('#height').append(bhyFunc.heightLink(140));

        $('.j-datatables tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
        });

        $('.del-user').click(function () {
            if (confirm('确认删除')) {
                var id = [];
                $('table .selected').each(function () {
                    id.push($(this).children().next().html());
                })

                $.ajax({
                    type: 'post',
                    url: "/admin/member/del",
                    data: {id: id},
                    success: function (res) {
                        res = JSON.parse(res);
                        if (res.status == 1) {
                            window.location.reload();
                        }
                    }
                });
            }

        })

        // 回访
        $('#demo1').delegate('#returningBtn', 'click', function () {
            var userId = $(this).data('uid');
            var userName = $(this).data('uname');
            layer.open({
                type: 1,
                title: false,
                area: '600px',
                shadeClose: true,
                content: $('#returningBox'),
                success: function (layero1, index1) {
                    if($.trim(userName)){
                        layero1.find('.ibox-title>h5').html(userName+'的回访');
                    }else {
                        layero1.find('.ibox-title>h5').html(userId+'的回访');
                    }

                    bhyFunc.ajaxRequest('/admin/member/pair-list', {to_user_id: userId, type: 2}, function (res) {
                        var html1 = "";
                        if (res.status > 0) {
                            for (var i in res.data) {
                                html1 += '<tr><td>' + res.data[i].id + '</td>';
                                html1 += '<td>' + res.data[i].admin_name + '</td>';
                                html1 += '<td>' + res.data[i].to_name + '(' + res.data[i].to_user_id + ')</td>';
                                html1 += '<td>' + res.data[i].content + '</td>';
                                html1 += '<td>' + bhyFunc.timesTampToDate(res.data[i].create_time) + '</td></tr>';
                            }
                        } else {
                            html1 = '<tr><td colspan="5">没有数据</td></tr>';
                        }
                        $(layero1).find('.table').find('tbody').empty().append(html1);
                    })

                    $(layero1).find('#addReturningBtn').click(function(){  //添加回访
                        layer.open({
                            type: 1,
                            title: false,
                            area: '400px',
                            shadeClose: true,
                            content: $('#addReturningBox'),
                            success:function(layero2, index2){
                                $(layero2).find('#return_match_name').val(admin_name);  //TODO $matchName 当前登录红娘姓名
                                $(layero2).find('#return_user_name').val(userName+'('+userId+')');
                                $(layero2).find('#addReturningSubmit').click(function(){

                                    if(!$.trim($('#return_content').val())){
                                        alert(11);
                                        layer.tips('请输入回访内容',$('#return_content'));
                                        return false;
                                    }
                                    var content = $.trim($('#return_content').val());
                                    bhyFunc.ajaxRequest('/admin/member/add-pair',{admin_id:admin_id, to_user_id:userId, content:content, type:2, status:1},function(res){  // 添加回访
                                        if(res.status > 0){
                                            var html2 = "";
                                            html2 += '<tr><td>' + res.data.id + '</td>';
                                            html2 += '<td>' + admin_name + '</td>';
                                            html2 += '<td>' + userName + '(' + userId + ')</td>';
                                            html2 += '<td>' + content + '</td>';
                                            html2 += '<td>' + bhyFunc.timesTampToDate(res.data.create_time) + '</td></tr>';
                                            layer.close(index2);
                                            $(layero1).find('.table').find('tbody').append(html2);
                                        }else{
                                            layer.msg('添加回访失败！');
                                        }
                                    })
                                })
                            }
                        });
                    })
                }
            });
        }).delegate('#pairBtn', 'click', function () {   // 配对
            var userId = $(this).data('uid');
            var userName = $(this).data('uname');
            layer.open({
                type: 1,
                title: false,
                area: '600px',
                shadeClose: true,
                content: $('#pairBox'),
                success: function (layero1, index1) {
                    if($.trim(userName)){
                        layero1.find('.ibox-title>h5').html(userName+'的配对');
                    }else {
                        layero1.find('.ibox-title>h5').html(userId+'的配对');
                    }

                   /* bhyFunc.ajaxRequest('url', {user_id: userId}, function (res) {
                        var html1 = "";
                        if (res.status > 0) {
                            for (var i in res.data) {
                                html1 += '<tr><td>' + res.data[i].id + '</td>';
                                html1 += '<td>' + res.data[i].match_name + '</td>';
                                html1 += '<td>' + res.data[i].sendRealName + '(' + res.data[i].sendUserId + ') <i class="fa fa-arrows-h"></i> '+res.data[i].recRealName+' ('+res.data[i].recUserId+')</td>';
                                html1 += '<td>' + res.data[i].content + '</td>';
                                html1 += '<td>' + res.data[i].create_time + '</td></tr>';
                            }
                        } else {
                            html1 = '<tr><td colspan="5">没有数据</td></tr>';
                        }
                        $(layero1).find('.table').find('tbody').empty().append(html1);
                    })*/

                    $(layero1).find('#addPairBtn').click(function(){  // 添加配对
                        layer.open({
                            type: 1,
                            title: false,
                            area: '400px',
                            shadeClose: true,
                            content: $('#addPairBox'),
                            success:function(layero2, index2){
                                $('#pair_match_name').val('郭禹杉');  //TODO $matchName 当前登录红娘姓名
                                $('#pair_user_name1').val(userName+'('+userId+')');
                                $('#addPairSubmit').click(function(){
                                    if($('#pair_user_name2').data('ok') && $('#pair_user_name2').data('ok') != 'yes'){
                                        layer.tips('未找到该会员，请核对会员ID',$('#pair_user_name2'));
                                        return false;
                                    }
                                    if(!$.trim($('#pair_content').val())){
                                        layer.tips('请输入配对内容',$('#pair_content'));
                                        return false;
                                    }
                                    bhyFunc.ajaxRequest('url',{},function(res){
                                        if(res.status > 0){
                                            var html2 = "";
                                            html2 += '<tr><td>' + res.data.id + '</td>';
                                            html2 += '<td>' + res.data.match_name + '</td>';
                                            html2 += '<td>' + res.data.sendRealName + '(' + res.data.sendUserId + ') <i class="fa fa-arrows-h"></i> '+res.data.recRealName+' ('+res.data.recUserId+')</td>';
                                            html2 += '<td>' + res.data.content + '</td>';
                                            html2 += '<td>' + res.data.create_time + '</td></tr>';
                                            layer.close(index2);
                                            $(layero1).find('.table').find('tbody').append(html2);
                                        }else{
                                            layer.msg('添加配对失败！');
                                        }
                                    })
                                })
                            }
                        });
                    })
                }
            });
        })

    });
</script>