<!-- COLORBOX -->
<link rel="stylesheet" type="text/css" href="/backend/web/CloudAdmin/js/colorbox/colorbox.min.css"/>
<div class="row">
    <div class="col-md-12">
        <!-- BOX -->
        <div class="box border">
            <div class="box-title">
                <h4><i class="fa fa-user"></i><span class="hidden-inline-mobile">李倩 的资料</span></h4>
            </div>
            <div class="box-body">
                <div class="tabbable header-tabs user-profile">
                    <ul class="nav nav-tabs">
                        <li><a href="#pro_identity" data-toggle="tab"><i class="fa fa-credit-card"></i> <span
                                class="hidden-inline-mobile"> 审核证件</span></a></li>
                        <li><a href="#pro_msg" data-toggle="tab"><i class="fa fa-comments-o"></i> <span
                                class="hidden-inline-mobile"> 消息记录</span></a></li>
                        <li><a href="#pro_peidui" data-toggle="tab"><i class="fa fa-heart-o"></i> <span
                                class="hidden-inline-mobile"> 配对记录</span></a></li>
                        <li class="active"><a href="#pro_overview" data-toggle="tab"><i class="fa fa-dot-circle-o"></i>
                            <span class="hidden-inline-mobile">详细资料</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- OVERVIEW -->
                        <div class="tab-pane fade in active" id="pro_overview">
                            <div class="row">
                                <!-- PROFILE PIC -->
                                <div class="col-md-3">
                                    <div class="list-group">
                                        <li class="list-group-item zero-padding">

                                            <div id="carousel-example-generic" class="carousel slide">
                                                <!-- Indicators -->
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel-example-generic" data-slide-to="0"
                                                        class="active"></li>
                                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                                </ol>

                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        <a class="colorbox-button"
                                                           href="/backend/web/CloudAdmin/img/profile/avatar.jpg">
                                                            <img alt=""
                                                                 src="/backend/web/CloudAdmin/img/profile/avatar.jpg">
                                                        </a>
                                                    </div>
                                                    <div class="item">
                                                        <a class="colorbox-button"
                                                           href="/wechat/web/images/test/s1.jpg">
                                                            <img src="/wechat/web/images/test/s1.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="item">
                                                        <a class="colorbox-button"
                                                           href="/wechat/web/images/test/s2.jpg">
                                                            <img src="/wechat/web/images/test/s2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                </div>

                                                <!-- Controls -->
                                                <a class="left carousel-control" href="#carousel-example-generic"
                                                   data-slide="prev">
                                                    <span class="fa fa-prev"></span>
                                                </a>
                                                <a class="right carousel-control" href="#carousel-example-generic"
                                                   data-slide="next">
                                                    <span class="fa fa-next"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <div class="list-group-item profile-details">
                                            <h4>李倩</h4>
                                            <p>
                                                <span class="text-muted">ID: 15011</span>
                                                &nbsp;&nbsp;&nbsp;
                                                <i class="fa fa-circle text-green"></i>
                                                已审核
                                            </p>
                                            <p>
                                                <span class="label label-info">29岁</span>
                                                <span class="label label-info">未婚</span>
                                                <span class="label label-info">本科</span>
                                                <span class="label label-info">165cm</span>
                                            </p>
                                            <p>
                                                <span class="label label-danger">普通会员</span>
                                            </p>
                                        </div>
                                        <a href="/admin/member/charge?id=1" class="list-group-item">
                                            <i class="fa fa-rmb fa-fw"></i>
                                            充值
                                        </a>
                                        <a href="/admin/member/save?id=1" data-toggle="modal" class="list-group-item">
                                            <i class="fa fa-edit fa-fw"></i>
                                            修改资料</a>
                                        <a id="sendMsg" href="javascript:;" class="list-group-item"><i
                                                class="fa fa-comment-o fa-fw"></i> 发站内信</a>
                                        <a id="resetPass" href="javascript:;" class="list-group-item"><i
                                                class="fa fa-unlock-alt fa-fw"></i> 重置密码</a>
                                        <a id="closeUserInfo" href="javascript:;" class="list-group-item">
                                            <i class="fa fa-power-off fa-fw"></i>
                                            关闭资料</a>
                                        <a id="addBlacklist" href="javascript:;" class="list-group-item">
                                            <i class="fa fa-minus-circle fa-fw"></i>
                                            列入黑名单</a>
                                    </div>
                                </div>
                                <!-- /PROFILE PIC -->
                                <!-- PROFILE DETAILS -->
                                <div class="col-md-9">
                                    <!-- ROW 1 -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box border orange">
                                                <div class="box-title">
                                                    <h4><i class="fa fa-bars"></i>详细资料</h4>
                                                </div>
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-md-12 fs14">
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">地区：</span>
                                                                    <span class="text-warning">重庆市-重庆市-渝中区</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">民族：</span>
                                                                    <span class="text-warning">汉族</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">子女：</span>
                                                                    <span class="text-warning">无小孩</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">手机号码：</span>
                                                                    <span class="text-warning">1338149855</span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">职业：</span>
                                                                    <span class="text-warning">销售 销售主管</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">购车：</span>
                                                                    <span class="text-warning">已购车</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">购房：</span>
                                                                    <span class="text-warning">已购房</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">毕业院校：</span>
                                                                    <span class="text-warning"></span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">年薪：</span>
                                                                    <span class="text-warning">3-5万</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">属相：</span>
                                                                    <span class="text-warning">猴</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">星座：</span>
                                                                    <span class="text-warning">天秤座</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">期待的TA：</span>
                                                                    <span class="text-warning">我希望找一位成熟的男士</span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">血型：</span>
                                                                    <span class="text-warning">3-5万</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb"> Q Q：</span>
                                                                    <span class="text-warning">猴</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">微信：</span>
                                                                    <span class="text-warning">天秤座</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">工作单位</span>
                                                                    <span class="text-warning"></span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-12">
                                                                    <span class="text-muted fwb">个人签名：</span>
                                                                    <span class="text-warning">富国汇即发try还认得他蝴蝶飞过海豆腐干</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ROW 1 -->
                                    <div class="divide-10"></div>
                                </div>
                                <!-- /PROFILE DETAILS -->
                                <div class="col-md-9">
                                    <!-- ROW 1 -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box border pink">
                                                <div class="box-title">
                                                    <h4><i class="fa fa-bars"></i>择偶标准</h4>
                                                </div>
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-md-12 fs14">
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">年龄要求：</span>
                                                                    <span class="text-pink">18-29</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">身高要求：</span>
                                                                    <span class="text-pink">165-175</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">学历要求：</span>
                                                                    <span class="text-pink">本科及以上</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">年薪要求：</span>
                                                                    <span class="text-pink">10-15万</span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">购车要求：</span>
                                                                    <span class="text-pink">不限</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">购房要求：</span>
                                                                    <span class="text-pink">已购房</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">子女要求：</span>
                                                                    <span class="text-pink">无小孩</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">婚姻要求：</span>
                                                                    <span class="text-pink">未婚</span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">职业要求：</span>
                                                                    <span class="text-pink">不限</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">星座要求：</span>
                                                                    <span class="text-pink">不限</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">属相要求：</span>
                                                                    <span class="text-pink">鼠、龙</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">地区要求：</span>
                                                                    <span class="text-pink">本地、外省</span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-12">
                                                                    <span class="text-muted fwb">其他要求：</span>
                                                                    <span class="text-pink">人品要好、、、</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ROW 1 -->
                                    <div class="divide-10"></div>
                                </div>

                                <div class="col-md-9">
                                    <!-- ROW 1 -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box border red">
                                                <div class="box-title">
                                                    <h4><i class="fa fa-bars"></i>服务信息</h4>
                                                </div>
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-md-12 fs14">
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">会员等级：</span>
                                                                    <span class="text-danger">普通</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">账户余额：</span>
                                                                    <span class="text-danger">0.00元</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">已缴会费：</span>
                                                                    <span class="text-danger">0.00元</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">服务到期时间：</span>
                                                                    <span class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">红娘顾问：</span>
                                                                    <span class="text-danger">袁军</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">服务红娘：</span>
                                                                    <span class="text-danger">唐明曙</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">服务：</span>
                                                                    <span class="text-danger">是</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ROW 1 -->
                                    <div class="divide-10"></div>
                                </div>

                                <div class="col-md-9">
                                    <!-- ROW 1 -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box border">
                                                <div class="box-title">
                                                    <h4><i class="fa fa-bars"></i>登录信息</h4>
                                                </div>
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-md-12 fs14">
                                                            <div class="row m10">
                                                                <div class="col-sm-6">
                                                                    <span class="text-muted fwb">注册时间：</span>
                                                                    <span class="text-dark">2016-03-01 12:03:24</span>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <span class="text-muted fwb">登录次数：</span>
                                                                    <span class="text-dark">58</span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-6">
                                                                    <span class="text-muted fwb">最后一次登录时间：</span>
                                                                    <span class="text-dark">2016-03-01 12:03:24</span>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <span class="text-muted fwb">最后一次登录IP：</span>
                                                                    <span class="text-dark">125.55.63.3</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ROW 1 -->
                                    <div class="divide-10"></div>
                                </div>


                            </div>
                        </div>
                        <!-- /OVERVIEW -->

                        <!-- 配对记录 -->
                        <div class="tab-pane fade" id="pro_peidui">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box border primary">
                                        <div class="box-title">
                                            <h4><i class="fa fa-heart-o"></i>配对记录</h4>
                                        </div>
                                        <div class="box-body">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>操作人</th>
                                                    <th>时间</th>
                                                    <th>对象</th>
                                                    <th>内容</th>
                                                    <th>状态</th>
                                                    <th>操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>唐明曙</td>
                                                    <td>2016-05-31 18:11:10</td>
                                                    <td><a>胡素娥(5615001)</a>-><a>刘天贵(275001)</a></td>
                                                    <td>2015.6.26互留电话 自己约见</td>
                                                    <td>成功</td>
                                                    <td><a>删除</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>唐明曙</td>
                                                    <td>2016-05-31 18:11:10</td>
                                                    <td><a>胡素娥(5615001)</a>-><a>刘天贵(275001)</a></td>
                                                    <td>2015.6.26互留电话 自己约见</td>
                                                    <td>成功</td>
                                                    <td><a>删除</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /配对记录 -->

                        <!-- 消息记录 -->
                        <div class="tab-pane fade" id="pro_msg">
                            <!-- FAQ -->
                            <div class="row">
                                <!-- NAV -->
                                <div class="col-md-12">
                                    <div class="box border primary">
                                        <div class="box-title">
                                            <h4><i class="fa fa-heart-o"></i>消息记录</h4>
                                        </div>
                                        <div class="box-body">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>类型</th>
                                                    <th>作者</th>
                                                    <th>对象</th>
                                                    <th>时间</th>
                                                    <th>内容</th>
                                                    <th>状态</th>
                                                    <th>操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>系统信息</td>
                                                    <td>管理员</td>
                                                    <td><a>张三(16581001)</a></td>
                                                    <td>2016-05-31 13:55:14</td>
                                                    <td>您的资料已审核通过！</td>
                                                    <td>成功</td>
                                                    <td><a>删除</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>打招呼</td>
                                                    <td><a>潇潇(8438019)</a></td>
                                                    <td><a>赵静(1513001)</a></td>
                                                    <td>2016-05-31 18:11:10</td>
                                                    <td>看到你的照片，让人觉得很是倾慕，可以认识一下么？</td>
                                                    <td>成功</td>
                                                    <td><a>删除</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>信息</td>
                                                    <td><a>潇潇(8438019)</a></td>
                                                    <td><a>徐姝(878001)</a></td>
                                                    <td>2016-05-31 18:11:10</td>
                                                    <td>你好</td>
                                                    <td>成功</td>
                                                    <td><a>删除</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--证件-->
                        <div class="tab-pane fade" id="pro_identity">
                            <!-- FAQ -->
                            <div class="row">
                                <!-- NAV -->
                                <div class="col-md-12">

                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><a class="accordion-toggle"
                                                                           data-toggle="collapse"
                                                                           data-parent="#accordion" href="#collapseOne">身份证</a>
                                                </h3>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div class="alert alert-info idCardInfo hide">
                                                        请您确认以下信息，该会员身份证照片是否审核通过？&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button class="btn btn-success" onclick="reviewYes(1)"><i class="fa fa-check"></i> 通过</button>
                                                        <button class="btn btn-danger" onclick="reviewNo(1)"><i class="fa fa-times"></i> 不通过</button>
                                                    </div>
                                                    <div class="alert alert-success idCardSuccess">
                                                        该会员身份证已审核通过！
                                                    </div>
                                                    <ul id="layer-photos-demo" class="list-unstyled list-inline">
                                                        <img layer-src="/backend/web/images/idCard1.jpg"
                                                             src="/backend/web/images/idCard1.jpg" width="200"
                                                             height="200">
                                                        <img layer-src="/backend/web/images/idCard2.jpg"
                                                             src="/backend/web/images/idCard2.jpg" width="200"
                                                             height="200">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><a class="accordion-toggle"
                                                                           data-toggle="collapse"
                                                                           data-parent="#accordion" href="#collapseTwo">婚姻证明</a>
                                                </h3>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="alert alert-info marrInfo hide">
                                                        请您确认以下信息，该会员婚姻证明照片是否审核通过？&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button class="btn btn-success" onclick="reviewYes(2)"><i class="fa fa-check"></i> 通过</button>
                                                        <button class="btn btn-danger" onclick="reviewNo(2)"><i class="fa fa-times"></i> 不通过</button>
                                                    </div>
                                                    <div class="alert alert-success marrSuccess hide">
                                                        该会员婚姻证明已审核通过！
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><a class="accordion-toggle"
                                                                           data-toggle="collapse"
                                                                           data-parent="#accordion"
                                                                           href="#collapseThree">学历证明</a></h3>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="alert alert-info eduInfo hide">
                                                        请您确认以下信息，该会员学历证明照片是否审核通过？&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button class="btn btn-success" onclick="reviewYes(3)"><i class="fa fa-check"></i> 通过</button>
                                                        <button class="btn btn-danger" onclick="reviewNo(3)"><i class="fa fa-times"></i> 不通过</button>
                                                    </div>
                                                    <div class="alert alert-success eduSuccess hide">
                                                        该会员学历证明已审核通过！
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><a class="accordion-toggle"
                                                                           data-toggle="collapse"
                                                                           data-parent="#accordion"
                                                                           href="#collapseFour">房产证明</a></h3>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="alert alert-info houseInfo hide">
                                                        请您确认以下信息，该会员房产证明照片是否审核通过？&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button class="btn btn-success" onclick="reviewYes(4)"><i class="fa fa-check"></i> 通过</button>
                                                        <button class="btn btn-danger" onclick="reviewNo(4)"><i class="fa fa-times"></i> 不通过</button>
                                                    </div>
                                                    <div class="alert alert-success houseSuccess hide">
                                                        该会员房产证明已审核通过！
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="layer_sendMsg">
    <div class="col-sm-12">
        <div class="col-sm-6 center m10">发送者：<span class="text-primary">系统管理员</span></div>
        <div class="col-sm-6 center m10">接收者：<span class="text-danger">李倩</span></div>
        <div class="col-sm-12">
            <textarea class="form-control" rows="4"></textarea>
        </div>
        <div class="col-sm-12 center">
            <button class="btn btn-yellow m10">发送</button>
        </div>
    </div>
</div>
<div id="layer_review">
    <div class="col-sm-12">
        <div class="form-group m10">
            <label for="input1">销售红娘</label>
            <input id="input1" class="form-control" type="text" disabled="disabled" value="袁军">
        </div>
        <div class="form-group m10">
            <label for="input2">服务红娘</label>
            <select id="input2" class="form-control">
                <option value="">请选择</option>
                <option value="">唐明曙</option>
                <option value="">方莉</option>
            </select>
        </div>
        <div class="form-group m10">
            <label for="input3">服务</label>
            <select id="input3" class="form-control">
                <option value="2">否</option>
                <option value="1">是</option>
            </select>
        </div>
        <div class="form-group mt20">
            <p class="btn-toolbar center">
                <button class="btn btn-success" onclick="reviewIsOk()">确认无误，审核通过</button>
                <button class="btn btn-light-grey" onclick="cancelReview()">取消</button>
            </p>
        </div>
    </div>
</div>
<!-- COLORBOX -->
<script>
    // 审核通过
    function reviewYes(type){
        if(type == 1){  // 身份证
            layer.open({
                type: 1,
                skin: 'layui-layer-demo', //样式类名
                closeBtn: 0, //不显示关闭按钮
                shift: 2,
                title: '审核',
                area: ['500px', '350px'],
                shadeClose: false, //开启遮罩关闭
                content: $('#layer_review')
            });
        }
        if(type == 2){  // 婚姻证明

        }
        if(type == 3){  // 学历证明

        }
        if(type == 4){  // 房产证明

        }
    }

    // 审核不通过
    function reviewNo(type){
        if(type == 1){   // 身份证

        }
        if(type == 2){   // 婚姻证

        }
        if(type == 3){   // 学历证

        }
        if(type == 4){   // 房产证

        }
    }

    // 身份证审核通过
    function reviewIsOk(){

    }

    // 身份证审核取消
    function cancelReview(){
        layer.closeAll('page');
    }

    $(function () {
        layer.ready(function () {
            layer.photos({
                photos: '#layer-photos-demo'
            });
        });

        $("#sendMsg").click(function () {
            layer.open({
                type: 1,
                skin: 'layui-layer-demo', //样式类名
                closeBtn: 0, //不显示关闭按钮
                shift: 2,
                title: '发站内信',
                area: ['500px', '250px'],
                shadeClose: true, //开启遮罩关闭
                content: $('#layer_sendMsg')
            });
        })


        $("#closeUserInfo").click(function () {
            bootbox.dialog({
                message: "关闭资料后，该会员将不会在前台展示，确定吗？",
                title: "提示",
                buttons: {
                    success: {
                        label: "确定",
                        className: "btn-danger",
                        callback: function () {
                            // 关闭资料

                        }
                    },
                    danger: {
                        label: "取消",
                        className: "btn-default",
                        callback: function () {

                        }
                    }
                }
            });
        });

        $("#addBlacklist").click(function () {
            bootbox.dialog({
                message: "确定将该会员列入黑名单吗？",
                title: "提示",
                buttons: {
                    success: {
                        label: "确定",
                        className: "btn-danger",
                        callback: function () {
                            // 列入黑名单

                        }
                    },
                    danger: {
                        label: "取消",
                        className: "btn-default",
                        callback: function () {
                        }
                    }
                }
            });
        });

        $('#resetPass').click(function () {    // 重置密码
            bootbox.dialog({
                message: "确定重置该会员密码为手机号后六位吗？",
                title: "提示",
                buttons: {
                    success: {
                        label: "确定",
                        className: "btn-danger",
                        callback: function () {
                            // 重置密码
                        }
                    },
                    danger: {
                        label: "取消",
                        className: "btn-default",
                        callback: function () {
                        }
                    }
                }
            });
        })
    })
</script>
<script type="text/javascript" src="/backend/web/CloudAdmin/js/colorbox/jquery.colorbox.min.js"></script>
<script>
    jQuery(document).ready(function () {
        $('.colorbox-button').colorbox({rel: 'colorbox-button', maxWidth: '95%', maxHeight: '95%'});
        /* Colorbox resize function */
        var resizeTimer;

        function resizeColorBox() {
            if (resizeTimer) clearTimeout(resizeTimer);
            resizeTimer = setTimeout(function () {
                var myWidth = 442, percentageWidth = .95;
                if (jQuery('#cboxOverlay').is(':visible')) {
                    $.colorbox.resize({width: ( $(window).width() > ( myWidth + 20) ) ? myWidth : Math.round($(window).width() * percentageWidth)});
                    $('.cboxPhoto').css({
                        width: $('#cboxLoadedContent').innerWidth(),
                        height: 'auto'
                    });
                    $('#cboxLoadedContent').height($('.cboxPhoto').height());
                    $.colorbox.resize();
                }
            }, 300)
        }

        // Resize Colorbox when resizing window or changing mobile device orientation
        jQuery(window).resize(resizeColorBox);
        window.addEventListener("orientationchange", resizeColorBox, false);
    });
</script>