<!-- COLORBOX -->
<link rel="stylesheet" type="text/css" href="/backend/web/CloudAdmin/js/colorbox/colorbox.min.css"/>
<div class="row">
    <input id="user_id" type="hidden" value="223">
    <div class="col-md-12">
        <!-- BOX -->
        <div class="box border">
            <div class="box-title">
                <h4><i class="fa fa-user"></i><span class="hidden-inline-mobile">{{$user['info']->real_name}} 的资料</span></h4>
            </div>
            <div class="box-body">
                <div class="tabbable header-tabs user-profile">
                    <ul class="nav nav-tabs">
                        <li><a href="#pro_identity" data-toggle="tab"><i class="fa fa-credit-card"></i> <span
                                class="hidden-inline-mobile"> 审核证件</span></a></li>
                        <li><a href="#pro_msg" data-toggle="tab"><i class="fa fa-comments-o"></i> <span
                                class="hidden-inline-mobile"> 消息记录</span></a></li>
                        <li><a href="#pro_peidui" data-toggle="tab"><i class="fa fa-heart-o"></i> <span
                                class="hidden-inline-mobile"> 配对记录</span></a></li>
                        <li><a href="#pro_discovery" data-toggle="tab"><i class="fa fa-eye"></i>
                            <span class="hidden-inline-mobile">个人动态</span></a></li>
                        <li class="active"><a href="#pro_overview" data-toggle="tab"><i class="fa fa-dot-circle-o"></i>
                            <span class="hidden-inline-mobile">详细资料</span></a></li>
                    </ul>
                    <div class="tab-content">

                        <!-- 详细资料 -->
                        <div class="tab-pane fade in active" id="pro_overview">
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="list-group">
                                        <li class="list-group-item zero-padding">

                                            <div id="carousel-example-generic" class="carousel slide">
                                                <!-- Indicators -->
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel-example-generic" data-slide-to="0"
                                                        class="active"></li>
                                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                                </ol>

                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        <a class="colorbox-button"
                                                           href="/backend/web/CloudAdmin/img/profile/avatar.jpg">
                                                            <img alt=""
                                                                 src="/backend/web/CloudAdmin/img/profile/avatar.jpg">
                                                        </a>
                                                    </div>
                                                    <div class="item">
                                                        <a class="colorbox-button"
                                                           href="/wechat/web/images/test/s1.jpg">
                                                            <img src="/wechat/web/images/test/s1.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="item">
                                                        <a class="colorbox-button"
                                                           href="/wechat/web/images/test/s2.jpg">
                                                            <img src="/wechat/web/images/test/s2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                </div>

                                                <!-- Controls -->
                                                <a class="left carousel-control" href="#carousel-example-generic"
                                                   data-slide="prev">
                                                    <span class="fa fa-prev"></span>
                                                </a>
                                                <a class="right carousel-control" href="#carousel-example-generic"
                                                   data-slide="next">
                                                    <span class="fa fa-next"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <div class="list-group-item profile-details">
                                            <h4>{{$user['info']->real_name}}</h4>
                                            <p>
                                                <span class="text-muted">ID: {{$user.id}}</span>
                                                &nbsp;&nbsp;&nbsp;
                                                <i id="status_icon" class="fa fa-circle text-green"></i>
                                                <!-- TODO 用户状态值要放在 data-status属性里面-->
                                                <span id="status" data-status="1">
                                                    {{if $user.status == 2}}
                                                        已审核
                                                    {{elseif $user.status == 1}}
                                                        未审核
                                                    {{elseif $user.status == 3}}
                                                        黑名单
                                                    {{elseif $user.status == 4}}
                                                        删除
                                                    {{/if}}
                                                </span>
                                            </p>
                                            <p>
                                                <span class="label label-info">{{$user.age}}</span>
                                                <span class="label label-info">

                                                    {{getMarriage($user.info->is_marriage)}}

                                                </span>
                                                <span class="label label-info">
                                                    {{getEducation($user.info->education)}}
                                                </span>
                                                <span class="label label-info">{{$user.info->height}}cm</span>
                                            </p>
                                            <p>
                                                <span class="label label-danger">
                                                    {{getLevel($user.info->level)}}

                                                </span>
                                            </p>
                                        </div>
                                        <a id="charge" href="javascript:;" class="list-group-item">
                                            <i class="fa fa-rmb fa-fw"></i>
                                            充值/开通
                                        </a>
                                        <a href="/admin/member/edit?id=1" data-toggle="modal" class="list-group-item">
                                            <i class="fa fa-edit fa-fw"></i>
                                            修改资料</a>
                                        <a id="sendMsg" href="javascript:;" class="list-group-item"><i
                                                class="fa fa-comment-o fa-fw"></i> 发站内信</a>
                                        <a onclick="bhyFunc.resetPass()" href="javascript:;" class="list-group-item"><i
                                                class="fa fa-unlock-alt fa-fw"></i> 重置密码</a>
                                        <!-- TODO data-isshow这个属性必须要有值，true或者false, 代表该用户资料是否在前台展示。 对应按钮文字也要判断是开放资料还是关闭资料 -->
                                        <a onclick="bhyFunc.closeUserInfo(this)" data-isshow="true" href="javascript:;" class="list-group-item">
                                            <i class="fa fa-power-off fa-fw"></i>
                                            <span id="closeUserInfoBtnTitle">关闭资料</span></a>
                                        <a onclick="bhyFunc.addBlacklist()" id="addBlacklist" href="javascript:;" class="list-group-item">
                                            <i class="fa fa-minus-circle fa-fw"></i>
                                            <!-- TODO 根据用户是否黑名单显示按钮文字，列入黑名单、解除黑名单-->
                                            <span id="userBlackList">列入黑名单</span></a>
                                    </div>
                                </div>

                                <div class="col-md-9">
                                    <!-- ROW 1 -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box border orange">
                                                <div class="box-title">
                                                    <h4><i class="fa fa-bars"></i>详细资料</h4>
                                                </div>
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-md-12 fs14">
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">地区：</span>
                                                                    <span class="text-warning">{{getSSQ($user.province,$user.city,$user.area)}}</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">民族：</span>
                                                                    <span class="text-warning">{{getNation($user.info->nation)}}</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">子女：</span>
                                                                    <span class="text-warning">{{getChild($user.info->is_child)}}</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">手机号码：</span>
                                                                    <span class="text-warning">{{$user.phone}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">职业：</span>
                                                                    <span class="text-warning">{{getOccupation($user.info->occupation , $user.info->children_occupation)}}</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">购车：</span>
                                                                    <span class="text-warning">{{getBuy($user.info->is_car)}}</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">购房：</span>
                                                                    <span class="text-warning">{{getBuy($user.info->is_purchase)}}</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">毕业院校：</span>
                                                                    <span class="text-warning">{{$user.info->school}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">年薪：</span>
                                                                    <span class="text-warning">{{yearIncome($user.info->year_income)}}万</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">属相：</span>
                                                                    <span class="text-warning">{{zodiac($user.info->zodiac)}}</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">星座：</span>
                                                                    <span class="text-warning">{{constellation($user.info->constellation)}}</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">期待的TA：</span>
                                                                    <span class="text-warning">{{$user.info->mate}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">血型：</span>
                                                                    <span class="text-warning">{{blood($user.info->blood)}}</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb"> Q Q：</span>
                                                                    <span class="text-warning">{{$user.info->qq}}</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">微信：</span>
                                                                    <span class="text-warning">{{$user.info->wechat}}</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">工作单位</span>
                                                                    <span class="text-warning">{{$user.info->work}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-12">
                                                                    <span class="text-muted fwb">个人签名：</span>
                                                                    <span class="text-warning">{{$user.personalized}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ROW 1 -->
                                    <div class="divide-10"></div>
                                </div>

                                <div class="col-md-9">
                                    <!-- ROW 1 -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box border pink">
                                                <div class="box-title">
                                                    <h4><i class="fa fa-bars"></i>择偶标准</h4>
                                                </div>
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-md-12 fs14">
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">年龄要求：</span>
                                                                    <span class="text-pink">{{$user.info->zo_age}}</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">身高要求：</span>
                                                                    <span class="text-pink">{{$user.info->zo_height}}</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">学历要求：</span>
                                                                    <span class="text-pink">{{getEducation($user.info->zo_education)}}以上</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">年薪要求：</span>
                                                                    <span class="text-pink">{{yearIncome($user.info->zo_income)}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">购车要求：</span>
                                                                    <span class="text-pink">{{getBuy($user.info->zo_car)}}</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">购房要求：</span>
                                                                    <span class="text-pink">已购房</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">子女要求：</span>
                                                                    <span class="text-pink">无小孩</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">婚姻要求：</span>
                                                                    <span class="text-pink">未婚</span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">职业要求：</span>
                                                                    <span class="text-pink">不限</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">星座要求：</span>
                                                                    <span class="text-pink">不限</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">属相要求：</span>
                                                                    <span class="text-pink">鼠、龙</span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-12">
                                                                    <span class="text-muted fwb">其他要求：</span>
                                                                    <span class="text-pink">人品要好、、、</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ROW 1 -->
                                    <div class="divide-10"></div>
                                </div>

                                <div class="col-md-9">
                                    <!-- ROW 1 -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box border red">
                                                <div class="box-title">
                                                    <h4><i class="fa fa-bars"></i>服务信息</h4>
                                                </div>
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-md-12 fs14">
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">会员等级：</span>
                                                                    <span class="text-danger">普通</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">账户余额：</span>
                                                                    <span class="text-danger">0.00元</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">缴费金额：</span>
                                                                    <span class="text-danger">0.00元</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">服务到期时间：</span>
                                                                    <span class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">红娘顾问：</span>
                                                                    <span class="text-danger">袁军</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">服务红娘：</span>
                                                                    <span class="text-danger">唐明曙</span>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <span class="text-muted fwb">服务：</span>
                                                                    <span class="text-danger">是</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ROW 1 -->
                                    <div class="divide-10"></div>
                                </div>

                                <div class="col-md-9">
                                    <!-- ROW 1 -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box border">
                                                <div class="box-title">
                                                    <h4><i class="fa fa-bars"></i>登录信息</h4>
                                                </div>
                                                <div class="box-body">
                                                    <div class="row">
                                                        <div class="col-md-12 fs14">
                                                            <div class="row m10">
                                                                <div class="col-sm-6">
                                                                    <span class="text-muted fwb">注册时间：</span>
                                                                    <span class="text-dark">2016-03-01 12:03:24</span>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <span class="text-muted fwb">登录次数：</span>
                                                                    <span class="text-dark">58</span>
                                                                </div>
                                                            </div>
                                                            <div class="row m10">
                                                                <div class="col-sm-6">
                                                                    <span class="text-muted fwb">最后一次登录时间：</span>
                                                                    <span class="text-dark">2016-03-01 12:03:24</span>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <span class="text-muted fwb">最后一次登录IP：</span>
                                                                    <span class="text-dark">125.55.63.3</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ROW 1 -->
                                    <div class="divide-10"></div>
                                </div>

                            </div>
                        </div>
                        <!-- /详细资料 -->

                        <!-- 个人动态 -->
                        <div class="tab-pane fade in" id="pro_discovery">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>发布者</th>
                                            <th>内容</th>
                                            <th>图片</th>
                                            <th>点赞数</th>
                                            <th>评论数</th>
                                            <th>发布时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>{{$user['info']->real_name}}(15301)</td>
                                            <td>看过后就能看见的那个好看</td>
                                            <td><a href="javascript:;" onclick="bhyFunc.getJsonShowImg('discovery')">查看图片</a></td>
                                            <td>58</td>
                                            <td>3</td>
                                            <td>2016-05-31 13:55:14</td>
                                            <td><a href="javascript:;" onclick="bhyFunc.deleteItemByList(1,this)">删除</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>{{$user['info']->real_name}}(15301)</td>
                                            <td>符合法规和地方干活干活</td>
                                            <td></td>
                                            <td>114</td>
                                            <td>21</td>
                                            <td>2016-07-10 18:00:55</td>
                                            <td><a href="javascript:;" onclick="bhyFunc.deleteItemByList(2,this)">删除</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /个人动态 -->

                        <!-- 配对记录 -->
                        <div class="tab-pane fade" id="pro_peidui">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>操作人</th>
                                            <th>时间</th>
                                            <th>对象</th>
                                            <th>内容</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>唐明曙</td>
                                            <td>2016-05-31 18:11:10</td>
                                            <td><a href="/admin/member/info?id=5615001">胡素娥(5615001)</a>-><a href="/admin/member/info?id=5615001">刘天贵(275001)</a></td>
                                            <td>2015.6.26互留电话 自己约见</td>
                                            <td>成功</td>
                                            <td><a href="javascript:;" onclick="bhyFunc.deleteItemByList(1,this)">删除</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>唐明曙</td>
                                            <td>2016-05-31 18:11:10</td>
                                            <td><a href="/admin/member/info?id=5615001">胡素娥(5615001)</a>-><a href="/admin/member/info?id=5615001">刘天贵(275001)</a></td>
                                            <td>2015.6.26互留电话 自己约见</td>
                                            <td>成功</td>
                                            <td><a href="javascript:;" onclick="bhyFunc.deleteItemByList(2,this)">删除</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /配对记录 -->

                        <!-- 消息记录 -->
                        <div class="tab-pane fade" id="pro_msg">
                            <!-- FAQ -->
                            <div class="row">
                                <!-- NAV -->
                                <div class="col-md-12">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>类型</th>
                                            <th>作者</th>
                                            <th>对象</th>
                                            <th>时间</th>
                                            <th>内容</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>系统信息</td>
                                            <td>管理员</td>
                                            <td><a href="/admin/member/info?id=5615001">张三(16581001)</a></td>
                                            <td>2016-05-31 13:55:14</td>
                                            <td>您的资料已审核通过！</td>
                                            <td>成功</td>
                                            <td><a href="javascript:;" onclick="bhyFunc.deleteItemByList(2,this)">删除</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>打招呼</td>
                                            <td><a href="/admin/member/info?id=5615001">潇潇(8438019)</a></td>
                                            <td><a href="/admin/member/info?id=5615001">赵静(1513001)</a></td>
                                            <td>2016-05-31 18:11:10</td>
                                            <td>看到你的照片，让人觉得很是倾慕，可以认识一下么？</td>
                                            <td>成功</td>
                                            <td><a href="javascript:;" onclick="bhyFunc.deleteItemByList(2,this)">删除</a></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>信息</td>
                                            <td><a href="/admin/member/info?id=5615001">潇潇(8438019)</a></td>
                                            <td><a href="/admin/member/info?id=5615001">徐姝(878001)</a></td>
                                            <td>2016-05-31 18:11:10</td>
                                            <td>你好</td>
                                            <td>成功</td>
                                            <td><a href="javascript:;" onclick="bhyFunc.deleteItemByList(2,this)">删除</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!--证件-->
                        <div class="tab-pane fade" id="pro_identity">
                            <!-- FAQ -->
                            <div class="row">
                                <!-- NAV -->
                                <div class="col-md-12">

                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><a class="accordion-toggle"
                                                                           data-toggle="collapse"
                                                                           data-parent="#accordion" href="#collapseOne">身份证</a>
                                                </h3>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div class="alert alert-info idCardInfo">
                                                        请您确认以下信息，该会员身份证照片是否审核通过？&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button class="btn btn-success" onclick="bhyFunc.reviewYes(1)">
                                                            <i class="fa fa-check"></i> 通过
                                                        </button>
                                                        <button class="btn btn-danger" onclick="bhyFunc.reviewNo(1)"><i
                                                                class="fa fa-times"></i> 不通过
                                                        </button>
                                                    </div>
                                                    <div class="alert alert-success idCardSuccess">
                                                        该会员身份证已审核通过！
                                                    </div>
                                                    <ul id="layer-photos-demo" class="list-unstyled list-inline">
                                                        <img layer-src="/backend/web/images/idCard1.jpg"
                                                             src="/backend/web/images/idCard1.jpg" width="200"
                                                             height="200">
                                                        <img layer-src="/backend/web/images/idCard2.jpg"
                                                             src="/backend/web/images/idCard2.jpg" width="200"
                                                             height="200">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><a class="accordion-toggle"
                                                                           data-toggle="collapse"
                                                                           data-parent="#accordion" href="#collapseTwo">婚姻证明</a>
                                                </h3>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="alert alert-info marrInfo hide">
                                                        请您确认以下信息，该会员婚姻证明照片是否审核通过？&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button class="btn btn-success" onclick="bhyFunc.reviewYes(2)">
                                                            <i class="fa fa-check"></i> 通过
                                                        </button>
                                                        <button class="btn btn-danger" onclick="bhyFunc.reviewNo(2)"><i
                                                                class="fa fa-times"></i> 不通过
                                                        </button>
                                                    </div>
                                                    <div class="alert alert-success marrSuccess hide">
                                                        该会员婚姻证明已审核通过！
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><a class="accordion-toggle"
                                                                           data-toggle="collapse"
                                                                           data-parent="#accordion"
                                                                           href="#collapseThree">学历证明</a></h3>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="alert alert-info eduInfo hide">
                                                        请您确认以下信息，该会员学历证明照片是否审核通过？&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button class="btn btn-success" onclick="bhyFunc.reviewYes(3)">
                                                            <i class="fa fa-check"></i> 通过
                                                        </button>
                                                        <button class="btn btn-danger" onclick="bhyFunc.reviewNo(3)"><i
                                                                class="fa fa-times"></i> 不通过
                                                        </button>
                                                    </div>
                                                    <div class="alert alert-success eduSuccess hide">
                                                        该会员学历证明已审核通过！
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><a class="accordion-toggle"
                                                                           data-toggle="collapse"
                                                                           data-parent="#accordion"
                                                                           href="#collapseFour">房产证明</a></h3>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="alert alert-info houseInfo hide">
                                                        请您确认以下信息，该会员房产证明照片是否审核通过？&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <button class="btn btn-success" onclick="bhyFunc.reviewYes(4)">
                                                            <i class="fa fa-check"></i> 通过
                                                        </button>
                                                        <button class="btn btn-danger" onclick="bhyFunc.reviewNo(4)"><i
                                                                class="fa fa-times"></i> 不通过
                                                        </button>
                                                    </div>
                                                    <div class="alert alert-success houseSuccess hide">
                                                        该会员房产证明已审核通过！
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="layer_sendMsg">
    <div class="col-sm-12">
        <div class="col-sm-6 center m10">发送者：<span class="text-primary">系统管理员</span></div>
        <div class="col-sm-6 center m10">接收者：<span class="text-danger">李倩</span></div>
        <div class="col-sm-12">
            <textarea id="msg_content" class="form-control" rows="4"></textarea>
        </div>
        <div class="col-sm-12 center">
            <button class="btn btn-yellow m10" onclick="bhyFunc.sendMsg()">发送</button>
        </div>
    </div>
</div>
<div id="layer_review">
    <div class="col-sm-12">
        <div class="form-group m10">
            <label for="matchmaker">销售红娘</label>
            <input id="matchmaker" class="form-control" type="text" disabled="disabled" value="袁军">
        </div>
        <div class="form-group m10">
            <label for="matchmaking">服务红娘</label>
            <select id="matchmaking" class="form-control">
                <option value="">请选择</option>
                <option value="1">唐明曙</option>
                <option value="2">方莉</option>
            </select>
        </div>
        <div class="form-group m10">
            <label for="service_status">服务</label>
            <select id="service_status" class="form-control">
                <option value="0">否</option>
                <option value="1">是</option>
            </select>
        </div>
        <div class="form-group m10">
            <label for="is_sign">签单</label>
            <select id="is_sign" class="form-control">
                <option value="0">否</option>
                <option value="1">是</option>
            </select>
        </div>
        <div class="form-group mt20">
            <p class="btn-toolbar center">
                <button class="btn btn-success" onclick="bhyFunc.reviewIsOk()">确认无误，审核通过</button>
                <button class="btn btn-light-grey" onclick="bhyFunc.layerClickedCancelButton('page')">取消</button>
            </p>
        </div>
    </div>
</div>

<div id="layer_charge">
    <div class="col-sm-12">
        <div class="form-group m10">
            <label for="charge_user_id">充值用户</label>
            <input id="charge_user_id" class="form-control" type="text" disabled="disabled" value="张三(15030)">
        </div>
        <div class="form-group m10">
            <label for="charge_goods">充值产品</label>
            <select id="charge_goods" class="form-control" onchange="bhyFunc.selectedGoods(this)">
                <option value="">请选择</option>
                <option value="1">VIP会员(1个月)</option>
                <option value="2">VIP会员(3个月)</option>
                <option value="3">VIP会员(6个月)</option>
                <option value="4">VIP会员(12个月)</option>
                <option value="6">贵宾会员(24个月)</option>
                <option value="7">钻石会员(24个月)</option>
                <option value="8">嘉瑞账户充值</option>
            </select>
        </div>
        <div class="form-group m10 center discount">
            <label>是否打折</label>
            <div class="make-switch switch-small" data-on="info" data-off="success" data-on-label="<i class='fa fa-check icon-white'></i>" data-off-label="<i class='fa fa-times'></i>">
                <input id="discount" type="checkbox" onchange="bhyFunc.checkedDiscount(this)">
            </div>
        </div>
        <div class="form-group m10 charge_money">
            <label>折后金额</label>
            <input id="charge_money" class="form-control" type="number" min="0.01" max="20000">
        </div>
        <div class="form-group m10 money">
            <label>充值金额</label>
            <input id="money" class="form-control" type="number" min="0.01" max="20000">
        </div>

        <div class="form-group mt20">
            <p class="btn-toolbar center">
                <button class="btn btn-danger" onclick="bhyFunc.charge()">确认无误，立即充值</button>
                <button class="btn btn-light-grey" onclick="bhyFunc.layerClickedCancelButton('page')">取消</button>
            </p>
        </div>
    </div>
</div>
<script>
    $(function () {
        layer.ready(function () {
            layer.photos({
                photos: '#layer-photos-demo'
            });
        });

        // 发站内信
        $("#sendMsg").click(function () {
            layer.open({
                type: 1,
                skin: 'layui-layer-demo', //样式类名
                closeBtn: 0, //不显示关闭按钮
                shift: 2,
                title: '发站内信',
                area: ['500px', '250px'],
                shadeClose: true, //开启遮罩关闭
                content: $('#layer_sendMsg')
            });
        })

        $('#charge').click(function(){
            $('#charge_goods').trigger('change');
            layer.open({
                type: 1,
                skin: 'layui-layer-demo', //样式类名
                closeBtn: 1, //不显示关闭按钮
                shift: 2,
                title: '充值/开通',
                area: ['500px', '380px'],
                shadeClose: true, //开启遮罩关闭
                content: $('#layer_charge')
            });
        })
    })
</script>
<script type="text/javascript" src="/backend/web/CloudAdmin/js/colorbox/jquery.colorbox.min.js"></script>
<script>
    jQuery(document).ready(function () {
        $('.colorbox-button').colorbox({rel: 'colorbox-button', maxWidth: '95%', maxHeight: '95%'});
        /* Colorbox resize function */
        var resizeTimer;

        function resizeColorBox() {
            if (resizeTimer) clearTimeout(resizeTimer);
            resizeTimer = setTimeout(function () {
                var myWidth = 442, percentageWidth = .95;
                if (jQuery('#cboxOverlay').is(':visible')) {
                    $.colorbox.resize({width: ( $(window).width() > ( myWidth + 20) ) ? myWidth : Math.round($(window).width() * percentageWidth)});
                    $('.cboxPhoto').css({
                        width: $('#cboxLoadedContent').innerWidth(),
                        height: 'auto'
                    });
                    $('#cboxLoadedContent').height($('.cboxPhoto').height());
                    $.colorbox.resize();
                }
            }, 300)
        }

        // Resize Colorbox when resizing window or changing mobile device orientation
        jQuery(window).resize(resizeColorBox);
        window.addEventListener("orientationchange", resizeColorBox, false);
    });
</script>