<!-- COLORBOX -->
<link rel="stylesheet" type="text/css" href="/backend/web/CloudAdmin/js/colorbox/colorbox.min.css"/>
<div class="row">
    <div class="col-md-12">
        <!-- BOX -->
        <div class="box border">
            <div class="box-title">
                <h4><i class="fa fa-user"></i><span class="hidden-inline-mobile">李倩 的资料</span></h4>
            </div>
            <div class="box-body">
                <div class="tabbable header-tabs user-profile">
                    <ul class="nav nav-tabs">
                        <li><a href="#pro_help" data-toggle="tab"><i class="fa fa-comments-o"></i> <span
                                class="hidden-inline-mobile"> 消息记录</span></a></li>
                        <li><a href="#pro_edit" data-toggle="tab"><i class="fa fa-heart-o"></i> <span
                                class="hidden-inline-mobile"> 配对记录</span></a></li>
                        <li class="active"><a href="#pro_overview" data-toggle="tab"><i class="fa fa-dot-circle-o"></i>
                            <span class="hidden-inline-mobile">详细资料</span></a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- OVERVIEW -->
                        <div class="tab-pane fade in active" id="pro_overview">
                            <div class="row">
                                <!-- PROFILE PIC -->
                                <div class="col-md-3">
                                    <div class="list-group">
                                        <li class="list-group-item zero-padding">

                                            <div id="carousel-example-generic" class="carousel slide">
                                                <!-- Indicators -->
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel-example-generic" data-slide-to="0"
                                                        class="active"></li>
                                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                                </ol>

                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        <a class="colorbox-button"
                                                           href="/backend/web/CloudAdmin/img/profile/avatar.jpg">
                                                            <img alt=""
                                                                 src="/backend/web/CloudAdmin/img/profile/avatar.jpg">
                                                        </a>
                                                    </div>
                                                    <div class="item">
                                                        <a class="colorbox-button"
                                                           href="/wechat/web/images/test/s1.jpg">
                                                            <img src="/wechat/web/images/test/s1.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="item">
                                                        <a class="colorbox-button"
                                                           href="/wechat/web/images/test/s2.jpg">
                                                            <img src="/wechat/web/images/test/s2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                </div>

                                                <!-- Controls -->
                                                <a class="left carousel-control" href="#carousel-example-generic"
                                                   data-slide="prev">
                                                    <span class="fa fa-prev"></span>
                                                </a>
                                                <a class="right carousel-control" href="#carousel-example-generic"
                                                   data-slide="next">
                                                    <span class="fa fa-next"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <div class="list-group-item profile-details">
                                            <h4>李倩</h4>
                                            <p><i class="fa fa-circle text-green"></i>
                                                已审核</p>
                                            <p>
                                                <span class="label label-info">29岁</span>
                                                <span class="label label-info">未婚</span>
                                                <span class="label label-info">本科</span>
                                                <span class="label label-info">165cm</span>
                                            </p>
                                            <p>
                                                <span class="label label-danger">普通会员</span>
                                            </p>
                                        </div>
                                        <a id="verify" href="javascript:;" class="list-group-item">
                                            <i class="fa fa-check-square fa-fw"></i>
                                            审核</a>
                                        <a href="javascript:;" class="list-group-item">
                                            <span class="badge badge-red">1529.00元</span>
                                            <i class="fa fa-rmb fa-fw"></i>
                                            充值
                                        </a>
                                        <a href="#box-config" data-toggle="modal" class="list-group-item"><i class="fa fa-edit fa-fw"></i>
                                            修改资料</a>
                                        <a href="javascript:;" class="list-group-item"><i
                                                class="fa fa-picture-o fa-fw"></i> 发送短信</a>
                                        <a href="javascript:;" class="list-group-item"><i
                                                class="fa fa-picture-o fa-fw"></i> 重置密码</a>
                                    </div>
                                </div>
                                <!-- /PROFILE PIC -->
                                <!-- PROFILE DETAILS -->
                                <div class="col-md-9">
                                    <!-- ROW 1 -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box border orange">
                                                <div class="box-title">
                                                    <h4><i class="fa fa-bars"></i>详细资料</h4>
                                                </div>
                                                <div class="box-body big">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <table class="table">
                                                                <thead>
                                                                <th><span class="text-muted">地区：</span><span
                                                                        class="text-warning">重庆重庆市渝中区</span></th>
                                                                <th><span class="text-muted">民族：</span><span
                                                                        class="text-warning">汉族</span></th>
                                                                <th><span class="text-muted">子女：</span><span
                                                                        class="text-warning">无小孩</span></th>
                                                                <th><span class="text-muted">手机号码：</span><span
                                                                        class="text-warning">1338149844</span></th>
                                                                </thead>
                                                                <thead>
                                                                <th><span class="text-muted">职业：</span><span
                                                                        class="text-warning">销售 销售主管</span></th>
                                                                <th><span class="text-muted">体重：</span><span
                                                                        class="text-warning">58kg</span></th>
                                                                <th><span class="text-muted">购车：</span><span
                                                                        class="text-warning">已购车</span></th>
                                                                <th><span class="text-muted">毕业院校：</span><span
                                                                        class="text-warning">未知</span></th>

                                                                </thead>
                                                                <thead>
                                                                <th><span class="text-muted">属相：</span><span
                                                                        class="text-warning">猴</span></th>
                                                                <th><span class="text-muted">星座：</span><span
                                                                        class="text-warning">金牛座</span></th>
                                                                <th><span class="text-muted">购房：</span><span
                                                                        class="text-warning">已购房</span></th>
                                                                <th><span class="text-muted">身份证地址：</span><span
                                                                        class="text-warning">重庆市渝中区大坪</span></th>
                                                                </thead>
                                                                <thead>
                                                                <th><span class="text-muted">Q Q：</span><span
                                                                        class="text-warning">1338149844</span></th>
                                                                <th><span class="text-muted">微信：</span><span
                                                                        class="text-warning">fds1582</span></th>
                                                                <th><span class="text-muted">年收入：</span><span
                                                                        class="text-warning">10-15万</span></th>
                                                                <th><span class="text-muted">身份证号码：</span><span
                                                                        class="text-warning">5161654984321</span></th>
                                                                </thead>
                                                                <thead>
                                                                <th colspan="4">
                                                                    <span class="text-muted">个性签名：</span><span
                                                                        class="text-warning">山东分公司的根深蒂固圣斗士防守对方斯蒂芬额问题儿童额</span>
                                                                </th>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ROW 1 -->
                                    <div class="divide-10"></div>
                                </div>
                                <!-- /PROFILE DETAILS -->
                                <div class="col-md-9">
                                    <!-- ROW 1 -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box border pink">
                                                <div class="box-title">
                                                    <h4><i class="fa fa-bars"></i>择偶标准</h4>
                                                </div>
                                                <div class="box-body big">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <table class="table">
                                                                <thead>
                                                                <th><span class="text-muted">年龄范围：</span><span
                                                                        class="text-pink">18-29</span></th>
                                                                <th><span class="text-muted">身高要求：</span><span
                                                                        class="text-pink">165-175</span></th>
                                                                <th><span class="text-muted">学历要求：</span><span
                                                                        class="text-pink">本科及以上</span></th>
                                                                <th><span class="text-muted">收入要求：</span><span
                                                                        class="text-pink">10-15万</span></th>
                                                                </thead>
                                                                <thead>
                                                                <th><span class="text-muted">体重要求：</span><span
                                                                        class="text-pink">偏瘦</span></th>
                                                                <th><span class="text-muted">购车要求：</span><span
                                                                        class="text-pink">已购车</span></th>
                                                                <th><span class="text-muted">购房要求：</span><span
                                                                        class="text-pink">已购房</span></th>
                                                                <th><span class="text-muted">子女要求：</span><span
                                                                        class="text-pink">无小孩</span></th>

                                                                </thead>
                                                                <thead>
                                                                <th><span class="text-muted">才貌要求：</span><span
                                                                        class="text-pink">出众</span></th>
                                                                <th><span class="text-muted">职业要求：</span><span
                                                                        class="text-pink">公务员</span></th>
                                                                <th><span class="text-muted">婚姻要求：</span><span
                                                                        class="text-pink">未婚</span></th>
                                                                <th><span class="text-muted">属相要求：</span><span
                                                                        class="text-pink">狗、猪、鸡</span></th>
                                                                </thead>
                                                                <thead>
                                                                <th><span class="text-muted">星座要求：</span><span
                                                                        class="text-pink">天秤座、白羊座</span></th>
                                                                <th><span class="text-muted">地区要求：</span><span
                                                                        class="text-pink">重庆、四川、湖南</span></th>
                                                                </thead>
                                                                <thead>
                                                                <th colspan="4">
                                                                    <span class="text-muted">其他要求：<span
                                                                            class="text-pink">人品要好。</span>
                                                                </th>
                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /ROW 1 -->
                                    <div class="divide-10"></div>
                                </div>


                            </div>
                        </div>
                        <!-- /OVERVIEW -->

                        <!-- EDIT ACCOUNT -->
                        <div class="tab-pane fade" id="pro_edit">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box border primary">
                                        <div class="box-title">
                                            <h4><i class="fa fa-heart-o"></i>配对记录</h4>
                                        </div>
                                        <div class="box-body">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>操作人</th>
                                                    <th>时间</th>
                                                    <th>对象</th>
                                                    <th>内容</th>
                                                    <th>状态</th>
                                                    <th>操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>唐明曙</td>
                                                    <td>2016-05-31 18:11:10</td>
                                                    <td><a>胡素娥(5615001)</a>-><a>刘天贵(275001)</a></td>
                                                    <td>2015.6.26互留电话 自己约见</td>
                                                    <td>成功</td>
                                                    <td><a>删除</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>唐明曙</td>
                                                    <td>2016-05-31 18:11:10</td>
                                                    <td><a>胡素娥(5615001)</a>-><a>刘天贵(275001)</a></td>
                                                    <td>2015.6.26互留电话 自己约见</td>
                                                    <td>成功</td>
                                                    <td><a>删除</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /EDIT ACCOUNT -->

                        <!-- HELP -->
                        <div class="tab-pane fade" id="pro_help">
                            <!-- FAQ -->
                            <div class="row">
                                <!-- NAV -->
                                <div class="col-md-12">
                                    <div class="box border primary">
                                        <div class="box-title">
                                            <h4><i class="fa fa-heart-o"></i>消息记录</h4>
                                        </div>
                                        <div class="box-body">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>类型</th>
                                                    <th>作者</th>
                                                    <th>对象</th>
                                                    <th>时间</th>
                                                    <th>内容</th>
                                                    <th>状态</th>
                                                    <th>操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>系统信息</td>
                                                    <td>管理员</td>
                                                    <td><a>张三(16581001)</a></td>
                                                    <td>2016-05-31 13:55:14</td>
                                                    <td>您的资料已审核通过！</td>
                                                    <td>成功</td>
                                                    <td><a>删除</a></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>打招呼</td>
                                                    <td><a>潇潇(8438019)</a></td>
                                                    <td><a>赵静(1513001)</a></td>
                                                    <td>2016-05-31 18:11:10</td>
                                                    <td>看到你的照片，让人觉得很是倾慕，可以认识一下么？</td>
                                                    <td>成功</td>
                                                    <td><a>删除</a></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>信息</td>
                                                    <td><a>潇潇(8438019)</a></td>
                                                    <td><a>徐姝(878001)</a></td>
                                                    <td>2016-05-31 18:11:10</td>
                                                    <td>你好</td>
                                                    <td>成功</td>
                                                    <td><a>删除</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="layer_verify"  class="layer_form">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label">请选择红娘顾问</label>
            <select class="form-control input-sm">
                <option value="">请选择</option>
                <option value="1">袁军</option>
                <option value="2">郭禹杉</option>
                <option value="3">刘志敏</option>
            </select>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">请选择服务红娘</label>
            <select class="form-control input-sm">
                <option value="">请选择</option>
                <option value="1">方莉</option>
                <option value="2">唐明曙</option>
            </select>
        </div>
    </form>
</div>
<!-- COLORBOX -->
<script>
    $('#verify').click(function () {   // 审核
        layer.open({
            type: 1,
            area: '800px',
            shade: false,
            title: false, //不显示标题
            content: $('#layer_verify'), //捕获的元素
            cancel: function (index) {
                layer.close(index);
                this.content.show();
                layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', {time: 5000, icon: 6});
            }
        });
    })
</script>
<script type="text/javascript" src="/backend/web/CloudAdmin/js/colorbox/jquery.colorbox.min.js"></script>
<script>
    jQuery(document).ready(function () {
        $('.colorbox-button').colorbox({rel: 'colorbox-button', maxWidth: '95%', maxHeight: '95%'});
        /* Colorbox resize function */
        var resizeTimer;

        function resizeColorBox() {
            if (resizeTimer) clearTimeout(resizeTimer);
            resizeTimer = setTimeout(function () {
                var myWidth = 442, percentageWidth = .95;
                if (jQuery('#cboxOverlay').is(':visible')) {
                    $.colorbox.resize({width: ( $(window).width() > ( myWidth + 20) ) ? myWidth : Math.round($(window).width() * percentageWidth)});
                    $('.cboxPhoto').css({
                        width: $('#cboxLoadedContent').innerWidth(),
                        height: 'auto'
                    });
                    $('#cboxLoadedContent').height($('.cboxPhoto').height());
                    $.colorbox.resize();
                }
            }, 300)
        }

        // Resize Colorbox when resizing window or changing mobile device orientation
        jQuery(window).resize(resizeColorBox);
        window.addEventListener("orientationchange", resizeColorBox, false);
    });
</script>