
<div class="wrapper wrapper-content animated fadeInUp">
    <div class="ibox">
        <div class="ibox-title"><h5>会员列表</h5>
            <div class="ibox-tools rboor">
                <button id="multiple-select" class="btn btn-green btn-xs p310"><i class="fa fa-check-square-o"></i> 批量审核</button>
                <button id="tb-refresh" href="projects.html" class="btn btn-green btn-xs p310"><i
                        class="fa fa-refresh"></i> 刷新
                </button>
            </div>
        </div>

        <div class="ibox-content">

            <div class="form-horizontal clearfix">
                <div class="col-lg-4 col-sm-5">
                    <div class="form-group">
                        <div class="col-lg-8 col-sm-8 input-group date">
                            <a href="/admin/member/photo?is_check=1" class="btn {{if (\Yii::$app->request->get('is_check') == 1)}}btn-success{{else}}btn-grey{{/if}}">已审核</a>
                            <a href="/admin/member/photo?is_check=2" class="btn {{if (\Yii::$app->request->get('is_check') == 2)}}btn-success{{else}}btn-grey{{/if}}">未审核</a>
                            <a href="/admin/member/photo?is_check=0" class="btn {{if (\Yii::$app->request->get('is_check') == 0)}}btn-success{{else}}btn-grey{{/if}}">审核未通过</a>
                            <button class="btn" id="select-all">全选</button>
                        </div>
                    </div>
                </div>
            </div>

            <table id="demo1" class="table display table-striped table-bordered table-hover dataTables-example dataTable j-datatables"

                   cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="tn">id</th>
                    <th>用户ID</th>
                    <th>用户姓名</th>
                    <th>图片</th>
                    <th>上传时间</th>
                    <th>是否审核</th>
                </tr>
                </thead>
                <tbody>
                {{foreach from=$list item=vo}}
                    <tr data-id="{{$vo.id}}">
                        <td class="tn">{{$vo.id}}</td>
                        <td>{{$vo.user_id}}</td>
                        <td>{{getName($vo.real_name)}}</td>
                        <td><img src="{{$vo.thumb_path}}"></img></td>
                        <td>{{date('Y-m-d H:i:s',$vo.create_time)}}</td>
                        <td>
                            <div class="make-switch switch-small" data-on-label="已审核" data-off-label="未审核" data-on="success" data-off="danger">
                                <input type="checkbox" data-id="{{$vo.id}}" class="mySwitch" {{if ($vo.is_check == 1)}} checked {{/if}}>
                            </div>
                        </td>
                    </tr>
                {{/foreach}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function () {
        $('.mySwitch').on('change', function () {
            var status = $(this).is(':checked') == true ? 1 : 0;
            var id = $(this).data('id');
            $.ajax({
                url: "/admin/member/auth-photo", data: {id: id , status:status}, success: function (res) {

                }
            });
        });

        // 全选
        $("#select-all").click(function () {
            $(".j-datatables tbody tr").toggleClass('selected');
        })

        $('.j-datatables tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );

        $("#multiple-select").click(function () {
            var id = "";
            $('.j-datatables tbody tr').each(function () {
                if ($(this).hasClass("selected")) {
                    id += $(this).data('id') + ",";
                }
            })
            id += "0";
            $.ajax({
                url: "/admin/member/auth-photo", data: {id: id, status: 1}, success: function (res) {

                }
            });
        })

    })
</script>