<ion-view hide-tabs="true">
    <link href="/wechat/web/css/rendezvous.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <a class="button button-icon icon ion-arrow-left-c" href="#/main/rendezvous"></a>
        <h1 class="title">约TA</h1>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 rendezvous" delegate-handle="askScroll">
        <ion-list>
            <div class="item item-divider">
                嘉瑞 ● 实名制婚恋网
            </div>
            <div class="ask_top_bg clearfix">
                <div class="ask_user_box">
                    <p class="mt10">
                        <img src="/wechat/web/images/test.jpg">
                    </p>
                    <p class="mb0">张小姐</p>
                    <p class="mb10">
                        27岁
                        <span class="sx"></span>
                        未婚
                        <span class="sx"></span>
                        本科
                    </p>
                </div>
            </div>

            <div class="list list-inset" keyboard-attach>
                <label class="item item-input">
                    <input type="text" ng-model="formData.mobile" placeholder="请输入您的手机号码">
                </label>
                <div class="item item-input" keyboard-attach>
                    <input type="text" ng-model="formData.code" placeholder="请输入验证码">
                    <button class="button button-positive button-small mr10" ng-disabled="isSend" ng-click="sendCode()">{{codeTitle}}</button>
                </div>
                <label class="item item-input" keyboard-attach>
                    <textarea class="msg" ng-model="formData.msg" placeholder="给TA留言，100字以内"></textarea>
                </label>
            </div>
            <div class="w100 tac mb30">
                <button class="button button-assertive w50" ng-click="save()">确认约会</button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>