<ion-view>
    <link href="/wechat/web/css/rendezvous.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <ion-header-bar>
        <button class="button button-icon" ng-click="showScreenModal()">筛选</button>
        <title class="title">约会</title>
        <a class="button button-icon icon ion-ios-plus-outline energized" href="#/main/member/rendezvous_add"></a>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 rendezvous" style="background: #e1e2e1;">
        <div class="list card">
            <div class="item item-avatar">
                <img src="/wechat/web/images/test.jpg">
                <h2>
                    <span class="fl">张小姐</span>
                    <span class="fl cor5 fs12 ml5 lh20">28岁 未婚</span>
                    <span class="fr fs12 lh20 cor5">
                        05-16 15:03
                    </span>
                </h2>
                <p><span class="identity sfz">身份证</span>
                    <span class="identity phone">手机</span>
                    <span class="identity diamond">钻石</span>
                </p>
            </div>

            <div class="item item-body" ng-repeat = "vo in list">
                <p class="mt0">
                    <span class="cor33">##{{vo.title}}##</span>{{vo.content}}
                </p>
                <p class="cor39 mt0 mb0">约会地点：{{vo.destination}}</p>
                <p class="cor39 mt0 mb0">约会时间：{{vo.rendezvous_time}}</p>
                <p class="cor39 mt0 mb0">费用说明：{{vo.fee_des | feeDisplay}}</p>
                <p class="cor39 mt0">性别限制：{{vo.sex | sexDisplay}}</p>
                <p>
                <p>
                    <span class="label">限女性</span>
                    <span class="label">颜值高</span>
                    <span class="label">技术宅</span>
                    <span class="label">逗比</span>
                </p>
                <p class="countdown">
                    距离结束还有 {{formData.timer}}
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item func" ui-sref="main.rendezvous_ask({userId:1})">
                    <i class="ion-heart fs16"></i>
                    约TA
                </a>
                <a class="tab-item func" href="#">
                    <i class="ion-chatbox fs16"></i>
                    对话
                </a>

            </div>
        </div>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>

    <script id="screenModal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <button class="button button-icon" ng-click="closeScreenModal()">关闭</button>
                <h1 class="title">筛选</h1>
                <button class="button button-icon cor21" ng-click="saveScreen()">确定</button>
            </ion-header-bar>
            <ion-content>
                <ion-list>
                    <div class="item item-input item-select">
                        <div class="input-label">
                            约会主题
                        </div>
                        <select ng-model="screen.theme">
                            <option value="0" selected>不限</option>
                            <option value="1">娱乐</option>
                            <option value="2">美食</option>
                            <option value="3">旅游</option>
                            <option value="4">运动/健身</option>
                            <option value="5">其它</option>
                        </select>
                    </div>
                    <div class="item item-input item-select">
                        <div class="input-label">
                            费用
                        </div>
                        <select ng-model="screen.money">
                            <option value="0" selected>不限</option>
                            <option value="1">免费</option>
                            <option value="2">我请客</option>
                            <option value="3">你请客</option>
                            <option value="4">AA制</option>
                        </select>
                    </div>
                    <div class="item">
                        <span class="input-label">发布者性别</span>
                        <div class="button-bar">
                            <a class="button bor_imp" ng-class="{0:'button-positive',1:'button-stable',2:'button-stable'}[screen.sex]" ng-click="sexChange(0)">不限</a>
                            <a class="button bor_imp" ng-class="{0:'button-stable',1:'button-positive',2:'button-stable'}[screen.sex]" ng-click="sexChange(1)">男</a>
                            <a class="button bor_imp" ng-class="{0:'button-stable',1:'button-stable',2:'button-positive'}[screen.sex]" ng-click="sexChange(2)">女</a>
                        </div>
                    </div>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>