<ion-view>
    <ion-header-bar class="com_w_100">
        <!--<button class="button button-icon "><i class="fs16 ion-android-pin positive mr5"></i><span
                ng-bind="cityName"></span></button>-->
        <button class="button button-icon"></button>
        <button ng-click="search()" class="button button-icon">搜索</button>
    </ion-header-bar>
    <ion-content class="com_w_100 site" delegate-handle="mainScroll">
        <ion-refresher
                pulling-text="下拉刷新.."
                refreshing-text="刷新中.."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list">
            <a class="item item-thumbnail-left" href="#/member/information" ng-if="userInfo.info">
                <img ng-src="{{userInfo.info.head_pic | isNull}}" onerror="this.src='/wechat/web/images/u_noimg.jpg'"
                     class="rounded">
                <span ng-if="headpicStatus == 2" class="under">审核中</span>
                <h2 class="fs16">
                    <span ng-if="userInfo.info.real_name">{{userInfo.info.real_name | sex:userInfo.sex:userInfo.age}}，您好！</span>
                    <span ng-if="!userInfo.info.real_name">会员{{userInfo.id}}，您好！</span>
                </h2>
                <span class="cor20 user_id">ID:{{userInfo.id}}</span>
                <p class="clearfix">
                    <span ng-class="{0:'not'}[honesty(userInfo.honesty_value)]" class="identity id">身份证</span>
                    <span ng-class="{true:'not'}[userInfo.phone == null || userInfo.phone == '']"
                          class="identity phone">手机</span>
                    <span ng-class="{false:'not'}[userInfo.info.level == '1']" class="identity vip">VIP</span>
                    <span ng-class="{false:'not'}[userInfo.info.level == '2']" class="identity guest">贵宾</span>
                    <span ng-class="{false:'not'}[userInfo.info.level == '3']" class="identity diamond">钻石</span>
                </p>
                <p ng-if="!honestyStatus" class="warn w100 mb0 mt5">
                    <i class="ion-ios-information cor0"></i>
                    实名制婚恋，上传身份证，完善资料 >>
                </p>
                <p ng-if="honestyStatus == 0" class="warn w100 mb0 mt5">
                    <i class="ion-ios-information cor0"></i>
                    您的身份证照片未审核通过，请重新上传 >>
                </p>

            </a>

            <a class="item item-thumbnail-left" href="/wap/user/login" ng-if="!userInfo.info">
                <img src="/wechat/web/images/u_noimg.jpg" class="rounded">
                <h2 style="margin-top: 30px;">
                    您好！您还没有登录！<span class="cor26">立即登录</span>
                </h2>
            </a>

            <a class="item item-thumbnail-left" ng-repeat="user in userList | filter:indexFilter">
                <img class="rounded" ng-click="jump('/userInfo?userId={{user.user_id}}')"
                     ng-src="{{user.info.head_pic | isNull}}"
                     onerror="this.src='/wechat/web/images/no_img.png'">
                <div ng-click="jump('/chat1?id={{user.user_id}}&head_pic={{user.info.head_pic}}&real_name={{user.info.real_name}}&sex={{user.sex}}&age={{user.info.age}}')">
                    <div class="clearfix">
                        <p class="fl">
                            <span ng-if="user.info.real_name">{{user.info.real_name | sex:user.sex :user.info.age}}</span>
                            <span ng-if="!user.info.real_name">会员ID:{{user.id}}</span>
                            <span ng-if="user.info.age" class="cor19 fs12">{{user.age}}岁</span>
                            <span ng-if="user.info.height" class="cor19 fs12">{{user.info.height}}cm</span>
                        <span ng-if="user.info.is_marriage"
                              class="cor19 fs12">{{user.info.is_marriage | marriage}}</span>
                        </p>
                        <p class="fr local" ng-if="user.info.local">
                            <i class="ion-android-pin positive"></i>
                            {{user.info.local}}
                        </p>
                    </div>

                    <p>
                        <span ng-if="honesty(user.honesty_value)" class="identity id">身份证</span>
                        <span ng-if="user.phone" class="identity phone">手机</span>
                        <span ng-if="user.info.level == 1" class="identity vip">VIP</span>
                        <span ng-if="user.info.level == 2" class="identity guest">贵宾</span>
                        <span ng-if="user.info.level == 3" class="identity diamond">钻石</span>
                    </p>
                    <p class="cor20 signature">{{user.personalized}}&nbsp;</p>
                </div>
            </a>

        </div>

        <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMore()"></ion-infinite-scroll>

        <ion-list ng-if="userList.length <= 0  && !dataLoading">
            <ion-item>
                <p class="tac">没有相关的数据，您可以放宽搜索条件后再试！</p>
            </ion-item>
        </ion-list>
    </ion-content>
    <!-- <script id="selCityModal.html" type="text/ng-template">  TODO 此功能暂时屏蔽
         <ion-modal-view>
             <ion-header-bar>
                 <button href="javascript:;" ng-click="cityModal.hide()" class="button button-icon " ng-model="searchForm.data.age"><i
                         class="fs16 ion-android-pin positive mr5"></i>{{modalCityName}}<i
                         class="ml5 fs14 ion-android-arrow-dropup positive"></i></button>
             </ion-header-bar>
             <ion-content>
                 <ion-scroll zooming="false"
                             ng-style="scrollStyle" style="border-right: 1px solid #ccc;">
                     <ion-list style="height: 3000px;">
                         <ion-item ng-repeat="province in provinceList track by province.id" item="province"
                                   class="item tac" ng-class="{true:'selected',flase:''}[pvId == province.id]"
                                   ng-click="selected_pv({{province.id}})">
                             {{province.name}}
                         </ion-item>
                     </ion-list>
                 </ion-scroll>
                 <ion-scroll zooming="false" ng-style="scrollStyle">
                     <ion-list class="city" style="height: 3000px;">
                         <ion-item ng-repeat="city in cityList track by city.id" item="city" class="item tac"
                                   ng-if="pvId == city.parentId" ng-click="selected_city({{city.id}})"
                                   ng-class="{true:'selected',flase:''}[cityId == city.id]">
                             {{city.name}} <i class="ml25 ion-ios-checkmark-outline"></i>
                         </ion-item>
                     </ion-list>
                 </ion-scroll>
             </ion-content>
         </ion-modal-view>
     </script>-->
    <script id="MoreSearchModal.html" type="text/ng-template">
        <ion-modal-view>
            <link href="/wechat/web/js/plugin/mobiscroll/mobiscroll.custom-3.0.0-beta.min.css" rel="stylesheet">
            <ion-header-bar>
                <a href="javascript:;" ng-click="moreSearchModal.hide()" class="button button-icon">取消</a>
                <h1 class="title">高级搜索</h1>
                <a href="javascript:;" ng-click="moreSearchOk()" class="button button-icon">确定</a>
            </ion-header-bar>
            <ion-content class="stable-bg" delegate-handle="searchScroll">
                <div class="row mb15">
                    <div class="col-90 mr0a">
                        <label class="item item-input">
                            <input type="text" ng-model="whereForm.id" placeholder="请输入ID">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-90 mr0a">
                        <div class="button-bar">
                            <a class="button button-light" style="border-right: 1px solid #ddd;" ng-class="{1:'button-calm'}[whereForm.sex]" ng-click="sexChange(1)">男</a>
                            <a class="button button-light" ng-class="{0:'button-calm'}[whereForm.sex]" ng-click="sexChange(0)">女</a>
                        </div>
                        <div class="moreSearch_form_box mt10 clearfix">
                            <label class="item item-input item-select">
                                <div class="input-label cor4">
                                    年龄
                                </div>
                                <input class="mobiscrollInput" ng-model="whereForm.age" mobiscroll-scroller="settingsAge"
                                       mobiscroll-instance="demo"/>
                            </label>
                        </div>
                        <div class="moreSearch_form_box mt10 clearfix">
                            <label class="item item-input item-select">
                                <div class="input-label cor4">
                                    身高
                                </div>
                                <input class="mobiscrollInput" ng-model="whereForm.height" mobiscroll-scroller="settingsHeight"
                                       mobiscroll-instance="demo"/>
                            </label>
                        </div>
                    </div>
                </div>
                <a class="tac lh36 dbl cp" ng-click="moreToggle()">{{moreText}}更多条件 <i
                        ng-class="{true:'ion-android-arrow-dropup',false:'ion-android-arrow-dropdown'}[more]"></i></a>
                <div class="row" ng-if="more">
                    <div class="col-90 mr0a">
                        <div class="moreSearch_form_box mt10 clearfix">
                            <label class="item item-input item-select">
                                <div class="input-label cor4">
                                    婚姻状况
                                </div>
                                <select ng-model="whereForm.is_marriage" ng-options="m.id as m.name for m in marriage">
                                    <option value="">不限</option>
                                </select>
                            </label>
                        </div>
                        <div class="moreSearch_form_box mt10 clearfix">
                            <label class="item item-input item-select">
                                <div class="input-label cor4">
                                    有无子女
                                </div>
                                <select ng-model="whereForm.is_child" ng-options="c.id as c.name for c in children">
                                    <option value="">不限</option>
                                </select>
                            </label>
                        </div>
                        <div class="moreSearch_form_box mt10 clearfix">
                            <label class="item item-input item-select">
                                <div class="input-label cor4">
                                    学历
                                </div>
                                <select ng-model="whereForm.education" ng-options="e.id as e.name for e in education">
                                    <option value="">不限</option>
                                </select>
                            </label>
                        </div>
                        <div class="moreSearch_form_box mt10 clearfix">
                            <label class="item item-input item-select">
                                <div class="input-label cor4">
                                    年薪
                                </div>
                                <select ng-model="whereForm.year_income" ng-options="s.id as s.name for s in salary">
                                    <option value="">不限</option>
                                </select>
                            </label>
                        </div>
                        <div class="moreSearch_form_box mt10 clearfix">
                            <label class="item item-input item-select">
                                <div class="input-label cor4">
                                    购房
                                </div>
                                <select ng-model="whereForm.is_purchase" ng-options="h.id as h.name for h in house">
                                    <option value="">不限</option>
                                </select>
                            </label>
                        </div>
                        <div class="moreSearch_form_box mt10 clearfix">
                            <label class="item item-input item-select">
                                <div class="input-label cor4">
                                    购车
                                </div>
                                <select ng-model="whereForm.is_car" ng-options="c.id as c.name for c in car">
                                    <option value="">不限</option>
                                </select>
                            </label>
                        </div>
                        <div class="moreSearch_form_box mt10 clearfix">
                            <label class="item item-input item-select">
                                <div class="input-label cor4">
                                    职业
                                </div>
                                <select ng-model="whereForm.occupation" ng-options="o.id as o.name for o in occupations">
                                    <option value="">不限</option>
                                </select>
                            </label>
                        </div>
                        <div class="moreSearch_form_box mt10 clearfix">
                            <label class="item item-input item-select">
                                <div class="input-label cor4">
                                    属相
                                </div>
                                <select ng-model="whereForm.zodiac" ng-options="z.id as z.name for z in zodiac">
                                    <option value="">不限</option>
                                </select>
                            </label>
                        </div>
                        <div class="moreSearch_form_box mt10 clearfix">
                            <label class="item item-input item-select">
                                <div class="input-label cor4">
                                    星座
                                </div>
                                <select ng-model="whereForm.constellation" ng-options="c.id as c.name for c in constellation">
                                    <option value="">不限</option>
                                </select>
                            </label>
                        </div>
                        <div class="moreSearch_form_box mt10 clearfix">
                            <label class="item item-input item-select">
                                <div class="input-label cor4">
                                    民族
                                </div>
                                <select ng-model="whereForm.nation" ng-options="n.id as n.name for n in nation">
                                    <option value="">不限</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <ion-footer-bar class="bar-stable">
        <a class="menuBtn cur" href="/wap/site/main#/index">
            <i class="icon-new-menu-home"></i>
            <p>首页</p>
        </a>
        <a class="menuBtn" href="/wap/site/main#/message">
            <i class="icon-new-menu-bubble">
                <span ng-if="msgNumber" class="msg_number">{{msgNumber}}</span>
            </i>
            <p>消息</p>
        </a>
        <a class="menuBtn" href="/wap/site/main#/member">
            <i class="icon-new-menu-user"></i>
            <p>个人</p>
        </a>
        <a class="menuBtn" href="/wap/site/main#/discovery">
            <i class="icon-new-menu-eye"></i>
            <p>发现</p>
        </a>
       <!-- <a class="menuBtn" href="/wap/site/main#/rendezvous">
            <i class="icon-new-menu-heart"></i>
            <p>约会</p>
        </a>-->
    </ion-footer-bar>
</ion-view>