<ion-nav-view animation="slide-left-right-ios7"></ion-nav-view>

<script id="main.html" type="text/ng-template">
    <ion-tabs ng-class="{'tabs-item-hide': $root.hideTabs}">
        <ion-tab title="首页" icon="ion-ios-home-outline" ui-sref="main.index">
            <ion-nav-view name="main-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab badge="msgNumber" badge-style="badge-assertive" title="消息" icon="ion-ios-chatbubble-outline" ui-sref="main.message">
            <ion-nav-view name="message-tab">
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="我" icon="bhy-icon-user-outline" ui-sref="main.member">
            <ion-nav-view name="member-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="发现" icon="ion-ios-eye-outline" ui-sref="main.discovery">
            <ion-nav-view name="discovery-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="约会" icon="ion-ios-heart-outline" ui-sref="main.rendezvous">
            <ion-nav-view name="rendezvous-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</script>