

<script id="main.html" type="text/ng-template">
    <ion-tabs ng-class="{'tabs-item-hide': $root.hideTabs}">
        <ion-tab title="首页" icon="ion-ios-home-outline" href="#/main/index">
            <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab badge="msgNumber" badge-style="badge-assertive" title="消息" icon="ion-ios-chatbubble-outline" href="#/main/message">
            <ion-nav-view name="message-tab">
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="我" icon="bhy-icon-user-outline" href="#/main/member">
            <ion-nav-view name="member-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="发现" icon="ion-ios-eye-outline" href="#/main/discovery">
            <ion-nav-view name="discovery-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="约会" icon="ion-ios-heart-outline" href="#/main/rendezvous">
            <ion-nav-view name="rendezvous-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</script>