<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/photoswipe/photoswipe.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/photoswipe/default-skin.css" rel="stylesheet">
    <ion-header-bar align-title="center" >
        <title class="title">{{otherUserInfo.info.real_name | sex:otherUserInfo.sex:otherUserInfo.info.age:otherUserInfo.user_id}}</title>
        <a class="button button-icon icon icon-new-menu-user-settings" href="#/member/settings?userId={{formData.userId}}&userName={{otherUserInfo.info.real_name}}"></a>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 infomation has-footer">
        <ion-list>
            <div class="imgList_con">
                <div class="imgList_handle clearfix bhy-gallery">
                    <div class="row warp">
                        <a class="col col-25" ng-repeat="img in imgList | filter:{is_check:1}" ng-href="{{img.thumb_path | picture}}" get-img-size="{{img.thumb_path}}">
                            <img src="/wechat/web/images/lazyload.png" auth="{{picAuth}}" lazyload="{{img.thumb_path}}">
                            <figure class="hide">轻触照片退出</figure>
                        </a>
                    </div>
                </div>
            </div>

            <ion-item class="idt mt10" ng-if="honesty(otherUserInfo.honesty_value) || otherUserInfo.phone != '' || otherUserInfo.info.level || otherUserInfo.info.zodiac || otherUserInfo.info.constellation">
                <p><span class="cor4 mr15">ID:{{otherUserInfo.user_id}}</span>{{otherUserInfo.info.age | timeToAge}} {{otherUserInfo.info.height | height}} {{otherUserInfo.info.is_marriage | marriage}}</p>
                <p class="mt0">
                    <span ng-if="honesty(otherUserInfo.honesty_value)" class="identity id">身份证</span>
                    <span ng-if="otherUserInfo.phone" class="identity phone">手机</span>
                    <span ng-if="otherUserInfo.info.level == 1" class="identity vip">VIP</span>
                    <span ng-if="otherUserInfo.info.level == 2" class="identity guest">贵宾</span>
                    <span ng-if="otherUserInfo.info.level == 3" class="identity diamond">钻石</span>
                    <span ng-if="otherUserInfo.report_flag == 1" class="identity assertive-bg">被多次举报</span>
                    <span ng-if="otherUserInfo.info.zodiac" class="ml10">{{otherUserInfo.info.zodiac | zodiac}}&nbsp;&nbsp; {{otherUserInfo.info.constellation | constellation}}</span>
                </p>
            </ion-item>
            <ion-item class="item-icon-right" ng-if="dynamicList.length > 0" href="#/index_discovery?userId={{otherUserInfo.id}}">
                <p>
                    <span class="cor4">个人动态</span>
                </p>
                <ul class="dynamicImg clearfix mt10" ng-if="dynamicList.length > 0">
                    <li ng-repeat="dynamic in dynamicList | limitTo:3" ng-if="dynamic.imgList.length > 0">
                        <div class="dynamicImg-item">
                            <img ng-src="{{dynamic.imgList[0].thumb_path}}" alt="." >
                        </div>
                    </li>
                </ul>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item ng-if="otherUserInfo.personalized">
                <div class="cor4 fl fs14 personalized_l">个人签名</div>
                <div class="ml20 wn fl cor8 fs14 personalized_r">{{otherUserInfo.personalized}}</div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.education">
                <p>
                    <span class="cor4">学历</span>
                    <span class="ml48"><i class="icon ion-university positive fs16 mr5 vam"></i>{{otherUserInfo.info.education | education}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.occupation">
                <p>
                    <span class="cor4">职业</span>
                    <span class="ml48">{{otherUserInfo.info.occupation | occupation : otherUserInfo.info.children_occupation}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.haunt_address">
                <p>
                    <span class="cor4">常出没地</span>
                    <span class="ml48">{{otherUserInfo.info.haunt_address}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.province && otherUserInfo.province > 0">
                <p>
                    <span class="cor4">地区</span>
                    <span class="ml48">{{otherUserInfo.province | address : otherUserInfo.city :otherUserInfo.area}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.wechat && wxAuth == 1">
                    <p>
                        <span class="cor4">微信号码</span>
                        <span class="ml20">{{otherUserInfo.info.wechat}}</span>
                    </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.qq && qqAuth == 1">
                    <p>
                        <span class="cor4">Q Q号码</span>
                        <span class="ml20">{{otherUserInfo.info.qq}}</span>
                    </p>
            </ion-item>
            <div class="hobby">
                <div class="hobby_bg">
                    <img src="/wechat/web/images/info_hobby_bg.jpg">
                </div>
            </div>
            <ion-item ng-if="went_travel.length > 0">
                    <p><span class="cor4">去过的地方({{went_travel_count}})</span></p>
                    <div class="hob_addr clearfix">
                        <span class="hob_addr_flag" ng-repeat="addrt in went_travel track by addrt.id">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">{{addrt.name}}</span>
                        </span>
                    </div>
            </ion-item>
            <ion-item ng-if="want_travel.length > 0">
                    <p><span class="cor4">想去的地方({{want_travel_count}})</span></p>
                    <div class="hob_addr clearfix">
                        <span class="hob_addr_flag f2" ng-repeat="addrt in want_travel track by addrt.id">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">{{addrt.name}}</span>
                        </span>
                    </div>
            </ion-item>

            <ion-item ng-if="love_sport.length > 0">
                    <p><span class="cor4">喜欢的运动({{love_sport_count}})</span></p>
                    <div class="hob_sport clearfix">
                        <span class="hob_sport_flag" ng-repeat="addrt in love_sport track by addrt.id">
                            <i class="icon-sport-{{addrt.pic_path}} hob_sport_icon"></i>
                            <span class="hob_sport_name">{{addrt.name}}</span>
                        </span>
                    </div>
            </ion-item>

            <ion-item ng-if="want_film.length > 0">
                    <p><span class="cor4">喜欢的影视类型({{want_film_count}})</span></p>
                    <div class="hob_sport clearfix">
                        <span class="hob_tv_flag" ng-repeat="addrt in want_film track by addrt.id">
                            <i class="ion-ios-play mr5"></i>
                            <span class="hob_sport_name">{{addrt.name}}</span>
                        </span>
                    </div>
            </ion-item>

            <ion-item class="hob_item" ng-if="like_food.length > 0">
                <p><span class="cor4">喜欢的美食({{like_food_count}})</span></p>
                <div class="hob_food clearfix">
                    <span class="hob_food_flag" ng-repeat="addrt in like_food track by addrt.id">
                        <i class="icon-food hob_food_icon"></i>
                        <span class="hob_food_name">{{addrt.name}}</span>
                    </span>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.mate">
                    <p>
                        <span class="cor4">心目中的TA</span>
                        <span class="ml20">{{otherUserInfo.info.mate}}</span>
                    </p>
            </ion-item>
            <ion-item class="item-divider" ng-if="otherUserInfo.info.is_child || otherUserInfo.info.nation || otherUserInfo.info.work || otherUserInfo.info.year_income || otherUserInfo.info.is_purchase || otherUserInfo.info.is_car || otherUserInfo.info.blood || otherUserInfo.info.school">
                详细资料
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.nation">
                <p>
                    <span class="cor4">民族</span>
                    <span class="ml48">{{otherUserInfo.info.nation | nation}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.year_income">
                <p>
                    <span class="cor4">年薪</span>
                    <span class="ml48">{{otherUserInfo.info.year_income | yearIncome}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.work">
                <p>
                    <span class="cor4">工作单位</span>
                    <span class="ml20">{{otherUserInfo.info.work}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.is_child">
                <p>
                    <span class="cor4">子女状况</span>
                    <span class="ml20">{{otherUserInfo.info.is_child | child}}</span>
                </p>
            </ion-item>

            <ion-item ng-if="otherUserInfo.info.is_purchase">
                <p>
                    <span class="cor4">购房情况</span>
                    <span class="ml20">{{otherUserInfo.info.is_purchase | purchase}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.is_car">
                <p>
                    <span class="cor4">购车情况</span>
                    <span class="ml20">{{otherUserInfo.info.is_car | car}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.blood">
                <p>
                    <span class="cor4">血型</span>
                    <span class="ml48">{{otherUserInfo.info.blood | blood}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.school">
                <p>
                    <span class="cor4">毕业院校</span>
                    <span class="ml20">{{otherUserInfo.info.school}}</span>
                </p>
            </ion-item>
            <ion-item class="item-divider" ng-if="otherUserInfo.info.zo_age || otherUserInfo.info.zo_height || otherUserInfo.info.zo_education || otherUserInfo.info.zo_marriage || otherUserInfo.info.zo_house || otherUserInfo.info.zo_car || otherUserInfo.info.zo_zodiac || otherUserInfo.info.zo_constellation">
                择偶标准
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.zo_age">
                <p>
                    <span class="cor4">年龄要求</span>
                    <span class="ml20">{{otherUserInfo.info.zo_age | zo_age}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.zo_height">
                <p>
                    <span class="cor4">身高要求</span>
                    <span class="ml20">{{otherUserInfo.info.zo_height | zo_height}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.zo_education">
                <p>
                    <span class="cor4">学历要求</span>
                    <span class="ml20">{{otherUserInfo.info.zo_education | education}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.zo_marriage">
                <p>
                    <span class="cor4">婚姻要求</span>
                    <span class="ml20">{{otherUserInfo.info.zo_marriage | zo_marriage}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.zo_house">
                <p>
                    <span class="cor4">购房要求</span>
                    <span class="ml20">{{otherUserInfo.info.zo_house | purchase}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.zo_car">
                <p>
                    <span class="cor4">购车要求</span>
                    <span class="ml20">{{otherUserInfo.info.zo_car | car}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.zo_zodiac">
                <p>
                    <span class="cor4">属相要求</span>
                    <span class="ml20">{{otherUserInfo.info.zo_zodiac | zo_zodiac}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.zo_constellation">
                <p>
                    <span class="cor4">星座要求</span>
                    <span class="ml20">{{otherUserInfo.info.zo_constellation | zo_constellation}}</span>
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light">
        <div class="buttons transition" ng-class="{true:'w100',false:'w50'}[formData.isfollow == 1]">
            <a class="button w100" style="font-size: 16px; color:#e4007f;" href="#/chat1?id={{otherUserInfo.id}}&head_pic={{otherUserInfo.info.head_pic}}&real_name={{otherUserInfo.info.real_name}}&sex={{otherUserInfo.sex}}&age={{otherUserInfo.info.age}}"><i class="ion-chatbox-working cor21 mr5 vam fs22"></i>对话</a>
        </div>
        <div class="buttons w50" ng-if="formData.isfollow != 1">
            <button class="button w100 transition"  style="font-size: 16px;" ng-click="addFollow()">
                <i class="ion-plus-round mr5 vam fs22"></i>关注
            </button>
        </div>
    </ion-footer-bar>
</ion-view>