<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="/wechat/web/js/plugin/amezeui/css/amazeui.min.css" rel="stylesheet">
    <ion-header-bar>
        <title class="title">{{otherUserInfo.info.real_name | sex:otherUserInfo.sex :otherUserInfo.info.age}}</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 infomation has-footer">
        <ion-list>
            <div class="imgList_con">
                <div class="imgList_handle clearfix" data-am-widget="gallery" data-am-gallery="{pureview: {target: 'a'}}">
                    <div class="imgItem" ng-repeat="img in imgList">
                        <a class="am-gallery-item" href="{{img.thumb_path | picture}}">
                            <img src="{{img.thumb_path}}">
                        </a>
                    </div>
                </div>
            </div>
            <ion-item class="idt mt10" ng-if="otherUserInfo.auth.identity_check || otherUserInfo.phone != '' || otherUserInfo.info.level != '未知' || otherUserInfo.info.zodiac != '未知' || otherUserInfo.info.constellation != '未知'">
                <p>{{otherUserInfo.info.age | timeToAge}} {{otherUserInfo.info.height | height}} {{otherUserInfo.info.is_marriage | marriage}}</p>
                <p class="mt0">
                    <span class="identity sfz" ng-if="otherUserInfo.auth.identity_check">身份证</span>
                    <span class="identity phone" ng-if="otherUserInfo.phone">手机</span>
                    <span class="identity vip" ng-if="otherUserInfo.info.level == 1">vip</span>
                    <span class="identity guest" ng-if="otherUserInfo.info.level == 2">贵宾</span>
                    <span class="identity diamond" ng-if="otherUserInfo.info.level == 3">钻石</span>
                    <span ng-if="otherUserInfo.info.zodiac != '未知' && otherUserInfo.info.zodiac" class="ml10">{{otherUserInfo.info.zodiac | zodiac}} {{otherUserInfo.info.constellation | constellation}}</span>
                </p>
            </ion-item>
            <ion-item ng-if="dynamicList.length > 0" href="#/main/dynmaic?userId={{otherUserInfo.id}}&tempUrl=main/member/user_info">
                <div class="info_l">
                    <p>个人动态</p>
                </div>
                <div class="info_c">
                    <div class="dyn_img_list" ng-repeat="dynamic in dynamicList">
                        <img class="dyn_img" ng-if="dynamic.imgList[0].thumb_path" src="{{dynamic.imgList[0].thumb_path}}">
                    </div>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.personalized != null">
                <div class="info_l">
                    <p>个性签名</p>
                </div>
                <div class="info_c">
                    <p>{{otherUserInfo.personalized}}</p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.education != '未知' && otherUserInfo.info.education">
                <div class="info_l">
                    <p>学历</p>
                </div>
                <div class="info_c">
                    <p class="null">
                        <i class="icon ion-university positive fs16 mr5 vam"></i>
                        {{otherUserInfo.info.education | education}}
                    </p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.occupation != '未知' && otherUserInfo.info.occupation">
                <div class="info_l">
                    <p>职业</p>
                </div>
                <div class="info_c">
                    <p class="null">
                        <span>{{otherUserInfo.info.occupation | occupation : otherUserInfo.info.children_occupation}}</span>
                    </p>
                </div>
            </ion-item>

            <ion-item ng-if="otherUserInfo.province != null && otherUserInfo.province > 0">
                <div class="info_l">
                    <p>地区</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.province | address : otherUserInfo.city :otherUserInfo.area}}</span></p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.haunt_address != '未知' && otherUserInfo.info.haunt_address">
                <div class="info_l">
                    <p>常出没地</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.haunt_address}}</span></p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.wechat != '未知' && otherUserInfo.info.wechat">
                <div class="info_l">
                    <p>微信号</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>******</span><button type="button" ng-click="showWX()" class="am-btn am-btn-danger am-radius am-btn-xs ml20">查看<!--{{otherUserInfo.info.wechat}}--></button></p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.qq != '未知' && otherUserInfo.info.qq">
                <div class="info_l">
                    <p>QQ号</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>******</span><button type="button" ng-click="showQQ()" class="am-btn am-btn-danger am-radius am-btn-xs ml20">查看<!--{{otherUserInfo.info.qq}}--></button></p>
                </div>
            </ion-item>
            <div class="hobby">
                <div class="hobby_bg">
                    <img src="/wechat/web/images/info_hobby_bg.jpg">
                </div>
            </div>
            <ion-item class="hob_item" ng-if="went_travel_count > 0">
                <div class="info_l hob">
                    <p>去过的地方({{went_travel_count}})</p>
                </div>
                <div class="info_r">
                    <i class=" ion-ios-arrow-right"></i>
                </div>
                <div class="info_c hob">
                    <div class="hob_addr clearfix">
                        <span class="hob_addr_flag" ng-repeat="addrt in went_travel track by addrt.id">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">{{addrt.name}}</span>
                        </span>
                    </div>
                </div>
            </ion-item>
            <ion-item class="hob_item" ng-if="want_travel_count > 0">
                <div class="info_l hob">
                    <p>想去的地方({{want_travel_count}})</p>
                </div>
                <div class="info_r">
                    <i class=" ion-ios-arrow-right"></i>
                </div>
                <div class="info_c hob">
                    <div class="hob_addr clearfix">
                        <span class="hob_addr_flag f2" ng-repeat="addrt in want_travel track by addrt.id">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">{{addrt.name}}</span>
                        </span>
                    </div>
                </div>
            </ion-item>

            <ion-item class="hob_item" ng-if="love_sport_count > 0">
                <div class="info_l hob">
                    <p>喜欢的运动({{love_sport_count}})</p>
                </div>
                <div class="info_r">
                    <i class=" ion-ios-arrow-right"></i>
                </div>
                <div class="info_c hob">
                    <div class="hob_sport clearfix">
                        <span class="hob_sport_flag" ng-repeat="addrt in love_sport track by addrt.id">
                            <i class="icon-sport-{{addrt.pic_path}} hob_sport_icon"></i>
                            <span class="hob_sport_name">{{addrt.name}}</span>
                        </span>
                    </div>
                </div>
            </ion-item>

            <ion-item class="hob_item" ng-if="want_film_count > 0">
                <div class="info_l hob">
                    <p>喜欢的影视类型({{want_film_count}})</p>
                </div>
                <div class="info_r">
                    <i class="ion-ios-arrow-right"></i>
                </div>
                <div class="info_c hob">
                    <div class="hob_sport clearfix">
                        <span class="hob_tv_flag" ng-repeat="addrt in want_film track by addrt.id">
                            <i class="ion-ios-play mr5"></i>
                            <span class="hob_sport_name">{{addrt.name}}</span>
                        </span>
                    </div>
                </div>
            </ion-item>

            <ion-item class="hob_item" ng-if="like_food_count > 0">
                <div class="info_l hob">
                    <p>喜欢的美食({{like_food_count}})</p>
                </div>
                <div class="info_r">
                    <i class=" ion-ios-arrow-right"></i>
                </div>
                <div class="info_c hob mb10">
                    <div class="hob_food clearfix">
                        <span class="hob_food_flag" ng-repeat="addrt in like_food track by addrt.id">
                            <i class="icon-food hob_food_icon"></i>
                            <span class="hob_food_name">{{addrt.name}}</span>
                        </span>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.mate != '未知' && otherUserInfo.info.mate">
                <div class="info_l">
                    <p>对未来伴侣的期望</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.mate}}</span></p>
                </div>
            </ion-item>
            <ion-item class="member_t">
                <p>详细资料</p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.is_child != '未知' && otherUserInfo.info.is_child">
                <div class="info_l">
                    <p>子女状况</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.is_child | child}}</span></p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.nation != '未知' && otherUserInfo.info.nation">
                <div class="info_l">
                    <p>民族</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.nation | nation}}</span></p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.work != '未知' && otherUserInfo.info.work">
                <div class="info_l">
                    <p>工作单位</p>
                </div>
                <div class="info_c">
                    <p class="null">{{otherUserInfo.info.work}}</p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.year_income != '未知' && otherUserInfo.info.year_income">
                <div class="info_l">
                    <p>年收入</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.year_income | yearIncome}}</span></p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.is_purchase != '未知' && otherUserInfo.info.is_purchase">
                <div class="info_l">
                    <p>购房情况</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.is_purchase | purchase}}</span></p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.is_car != '未知' && otherUserInfo.info.is_car">
                <div class="info_l">
                    <p>购车情况</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.is_car | car}}</span></p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.blood != '未知' && otherUserInfo.info.blood">
                <div class="info_l">
                    <p>血型</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.blood | blood}}</span></p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.school != '未知' && otherUserInfo.info.school">
                <div class="info_l">
                    <p>毕业院校</p>
                </div>
                <div class="info_c">
                    <p class="null">{{otherUserInfo.info.school}}</p>
                </div>
            </ion-item>
            <ion-item class="member_t" ng-if="otherUserInfo.info.zo_age != '未知' || otherUserInfo.info.zo_height != '未知' || otherUserInfo.info.zo_education != '未知' || otherUserInfo.info.zo_marriage != '未知' || otherUserInfo.info.zo_house != '未知' || otherUserInfo.info.zo_car != '未知' || otherUserInfo.info.zo_zodiac != '未知' || otherUserInfo.info.zo_constellation != '未知'">
                <p>择偶标准</p>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.zo_age != '未知' && otherUserInfo.info.zo_age">
                <div class="info_l">
                    <p>年龄</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.zo_age | zo_age}}</span></p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.zo_height != '未知' && otherUserInfo.info.zo_height">
                <div class="info_l">
                    <p>身高</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.zo_height | zo_age}}</span></p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.zo_education != '未知' && otherUserInfo.info.zo_education">
                <div class="info_l">
                    <p>学历</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.zo_education | education}}</span></p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.zo_marriage != '未知' && otherUserInfo.info.zo_marriage">
                <div class="info_l">
                    <p>婚姻状况</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.zo_marriage | zo_marriage}}</span></p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.zo_house != '未知' && otherUserInfo.info.zo_house">
                <div class="info_l">
                    <p>购房情况</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.zo_house | purchase}}</span></p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.zo_car != '未知' && otherUserInfo.info.zo_car">
                <div class="info_l">
                    <p>购车情况</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.zo_car | car}}</span></p>
                </div>
            </ion-item>
            <ion-item ng-if="otherUserInfo.info.zo_zodiac != '未知' && otherUserInfo.info.zo_zodiac">
                <div class="info_l">
                    <p>属相</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.zo_zodiac | zo_zodiac}}</span></p>
                </div>
            </ion-item>
            <ion-item class="mb30" ng-if="otherUserInfo.info.zo_constellation != '未知' && otherUserInfo.info.zo_constellation">
                <div class="info_l">
                    <p>星座</p>
                </div>
                <div class="info_c">
                    <p class="null"><span>{{otherUserInfo.info.zo_constellation | zo_constellation}}</span></p>
                </div>
            </ion-item>

        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light">
        <div class="buttons w50 bor_r_1c">
            <button class="button w100" style="font-size: 16px; color:#e4007f;" ng-click="localChat()"><i class="ion-chatbox-working cor21 mr5 vam fs22"></i>对话</button>
        </div>
        <div class="buttons w50" >
            <button ng-if="!formData.follow" class="button w100"  style="font-size: 16px;" ng-click="addFollow()">
                <i class="ion-plus-round mr5 vam fs22"></i>关注
            </button>
            <button ng-if="formData.follow" ng-click="cancelFollow()" class="button w100" style="font-size: 16px;">取消关注</button>
        </div>
    </ion-footer-bar>

</ion-view>