<link href="/wechat/web/css/chat.css" rel="stylesheet">

    <ion-header>
        <div class="bar bar-header bhy com_w_100">
            <a class="button button-icon icon ion-arrow-left-c" href="/wap/message"></a>
            <h1 class="title">正在与 李小姐 聊天</h1>
            <button class="button button-icon" href="/wap/message">关注</button>
        </div>
    </ion-header>

    <ion-content class="bhy com_w_100 has-header has-footer chat" ng-cloak>
            <ion-list>
                <ion-item class="clearfix talk_item_u">
                    <div class="talk_user">
                        <img src="/wechat/web/images/test.jpg" alt="">
                    </div>
                    <div class="talk_r">
                        <div class="talk_con">
                            <div class="talk_bg pr">
                                <div class="content">
                                    <p>你好，请问在吗？</p>
                                </div>
                                <b> </b>
                            </div>
                        </div>
                        <dl class="s_time clearfix">
                            <dd>16-04-09 19:06:48</dd>
                            <dt>
                                <i class="ion-checkmark-round balanced"></i>
                            </dt>
                        </dl>
                    </div>
                </ion-item>
                <ion-item class="clearfix talk_item_m">
                    <div class="talk_user">
                        <img src="/wechat/web/images/test1.jpg" alt="">
                    </div>
                    <div class="talk_r">
                        <div class="talk_con">
                            <div class="talk_bg pr">
                                <div class="content">
                                    <p>在啊。你是？</p>
                                </div>
                                <b> </b>
                            </div>
                        </div>
                        <dl class="s_time clearfix">
                            <dd>16-04-09 19:07:23</dd>
                            <dt>
                                <i class="ion-checkmark-round balanced"></i>
                            </dt>
                        </dl>
                    </div>
                </ion-item>
                <ion-item class="clearfix talk_item_u">
                    <div class="talk_user">
                        <img src="/wechat/web/images/test.jpg" alt="">
                    </div>
                    <div class="talk_r">
                        <div class="talk_con">
                            <div class="talk_bg pr">
                                <div class="content">
                                    <p>我是你哥！</p>
                                </div>
                                <b> </b>
                            </div>
                        </div>
                        <dl class="s_time clearfix">
                            <dd>16-04-09 19:07:40</dd>
                            <dt>
                                <i class="ion-checkmark-round balanced"></i>
                            </dt>
                        </dl>
                    </div>
                </ion-item>
                <ion-item class="clearfix talk_item_m">
                    <div class="talk_user">
                        <img src="/wechat/web/images/test1.jpg" alt="">
                    </div>
                    <div class="talk_r">
                        <div class="talk_con">
                            <div class="talk_bg pr">
                                <div class="content">
                                    <p>我是你爹</p>
                                </div>
                                <b> </b>
                            </div>
                        </div>
                        <dl class="s_time clearfix">
                            <dd>16-04-09 19:08:12</dd>
                            <dt>
                                <i class="ion-checkmark-round balanced"></i>
                            </dt>
                        </dl>
                    </div>
                </ion-item>
                <ion-item class="clearfix talk_item_m">
                    <div class="talk_user">
                        <img src="/wechat/web/images/test1.jpg" alt="">
                    </div>
                    <div class="talk_r">
                        <div class="talk_con">
                            <div class="talk_bg pr">
                                <div class="content">
                                    <p>还在吗？</p>
                                </div>
                                <b> </b>
                            </div>
                        </div>
                        <dl class="s_time clearfix">
                            <dd>2分钟前</dd>
                            <dt>
                                <i class="ion-checkmark-round balanced"></i>
                            </dt>
                        </dl>
                    </div>
                </ion-item>
                <ion-item class="clearfix talk_item_m">
                    <div class="talk_user">
                        <img src="/wechat/web/images/test1.jpg" alt="">
                    </div>
                    <div class="talk_r">
                        <div class="talk_con">
                            <div class="talk_bg pr">
                                <div class="content">
                                    <p>还在吗？说话呀！</p>
                                </div>
                                <b> </b>
                            </div>
                        </div>
                        <dl class="s_time clearfix">
                            <dd>10秒前</dd>
                            <dt>
                                <i class="ion-information assertive"></i>
                            </dt>
                        </dl>
                    </div>
                </ion-item>
                <ion-item class="clearfix talk_item_m">
                    <div class="talk_user">
                        <img src="/wechat/web/images/test1.jpg" alt="">
                    </div>
                    <div class="talk_r">
                        <div class="talk_con">
                            <div class="talk_bg pr">
                                <div class="content">
                                    <p>对不起，我错了。</p>
                                </div>
                                <b> </b>
                            </div>
                        </div>
                        <dl class="s_time clearfix">
                            <dd>刚刚</dd>
                            <dt>
                                <ion-spinner icon="ios-small" class="chat_loading"></ion-spinner>
                            </dt>
                        </dl>
                    </div>
                </ion-item>
            </ion-list>
    </ion-content>

    <div class="bar bar-footer bhy com_w_100">
        <button class="button button-icon icon ion-ios-mic-outline"></button>
        <button class="button button-icon ion-plus-circled positive multi_btn"></button>
        <input type="text" class="input_area">
        <button class="button button-icon positive ion-checkmark-round balanced ok_btn"></button>
    </div>