<link href="/wechat/web/css/chat.css" rel="stylesheet">
<div ng-controller="message.chat" ng-cloak>

    <ion-header>
        <div class="bar bar-header bhy com_w_100">
            <a class="button button-icon icon ion-arrow-left-c" href="/wap/message"></a>
            <h1 class="title">正在与 李小姐 聊天</h1>
            <button class="button button-icon" ng-click="addFollow()" ng-if="u_isFollow">关注</button>
        </div>
    </ion-header>
    <input type="hidden" ng-model="sendId" ng-init="sendId={!$id}">
    <input type="hidden" ng-model="wx_config" ng-init="wx_config={!$config}">
    <ion-content class="bhy com_w_100 has-header has-footer chat" ng-init="scrollBot()">

        <ion-list>
            <!-- 固定item -->
            <ion-item class="talk_item_u">
                <div class="talk_user">
                    <img src="/wechat/web/images/test.jpg" alt="">
                </div>
                <div class="talk_r">
                    <div class="talk_con clearfix">
                        <div class="content normal">
                            <p>个性签名个性签名 | 现在我们已经成为好友，可以开始聊天了！</p>
                        </div>
                    </div>
                </div>
            </ion-item>
            <!-- 固定item/ -->

            <!-- 图片 -->
            <ion-item class="talk_item_u">

                <div class="talk_user">
                    <img src="/wechat/web/images/test.jpg" alt="">
                </div>
                <div class="talk_r">
                    <div class="talk_con clearfix">
                        <div class="content normal">
                            <span class="pic">

                                <ion-slide-box>
                                    <ion-slide>
                                        <img src="/wechat/web/images/test2.jpg">
                                    </ion-slide>
                                </ion-slide-box>

                            </span>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="talk_item_m">

                <div class="talk_user">
                    <img src="/wechat/web/images/test.jpg" alt="">
                </div>

                <div class="talk_r">
                    <div class="talk_con clearfix">
                        <div class="content normal">
                            <span class="pic"><img src="/wechat/web/images/test2.jpg"></span>
                        </div>
                    </div>
                </div>
            </ion-item>
            <!-- 图片/-->

            <!-- 语音 -->
            <ion-item class="talk_item_m">

                <div class="talk_user">
                    <img src="/wechat/web/images/test.jpg" alt="">
                </div>

                <div class="talk_r">
                    <div class="talk_con clearfix">
                        <div class="content normal voice">

                            <div class="voice_con">
                                <i class="icon-bhy-msg-voice voice_icon"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="talk_item_u">

                <div class="talk_user">
                    <img src="/wechat/web/images/test.jpg" alt="">
                </div>
                <div class="talk_r">
                    <div class="talk_con clearfix">
                        <div class="content normal voice">

                            <div class="voice_con">
                                <i class="icon-bhy-msg-voice voice_icon"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </ion-item>
            <!-- 语音/ -->

            <!-- 红包 -->
            <ion-item class="talk_item_m">

                <div class="talk_user">
                    <img src="/wechat/web/images/test.jpg" alt="">
                </div>

                <div class="talk_r">

                    <div class="talk_con clearfix">
                        <div class="content normal bri" ng-click="draw_bri(vo.id,vo.type,vo.status)">
                           <div class="bri_con clearfix">
                                <div class="icon-bhy-bribery bri_con_icon"></div>
                                <div class="bri_con_txt">
                                    <p>恭喜发财恭喜发财恭</p>
                                    <p>领取红包</p>
                                </div>
                           </div>
                        </div>
                    </div>

                </div>
            </ion-item>

            <ion-item class="talk_item_u">

                <div class="talk_user">
                    <img src="/wechat/web/images/test.jpg" alt="">
                </div>
                <div class="talk_r">
                    <div class="talk_con clearfix">
                        <div class="content normal bri">
                            <div class="bri_con clearfix">
                                <div class="icon-bhy-bribery bri_con_icon"></div>
                                <div class="bri_con_txt">
                                    <p>恭喜发财恭喜发财恭</p>
                                    <p>领取红包</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <!-- 红包/ -->

            <ion-item class="talk_item_m">
                <div class="r_warning" ng-if="u_novalidate">
                    <p><i class="ion-alert-circled assertive fs14 warning_ico"></i>王先生 | 会员123456 您好，对方还未在本站验证身份，需谨慎交流！</p>
                </div>
                <div class="talk_user">
                    <img src="/wechat/web/images/test.jpg" alt="">
                </div>
                <div class="talk_r">
                    <div class="talk_con clearfix">
                        <div class="content normal">
                            <p>个性签名个性签名 | 现在我们已经成为好友，可以开始聊天了！</p>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="clearfix" ng-class="{true:'talk_item_u',false:'talk_item_m'}[sendId==vo.send_user_id]"
                      ng-repeat="vo in historyList track by vo.id">
                <div class="s_date">
                    <p class="line" ng-if="$index%5==0">{{vo.time*1000|date:'yyyy-MM-dd:HH:mm:ss'}}</p>
                </div>
                <div class="talk_user">
                    <img src="/wechat/web/images/test.jpg" alt="">
                </div>
                <div class="talk_r">
                    <div class="talk_con clearfix">
                        <div class="content normal">
                            <p>{{vo.message}}</p>
                            <!--<p ng-if="vo.type=='send'">{{vo.message}}</p>-->
                            <!--<p ng-if="vo.type=='pic'">{{vo.message}}</p>-->
                            <!--<p ng-if="vo.type=='record'">{{vo.message}}</p>-->
                            <!--<p ng-if="vo.type=='xxx'">{{vo.message}}</p>-->
                        </div>
                    </div>
                </div>
            </ion-item>
            <!--<ion-item class="clearfix talk_item_m">-->
            <!--<div class="talk_user">-->
            <!--<img src="/wechat/web/images/test1.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="talk_r">-->
            <!--<div class="talk_con clearfix">-->
            <!--<div class="content normal">-->
            <!--<p>在啊。你是？</p>-->
            <!--</div>-->
            <!--<div class="status">-->
            <!--<span class="read">已读</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</ion-item>-->
            <!--<ion-item class="clearfix talk_item_u">-->
            <!--<div class="talk_user">-->
            <!--<img src="/wechat/web/images/test.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="talk_r">-->
            <!--<div class="talk_con clearfix">-->
            <!--<div class="content normal">-->
            <!--<p>我是你哥！</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</ion-item>-->
            <!--<ion-item class="clearfix talk_item_m">-->
            <!--<div class="talk_user">-->
            <!--<img src="/wechat/web/images/test1.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="talk_r">-->
            <!--<div class="talk_con clearfix">-->
            <!--<div class="content normal">-->
            <!--<p>我是你爹</p>-->
            <!--</div>-->
            <!--<div class="status">-->
            <!--<span class="read">已读</span>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
            <!--</ion-item>-->
            <!--<ion-item class="clearfix talk_item_m">-->
            <!--<div class="s_date">-->
            <!--<p class="line">16:45</p>-->
            <!--</div>-->
            <!--<div class="talk_user">-->
            <!--<img src="/wechat/web/images/test1.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="talk_r">-->
            <!--<div class="talk_con clearfix">-->
            <!--<div class="content normal">-->
            <!--<p>还在吗？</p>-->
            <!--</div>-->
            <!--<div class="status">-->
            <!--<span class="delivered">送达</span>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
            <!--</ion-item>-->
            <!--<ion-item class="clearfix talk_item_m">-->
            <!--<div class="talk_user">-->
            <!--<img src="/wechat/web/images/test1.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="talk_r">-->
            <!--<div class="talk_con clearfix">-->
            <!--<div class="content normal">-->
            <!--<p>还在吗？说话呀！</p>-->
            <!--</div>-->
            <!--<div class="status">-->
            <!--<img class="loading" src="/wechat/web/images/loading.gif">-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
            <!--</ion-item>-->
            <!--<ion-item class="clearfix talk_item_m">-->
            <!--<div class="talk_user">-->
            <!--<img src="/wechat/web/images/test1.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="talk_r">-->
            <!--<div class="talk_con clearfix">-->
            <!--<div class="content normal">-->
            <!--<p>对不起，我错了。</p>-->
            <!--</div>-->
            <!--<div class="status">-->
            <!--<span class="lost ion ion-alert "></span>-->
            <!--</div>-->

            <!--</div>-->

            <!--</div>-->
            <!--</ion-item>-->
        </ion-list>
    </ion-content>


    <div class="msg_footer bhy com_w_100">
        <div class="common">
            <button class="button button-icon fl" ng-class="{'voice':'ion-ios-keypad-outline txt_btn','txt':'ion-ios-mic-outline voice_btn'}[talk_type]" ng-click="changeType()"></button>
            <button class="button button-icon ion-plus-circled positive multi_btn fl" ng-click="showMulti()"></button>
            <div class="talk_txt" ng-show="talk_type=='txt'">
                <p>
                    <input type="text" ng-model="message" class="input_area">
                </p>
            </div>
            <div class="talk_voice" ng-show="talk_type=='voice'">
                <p>
                    <input type="button"  class="button button-block button-light talk_voice_btn" value="按住说话" on-touch="start_record()" on-release="send_record()">
                </p>
            </div>
            <button class="button button-balanced send_btn fr" ng-click="send()">发送</button>
        </div>
        <div class="multi_con pr" ng-show="multi">
            <ul>
                <li><img src="/wechat/web/images/picture.jpg" ng-click="send_pic()"> </li>
                <li><img src="/wechat/web/images/bribery.jpg" ng-click="briberyModal.show()"></li>
            </ul>
        </div>
    </div>

    <input type="file" id="pic_fileInput" class="pic_fileInput" nv-file-select=""  uploader="uploader" accept="image/*" />
</div>

<script id="briberyModal.html" type="text/ng-template">
    <ion-modal-view ng-controller="message.childBriberyController">
        <ion-header-bar>
            <a href="javascript:;" ng-click="briPageHide()" class="button button-icon ">关闭</a>
            <title class="title">发红包</title>
        </ion-header-bar>
        <ion-content class="bribery has-header">
            <div class="list">
                    <label class="item item-input">
                        <span class="input-label">红包金额</span>
                        <input type="number" placeholder="请填写金额" class="tar bri_money_input" ng-model="input_money" ng-keyup="valMoney(this.input_money)">
                        <a class="button button-icon">元</a>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">留言</span>
                        <input type="text" placeholder="恭喜发财"></label>
                    <label class="item tac">
                        <span class="bri_money">{{money | currency:'￥'}}</span>
                    </label>
                    <div class="item tac">
                        <input type="button" class="button button-block" ng-class="{true:'bri_dsbd',false:'button-assertive'}[btnStatus]" ng-disabled="btnStatus" value="塞钱进红包" ng-click="bri_submit()">
                    </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>