<link href="/wechat/web/css/chat.css" rel="stylesheet">
<div ng-controller="message.chat" ng-cloak>

    <ion-header>
        <div class="bar bar-header bhy com_w_100">
            <a class="button button-icon icon ion-arrow-left-c" href="/wap/message"></a>
            <h1 class="title">正在与 李小姐 聊天</h1>
            <button class="button button-icon" href="/wap/message">关注</button>
        </div>
    </ion-header>

    <ion-content class="bhy com_w_100 has-header has-footer chat" data-ng-init="scrollBot()">
            <ion-list>
                <ion-item class="clearfix talk_item_u">
                    <div class="s_date">
                        <p class="line">16-04-11 16:28</p>
                    </div>
                    <div class="talk_user">
                        <img src="/wechat/web/images/test.jpg" alt="">
                    </div>
                    <div class="talk_r">
                        <div class="talk_con clearfix">
                            <div class="content normal">
                                <p>你好，请问在吗？</p>
                            </div>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="clearfix talk_item_m">
                    <div class="talk_user">
                        <img src="/wechat/web/images/test1.jpg" alt="">
                    </div>
                    <div class="talk_r">
                        <div class="talk_con clearfix">
                            <div class="content normal">
                                <p>在啊。你是？</p>
                            </div>
                            <div class="status">
                               <span class="read">已读</span>
                            </div>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="clearfix talk_item_u">
                    <div class="talk_user">
                        <img src="/wechat/web/images/test.jpg" alt="">
                    </div>
                    <div class="talk_r">
                        <div class="talk_con clearfix">
                            <div class="content normal">
                                <p>我是你哥！</p>
                            </div>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="clearfix talk_item_m">
                    <div class="talk_user">
                        <img src="/wechat/web/images/test1.jpg" alt="">
                    </div>
                    <div class="talk_r">
                        <div class="talk_con clearfix">
                            <div class="content normal">
                                <p>我是你爹</p>
                            </div>
                            <div class="status">
                                <span class="read">已读</span>
                            </div>
                        </div>

                    </div>
                </ion-item>
                <ion-item class="clearfix talk_item_m">
                    <div class="s_date">
                        <p class="line">16:45</p>
                    </div>
                    <div class="talk_user">
                        <img src="/wechat/web/images/test1.jpg" alt="">
                    </div>
                    <div class="talk_r">
                        <div class="talk_con clearfix">
                            <div class="content normal">
                                <p>还在吗？</p>
                            </div>
                            <div class="status">
                               <span class="delivered">送达</span>
                            </div>
                        </div>

                    </div>
                </ion-item>
                <ion-item class="clearfix talk_item_m">
                    <div class="talk_user">
                        <img src="/wechat/web/images/test1.jpg" alt="">
                    </div>
                    <div class="talk_r">
                        <div class="talk_con clearfix">
                            <div class="content normal">
                                <p>还在吗？说话呀！</p>
                            </div>
                            <div class="status">
                                <img class="loading" src="/wechat/web/images/loading.gif">
                            </div>
                        </div>

                    </div>
                </ion-item>
                <ion-item class="clearfix talk_item_m">
                    <div class="talk_user">
                        <img src="/wechat/web/images/test1.jpg" alt="">
                    </div>
                    <div class="talk_r">
                        <div class="talk_con clearfix">
                            <div class="content normal">
                                <p>对不起，我错了。</p>
                            </div>
                            <div class="status">
                                <span class="lost ion ion-alert "></span>
                            </div>

                        </div>

                    </div>
                </ion-item>
            </ion-list>
    </ion-content>


        <div class="msg_footer bhy com_w_100">
            <div class="common">
                <button class="button button-icon ion-ios-mic-outline voice_btn fl"></button>
                <button class="button button-icon ion-plus-circled positive multi_btn fl" ng-click="showMulti()"></button>
                <div class="talk_txt">
                    <p>
                        <input type="text" class="input_area">
                    </p>
                </div>

                <button class="button button-balanced send_btn fr">发送</button>
            </div>
            <div class="multi_con pr" ng-show="multi">
                <ul>
                    <li><img src="/wechat/web/images/picture.jpg"></li>
                    <li><img src="/wechat/web/images/bribery.jpg"></li>
                    <li><img src="/wechat/web/images/gift.jpg"></li>
                </ul>
            </div>
        </div>
</div>