<div class="com_w_100" ng-controller="message.index">
    <ion-header>
        <div class="bar bar-header com_w_100 " ng-cloak>
            <div class="pa msg_type_pop" ng-show="popShow">
                <p>
                    <!--<a href="javascript:;">所有联系人</a>-->
                    <a href="javascript:;">我关注的人</a>
                    <a href="javascript:;">谁关注了我</a>
                    <a href="javascript:;">最近联系人</a>
                </p>
            </div>
            <h1 class="title">消息中心</h1>
            <a href="javascript:;" ng-click="pop_toggle()" class="button button-icon "
               ng-class="{true:'red-point',false:''}[isFollow]">联系人<i
                    class="ml5 fs14"
                    ng-class="{true:'ion-android-arrow-dropup',false:'ion-android-arrow-dropdown'}[popShow]"></i>
            </a>
        </div>
    </ion-header>

    <ion-content ng-cloak class="has-header has-footer bhy-has-footer message">
        <ion-list show-delete="shouldShowDelete">
            <ion-item collection-repeat="item in items track by item.id" item="item" href="/wap/message/chat?id={{item.id}}">
                <div class="row">
                    <div class="msg_u_img mr20 pr fl">
                        <img class="item_uimg rounded" src="/wechat/web/images/test.jpg" width="56" height="56">
                        <i class="info_nb">12</i>
                    </div>
                    <p style="width: 65%;" class="">
                        <span class="fwb fs14 mr10 lh28">李小姐</span>
                        <span class="identity sfz lh28">身份证</span>
                        <span class="identity phone lh28">手机</span>
                        <span class="dbl fs12 lh28 msg_text"><span class="mr20">[23岁 未婚]</span>第四幅国画丢分韩国幅国画丢分规划法规和使得法国斯蒂芬个的</span>
                    </p>
                    <span class="send_time dbl">2016-03-20 11:01:33</span>
                </div>
                <ion-option-button class="button-assertive" ng-click="removeItem(item)">
                删除
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</div>