<ion-view ng-init="delTitle='删除';">
    <ion-header-bar class="com_w_100">
        <!-- <div class="pa msg_type_pop" ng-show="popShow">
             <p>
                 <a class="button" href="#/main/member/follow?type=follow">我关注的人</a>
                 <a class="button" href="#/main/member/follow?type=followed">谁关注了我</a>
             </p>
         </div>-->
        <h1 class="title">消息中心</h1>
        <button class="button button-icon" ng-click="shouldShowDelete = !shouldShowDelete; shouldShowDelete ? delTitle='完成' : delTitle='删除';" ng-bind="delTitle"></button>
        <!--<a href="javascript:;" ng-click="pop_toggle()" class="button button-icon "
           ng-class="{true:'red-point',false:''}[isFollow]">联系人<i
                class="ml5 fs14"
                ng-class="{true:'ion-android-arrow-dropup',false:'ion-android-arrow-dropdown'}[popShow]"></i>
        </a>-->
    </ion-header-bar>

    <ion-content class="has-header bhy-has-footer message">
        <ion-list show-delete="shouldShowDelete">
            <!--  href="#/chat1?id={{messageInfo.other}}&head_pic={{messageInfo.info.head_pic}}&real_name={{messageInfo.info.real_name}}&sex={{messageInfo.sex}}&age={{messageInfo.info.age}}" -->
            <ion-item ng-if="indexFilter(messageInfo.other)" ng-repeat="messageInfo in messageList track by messageInfo.id" href="#/chat1?id={{messageInfo.other}}&head_pic={{messageInfo.info.head_pic}}&real_name={{messageInfo.info.real_name}}&sex={{messageInfo.sex}}&age={{messageInfo.info.age}}">
                <ion-delete-button class="ion-minus-circled" ng-click="removeItem(messageInfo)"></ion-delete-button>
                <div class="row">
                    <div class="msg_u_img mr20 pr fl">
                        <img class="item_uimg rounded" ng-src="{{messageInfo.info.head_pic | isNull}}" width="56" height="56"
                             onerror="this.src='/wechat/web/images/no_img.png'">
                        <i class="info_nb"
                           ng-if="messageInfo.receive_user_id == userInfo.id && messageInfo.sumSend > 0">{{messageInfo.sumSend}}</i>
                    </div>
                    <p style="width: 65%;" class="">
                        <span class="fwb fs14 mr10 lh28" ng-if="messageInfo.info.real_name">{{messageInfo.info.real_name | sex:messageInfo.sex :messageInfo.info.age}}</span>
                        <span class="fwb fs14 mr10 lh28"
                              ng-if="!messageInfo.info.real_name">会员ID:{{messageInfo.other}}</span>
                        <span ng-if="honesty(messageInfo.honesty_value)" class="identity id">身份证</span>
                        <span ng-if="messageInfo.phone" class="identity phone">手机</span>
                        <span ng-if="messageInfo.info.level == 1" class="identity vip">VIP</span>
                        <span ng-if="messageInfo.info.level == 2" class="identity guest">贵宾</span>
                        <span ng-if="messageInfo.info.level == 3" class="identity diamond">钻石</span>
                        <span class="dbl fs12 lh28 msg_text">
                            <span class="mr20" ng-if="messageInfo.info.age">[{{messageInfo.info.age | timeToAge}} {{messageInfo.info.is_marriage | marriage}}]</span>
                            <span class="mr20" ng-if="!messageInfo.info.age">[{{messageInfo.info.age}} {{messageInfo.info.is_marriage | marriage}}]</span>{{messageInfo.message | messageFilter}}</span>
                    </p>
                    <span class="send_time dbl">{{messageInfo.time | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                </div>

            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-stable">
        <a class="menuBtn" href="/wap/site/main#/index">
            <i class="icon-new-menu-home"></i>
            <p>首页</p>
        </a>
        <a class="menuBtn cur" href="/wap/site/main#/message">
            <i class="icon-new-menu-bubble">
                <span ng-if="msgNumber" class="msg_number">{{msgNumber}}</span>
            </i>
            <p>消息</p>
        </a>
        <a class="menuBtn" href="/wap/site/main#/member">
            <i class="icon-new-menu-user"></i>
            <p>个人</p>
        </a>
        <a class="menuBtn" href="/wap/site/main#/discovery">
            <i class="icon-new-menu-eye"></i>
            <p>发现</p>
        </a>
        <!--<a class="menuBtn" href="/wap/site/main#/rendezvous">
            <i class="icon-new-menu-heart"></i>
            <p>约会</p>
        </a>-->
    </ion-footer-bar>

</ion-view>