.ad_reg_con{
    min-width: 320px;
    width: 100%;
    max-width: 640px;
}
.ad_reg_bg{
    background: #eeeeee;
}
.ad_reg_logo{
    background: url("/ad/images/logo.png") no-repeat center;
    width: 100%;
    height: 100px;
}
.ad_reg_form{
    width: 290px;
    margin: 15px auto 0;
}
.reg_input_phone{
    background: #fff;
}
.reg_input_phone .phone_icon{
    margin:0 5px 0 10px;
}
.reg_input_phone input{
    border: 0 none;
    width: 290px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-top: 12px;
    font-size: 14px;
    color: #999;
}
.reg_input_code{
    background: #fff;
    margin-top: 10px;
}
.reg_input_code input{
    border: 0 none;
    font-size: 14px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-top: 12px;
    width: 181px;
    color: #999;
}
.reg_input_code .getCode{
    background: #7ecef4;
    border: 0 none;
    color: #fff;
    float: right;
    padding: 13px 5px;
}
.reg_submit{
    margin-top: 20px;
}
.reg_submit button{
    background: #ec4e43;
    border: 0;
    color: #fff;
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    width: 100%;
}
.pic_list{
    max-width: 100%;
    margin: 20px auto 0;
}
.pic_list img{
    max-width: 100%;
}
.pic_list .col-xs-3{
    padding: 0;
}
.pic_list .row{
    margin: 0;
}
.show_pic_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.7;
    left: 0;
    top: 0;
    z-index: 97;
    display: none;
}
.show_pic_box{
    width: 100%;
    display: none;
    z-index: 98;
    position: absolute;
    left: 0;
    top: 0;
}
.big_pic{
    width: 159px;
    margin: 0 auto;
    text-align: center;
}
.pic_describe{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #353535;
    width: 100%;
    background: rgba(255,255,255,0.5);
}
.next{
    text-align: center;
    margin-top: 16px;
}
.next_btn{
    border: 1px dashed #da7d7c;
    color: #ec4e43;
    display: inline-block;
    font-weight: bold;
    padding: 4px 12px;
    cursor: pointer;
}
.disabd{
    background: #cccccc !important;
}
.submit_alert_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    left: 0;
    top: 0;
    z-index: 97;
}
.submit_alert{
    position: absolute;
    width: 300px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -150px;
    z-index: 98;
}

.submit_alert .alt_bg{
    background: url("/ad/images/submit_bg.png") no-repeat;
    width: 100%;
    height: 313px;
}

.submit_alert .alt_con{
    padding-top: 42px;
    text-align: center;
}
.submit_alert .alt_con .alt_t1{
    color: #ff3b4b;
}
.submit_alert .alt_con .alt_t2,.submit_alert .alt_con .alt_t3{
    color: #007fcf;
}
.submit_alert .alt_con .alt_t1 img,.submit_alert .alt_con .alt_t1 span{
    vertical-align: middle;
}
.alert_subBtn{
    width: 100%;
}
.subBtn{
    background: url("/ad/images/sub_btn.png") no-repeat center;
    width: 127px;
    height: 48px;
    margin: 0 auto;
    display: block;
}
.submit_alert_bg,.submit_alert{
    display: none;
}
.reg_input_sex span{
    background: #fff none repeat scroll 0 0;
    color: #999;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 140px;
    cursor: pointer;
}
.reg_input_sex{
    margin-bottom: 10px;
    width: 100%;
}
.reg_input_sex>span.selected{
    color: #000;
}