<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>嘉瑞百合缘后台管理系统-登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- STYLESHEETS --><!--[if lt IE 9]>
    <script src="/backend/web/CloudAdmin/js/flot/excanvas.min.js"></script>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="/backend/web/CloudAdmin/css/cloud-admin.css">

    <link href="/backend/web/CloudAdmin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css"
          href="/backend/web/CloudAdmin/js/bootstrap-daterangepicker/daterangepicker-bs3.css"/>
    <!-- UNIFORM -->
    <link rel="stylesheet" type="text/css" href="/backend/web/CloudAdmin/js/uniform/css/uniform.default.min.css"/>
    <!-- ANIMATE -->
    <link rel="stylesheet" type="text/css" href="/backend/web/CloudAdmin/css/animatecss/animate.min.css"/>
    <!-- FONTS -->
    <link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
</head>
<body class="login">
<!-- PAGE -->
<section id="page">
    <!-- HEADER -->
    <header>
        <!-- NAV-BAR -->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div id="logo">
                        <a href="/admin"><img src="/backend/web/CloudAdmin/img/logo/jrbhy.png" height="30"
                                              alt="logo name"/></a>
                    </div>
                </div>
            </div>
        </div>
        <!--/NAV-BAR -->
    </header>
    <!--/HEADER -->
    <!-- LOGIN -->
    <section id="login" class="visible">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-box-plain">
                        <h2 class="bigintro">百合缘后台管理系统</h2>
                        <div class="divide-40"></div>
                        <form id="login-form" role="form" name="login" method="post" action="/backend/web/login">
                            <div class="form-group">
                                <label for="exampleInputEmail1">用户名</label>
                                <i class="fa fa-envelope"></i>
                                <input type="text" name="username" class="form-control" id="exampleInputEmail1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">密码</label>
                                <i class="fa fa-lock"></i>
                                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="form-actions">
                                <!--                                <label class="checkbox"> <input type="checkbox" class="uniform" value=""> 记住密码</label>-->
                                <button type="button" class="btn btn-danger login-submit">登录</button>
                            </div>
                            <!-- SOCIAL LOGIN -->
                            <div class="divide-20"></div>
                        </form>
                        <!-- /SOCIAL LOGIN -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/LOGIN -->

</section>
<!--/PAGE -->
<!-- JAVASCRIPTS -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- JQUERY -->
<script src="/backend/web/CloudAdmin/js/jquery/jquery-2.0.3.min.js"></script>
<!-- JQUERY UI-->
<script src="/backend/web/CloudAdmin/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<!-- BOOTSTRAP -->
<script src="/backend/web/CloudAdmin/bootstrap/js/bootstrap.min.js"></script>
<!-- layer -->
<script src="/backend/web/CloudAdmin/layer/layer.js"></script>

<!-- UNIFORM -->
<script type="text/javascript" src="/backend/web/CloudAdmin/js/uniform/jquery.uniform.min.js"></script>
<!-- CUSTOM SCRIPT -->
<script src="/backend/web/CloudAdmin/js/script.js"></script>
<script>
    jQuery(document).ready(function () {
        App.setPage("login");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>
<script type="text/javascript">
    function swapScreen(id) {
        jQuery('.visible').removeClass('visible animated fadeInUp');
        jQuery('#' + id).addClass('visible animated fadeInUp');
    }

    $(window).keydown(function (event) {
        switch (event.keyCode) {
            case 13:
                $('.login-submit').click();
                break;
        }
    });

    //提交验证
    $('.login-submit').click(function () {
        var btn = $(this);
        var form = $(document.login);
        var username = $('input[name="username"]', form);
        var password = $('input[name="password"]', form);
        username = $.trim(username.val());
        password = $.trim(password.val());

        if (username == '') {
            layer.msg('用户名不能为空');
            return false;
        }
        if (password == '') {
            layer.msg('密码不能为空');
            return false;
        }

        $.ajax({
            type: 'POST',
            url: '/admin/login',
            data: 'name=' + username + '&&password=' + password,
            dataType: 'json',
            beforeSend: function () {
                btn.prop('disabled', true);
            },
            success: function (data) {
                if (data.status) {
                    layer.msg(data.msg, {
                        icon: 1, time: 1000
                    }, function () {
                        location.href = "/admin/site";
                    });

                } else {
                    layer.msg(data.msg);
                    btn.prop('disabled', false);
                }
            },
            error: function () {
                layer.msg('网络连接错误，请稍后重试！');
                btn.prop('disabled', false);
            }
        });

        //form.submit();
    });
</script>
<!-- /JAVASCRIPTS -->
</body>
</html>