/*
 *  移动端公共样式
*/



.pr{position:relative;}
.pa{position:absolute;}

.tdn{text-decoration: none;}
.o_h{overflow:hidden;}

.hr_1{height:1px;background:#E3DBDA;overflow:hidden;display:none;}
.hr_1px{height:1px;}
.hr_10{height:10px;}
.hr_20{height:20px;}
.hr_30{height:30px;}
.hr_40{height:40px;}

.lh11{line-height: 11px;}
.lh20{line-height: 20px;}
.lh24{line-height: 24px;}
.lh28{line-height: 28px;}
.lh36{line-height: 36px;}
.lh40{line-height: 40px;}
.lh48{line-height: 48px;}
.hr_2{height:2px;}
.bg_corF0{background:#F0F0F0;}
.bg_n{background:none;}
.main_bg{background:#F0F0F0;}
.top_shadow_g{box-shadow:0px -2px 3px #EAEAEA;}
.p_20_8{padding:20px 8px;}
.p_0_8{padding:20px 8px;}
.p_10_18{padding:10px 18px;}
.p_0_15{padding:0 15px;}
.p_0_20{padding:0 20px;}
.p_0_10{padding:0 10px;}
.p_15_0{padding:15px 0;}
.pt_10{padding-top:20px;}
.p_b_33{padding-bottom:33px;}
.p_20_0{padding:20px 0;}
.p_0_10{padding:0 10px;}
.p_10_10{padding:10px 10px;}
.pt20{padding-top:20px;}
.p10{padding-bottom:10px;}
.pb25{padding-bottom:25px;}
.pl18{padding-left:18px;}
.pl20{padding-left:20px;}
.p14{padding:14px;}
.mar_r8{margin-right:8px;}
.mar_r_23{margin-right:23px;}
.mr3{margin-right:3px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr30{margin-right:30px;}
.mr30{margin-right:30px;}
.mr20{margin-right:20px;}
.mb0{margin-bottom:0;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.m15_10{margin:15px auto 10px auto;}
.mt5{ margin-top: 5px;}
.mt10{ margin-top: 10px;}
.mt15{ margin-top: 15px;}
.mt20{ margin-top: 20px;}
.mt30{ margin-top: 30px;}
.mt40{ margin-top: 40px;}
.mt50{ margin-top: 50px;}


.ml5{ margin-left: 5px;}
.ml10{ margin-left: 10px;}
.ml15{ margin-left: 15px;}
.ml20{ margin-left: 20px;}
.ml25{ margin-left: 25px;}
.ml30{ margin-left: 30px;}
.bor_0{ border: 0;}
.bor{border-top:#F0D9E3 1px solid;border-bottom:1px solid #DCDCDC;}
.bor_btm{border-bottom:1px solid #DCDCDC;}
.bor_btm2{border-bottom:#d4d4d4 1px solid;}
.bbd1{border-bottom:1px dashed #d9d9d9;}
.bor_1s{ border: 1px solid;}

.cor0{color: #fff;}
.cor1{color:#fd4359;}
.cor2{color:#ad7e24;}
.cor3{color:#459b17;}
.cor4{color:#999999;}
.cor5{color:#9b9b9b;}
.cor6{color:#4d4d4d;}
.cor7{color:#494949;}
.cor8{color:#666666;}
.cor9{color:#4ec1ff;}
.cor10{color:#888888;}
.cor11{color:#555555;}
.cor12{color:#9da3b2;}
.cor13{color:#fc6ea2;}
.cor14{color:#444444;}
.cor15{color:#ff485c;}
.cor16{color:#fc6da2;}
.cor17{color:#999999;}
.cor18{color:#2e2d44;}
.cor19{color:#616161;}
.cor20{color:#909090;}
.cor21{color:#e4007f;}
.cor22{color:#9f9696;}
.cor23{color:#fad085;}
.cor24{color:#f4af37;}
.cor25{color:#61cffd;}
.cor26{color:#1eaeea;}
.cor27{color:#feb44b;}
.cor28{color:#f09c26;}
.cor29{color:#20a987;}
.cor30{color:#109675;}
.cor31{color:#ff9292;}
.cor32{color:#f06c6c;}
.cor33{color:#f08e1a;}
.cor34{color:#BBBBBB;}
.cor35{color:#66CC66;}
.cor36{color:#f4f4f4;}
.cor37{color:#33475f;}
.cor38{color:#cc66ff ;}

.fs11{ font-size: 11px;}
.fs12{ font-size: 12px;}
.fs14{ font-size: 14px;}
.fs16{ font-size: 16px;}
.fs18{ font-size: 18px;}
.fs20{ font-size: 20px;}
.fs22{ font-size: 22px;}
.fs24{ font-size: 24px;}
.fs26{ font-size: 26px;}
.fs28{ font-size: 28px;}
.fs30{ font-size: 30px;}
.fs50{ font-size: 50px;}

.fwn{font-weight:normal;}
.tal{text-align:left}
.toe{text-overflow: ellipsis;}
.com_w_100{width:100%;min-width:320px;}
.w100{width: 100%;}
.w50{width: 50%;}
.mw50{max-width: 50%;}
.mr0a{margin:0 auto;}
.dl{display:inline;}
.dbl{display:block;}
.m_10_0{margin:10px auto;}
.fl{ float: left;}
.fr{ float: right;}
.fn{ float: none;}
.ml0{margin-left: 0 !important;}
.mr0{margin-right: 0 !important;}
.pl0{padding-left: 0 !important;}
.pr0{padding-right: 0 !important;}
.pl15{ padding-left: 15px;}
.pl16{padding-left: 16px;}
.pr16{padding-right: 16px;}
.pl10{padding-left: 10px;}
.pl5{padding-left: 5px;}
.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}
.bhy_item{ padding: 8px 16px;}
.bhy_item_b{ padding:8px 16px 0 16px;}
.bhy_textarea{ min-height: 80px}
.ti24{text-indent: 24px}
.bor_r_n{border-right:none;}
.bor_b_n{border-bottom:none;}
.bor_l_n{border-left:none;}
.bor_t_n{border-top:none;}
.bor_r_1{ border-right: 1px solid #a2a2a2;}
.bor_r_1c{ border-right: 1px solid #ccc;}
.pd5{ padding: 0 5px;}
.cbh{clear:both;}

.comm_bg_1{ background-color: #111111;!important;}
.comm_bg_2{ background-color: #222222;!important;}
.comm_bg_3{ background-color: #333333;!important;}
.comm_bg_4{ background-color: #444444;!important;}
.comm_bg_5{ background-color: #555555;!important;}
.comm_bg_6{ background-color: #666666;!important;}
.comm_bg_7{ background-color: #777777;!important;}
.comm_bg_8{ background-color: #888888;!important;}
.comm_bg_9{ background-color: #999999;!important;}
.comm_bg_a{ background-color: #aaaaaa;!important;}
.comm_bg_b{ background-color: #bbbbbb;!important;}
.comm_bg_c{ background-color: #cccccc;!important;}
.comm_bg_d{ background-color: #dddddd;!important;}
.comm_bg_e{ background-color: #eeeeee;!important;}
.comm_bg_f{ background-color: #ffffff;!important;}

.bhy{max-width: 640px; margin: 0 auto;}
.tac{ text-align: center;}
.tal{ text-align: left;}
.tar{ text-align: right;}
.form-group {  margin-bottom: 15px;}
.fwb{ font-weight: bold;}
.cp{ cursor: pointer;}
.dib{ display: inline-block;}
.sx{ padding: 3px;}
.vam{ vertical-align: middle;}


/*清除浮动*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}


/* 标准底部导航 */
.bhy-footer{ border-top: 1px solid #dcdcdc; }
#footer{ width: 100%;}
#footer li{ float: left; background-color: #fff;  height: 43px;  text-align: center;  width: 20%;}
#footer a.page,#footer a.page:hover,#footer a.page:active{height: auto;  line-height: 11px;  margin: 0 auto;  padding-left: 0;  padding-right: 0;  width: 90%;color: #666;  display: block;position: relative;  text-decoration: none;}
.m_red-point:after{  position: absolute;  content: ' ';  height: 6px;  width: 6px;  border-radius: 3px;  background-color: red;  }
.m_red-point:after{  top: 5px;  right: -5px;}
.msg-info-nb{  background: #ff2727;  border-radius: 50%;  color: #ffffff;  font-size: 9px;  height: 14px;  line-height: 14px;  position: absolute;  right: -11px;  text-align: center;  top: 1px;  width: 14px;  z-index: 1;}




/* 转圈动画 */
.ion-spin {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;  }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}
input[type="number"]{-moz-appearance:textfield;}





/* 字体图标 */
@font-face {
    font-family: 'bhy-font';
    src:    url('../fonts/icomoon.eot?6p7ue2');
    src:    url('../fonts/icomoon.eot?6p7ue2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6p7ue2') format('truetype'),
    url('../fonts/icomoon.woff?6p7ue2') format('woff'),
    url('../fonts/icomoon.svg?6p7ue2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="bhy-icon"], [class*="bhy-icon"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'bhy-font';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /*line-height: 1;*/

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bhy-icon-idt:before {
    content: "\e101";
}
.bhy-icon-edit:before {
    content: "\e102";
}
.bhy-icon-picture:before {
    content: "\e103";
}
.bhy-icon-marr:before {
    content: "\e104";
}
.bhy-icon-edu:before {
    content: "\e105";
}
.bhy-icon-estate .path1:before {
    content: "\e106";
    color: rgb(212, 76, 76);
}
.bhy-icon-estate .path2:before {
    content: "\e107";
    margin-left: -1em;
    color: rgb(212, 76, 76);
}
.bhy-icon-estate .path3:before {
    content: "\e108";
    margin-left: -1em;
    color: rgb(212, 47, 47);
}
.bhy-icon-estate .path4:before {
    content: "\e109";
    margin-left: -1em;
    color: rgb(212, 47, 47);
}
.bhy-icon-estate .path5:before {
    content: "\e10a";
    margin-left: -1em;
    color: rgb(212, 47, 47);
}
.bhy-icon-reviewed:before {
    content: "\e90a";
}
.bhy-icon-agree:before {
    content: "\e90b";
}
.bhy-icon-rec-bag:before {
    content: "\e90c";
}
.bhy-icon-send-bag:before {
    content: "\e90d";
}
.bhy-icon-withdraw:before {
    content: "\e90e";
}
.bhy-icon-legal:before {
    content: "\e90f";
}
.bhy-icon-rules:before {
    content: "\e910";
}
.bhy-icon-legal2:before {
    content: "\e911";
}
.bhy-icon-release:before {
    content: "\e912";
}
.bhy-icon-memeng:before {
    content: "\e913";
}
.bhy-icon-receng:before {
    content: "\e914";
}
.bhy-icon-ent:before {
    content: "\e915";
}
.bhy-icon-food:before {
    content: "\e916";
}
.bhy-icon-tour:before {
    content: "\e917";
}
.bhy-icon-moves:before {
    content: "\e918";
}
.bhy-icon-other:before {
    content: "\e919";
}
.bhy-icon-notsex:before {
    content: "\e91a";
}
.bhy-icon-man:before {
    content: "\e91b";
}
.bhy-icon-woman:before {
    content: "\e91c";
}
.bhy-icon-setout:before {
    content: "\e91d";
}
.bhy-icon-destination:before {
    content: "\e91e";
}
.bhy-icon-seout-time:before {
    content: "\e91f";
}
.bhy-icon-destination-time:before {
    content: "\e920";
}
.bhy-icon-cost:before {
    content: "\e921";
}
.bhy-icon-nomoney:before {
    content: "\e922";
}
.bhy-icon-mytreat:before {
    content: "\e923";
}
.bhy-icon-yourtreat:before {
    content: "\e924";
}
.bhy-icon-AA:before {
    content: "\e925";
}
.bhy-icon-flowers:before {
    content: "\e926";
}
.bhy-icon-ornament:before {
    content: "\e927";
}
.bhy-icon-occupation-01:before {
    content: "\e301";
    color: #fcb057;
}
.bhy-icon-occupation-02:before {
    content: "\e302";
    color: #73cb81;
}
.bhy-icon-occupation-03:before {
    content: "\e303";
    color: #76c6ff;
}
.bhy-icon-occupation-04:before {
    content: "\e304";
    color: #bde4ff;
}
.bhy-icon-occupation-05:before {
    content: "\e305";
    color: #9ebbbe;
}
.bhy-icon-occupation-06:before {
    content: "\e306";
    color: #e78a8a;
}
.bhy-icon-occupation-07:before {
    content: "\e307";
    color: #6cdce6;
}
.bhy-icon-occupation-08:before {
    content: "\e308";
    color: #f86b6b;
}
.bhy-icon-occupation-09:before {
    content: "\e309";
    color: #78bef0;
}
.bhy-icon-occupation-10:before {
    content: "\e310";
    color:#ef8ed0;
}
.bhy-icon-occupation-11:before {
    content: "\e311";
    color: #ec6c6c;
}
.bhy-icon-occupation-12:before {
    content: "\e312";
    color: #73d182;
}
.bhy-icon-occupation-13:before {
    content: "\e313";
    color: #76c6ff;
}
.bhy-icon-occupation-14:before {
    content: "\e314";
    color: #bde4ff;
}
.bhy-icon-occupation-15:before {
    content: "\e315";
    color: #ecbd86;
}
.bhy-icon-occupation-16:before {
    content: "\e316";
    color: #76c6ff;
}
.bhy-icon-occupation-17:before {
    content: "\e317";
    color: #e97070;
}
.bhy-icon-occupation-18:before {
    content: "\e318";
    color: #73d182;
}
.bhy-icon-occupation-19:before {
    content: "\e319";
    color: #e97070;
}
.bhy-icon-occupation-20:before {
    content: "\e320";
    color: #f08e1a;
}
.bhy-icon-occupation-21:before {
    content: "\e321";
    color: #73d182;
}
.bhy-icon-occupation-22:before {
    content: "\e322";
    color: #f88383;
}
.bhy-icon-occupation-23:before {
    content: "\e323";
    color: #99682e;
}
.bhy-icon-occupation-24:before {
    content: "\e324";
    color: #f08e1a;
}
.bhy-icon-occupation-25:before {
    content: "\e325";
    color: #bde4ff;
}
.bhy-icon-occupation-26:before {
    content: "\e326";
    color: #73d182;
}
.bhy-icon-occupation-27:before {
    content: "\e327";
    color: #76c6ff;
}
.bhy-icon-occupation-28:before {
    content: "\e328";
    color: #b6b6b6;
}
.bhy-icon-member-qq:before {
    content: "\e400";
}
.bhy-icon-member-blacklist:before {
    content: "\e402";
}
.bhy-icon-member-wechat:before {
    content: "\e401";
}
.bhy-icon-member-food:before {
    content: "\e215";
}
.bhy-icon-member-zuji-01:before {
    content: "\e214";
}
.bhy-icon-member-birthday:before {
    content: "\e213";
}
.bhy-icon-member-woman:before {
    content: "\e212";
}
.bhy-icon-member-menu-03:before {
    content: "\e203";
}
.bhy-icon-member-menu-06:before {
    content: "\e206";
}
.bhy-icon-member-menu-11:before {
    content: "\e211";
}
.bhy-icon-member-menu-07:before {
    content: "\e207";
}
.bhy-icon-member-menu-10:before {
    content: "\e210";
}
.bhy-icon-member-menu-09:before {
    content: "\e209";
}
.bhy-icon-member-menu-08:before {
    content: "\e208";
}
.bhy-icon-member-menu-01:before {
    content: "\e201";
}
.bhy-icon-member-menu-04:before {
    content: "\e204";
}
.bhy-icon-member-menu-02:before {
    content: "\e202";
}
.bhy-icon-member-menu-05:before {
    content: "\e205";
}
.bhy-icon-tips-02:before {
    content: "\e006";
}
.bhy-icon-tips-01:before {
    content: "\e005";
}
.bhy-icon-msg-voice:before {
    content: "\e004";
}
.bhy-icon-user-online:before {
    content: "\e001";
}
.bhy-icon-user-outline:before {
    content: "\e002";
}
.bhy-icon-bribery:before {
    content: "\e003";
}


.tab-item i{
    line-height: 32px;
}
.tab-item .tab-title{
    font-size: 10px;
    line-height: 14px;
    display: block;
}
.tab-item .bhy-icon-user-outline{
    line-height: 38px;
}
.tab-item.activated, .tab-item.active, .tab-item.tab-item-active{
    color: #e4007f;
}


.item{
    -webkit-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
}
/*动画开始前*/
.item.ng-enter{
    opacity:0;
}
/*动画过程*/
.item-ng-enter-active{
    opacity:1;
}
/*不同时出现*/
.item.ng-enter-stagger {
    transition-delay:0.5s;
    transition-duration:0;
}

.label{
    border-radius: 3px;
    background-color: #999999;
    color: #ffffff;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    padding: 2px 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}