.bhy-footer {
    display: none;
}
.tab-nav{
    display: none;
}

.chat {
    background: #f9f9f9;
}

.item {
    border: 0;
    background: #f9f9f9;
}

.talk_user {
    width: 42px;
    height: 42px;
}

.talk_item_u .talk_user {
    float: left;
    margin-right: 5%;
}

.talk_item_m .talk_user {
    float: right;
    margin-left: 5%;
}

.talk_user img {
    display: block;
    height: 100%;
    width: 100%;
}

.talk_r {
    max-width: 76%;
    position: relative;
}

.talk_item_u .talk_r {
    float: left;
}

.talk_item_m .talk_r {
    float: right;
}

.talk_item_u .talk_bg {
    /*padding-left: 12px;*/
}

.talk_item_m .talk_bg {
    /*padding-right: 12px;*/
}

.content {
    word-break: break-all;
    word-wrap: break-word;
}

.content p {
    color: #fff;
}

.talk_item_u .content {
}

.talk_item_u .content.normal::before {
    background: #0bacd3;
    content: "";
    display: block;
    height: 10px;
    left: -3px;
    position: absolute;
    top: 5px;
    transform: skew(30deg);
    width: 7px;
}

.talk_item_u .content.normal {
    background: #0bacd3;
    border-radius: 10px;
    color: #fff;
    float: left;
    font-size: 14px;
    margin-top: 10px;
    padding: 9px 15px;
    position: relative;
    word-break: break-all;
}

.talk_item_m .content.normal {
    background: #51bf87;
    border-radius: 10px;
    color: #fff;
    float: left;
    font-size: 14px;
    margin-top: 10px;
    padding: 9px 15px;
    position: relative;
    word-break: break-all;
}

.talk_item_m .content.normal::before {
    background: #51bf87;
    content: "";
    display: block;
    height: 10px;
    right: -3px;
    position: absolute;
    top: 5px;
    transform: skew(-30deg);
    width: 7px;
}

.talk_item_m .content {
}

.talk_r .content {
    border-radius: 5px;
    color: #3f3f3f;
    font-size: 14px;
    line-height: 20px;
    max-width: 100%;
    min-height: 20px;
    min-width: 50px;
    padding: 10px;
}

.talk_r .content > p {
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
}

.talk_r .status {
    height: 14px;
    left: -30px;
    position: absolute;
    top: 10px;
    width: 14px;
}

.talk_r .status span {
    font-size: 10px;
    color: #fff;
    padding: 2px;
}

.talk_r .status .loading {
    width: 14px;
    height: 14px;
    margin-left: 10px;
}

.talk_r .status .read {
    background: #387ef5;
}

.talk_r .status .delivered {
    background: #ffc900;
}

.talk_r .status .lost {
    color: #ef473a;
    background: none;
    font-size: 14px;
    padding: 0;
    margin-left: 15px;
}

.s_date {
}

.s_date .line {
    font-size: 12px;
    color: #9e9b9d;
    padding: 5px 0;
    text-align: center;
}

.chat .r_warning {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 15px;
}

.chat .r_warning p {
    color: #fff;
    font-size: 12px;
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
}

.chat .r_warning p .warning_ico {
    margin-right: 5px;
    vertical-align: top;
}

.chat .rated .rated_maker .marker_name{
    color: #666;
}


.chat .rated{
    background-color: #fffbed;
    max-width: 320px;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #fef4d1;
}

.chat .rated .rated_l{
    background: url("/wechat/web/images/rated_l.png") no-repeat;
    width: 37px;
    height: 78px;
    display: block;
    margin-right: 5px;
}
.chat .rated .rated_t{
    text-overflow: clip;
    white-space: normal;
    font-size: 12px;
    color: #9f9f9f;
}
.chat .rated .rated_t i{
    font-size: 15px;
    vertical-align: middle;
    margin-right: 3px;
}

.chat .rated .rated_maker{
    text-align: right;
    font-size: 12px;
}

.ok_btn, .ok_btn:hover {
    color: #33cd5f;
    cursor: pointer;
    display: block;
    font-size: 16px;
    line-height: 36px;
    width: 7%;
}

.voice_btn, .voice_btn:hover, .voice_btn:before {
    font-size: 32px;
    line-height: 38px;
    vertical-align: top;
    padding-left: 3px;
    padding-right: 2px;
    min-width: initial;
    min-height: 38px;
    z-index: 1;
}

.txt_btn, .txt_btn:hover, .txt_btn:before {
    font-size: 32px;
    line-height: 38px;
    vertical-align: top;
    padding-left: 1px;
    padding-right: 0;
    min-width: initial;
    min-height: 38px;
    z-index: 1;
}

.multi_btn, .multi_btn:before, .multi_btn:hover {
    color: #387ef5;
    font-size: 32px;
    line-height: 38px;
    vertical-align: top;
    padding: 0 2px;
    min-width: initial;
    z-index: 1;
    min-height: 38px;
}

.talk_txt, .talk_voice {
    position: absolute;
    text-align: center;
    padding: 0 11% 0 12%;
    width: 100%;
    top: 2px;
}

.talk_txt p {
    display: inline-block;
    left: 19.5%;
    line-height: 1.2em;
    padding: 1%;
    position: absolute;
    text-align: left;
    width: 60%;
    margin: 0;
}

.input_area {
    border-bottom: 1px solid #ddd !important;
    color: #333;
    font-size: 14px;
    width: 100%;
    border-radius: 0;
}

.talk_voice {

}

.talk_voice p {
    margin: 0;
    padding: 0 2% 0 12%;
}

.talk_voice p .talk_voice_btn {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin: 0;
    max-width: 89%;
}

.talk_voice p .talk_voice_btn:active {
    background-color: #bbb;
}

.send_btn {
    min-width: 44px !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    min-height: 35px;
    min-width: initial;
    padding: 0 8px;
    z-index: 1;
}

.msg_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-left: auto;
    height: auto;
    padding: 5px;
    background: #fff;
    min-height: 44px;
}

.msg_footer .common {
    height: 40px;
    line-height: 40px;
}

.multi_con {
    height: auto;
    max-height: 290px;
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    overflow: hidden;
}

.multi_con ul {
}

.multi_con ul li {
    float: left;
    margin: 3% 3.6%;
}

.multi_con ul li img {
    width: 50px;
    cursor: pointer;
}

/* 图片 */

.content .pic {
    display: block;
    cursor: pointer;
}

.content .pic img {
    max-width: 60px;
}

.pic_fileInput {
    display: none;
    visibility: hidden;
}

/* 红包 */
.bribery {
    background: #f9f9f9;
}

.bribery .bri_money_input {
    background: #fff;
    padding-right: 10px;
}

.bribery .bri_money {
    font-size: 38px;
}

.bribery .bri_dsbd {
    background: #ccc;
}

.content.bri {
    background-color: #f38111 !important;
    cursor: pointer;
}

.content.bri.normal::before {
    background-color: #f38111 !important;
}

.content .bri_con {
    max-width: 300px;
    min-width: 185px;
}

.content .bri_con .bri_con_icon {
    color: #eb4f38;
    font-size: 60px;
    float: left;
}

.content .bri_con .bri_con_txt {
    float: left;
}

.content .bri_con .bri_con_txt p {
    line-height: 28px;
    max-width: 125px;
    overflow: hidden;
    text-overflow: clip;
}

/* 语音 */
.content .voice_con {

}

.talk_item_m .content .voice_con .voice_icon {
    display: inline-block;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: rotateY(180deg);
    transform: scaleX(-1);
    /*IE*/
    filter: FlipH;
}

.talk_item_u .content .voice_con .voice_icon {
    display: inline-block;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
}

.voice {
    cursor: pointer;
}
.detailBg{
    background: url("/wechat/web/images/bri_bg.png") no-repeat center;
    width: 100%;
    height: 281px;
    background-color: rgba(0,0,0,0.4);
}

/* 领取红包detail */
.bri_big{
    background: url("/wechat/web/images/bri_big.png") no-repeat center;
    width: 200px;
    height: 249px;
    margin: 43% auto;
    position: relative;
}
.bri_big .bri_uimg{
    display: block;
    height: 50px;
    left: 37%;
    position: absolute;
    top: 32px;
    width: 50px;
}

.bri_big .bri_uimg img{
    max-width: 100%;
    border: 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0 3px 3px #a11914;
    -moz-box-shadow: 0 3px 3px #a11914;
    box-shadow: 0 3px 3px #a11914;
}

.bri_big .bri_t{
    color: #f8d856;
    display: block;
    left: 50px;
    max-width: 120px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 100px;
}

.bri_big .bri_t .bri_u_name{

}
.bri_big .bri_t .bri_u_name2{
    font-size: 12px;
}
.bri_big .bri_btn{
    display: block;
    position: absolute;
    bottom: 20px;
    left: 55px;
}
.bri_big .bri_closeBtn{
    background-color: #ad1200;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 24px;
    position: absolute;
    right: -9px;
    text-align: center;
    top: -12px;
    width: 24px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.bri_big .bri_closeBtn i{
    position: absolute;
    top: 2px;
    left: 6px;
}

/* 打开红包，查看红包 */
.openBri_bg{
    background-color: #d84e43;
    border-radius: 0 0 100% 100%;
    min-height: 100px;
    min-width: 320px;
    width: 100%;
    position: relative;
}
.openBri_bg .openBri_uimg{
    border-radius: 50%;
    bottom: -40px;
    display: block;
    height: 80px;
    left: 38%;
    overflow: hidden;
    position: absolute;
    width: 80px;
}

.openBri_bg .openBri_uimg img{
    max-width: 100%;
}

.openBri_con{
    margin: 50px 0 0;
    text-align: center;
}
.openBri_con .openBri_name{
    font-size: 14px;
    color: #666;
}
.openBri_con .openBri_name2{
    font-size: 12px;
    color: #cccccc;
}
.openBri_con .openBri_money{
    font-size: 32px;
    color: #d84e43;
    line-height: 80px;
}
.openBri_con .openBri_disc,.openBri_con .openBri_account{
    color: #4a6bad;
}
.openBri_con .openBri_line{
    height: 1px;
    width: 100%;
    border-top: 1px solid #d9d9d9;
}
.openBri_account{
    line-height: 80px;
}
.openBri_account a,.openBri_account a:hover{
    text-decoration: none;
}
.chat_mask{
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    position: fixed;
}
.pic_zoom{
    left: 50%;
    margin-left: -140px;
    top: 8%;
    position: absolute;
}
.pic_z_c {
    background: #ffffff;
    display: table;
    height: 340px;
    width: 280px;
}

.pic_z_c_s {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.pic_z_c_s img {
    max-height: 430px;
    max-width: 280px;
    vertical-align: middle;
}
.pic_closeBtn{
    border-radius: 15px;
    height: 30px;
    right: -15px;
    top: -15px;
    width: 30px;
    display: block;
    cursor: pointer;
}

.pic_closeBtn i{
    color: #fff;
    font-size: 18px;
    left: 8px;
    position: absolute;
    top: 4px;
}