.bhy-footer {
    display: none;
}

.chat {
    background: #f9f9f9;
}

.item {
    border: 0;
    background: #f9f9f9;
}

.talk_user {
    width: 42px;
    height: 42px;
}

.talk_item_u .talk_user {
    float: left;
    margin-right: 5%;
}

.talk_item_m .talk_user {
    float: right;
    margin-left: 5%;
}

.talk_user img {
    display: block;
    height: 100%;
    width: 100%;
}

.talk_r {
    max-width: 76%;
    position: relative;
}

.talk_item_u .talk_r {
    float: left;
}

.talk_item_m .talk_r {
    float: right;
}

.talk_item_u .talk_bg {
    /*padding-left: 12px;*/
}

.talk_item_m .talk_bg {
    /*padding-right: 12px;*/
}

.content {
    word-break: break-all;
    word-wrap: break-word;
}

.content p {
    color: #fff;
}

.talk_item_u .content {
}

.talk_item_u .content.normal::before {
    background: #0bacd3;
    content: "";
    display: block;
    height: 10px;
    left: -3px;
    position: absolute;
    top: 5px;
    transform: skew(30deg);
    width: 7px;
}

.talk_item_u .content.normal {
    background: #0bacd3;
    border-radius: 10px;
    color: #fff;
    float: left;
    font-size: 14px;
    margin-top: 10px;
    padding: 9px 15px;
    position: relative;
    word-break: break-all;
}

.talk_item_m .content.normal {
    background: #51bf87;
    border-radius: 10px;
    color: #fff;
    float: left;
    font-size: 14px;
    margin-top: 10px;
    padding: 9px 15px;
    position: relative;
    word-break: break-all;
}

.talk_item_m .content.normal::before {
    background: #51bf87;
    content: "";
    display: block;
    height: 10px;
    right: -3px;
    position: absolute;
    top: 5px;
    transform: skew(-30deg);
    width: 7px;
}

.talk_item_m .content {
}

.talk_r .content {
    border-radius: 5px;
    color: #3f3f3f;
    font-size: 14px;
    line-height: 20px;
    max-width: 100%;
    min-height: 20px;
    min-width: 50px;
    padding: 10px;
}

.talk_r .content > p {
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
}

.talk_r .status {
    height: 14px;
    left: -30px;
    position: absolute;
    top: 10px;
    width: 14px;
}

.talk_r .status span {
    font-size: 10px;
    color: #fff;
    padding: 2px;
}

.talk_r .status .loading {
    width: 14px;
    height: 14px;
    margin-left: 10px;
}

.talk_r .status .read {
    background: #387ef5;
}

.talk_r .status .delivered {
    background: #ffc900;
}

.talk_r .status .lost {
    color: #ef473a;
    background: none;
    font-size: 14px;
    padding: 0;
    margin-left: 15px;
}

.s_date {
}

.s_date .line {
    font-size: 12px;
    color: #9e9b9d;
    padding: 5px 0;
    text-align: center;
}

.chat .r_warning {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 15px;
}

.chat .r_warning p {
    color: #fff;
    font-size: 12px;
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
}

.chat .r_warning p .warning_ico {
    margin-right: 5px;
    vertical-align: top;
}

.ok_btn, .ok_btn:hover {
    color: #33cd5f;
    cursor: pointer;
    display: block;
    font-size: 16px;
    line-height: 36px;
    width: 7%;
}

.voice_btn, .voice_btn:hover, .voice_btn:before {
    font-size: 32px;
    line-height: 38px;
    vertical-align: top;
    padding-left: 3px;
    padding-right: 2px;
    min-width: initial;
    min-height: 38px;
    z-index: 1;
}

.txt_btn, .txt_btn:hover, .txt_btn:before {
    font-size: 32px;
    line-height: 38px;
    vertical-align: top;
    padding-left: 1px;
    padding-right: 0;
    min-width: initial;
    min-height: 38px;
    z-index: 1;
}

.multi_btn, .multi_btn:before, .multi_btn:hover {
    color: #387ef5;
    font-size: 32px;
    line-height: 38px;
    vertical-align: top;
    padding: 0 2px;
    min-width: initial;
    z-index: 1;
    min-height: 38px;
}

.talk_txt, .talk_voice {
    position: absolute;
    text-align: center;
    padding: 0 11% 0 12%;
    width: 100%;
    top: 2px;
}

.talk_txt p {
    display: inline-block;
    left: 19.5%;
    line-height: 1.2em;
    padding: 1%;
    position: absolute;
    text-align: left;
    width: 60%;
    margin: 0;
}

.input_area {
    border-bottom: 1px solid #ddd !important;
    color: #333;
    font-size: 14px;
    width: 100%;
    border-radius: 0;
}

.talk_voice {

}

.talk_voice p {
    margin: 0;
    padding: 0 2% 0 12%;
}

.talk_voice p .talk_voice_btn {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin: 0;
    max-width: 89%;
}

.talk_voice p .talk_voice_btn:active {
    background-color: #bbb;
}

.send_btn {
    min-width: 44px !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    min-height: 35px;
    min-width: initial;
    padding: 0 8px;
    z-index: 1;
}

.msg_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-left: auto;
    height: auto;
    padding: 5px;
    background: #fff;
    min-height: 44px;
}

.msg_footer .common {
    height: 40px;
    line-height: 40px;
}

.multi_con {
    height: auto;
    max-height: 290px;
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    overflow: hidden;
}

.multi_con ul {
}

.multi_con ul li {
    float: left;
    margin: 3% 3.6%;
}

.multi_con ul li img {
    width: 50px;
    cursor: pointer;
}

/* 图片 */

.content .pic {
    display: block;
    cursor: pointer;
}

.content .pic img {
    max-width: 60px;
}

.pic_fileInput {
    display: none;
    visibility: hidden;
}

/* 红包 */
.bribery {
    background: #f9f9f9;
}

.bribery .bri_money_input {
    background: #fff;
    padding-right: 10px;
}

.bribery .bri_money {
    font-size: 38px;
}

.bribery .bri_dsbd {
    background: #ccc;
}

.content.bri {
    background-color: #f38111 !important;
    cursor: pointer;
}

.content.bri.normal::before {
    background-color: #f38111 !important;
}

.content .bri_con {
    max-width: 300px;
    min-width: 185px;
}

.content .bri_con .bri_con_icon {
    color: #eb4f38;
    font-size: 60px;
    float: left;
}

.content .bri_con .bri_con_txt {
    float: left;
}

.content .bri_con .bri_con_txt p {
    line-height: 28px;
    max-width: 125px;
    overflow: hidden;
    text-overflow: clip;
}

/* 语音 */
.content .voice_con {

}

.talk_item_m .content .voice_con .voice_icon {
    display: inline-block;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: rotateY(180deg);
    transform: scaleX(-1);
    /*IE*/
    filter: FlipH;
}

.talk_item_u .content .voice_con .voice_icon {
    display: inline-block;
    -moz-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
}

.voice {
    cursor: pointer;
}