/* discovery */
.discovery .item ul.am-gallery {
  padding-left: 0;
  margin-left: -5px;
}
/* released */
.gallery_handle {
  width: 100%;
  height: auto;
}
.gallery_handle .imgItem {
  width: 90px;
  height: 90px;
  margin-right: 2%;
  margin-bottom: 1%;
  float: left;
}
.gallery_handle .imgItem img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.gallery_handle .imgItem.add {
  background-color: #f5f5f5;
  display: table;
  text-align: center;
  cursor: pointer;
}
.gallery_handle .imgItem.add > i {
  font-size: 50px;
  vertical-align: middle;
  display: table-cell;
  color: #ddd;
}
.dis_taInput {
  width: 100%;
  height: 60px;
  resize: none;
  border: 1px solid #ccc;
  padding: 4px;
  margin-top: 10px;
}
.likeNumber.anm {
  transform: scale(1.5, 1.5);
}
.likeNumber {
  transition: all 0.2s linear 0s;
}
.disabled_tip {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: table-cell;
  text-align: center;
  left: 0;
  top: 0;
  z-index: 999;
}
.disabled_tip .tip {
  display: block;
  font-size: 18px;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -18px;
  margin-left: -80px;
}
/* single */
div.text {
  border: 1px solid #ddd;
  height: 32px;
  width: 100%;
  position: relative;
  display: inline-block;
}
div.text input {
  padding-left: 5px;
  height: 30px;
  padding-right: 60px;
  float: left;
  width: 100%;
}
div.text .private {
  position: absolute;
  right: 5px;
  width: 50px;
  margin-top: 5px;
  text-align: center;
}
button.send {
  width: 55px !important;
}
