/* discovery */
.discovery .item ul.am-gallery {
  padding-left: 0;
  margin-left: -5px;
}
.slider-pager .slider-pager-page {
  color: #fff;
}
/* released */
.gallery_handle {
  width: 100%;
  height: auto;
}
.gallery_handle .imgItem {
  width: 90px;
  height: 90px;
  margin-right: 2%;
  margin-bottom: 1%;
  float: left;
  position: relative;
}
.gallery_handle .imgItem img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.gallery_handle .imgItem.add {
  background-color: #f5f5f5;
  display: table;
  text-align: center;
  cursor: pointer;
}
.gallery_handle .imgItem.add > i {
  font-size: 50px;
  vertical-align: middle;
  display: table-cell;
  color: #ddd;
}
.discovery .newMsg {
  background-color: #666666;
  border-radius: 99px;
  color: #fff;
  font-size: 14px;
  padding: 5px 8px;
  text-decoration: none;
}
.gallery_handle .imgItem .del {
  position: absolute;
  right: -11px;
  top: -11px;
  font-size: 22px;
  z-index: 99;
}
p.txt {
  color: #999;
}
.dis_taInput {
  width: 100%;
  height: 60px;
  resize: none;
  border: 1px solid #ccc;
  padding: 4px;
  margin-top: 10px;
}
.likeNumber.anm {
  transform: scale(1.5, 1.5);
}
.likeNumber {
  transition: all 0.2s linear 0s;
}
.disabled_tip {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: block;
  text-align: center;
  left: 0;
  top: 0;
  z-index: 999;
}
.disabled_tip .tip {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -22px;
  margin-left: -100px;
  font-size: 22px;
}
/* single */
div.text {
  border: 1px solid #ddd;
  height: 32px;
  width: 100%;
  position: relative;
  display: inline-block;
}
div.text input {
  padding-left: 5px;
  height: 30px;
  padding-right: 60px;
  float: left;
  width: 100%;
}
div.text .private {
  position: absolute;
  right: 5px;
  width: 50px;
  margin-top: 5px;
  text-align: center;
}
button.send {
  width: 55px !important;
}
.discovery .item-thumbnail-left {
  padding-left: 76px !important;
}
.discovery .item-thumbnail-left > img:first-child {
  max-width: 56px;
  max-height: 56px;
}
.dis_gallery {
  width: 100%;
}
.dis_gallery > a {
  display: block;
  max-width: 31%;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
.am-comment .private {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 5;
}
.discovery_gallery a.imgItem {
  margin-right: 15px;
  margin-bottom: 15px;
}
