/* discovery */
.discovery .item ul.am-gallery{
  padding-left: 0;
  margin-left: -5px;
}
.dis_u_img {
  float: left;
  width: 20%;
}
.dis_u_img img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.dis_con {
  float: left;
  margin-left: 15px;
  width: 74%;
}
.dis_con .dis_con_name {
  border-bottom: 1px solid #ededed;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.dis_con_t p {
  text-overflow: inherit;
  white-space: normal;
}
.dis_con_p {
  margin-top: 10px;
}
.dis_con_p .pic {
  border-radius: 5px;
  display: block;
  float: left;
  margin-bottom: 5px;
  margin-right: 3%;
  overflow: hidden;
  width: 30%;
}
.dis_con_p span:last-child {
  margin-right: 0;
}
.dis_con_p .pic img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.dis_con_b {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}
.comment{

}
.comment .comment_time{
  font-size: 12px;
  color: #666;
}
.comment p{
  white-space: normal;
}
#expression{
  color: #f09c26;
}
#comment_textInput{
  width: 100%;
  height: 39px;
  line-height: 40px;
  padding-left: 10px;
  margin: 2px 0;
  font-size: 14px;
}
#publish{
  background: #387ef5;
  color: #fff;
}
.comment_footer .private{
  font-size: 16px;
  line-height: 34px;
  margin-right: 5px;
  cursor: pointer;
}

/* released */
.gallery_handle{
  width: 100%;
  height: auto;
}
.gallery_handle .imgItem{
  width: 90px;
  height: 90px;
  margin-right: 2%;
  margin-bottom: 1%;
  float: left;
}
.gallery_handle .imgItem img{
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.gallery_handle .imgItem.add{
  background-color: #f5f5f5;
  display: table;
  text-align: center;
  cursor: pointer;
}
.gallery_handle .imgItem.add>i{
  font-size: 50px;
  vertical-align: middle;
  display: table-cell;
  color: #ddd;
}
.dis_taInput{
  width: 100%;
  height: 60px;
  resize: none;
  border: 1px solid #ccc;
  padding: 4px;
  margin-top: 10px;
}
.likeNumber.anm{
  transform: scale(1.5, 1.5);
}
.likeNumber{
  transition: all 0.2s linear 0s;
}

.disabled_tip{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: table-cell;
  text-align: center;
  left: 0;
  top: 0;
  z-index: 999;
}
.disabled_tip .tip{
  display: block;
  font-size: 18px;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -18px;
  margin-left: -80px;
}