.bds0 {
  border: 1px solid #000000;
}
/* welcome */
.wc_bg {
  background: url("/wechat/web/images/login/welcome.jpg") no-repeat top;
  background-size: 100% 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  overflow: hidden;
}
.logo_box {
  width: 218px;
  height: 73px;
  top: 50px;
}
.logo_title {
  color: #e18d05;
}
.ft_box {
  bottom: 10px;
  left: 0;
  padding: 0 10px;
}
.reg_btn {
  text-decoration: underline;
  color: inherit;
}
.reg_btn:hover {
  color: inherit;
}
/* login */
.login_bg {
  background: url("/wechat/web/images/login/login_bg.jpg") no-repeat top;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  overflow: hidden;
}
.login_box {
  margin: 45px 15px;
}
.login_title {
  height: 36px;
  line-height: 36px;
}
.login_title .t_f {
  font-size: 1.42857em;
}
.t_line {
  height: 8px;
  border-top: 1px solid #b2949d;
  width: 30%;
  display: inline-block;
}
.login_form {
  width: 80%;
}
.login_form .icon-input {
  color: #ea8214;
  display: block !important;
  font-size: 20px;
  height: 20px;
  margin: 9px 2px 4px 10px;
  position: absolute !important;
  text-align: center;
  width: 20px;
  z-index: 1;
}
.login_form i.ck {
  color: #fff;
}
.login_form .forgetpass:hover {
  text-decoration: none;
  color: #fff;
}
.login_form .check_pass {
  cursor: pointer;
}
.login_input {
  margin: 0;
  min-width: 0;
  padding-bottom: 8px;
  padding-left: 33px !important;
  padding-right: 8px;
  padding-top: 10px;
  width: 100%;
}
.login_input {
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  display: block;
  font-size: 14px;
  height: 38px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  width: 100%;
}
.third-party {
  display: inline-block;
  background: url("/wechat/web/images/login/third-party.png") no-repeat;
  width: 68px;
  height: 68px;
  margin-right: 3%;
}
a.qq {
  background-position: left top;
}
a.wechat {
  background-position: -1px -68px;
}
a.weibo {
  background-position: -1px -136px;
}
.third-party:last-child {
  margin-right: 0;
}
/* register */
.getCode,
.getCode:hover,
.getCode:focus {
  background: #1b9af7;
  padding: 9px 8px;
  border: medium none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.dslb,
.dslb:hover,
.dslb:focus {
  color: #ccc;
  background: #eee;
}
.agree,
.agree:hover {
  color: #00adef;
  text-decoration: none;
}
.check {
  background: url("/wechat/web/images/uncheck.png") no-repeat center;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 10px;
}
i.checked {
  background: url("/wechat/web/images/check.png") no-repeat center;
}
.sex {
  vertical-align: top;
}
