@media screen and (max-width: 360px) {
  .member_hdr {
    padding: 8px;
  }
}
@media screen and (max-width: 350px) {
  .member_hdr .small_hdr_info {
    display: block;
  }
  .member_hdr .hdr_info {
    display: none;
  }
}
.member {
  background-color: #f9f9f9;
}
.member_hdr {
  padding-top: 20px;
  margin-bottom: 10px;
  position: relative;
}
.member_hdr .u_img {
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.member_hdr .u_img img {
  max-width: 100%;
  max-height: 100%;
}
.member_hdr .u_info p {
  font-size: 12px;
}
.member_hdr .u_info p.u_id {
  color: #9f9696;
}
.hdr_info_btn {
  border: 1px solid #ddd;
  width: 56px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #f9f9f9;
  padding-left: 10px;
}
.small_hdr_info {
  display: none;
}
.small_hdr_info .button {
  margin-top: 12px;
}
.hdr_tips {
  margin-left: -16px;
  width: 108%;
  margin-top: 10px;
  background-color: #69b1f3;
}
.hdr_tips .tips {
  color: #fff;
  line-height: 32px;
  padding-left: 15px;
  width: 95%;
}
.member_menu_i {
  float: left;
  width: 24px;
  height: 24px;
  text-align: center;
}
.member_menu_i i {
  color: #fff;
  display: block;
  font-size: 18px;
  margin-top: 4px;
}
.member_menu_i.per {
  background: #f17272;
}
.member_menu_i.follow {
  background: #b34ab4;
}
.member_menu_i.eng {
  background: #ff7c7c;
}
.member_menu_i.marker {
  background: #f4af36;
}
.member_menu_i.privacy {
  background: #6db9ff;
}
.member_menu_i.security {
  background: #64c041;
}
.member_menu_i.honesty {
  background: #82c3ff;
}
.member_menu_i.vip {
  background: #f4af36;
}
.member_menu_i.vip i {
  font-size: 24px;
  margin-top: 1px;
}
.member_menu_i.money {
  background: #df4e4e;
}
.member_menu_i.money i {
  margin-top: 3px;
  margin-left: -1px;
}
.member_menu_i.about,
.member_menu_i.help {
  background: #d3d3d3;
}
.personal_info {
  margin-bottom: 10px;
}
.honesty_info {
  margin-bottom: 10px;
}
.menu_name {
  float: left;
  margin-left: 15px;
}
.menu_name p {
  font-size: 16px;
  line-height: 24px;
}
.menu_arrow {
  float: right;
}
.menu_arrow i {
  font-size: 20px;
  color: #9f9696;
  margin-right: 6px;
}
.item .item-content {
  padding: 16px;
}
/* information */
.infomation .list {
  background-color: #f9f9f9;
}
.infomation .idt {
  padding: 5px 15px;
}
.imgList_con {
  max-width: 640px;
  margin: 0 auto;
  background: url("/wechat/web/images/test/imgList_bg.jpg") no-repeat;
  height: auto;
  width: 100%;
  overflow: hidden;
}
.imgList_con .imgList_handle {
  padding: 2% 4%;
}
.imgList_con .imgList_handle .imgItem {
  width: 24%;
  height: auto;
  overflow: hidden;
  float: left;
  position: relative;
  margin-right: 1%;
  margin-bottom: 1%;
  border-radius: 10%;
}
.imgList_con .tip {
  color: #999;
}
.imgList_con .imgList_handle .imgItem .removepic {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 15%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.imgList_con .imgList_handle .imgItem .removepic i {
  font-size: 14px;
  color: #888;
}
.imgList_con .imgList_handle .imgItem .headpic {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(228, 127, 208, 0.8);
  color: #fff;
  font-size: 12px;
  line-height: 1.4;
}
.imgList_con .imgList_handle .imgItem img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.info_l {
  float: left;
  margin-right: 7%;
  width: 20%;
}
.info_l p {
  text-align: right;
  color: #b7b7b7;
}
.info_l .dyn_nb {
  font-size: 16px;
  text-align: center;
}
.info_c {
  float: left;
  width: 66%;
}
.info_c p {
  color: #434343;
}
.info_c .dyn_img_list .dyn_img,
.info_c .gift_list .gift_img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  float: left;
  margin-right: 2%;
}
.info_r {
  float: right;
}
.info_r i {
  font-size: 22px;
  color: #b6b6b6;
}
.list .idv a {
  background-color: #eaeaea !important;
  padding: 8px 16px;
}
.list .idv .info_c {
  width: 90%;
}
.list .idv .info_c p {
  color: #9b9a99;
}
.info_c .gift_t {
  color: #676767;
}
.hobby {
  max-height: 154px;
  padding-top: 10px;
  background-color: #fff;
}
.hobby .hobby_bg {
  width: 100%;
  height: auto;
}
.hobby .hobby_bg img {
  max-width: 100%;
  vertical-align: middle;
}
.hobby_t .h_t_b {
  width: 100%;
  background-color: #f9f9f9;
}
.hobby_t .h_t_b .h_t_t {
  display: block;
  width: 45%;
  background-color: #eaeaea;
}
