
@media screen and (max-width: 350px) {
  .member_hdr .small_hdr_info {
    display: block;
  }

  .member_hdr .hdr_info {
    display: none;
  }
}


.member {
  background-color: #f9f9f9;
}

.member .member_hdr {
  position: relative;
  padding: 0;
}

.member_hdr .u_img {
  width: 75px;
  height: 75px;
  overflow: hidden;
}

.member_hdr .u_img img {
  max-width: 100%;
  max-height: 100%;
}

.member_hdr .u_info p {
  font-size: 12px;
}

.member_hdr .u_info p.u_id {
  color: #9f9696;
}

.hdr_info_btn {
  border: 1px solid #ddd;
  width: 56px;
  height: 36px;
  line-height: 34px;
  text-align: center;
  background: #f9f9f9;
  padding-left: 10px;
  display: block;
  text-decoration: none;
  color: #666;
  font-size: 14px;
}


.small_hdr_info {
  display: none;
}

.small_hdr_info .button {
  margin-top: 12px;
}

.hdr_tips {
  background-color: #69b1f3;
  width: 100%;
  display: block;
}

.hdr_tips .tips {
  color: #fff;
  line-height: 32px;
  margin-bottom: 0;
  padding-right: 23px;
  width: 100%;
}

.member_menu_i, .privacy_menu_i, .security_menu_i {
  float: left;
  width: 24px;
  height: 24px;
  text-align: center;
}

.member_menu_i i, .privacy_menu_i i, .security_menu_i i {
  color: #fff;
  display: block;
  font-size: 18px;
  margin: 3px;

}

.member_menu_i.per {
  background: #f17272;
}

.member_menu_i.follow {
  background: #b34ab4;
}

.member_menu_i.eng {
  background: #ff7c7c;
}

.member_menu_i.marker {
  background: #f4af36;
}

.member_menu_i.privacy {
  background: #6db9ff;
}

.menu_name .new{
  background: #eb4f38;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  padding: 0 2px;
}

.privacy_menu_i.info{
  background: #e4007f;
}
.privacy_menu_i.pic, .security_menu_i.pass {
  background: #f08e1a;
}

.privacy_menu_i.per, .security_menu_i.phone {
  background: #f17272;
}

.privacy_menu_i.wx, .security_menu_i.wx {
  background: #64c041;
}

.privacy_menu_i.qq, .security_menu_i.qq {
  background: #6db9ff;
}

.privacy_menu_i.black {
  background: #9e9e9e;
}

.security_menu_i.weibo {
  background: #fd4359;
}

.member_menu_i.security {
  background: #64c041;
}

.member_menu_i.honesty {
  background: #82c3ff;
}

.member_menu_i.vip {
  background: #f4af36;
}

.member_menu_i.vip i {
  font-size: 28px;
  margin-left: -1px;
  margin-top: 3px;
}

.member_menu_i.money {
  background: #df4e4e;
}

.member_menu_i.money i {
  margin-left: 1px;
  margin-top: 2px;
}

.member_menu_i.about, .member_menu_i.help {
  background: #d3d3d3;
}

.personal_info {
  margin-bottom: 10px;
}

.follow_info {

}

.engagements_info {

}

.marker_info {

}

.privacy_info {

}

.security_info {

}

.honesty_info {
  margin-bottom: 10px;
}

.vip_info {

}

.money_info {

}

.about_info {

}

.help_info {

}

.menu_name {
  float: left;
  margin-left: 15px;
}

.menu_name p {
  font-size: 16px;
  line-height: 24px;
}

.menu_arrow {
  float: right;

}

.menu_arrow i {
  font-size: 20px;
  color: #9f9696;
  margin-right: 6px;
}

.menu_arrow .badge.r15{
  right: 15px;
}


.member .item .item-content, .privacy .item-content, .security .item-content, .honesty .item-content {
  padding: 16px;
}

/* information */
.m_bg {
  bottom: 0;
}

.dynamicImg li{
  float: left;
  margin-right: 5px;
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.dynamicImg .dynamicImg-item{
  width: 100%;
}
.dynamicImg .dynamicImg-item img{
  width: 100%;
}


.m_bg .list {
  background-color: #f9f9f9;
}

.infomation .idt {
  padding: 5px 15px;
}

.infomation canvas {
  background-color: #f3f3f3;
  -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
  -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
  box-shadow: 3px 3px 3px 0 #e3e3e3;
  border: 1px solid #c3c3c3;
  height: 100px;
  margin: 6px 0 0 6px;
}

.imgList_con {
  max-width: 640px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: url("/wechat/web/images/test/imgList_bg.jpg") no-repeat;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.imgList_con .imgList_handle {
  display: block;
  width: 100%;
}

.imgList_con .imgList_handle .imgItem {
  border-radius: 10%;
  display: block;
  float: left;
  max-height: 120px;
  margin-bottom: 1%;
  margin-right: 1%;
  position: relative;
  vertical-align: middle;
  width: 24%;
}

.imgList_con .imgList_handle .imgItem:nth-child(4n+4){
  margin-right: 0;
}
.imgList_handle .addItem{
  display: table;
}
.imgList_handle .addItem i{
  color: #fff;
  display: table-cell;
  font-size: 23vmin;
  opacity: 0.5;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.imgList_con .tip {
  color: #fff;
}

.imgList_con .imgList_handle .imgItem .headpic {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(228, 127, 208, 0.8);
  color: #fff;
  font-size: 12px;
  line-height: 1.4;
}
.item.item16>a,.item.item16f{
  padding: 16px 16px 16px 0 !important;
}
.imgList_con .imgList_handle .imgItem img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.info_l {
  float: left;
  margin-right: 7%;
  width: 22%;
}

.info_l p {
  text-align: right;
  color: #b7b7b7;
}

.info_l .dyn_nb {
  font-size: 16px;
  padding-right: 20px;
}

.info_c {
  float: left;
  width: 66%;
}

.info_c p {
  color: #434343;
}

.info_c p.null {
  color: #999999;
}

.info_c .dyn_img_list {

}

.info_c .dyn_img_list .dyn_img, .info_c .gift_list .gift_img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  float: left;
  margin-right: 2%;
}

.info_r {
  float: right;
}

.info_r i {
  font-size: 22px;
  color: #b6b6b6
}

.list .idv a {
  padding: 8px 16px;
  background-color: #387ef5 !important;
  color: white;
}

.list .idv .info_c {
  width: 90%;
}

.list .idv .info_c p {
  color: #9b9a99;
}

.info_c .gift_t {
  color: #676767;
}

.hobby {
  padding-top: 10px;
  background-color: #fff;
}

.hobby .hobby_bg {
  width: 100%;
  height: auto;
}

.hobby .hobby_bg img {
  max-width: 100%;
  vertical-align: middle;
}

.hobby_t .h_t_b {
  width: 100%;
  background-color: #f9f9f9;
  padding: 10px 0;
}

.hobby_t .h_t_b .h_t_t {
  background-color: #eaeaea;
  text-align: center;
  padding: 0 10px;
  border-radius: 30px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color: #999395;
}

.list .hob_item a {
  padding: 16px 16px 0
}

.info_l.hob {
  width: 90%;
}

.info_l.hob p {
  text-align: left;
  color: #434343;
}

.info_c.hob {
  width: 100%;
}

.hob_addr .hob_addr_i1, .hob_addr .hob_addr_i2, .hob_movie dl, .hob_food .hob_food_i {
  display: inline-block;
  position: relative;
}

.hob_addr, .hob_food, .hob_sport {
  margin: 10px 0 0;
  padding-left: 15px;
}

.hob_addr_flag {
  background-color: #61cffd;
}

.hob_delicacy_flag {
  background-color: #61cffd;
}

.hob_addr_flag, .hob_food_flag, .hob_sport_flag, .hob_tv_flag{
  cursor: pointer;
  padding: 1px 10px 1px 5px;
  font-size: 12px;
  color: #fff;
  border-radius: 10px;
  display: inline-block;
  float: left;
  margin-right: 3%;
  margin-bottom: 10px;
}

.hob_addr_flag .hob_addr_icon, .hob_food_flag .hob_food_icon {
  margin-right: 3px;
}

.hob_addr_flag.f2 {
  background-color: #feb44b;
}

.hob_food_flag {
  background-color: #ff9292;
}

.hob_sport_flag {
  background-color: #20a987;
}
.hob_tv_flag{
  background-color: #9966CC;
}

.hob_movie {
  padding-left: 15px;
  width: 101%;
}

.hob_movie dl {
  margin-bottom: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.hob_movie dl dt {
  width: 50px;
  height: 73px;
}
.t140{
  top: 140px !important;
}
.hob_movie dl dd {
  overflow: hidden;
  max-width: 50px;
}

.hob_movie dl dt img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.hob_food {
  padding-left: 15px;
}

.hob_food .hob_food_i {
  font-size: 70px;
  height: 22px;
  margin-right: 10px;
  margin-top: 15px;
  width: 70px;
  color: #ff9292;
}

.hob_food .hob_food_t {
  left: 25px;
  top: -5px;
}

.info_l.mate {
  width: 39%;
}

.info_c.mate {
  width: 40%;
}

.member_t {
  padding: 8px 0 0 16px;
  background-color: #f9f9f9;
}

/* dynamic */
.dyn_u_img {
  float: left;
  width: 20%;
}

.dyn_u_img img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.dyn_con {
  float: left;
  margin-left: 15px;
  width: 74%;
}

.dyn_con .dyn_con_name {
  border-bottom: 1px solid #ededed;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.dyn_con_t {

}

.dyn_con_t p {
  text-overflow: inherit;
  white-space: normal;
}

.dyn_con_p {
  margin-top: 10px;
}

.dyn_con_p .pic {
  width: 30%;
  float: left;
  display: block;
  margin-right: 3%;
}

.dyn_con_p span:last-child {
  margin-right: 0;
}

.dyn_con_p .pic img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.dyn_con_b {
  margin-top: 10px;
  font-size: 12px;
  color: #999;
}

.m_b_bg img {
  max-width: 100%;
}

.m_tips {

}

.m_tips p {
  color: #fc6ea2;
  font-size: 12px;
}

/* occupation */
.occupation .selected .o_l {
  color: #76c6ff;
}

.occupation .selected .o_r {
  color: #e82a94;
}

/* been_address */
.addr_top_box {
  width: 100%;
  //min-width: 70%;

}

.addr_top_box .hob_addr_flag {
  float: none;
}

.addr_top_search {
  min-width: 30%;
  max-width: 100%;
}

.addr_top_search .addr_top_searchInput {
  padding-left: 8px !important;
  padding-top: 0 !important;
  height: 30px !important;
  line-height: 30px !important;
  width: 100%;
  text-overflow: ellipsis;
}

.addr_type_tab {

}

.addr_type_tab span {
  display: block;
  float: left;
  height: 34px;
  line-height: 34px;
  margin: -5px 0 0;
  padding: 0 15px;
  text-align: center;
  cursor: pointer;
}

.addr_type_tab span.cur {
  color: #feb44b;
  background-color: #fff;
}

.sports .item .hob_sport_flag, .delicacy .item .hob_food_flag {
  float: none;
}

/* mate */
.mateText {
  resize: none;
  width: 100%;
  min-height: 100px;
}

/* follow */
.follow .item-content {
  padding-right: 8px;
}
.follow .tab-item.cur{
  color:#e4007f;
}

/* honesty_sfz */
.sfz_wrap ul{
  padding: 0;
}
.sfz_wrap ul li{
 text-align: center;
  float: left;
  width: 45%;
  margin: 0 5px;
  position: relative;
}

.sfz_wrap ul li .face,.sfz_wrap ul li .back{
  width: 100%;
  vertical-align: middle;
}

.zj_wrap .zj_w{
  width: 200px;
  height: 200px;
}

/* vip */
.vip_top_bg {
  background-color: #1d1d3c;
}
.item.vip_g .vip_g_t{
  width: 102px;
  color: #868686;
}
.item.vip_g .vip_g_b{
  top: 28px;
}

/* bribery */
.sum_money {
  background: url("/wechat/web/images/member/sum_money_bg.jpg") no-repeat;
  width: 100%;
  background-size: 100%;
}

.sum_money p {
  margin-bottom: 0;
}

.user_bri_rec_info {

}

.user_bri_rec_info .u_img {
  border-radius: 50%;
  vertical-align: middle;
}

.bri_item .name {
  font-size: 16px;
  color: #333;
}

.bri_item .time {
  color: #999999;
}

.user_bri_rec_info .date {
  position: absolute;
  right: 10px;
  top: 20px;
}

.user_bri_rec_info .date select {
  font-size: 18px;
  background: none;
  border: 0;
}
.bri_tabs .bri_tabs_btn.cur,.bri_tabs .bri_tabs_btn.cur:hover,.bri_tabs .bri_tabs_btn.cur:active{
  color: #e4007f;
}

/* bank_card */
.bankCard_t {
  text-decoration: none;
}

/* bribery_award */
.bribery .bri_money_input {
  font-size: 16px;
  padding-right: 8px;
}

.bribery .bri_txt_input {
  padding-left: 5px;
}

/* rendezvous */
.rendezvous {

}

.rendezvous .rendezvousBg img {
  max-width: 100%;
  vertical-align: middle;
}

.selectTool {
  background-color: #666666;
  position: absolute;
  right: 1%;
  width: 150px;
  z-index: 3;
  display: block;
}

.selectTool p {
  color: #fff;
  margin: 0;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  cursor: pointer;
}

.selectTool p.selected {
  background-color: #777777;
}

.selectTool b {
  display: block;
  overflow: hidden;
  width: 0px;
  height: 0px;
  border: 6px solid #eeeeee;
  border-color: #666666 #eeeeee;
  border-width: 0 6px 6px 6px;
  position: absolute;
  right: 10px;
  top: -6px;
}

.allTextLink {
  text-decoration: none;
}

.personalized_l{
  min-width: 60px;
}
.personalized_r{
  max-width: 72%;
}

/* matchmaker */
.matchmaker{

}
.maker_hdr{
  background: #e4007f;
  color: #fff;
}
.maker_info{
  position: absolute;
  right: 4%;
  top: -10px;
}
.hdr_tell_btn{
  background: #f57c7c;
  border-radius: 99px;
  cursor: pointer;
  display: table;
  height: 35px;
  position: absolute;
  right: 10%;
  top: 65px;
  width: 35px;
}
.hdr_tell_btn>i{
  color: #fff;
  display: table-cell;
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
}
.introduction{
  color: #666;
  padding: 16px;
  max-width: 100%;
  margin-top: 30px;
  position: relative;
}
.line{
  border-bottom: 1px dashed #ddd;
  margin: 0 10px;
}
.introduction.mk1{
  background: url("/wechat/web/images/member/maker1.png") no-repeat center top;
  height: 178px;
}

.introduction.mk2{
  background: url("/wechat/web/images/member/maker2.png") no-repeat center top;
  height: 211px;
}

.introduction.mk3{
  background: url("/wechat/web/images/member/maker3.png") no-repeat center top;
  height: 168px;
}

.maker_footer_btn,.maker_footer_btn:hover,.maker_footer_btn:active{
  background-color: #e4007f;
  color: #fff;
}

.maker_info_top{
  background: url("/wechat/web/images/member/maker_top.jpg") no-repeat;
  width: 100%;
  height: auto;
  vertical-align: middle;
  padding: 20px 0;
}

.maker_uimg{
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .5);
  border-radius: 99px;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
  width: 50px;
}
.maker_hdr_img{
  vertical-align: middle;
  width: 100%;
}

/* help */
.help{}
.help .help_banner{
  width: 100%;
}
.help .help_banner img{
  max-width: 100%;
  vertical-align: middle;
}
.help_text .title{
  margin-top: 15px;
}
.help_text>p{
  white-space: normal;
  margin-bottom: 12px;
}
.help_text>p.ti28{
  text-indent: 28px;
}

.help_protocol>p{
  text-indent: 28px;
  white-space: normal;
  margin-bottom: 12px;
}
.help_protocol>p.title1{
  text-indent: 0;
  font-size: 16px;
}
.help_protocol>p.title2{
  text-indent: 28px;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* about */
.about .title{
  font-size: 16px;
}

.about>p{
  white-space: normal;
  margin-bottom: 12px;
}

.remark{
  padding: 16px;
  color:#999;
}
.remark a,.remark a:hover,.remark a:active{
  color: #666;
  text-decoration: none;
}

#customize{
  border: 1px solid #ddd;
  border-radius: 3px;
  display: inline-block;
  margin-left: 10px;
  max-width: 120px;
  padding-left: 5px;
}

.w80>li{
  width: auto !important;
  clear: none !important;
}
.w80>li img{
  max-width: 80px;
  max-height: 80px;
}
.card_hosing{
  background: url("/wechat/web/images/member/card_housing.jpg") no-repeat center;
}
.card_edu{
  background: url("/wechat/web/images/member/card_edu.jpg") no-repeat center;
}
.card_mar{
  background: url("/wechat/web/images/member/card_mar.jpg") no-repeat center;
}
.card_hosing,.card_edu,.card_mar{
  border: 1px solid #ddd;
}

.help_rule .st1{
  background: url("/wechat/web/images/help_st1.jpg") no-repeat left center;
  height: 46px;
}
.help_rule .st2{
  background: url("/wechat/web/images/help_st2.jpg") no-repeat left center;
  height: 46px;
}

.help_rule .t1{
  color: #333;
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 28px;
  text-indent: 32px;
  white-space: normal;
}
.help_rule .bt{
  width: 100%;
}
.help_rule .bt>span{
  color: #fff;
  background-color:#e4007f;
  padding: 5px 10px;
  border-radius: 99px;
  font-size: 14px;
}
.info_safe .head{
  width: 50px;
}
.info_safe .msg_con{
  max-width: 74%;
}
.info_safe .msg{
  background: #57cd91;
  border-radius: 5px;
  height: auto;
}
.info_safe .msg .msg_t{
  background: #68d7a7;
  color: #096d3a;
  border-radius: 5px 5px 0 0;
}
.info_safe .msg .msg_c{
  color: #fff;
}
.info_safe .msg .msg_t,.info_safe .msg .msg_c{
  padding: 3px 6px;
}
.info_safe .msg_i{
  background: url("/wechat/web/images/msg_t_i.png") no-repeat;
  width: 11px;
  height: 14px;
  position: absolute;
  top: 6px;
  left: -11px;
  display: block;
}