@media screen and (max-width: 360px) {
  .member_hdr {
    padding: 8px;
  }
}
@media screen and (max-width: 350px) {
  .member_hdr .small_hdr_info {
    display: block;
  }
  .member_hdr .hdr_info {
    display: none;
  }
}
.member {
  background-color: #f9f9f9;
}
.member_hdr {
  padding-top: 20px;
  margin-bottom: 10px;
  position: relative;
}
.member_hdr .u_img {
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.member_hdr .u_img img {
  max-width: 100%;
  max-height: 100%;
}
.member_hdr .u_info p {
  font-size: 12px;
}
.member_hdr .u_info p.u_id {
  color: #9f9696;
}
.hdr_info_btn {
  border: 1px solid #ddd;
  width: 56px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #f9f9f9;
  padding-left: 10px;
}
.small_hdr_info {
  display: none;
}
.small_hdr_info .button {
  margin-top: 12px;
}
.hdr_tips {
  margin-left: -16px;
  width: 108%;
  margin-top: 10px;
  background-color: #69b1f3;
}
.hdr_tips .tips {
  color: #fff;
  line-height: 32px;
  padding-left: 15px;
  width: 95%;
}
.member_menu_i {
  float: left;
  width: 24px;
  height: 24px;
  text-align: center;
}
.member_menu_i i {
  color: #fff;
  display: block;
  font-size: 18px;
  margin-top: 4px;
}
.member_menu_i.per {
  background: #f17272;
}
.member_menu_i.follow {
  background: #b34ab4;
}
.member_menu_i.eng {
  background: #ff7c7c;
}
.member_menu_i.marker {
  background: #f4af36;
}
.member_menu_i.privacy {
  background: #6db9ff;
}
.member_menu_i.security {
  background: #64c041;
}
.member_menu_i.honesty {
  background: #82c3ff;
}
.member_menu_i.vip {
  background: #f4af36;
}
.member_menu_i.vip i {
  font-size: 24px;
  margin-top: 1px;
}
.member_menu_i.money {
  background: #df4e4e;
}
.member_menu_i.money i {
  margin-top: 3px;
  margin-left: -1px;
}
.member_menu_i.about,
.member_menu_i.help {
  background: #d3d3d3;
}
.personal_info {
  margin-bottom: 10px;
}
.honesty_info {
  margin-bottom: 10px;
}
.menu_name {
  float: left;
  margin-left: 15px;
}
.menu_name p {
  font-size: 16px;
  line-height: 24px;
}
.menu_arrow {
  float: right;
}
.menu_arrow i {
  font-size: 20px;
  color: #9f9696;
  margin-right: 6px;
}
.item .item-content {
  padding: 16px;
}
#ul1 {
  width: 660px;
  position: relative;
  margin: 10px auto;
}
#ul1 li {
  width: 200px;
  height: 150px;
  float: left;
  list-style: none;
  margin: 10px;
}
#ul1 li:hover {
  border-color: #9a9fa4;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.85);
}
#ul1 .active {
  border: 1px dashed red;
}
/* ng-sortable css file */
.as-sortable-item,
.as-sortable-placeholder {
  display: block;
}
.as-sortable-item {
  -ms-touch-action: none;
  touch-action: none;
  -webkit-touch-callout: none;
}
.as-sortable-item-handle {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.as-sortable-drag {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}
.as-sortable-hidden {
  display: none !important;
}
.as-sortable-un-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
