@font-face {
    font-family: 'new';
    src:    url('../fonts/new.eot?1yuwf0');
    src:    url('../fonts/new.eot?1yuwf0#iefix') format('embedded-opentype'),
    url('../fonts/new.ttf?1yuwf0') format('truetype'),
    url('../fonts/new.woff?1yuwf0') format('woff'),
    url('../fonts/new.svg?1yuwf0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-new"], [class*=" icon-new"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'new' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-new-menu-user-settings:before {
    content: "\e910";
}
.icon-new-menu-bubble:before {
    content: "\e90b";
}
.icon-new-menu-eye:before {
    content: "\e90c";
}
.icon-new-menu-heart:before {
    content: "\e90d";
}
.icon-new-menu-home:before {
    content: "\e90e";
}
.icon-new-menu-user:before {
    content: "\e90f";
}
.icon-new-balance:before {
    content: "\e90a";
}
.icon-new-vip:before {
    content: "\e905";
}
.icon-new-guest:before {
    content: "\e906";
}
.icon-new-diamond:before {
    content: "\e907";
}
.icon-new-id:before {
    content: "\e908";
}
.icon-new-phone:before {
    content: "\e909";
}
.icon-new-record:before {
    content: "\e901";
}
.icon-new-bri:before {
    content: "\e902";
}
.icon-new-withdraw:before {
    content: "\e903";
}
.icon-new-bankCard:before {
    content: "\e904";
}
.icon-new-bribery:before {
    content: "\e900";
}

