<ion-view>
    <link href="/wechat/web/css/discovery.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">发现</title>
        <a class="button button-icon icon ion-plus-circled positive" href="#/member/discovery_add?tempUrl=/discovery"></a>
    </ion-header-bar>

    <ion-content class="com_w_100 bhy discovery bg5">
        <ion-refresher
                pulling-text="下拉可刷新"
                on-refresh="doRefresh()"
                refreshing-text="刷新中">
        </ion-refresher>
        <div class="list">
            <div class="item item-thumbnail-left" ng-repeat="dis in discoveryList | filter:indexFilter" >
                <img class="cp" ng-if="dis.head_status == 1" ng-src="{{dis.head_pic | isNull}}" ng-click="dis.user_id != userInfo.user_id ? jump('/userInfo?userId={{dis.user_id}}') : jump('/member/information')" onerror="this.src='/wechat/web/images/no_img.png'">
                <img class="cp" ng-if="dis.head_status != 1" src="/wechat/web/images/no_img.png" ng-click="dis.user_id != userInfo.user_id ? jump('/userInfo?userId={{dis.user_id}}') : jump('/member/information')">
                <h2>
                    <span class="fl" ng-if="dis.real_name">{{dis.real_name | sex:dis.sex:dis.age}}</span>
                    <span class="fl" ng-if="!dis.real_name">会员{{dis.user_id}}</span>
                    <span class="fr fs12 cor5">{{dis.create_time*1000 | date:'yyyy-MM-dd HH:mm'}}</span>
                </h2>
                <p>
                    <span class="identity id" ng-if="sfzCheck == 1">身份证</span>
                    <span class="identity phone" ng-if="dis.phone != null">手机</span>
                    <span class="identity vip" ng-if="dis.level == '1'">vip</span>
                    <span class="identity guest" ng-if="dis.level == 2">贵宾</span>
                    <span class="identity diamond" ng-if="dis.level == 3">钻石</span>
                    <span ng-if="dis.report_flag == 1" class="identity assertive-bg">被多次举报</span>
                </p>
                <p class="wsn">{{dis.content}}</p>
                <div class="dis_gallery bhy-gallery clearfix">
                    <a ng-repeat="img in dis.imgList | limitTo:6" href="{{img.thumb_path | picture}}" data-size="{{img.thumb_path.split('.')[0].split('_')[1] + 'x' + img.thumb_path.split('.')[0].split('_')[2]}}">
                        <img class="w100" ng-src="{{img.thumb_path}}">
                    </a>
                </div>
                <div class="clearfix mt10 pr">
                    <span class="fl cp" ng-class="{true:'cor21',false:'cor53'}[dis.cid > 0]" click-like ng-click="clickLike(dis)">
                        <i class="ion-thumbsup fs20 vam"></i>
                        <span class="vam likeNumber dib">{{dis.like_num}}</span>
                    </span>
                    <span class="fl ml10 cp cor53" ng-click="jump('/discovery_single?id={{dis.id}}')">
                        <i class="ion-chatbubble-working fs20 vam"></i>
                        <span class="vam">{{dis.comment_num}}</span>
                    </span>
                    <span class="fr cp cor53" ng-click="more(dis.user_id==userInfo.user_id,dis,$index)">
                        <i class="ion-more fs20 vam"></i>
                    </span>
                </div>
            </div>
        </div>

        <ion-infinite-scroll
                ng-if="moreDataCanBeLoaded()"
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar class="bar-stable">
        <a class="menuBtn" href="/wap/site/main#/index">
            <i class="icon-new-menu-home"></i>
            <p>首页</p>
        </a>
        <a class="menuBtn" href="/wap/site/main#/message">
            <i class="icon-new-menu-bubble">
                <span ng-if="msgNumber" class="msg_number">{{msgNumber}}</span>
            </i>
            <p>消息</p>
        </a>
        <a class="menuBtn" href="/wap/site/main#/member">
            <i class="icon-new-menu-user"></i>
            <p>个人</p>
        </a>
        <a class="menuBtn cur" href="/wap/site/main#/discovery">
            <i class="icon-new-menu-eye"></i>
            <p>发现</p>
        </a>
        <!--<a class="menuBtn" href="/wap/site/main#/rendezvous">
            <i class="icon-new-menu-heart"></i>
            <p>约会</p>
        </a>-->
    </ion-footer-bar>

</ion-view>