<ion-view>
    <link href="/wechat/web/css/discovery.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/photoswipe/photoswipe.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/photoswipe/default-skin.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">
            发现
        </title>
        <button class="button button-icon icon ion-ios-plus-outline energized" ng-click="released()"></button>
    </ion-header-bar>
    <ion-content class="com_w_100 bhy has-header discovery">
        <ion-list>
            <ion-item class="mt10" ng-repeat="dis in discoveryList">
                <div class="dis_u_img" ui-sref="main.member_user_info({userId:1,tempUrl:'main.discovery'})">
                    <img src="/wechat/web/images/test.jpg">
                </div>
                <div class="dis_con clearfix">
                    <div class="dis_con_name">
                        <p>
                            <span class="fl fs16 fwb">{{dis.name}}</span>
                            <span class="fr fs12 cor5">{{dis.time}}</span>
                        </p>
                        <p class="mt10">
                            <span class="identity sfz">身份证</span>
                            <span class="identity phone">手机</span>
                            <span class="identity vip">vip</span>
                            <span class="identity guest">贵宾</span>
                            <span class="identity diamond">钻石</span>
                        </p>
                    </div>
                    <div class="dis_con_t">
                        <p>{{dis.content}}</p>
                    </div>
                    <div class="dis_con_p clearfix">
                        <a class="pic" ng-repeat="img in dis.imgList" ng-click="showImgList(dis.imgList,$index)">
                            <img src="{{img.src}}">
                        </a>
                    </div>
                    <div class="dis_con_b clearfix">

                        <span class="fl" ng-if="dis.showAddress">
                            <i class="ion-location cor26"></i>
                            {{dis.address}}
                        </span>
                         <span class="fr ml15 cp" ui-sref="main.discovery_single({userId:dis.id})">
                            <i class="ion-chatbubble-working fs20 vam"></i>
                             <span class="vam">{{dis.commentNumber}}</span>
                        </span>
                        <span class="fr cp" ng-class="{true:'cor21',false:''}[user.userLike]"
                              ng-click="clickLike(dis.likeNumber)">
                            <i class="ion-thumbsup fs20 vam"></i>
                            <span class="vam">{{dis.likeNumber}}</span>
                        </span>

                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                ng-if="moreDataCanBeLoaded()"
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>

    <script id="released.html" type="text/ng-template">
        <ion-modal-view ng-controller="discovery.released">
            <ion-header-bar>
                <button class="button button-icon" ng-click="closeModal()">取消</button>
                <h1 class="title">发布动态</h1>
                <button class="button button-icon cor21" ng-click="saveData()">发布</button>
            </ion-header-bar>
            <ion-content class="discovery">
                <ion-list>
                    <ion-item class="mt10 padding">
                        <div class="imgItem" ng-repeat="img in imgList">
                            <img src="{{img.thumb_path}}">
                            <span class="ion-close-circled del" ng-click="deleteImg($index)"></span>
                        </div>
                        <div class="imgItem addimg" ng-click="addNewImg()">
                            <img src="/wechat/web/images/uploadImg.jpg">
                        </div>
                        <div class="w100 mt10 fl">
                            <textarea class="dis_taInput" placeholder="想说点什么？" ng-model="formData.content"></textarea>
                        </div>
                    </ion-item>
                    <input id="pic_fileInput" type="file" nv-file-select="" uploader="uploader"
                           style="visibility: hidden; display: none;" accept="image/*">
                    <ion-item class="item-toggle mt10 mb10">
                        <span ng-if="!formData.showAddress">显示地址</span>
                        <span ng-if="formData.showAddress"><i class="ion-location cor26 mr5"></i>{{address}}</span>
                        <label class="toggle toggle-assertive">
                            <input type="checkbox" ng-model="formData.showAddress">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </ion-item>
                    <ion-radio ng-model="formData.auth" value="1" name="authGroup">
                        完全公开
                    </ion-radio>
                    <ion-radio ng-model="formData.auth" value="2" name="authGroup">
                        我关注的人可见
                    </ion-radio>
                    <ion-radio ng-model="formData.auth" value="3" name="authGroup">
                        仅自己可见
                    </ion-radio>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
</ion-view>