<ion-view>
    <link href="/wechat/web/css/discovery.css" rel="stylesheet">
    <ion-header-bar align-title="center" >
        <h1 class="title">新评论</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a class="item item-avatar" ng-repeat="dis in disList" href="#/discovery_single?id={{dis.id}}">
                <img src="{{dis.info.head_pic}}" class="br0">
                <div class="fl w45">
                    <p class="wsn">{{dis.comment}}</p>
                </div>
                <div class="fr w45">
                    <p class="wsn txt">{{dis.content | cut:true:20:' ...'}}</p>
                    <p class="wsn" ng-if="dis.pic.length > 0">
                        <img ng-repeat="img in dis.pic" src="{{img.thumb_path}}" width="30">
                    </p>
                </div>
            </a>
            <ion-item class="tac" ng-show="discoverySum > disList.length" ng-click="loadData()">
                <p>查看30天内的评论</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>