<ion-view>
    <link href="/wechat/web/css/discovery.css" rel="stylesheet">
    <link href="/wechat/web/js/plugin/amezeui/css/amazeui.min.css" rel="stylesheet">
    <ion-header-bar align-title="center"  class="com_w_100 bhy">
        <title class="title">
            评论
        </title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 discovery" delegate-handle="discoveryMain">
        <div class="item item-thumbnail-left">
            <img class="cp" ng-if="dis.head_status == 1" ng-src="{{dis.head_pic | isNull}}" ng-click="jump(dis.user_id)" onerror="this.src='/wechat/web/images/no_img.png'">
            <img class="cp" ng-if="dis.head_status != 1" ng-src="/wechat/web/images/no_img.png" ng-click="jump(dis.user_id)">
            <h2>
                <span class="fl" ng-if="dis.real_name">{{dis.real_name | sex:dis.sex:dis.age}}</span>
                <span class="fl" ng-if="!dis.real_name">会员{{dis.user_id}}</span>
                <span class="fr fs12 cor5">{{dis.create_time*1000 | date:'yyyy-MM-dd HH:mm'}}</span>
            </h2>
            <p>
                <span class="identity id" ng-if="honesty(dis.honesty_value)">身份证</span>
                <span class="identity phone" ng-if="dis.phone != null">手机</span>
                <span class="identity vip" ng-if="dis.level == '1'">vip</span>
                <span class="identity guest" ng-if="dis.level == 2">贵宾</span>
                <span class="identity diamond" ng-if="dis.level == 3">钻石</span>
                <span ng-if="dis.report_flag == 1" class="identity assertive-bg">被多次举报</span>
            </p>
            <p class="wsn">{{dis.content}}</p>
            <div class="dis_gallery bhy-gallery clearfix">
                <a ng-repeat="img in dis.imgList | limitTo:6" ng-href="{{img.thumb_path | picture}}" data-size="{{img.thumb_path.split('.')[0].split('_')[1] + 'x' + img.thumb_path.split('.')[0].split('_')[2]}}">
                    <img class="w100" ng-src="{{img.thumb_path}}">
                    <figure class="hide">轻触照片退出</figure>
                </a>
            </div>
            <div class="clearfix mt10 pr">
                <span class="fl cp" ng-class="{true:'cor21',false:'cor53'}[dis.cid > 0]" click-like
                      ng-click="clickLike(dis)">
                    <i class="ion-thumbsup fs20 vam"></i>
                    <span class="vam likeNumber dib">{{dis.like_num}}</span>
                </span>
                <span class="fl ml10 cp" ng-class="{true:'positive',false:'cor53'}[isShowCommentList]" ng-click="showComment()">
                    <i class="ion-chatbubble-working fs20 vam"></i>
                    <span class="vam">{{dis.comment_num}}</span>
                </span>
                <span class="fl ml20 pt2 cp fl ion-locked" ng-if="dis.auth != 1 && dis.user_id == userInfo.user_id" ng-class="{2:'energized',3:'assertive'}[dis.auth]"></span>
                <span class="fr cp cor53" ng-click="more(dis.user_id==userInfo.user_id,dis)">
                    <i class="ion-more fs20 vam"></i>
                </span>
            </div>
        </div>
        <article class="am-comment padding" ng-show="isShowCommentList" ng-repeat="comment in commentList | limitTo:pageSize | orderBy:'create_time':true">
            <a ng-click="jump({{comment.user_id}})">
                <img ng-src="{{comment.headPic | isNull}}" onerror="this.src='/wechat/web/images/no_img.png'" alt="" class="am-comment-avatar" width="48" height="48"/>
            </a>
            <div class="am-comment-main ">
                <header class="am-comment-hd">
                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                    <div class="am-comment-meta">
                        <a ng-click="jump({{comment.user_id}})" class="am-comment-author">{{comment.name | sex:comment.sex:comment:age}}</a>
                        评论于
                        <time>{{comment.create_time * 1000 | date:'yyyy-MM-dd HH:mm'}}</time>
                        <span ng-if="comment.report_flag == 1" class="am-badge am-badge-danger am-round">被多次举报</span>
                    </div>
                </header>

                <div class="am-comment-bd">
                    {{comment.private == 1 && comment.user_id != userInfo.user_id && dis.user_id  != userInfo.user_id ? '私密评论，请勿偷看' : comment.content}}
                </div>
            </div>
        </article>
        <ion-infinite-scroll
                ng-if="moreDataCanBeLoaded()"
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar class="bar-light">
        <div class="text">
            <input type="text" multiple id="txt_input" ng-model="formData.content" placeholder="说点什么吧！">
            <label class="private" ng-click="checkPrivate()">
                <i class="cor24"
                   ng-class="{true:'ion-android-checkbox-outline',false:'ion-android-checkbox-outline-blank'}[formData.private]"></i>
                <span class="cor4">私密</span>
            </label>
        </div>
        <button type="button" class="button button-balanced ml10 send" ng-disabled="!formData.content" ng-click="sendComment()">发表</button>
    </ion-footer-bar>
</ion-view>