<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>嘉瑞百合缘-【实名制婚恋网】</title>
    <link href="/wechat/web/images/apple-touch-icon.png" rel="shortcut icon">
    <link rel="stylesheet" href="/frontend/web/css/base.css">
    <link rel="stylesheet" href="/frontend/web/css/index.css">
</head>
<body>
<div class="main">
    <div class="header">
        <div class="header_top">
            <div class="center_con">
                <div class="header_left fn-left">
                    <div class="warning_icon fn-left">

                    </div>
                    <div class="warning_title fn-left">
                        <p class="fs18">
                            感谢您的访问，网站正在建设中...
                        </p>
                        <p class="fs14">Thank you for your visiting! Website is under construction...</p>
                    </div>

                </div>
                <div class="header_right fn-right">

                </div>
            </div>
        </div>
        <div class="header_con"></div>
    </div>
    <div class="content">
        <div class="ourMembers_top"></div>
        <div class="ourMembers_con">
            <div class="ourMembers_middle"></div>
        </div>
        <div class="stealthSettings_bg">
            <div class="stealthSettings_top"></div>
            <div class="stealthSettings_con">
                <div class="stealthSettings_middle"></div>
            </div>
        </div>
        <div class="marriageCounselor_bg">
            <div class="marriageCounselor_top"></div>
            <div class="marriageCounselor_con">
                <div class="marriageCounselor_middle">
                    <div class="marriageCounselor_people"></div>
                </div>
            </div>
        </div>
        <div class="profileCompany_top"></div>
        <div class="profileCompany_t"></div>
        <div class="profileCompany_b"></div>

        <div class="honoraryCertificate_bg">
            <div class="honoraryCertificate_con"></div>
        </div>
        <div class="footer_t"></div>
        <div class="footer"></div>
    </div>
</div>
</body>
</html>