<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <a class="button button-icon icon ion-arrow-left-c" href="#/main/member/index"></a>
        <title class="title">关于嘉瑞</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100">
        <ion-list>
            <div class="item about">
                <p class="tac title fwb">重庆嘉瑞婚介有限责任公司简介</p>
                <p>我们的组织：2008年10月，“嘉瑞百合缘”婚恋网成立于重庆，是一家集征婚、交友及婚姻、家庭、情感相关心理咨询为一体的大型服务机构，隶属于重庆嘉瑞婚介有限责任公司。</p>
                <p>我们的团队：公司现有员工30多名，其中管理人员3名、网络管理3名、文案编辑2名、活动策划2名、家庭婚姻咨询师3名、专业红娘20多名。</p>
                <p>我们的地址：重庆市渝中区大坪正街118号11-11号。重庆巴南区龙洲大道6号15幢。</p>
            </div>
            <div class="item about">
                <p class="tac title fwb">重庆嘉瑞婚介有限责任公司四大优势</p>
                <p>
                    一、重庆嘉瑞婚介有限责任公司是重庆地区首家实名制相亲平台，有严格的身份审核程序，所有会员均需进行身份证认证。自2008年成立至今，尚未发生任何因身份信息、征婚信息不准确的投诉，更无婚托、婚骗等行为出现。我们将秉持传统、严格把关，为单身朋友搭建一个真实、安全、纯净、严肃的婚恋平台。
                </p>
                <p>
                    二、重庆嘉瑞婚介有限责任公司的红娘都经过严格培训，半数以上红娘已获取国家人力资源和社会保障局注册的专业“婚姻家庭咨询师”资格证书，具备心理学、婚姻学、情感学等多种的专业知识，并不断提高自身的品格、修养和职业技能。有充分的能力为会员提供更加专业、周到、耐心、细致的服务。
                </p>
                <p>
                    三、嘉瑞红娘工作经验丰富，她们以多年的职业经验帮助会员对自身正确定位，并帮助会员调整择偶心态。对会员在婚恋过程中可能面临或正在面对的情感问题都会逐一耐心解答，针对会员在婚恋过程中的迷茫提出最有效和最专业的指导性建议。
                </p>
                <p>
                    四、重庆嘉瑞婚介有限责任公司要求红娘均能达到业内最高境界，即不仅止于为会员牵线搭桥，而是教会会员如何与心仪对象接触，如何谈恋爱，乃至于如何经营婚姻。让会员不仅能找到人生的另一半，更在整个婚恋的道路上都能一帆风顺。
                </p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>