<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar align-title="center"  class="com_w_100 bhy">
        <title class="title">消费记录</title>
    </ion-header-bar>

    <ion-content class="com_w_100" ion-sticky ion-sticky-class="positive">
        <div ng-repeat="record in recordList | limitTo:pageSize">
            <ion-item class="item-divider">
                <span class="fl">{{record.date}}</span><span class="fr">消费：{{record.items | amount | currency:'￥'}}</span>
            </ion-item>
            <ion-item ng-repeat="i in record.items" href="#/member/account_record_info?item={{i}}">
                <p><span class="fl fwb">{{i.type}}</span><span class="fr fs16">{{i.money / 100 | currency:'￥'}}</span></p>
                <p><span class="fs12 cor8">{{i.create_time * 1000 | date:"M月d日 HH:mm"}}</span></p>
            </ion-item>
        </div>
        <ion-item ng-if="recordList.length < 1" class="tac">
            没有记录
        </ion-item>
        <ion-infinite-scroll
                ng-if="moreDataCanBeLoaded()"
                on-infinite="loadMoreData()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>