<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">银行卡详情</title>
    </ion-header-bar>

    <ion-content class="com_w_100 bhy bg5">
        <ion-list>
            <ion-item class="mt20">
                <p><span class="fl mb5">银行名称：</span><span class="fr">农业银行</span></p>
                <p><span class="fl mb5">卡类型：</span><span class="fr">借记卡</span></p>
                <p><span class="fl mb5">卡号：</span><span class="fr">6224846546484165166</span></p>
                <p><span class="fl mb5">持卡人：</span><span class="fr">张小三</span></p>
                <p><span class="fl mb5">添加时间：</span><span class="fr">2016-06-18 15:11:02</span></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>