<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">我的银行卡</title>
        <a class="button button-icon" href="/member/account_add_card?tempUrl=/member/account_mycard">添加</a>
    </ion-header-bar>

    <ion-content class="com_w_100 bhy">
        <ion-list>
            <ion-item class="item-icon-right" ng-repeat="card in cardList" href="#/member/account_mycard_info?id={{card.id}}">
                <span class="fl">{{card.name | bank:'name'}}</span>
                <span class="ml15 cor4 fs12">{{card.name | bank:'type'}} {{card.card_no | bank:'card'}}</span>
                <i class="icon ion-ios-arrow-right cor4 fr"></i>
                <ion-option-button class="button-assertive"
                                   ng-click="delete($index,card)">
                    删除
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>