<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar align-title="center"  class="com_w_100 bhy">
        <title class="title">我的账户</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 bg5">
        <div class="list">
            <div class="item">
                我的余额：
                <button class="button button-small button-positive vam ml10" ng-if="find" ng-click="showMoney()">查询余额</button>
                <span ng-if="loading"><ion-spinner icon="ios-small"></ion-spinner></span>
                <span ng-if="money || money==0" class="energized">{{money / 100 | currency:''}}元</span>
            </div>
            <ion-item class="item item-icon-left item-icon-right mb20" href="#/member/balance">
                <i class="icon icon-new-balance cor21"></i>
                充值余额
                <i class="icon ion-ios-arrow-right cor12"></i>
            </ion-item>
            <div class="item item-divider bor_b_n">
                我正在使用的服务
            </div>
            <div class="item bor_t_n">
                 <span ng-if="serviceInfo.level && serviceInfo.mature_time > timestamp" class="cor33 fl fwb">{{serviceInfo.level | level}}</span>
                <span class="cor33 fr" ng-if="serviceInfo.level && serviceInfo.mature_time > timestamp">到期时间：{{serviceInfo.mature_time * 1000 | date:'yyyy-MM-dd H:m:s'}}</span>
                <span ng-if="!serviceInfo.level || serviceInfo.mature_time < timestamp || !serviceInfo.mature_time">暂无您正在使用的服务记录</span>
            </div>
            <a class="item item-icon-left item-icon-right mt20" href="#/member/account_record">
                <i class="icon icon-new-record cor9"></i>
                消费记录
                <i class="icon ion-ios-arrow-right cor12"></i>
            </a>
            <!--<a class="item item-icon-left item-icon-right" href="#/member/account_bribery">
                <i class="icon icon-new-bri cor15"></i>
                嘉瑞红包
                <i class="icon ion-ios-arrow-right cor12"></i>
            </a>-->
            <a class="item item-icon-left item-icon-right" href="#/member/account_mycard">
                <i class="icon icon-new-bankCard cor33"></i>
                我的银行卡
                <i class="icon ion-ios-arrow-right cor12"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/member/account_withdraw">
                <i class="icon icon-new-withdraw cor35"></i>
                提现
                <i class="icon ion-ios-arrow-right cor12"></i>
            </a>
        </div>
    </ion-content>
</ion-view>