<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">银行卡详情</title>
    </ion-header-bar>

    <ion-content class="com_w_100 bhy bg5">
        <ion-list>
            <ion-item class="mt20">
                <p><span class="fl mb5">银行名称：</span><span class="fr" ng-bind-html="bankData.name | bank:'name'">{{bankData.name | bank:'name'}}</span></p>
                <p><span class="fl mb5">卡类型：</span><span class="fr" ng-bind-html="bankData.name | bank:'type'">{{bankData.name | bank:'type'}}</span></p>
                <p><span class="fl mb5">卡号：</span><span class="fr" >{{bankData.card_no}}</span></p>
                <p><span class="fl mb5">持卡人：</span><span class="fr" >{{bankData.user_name}}</span></p>
                <p><span class="fl mb5">添加时间：</span><span class="fr">{{bankData.create_time*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</span></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>