<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">消费记录</title>
    </ion-header-bar>

    <ion-content class="com_w_100" ion-sticky ion-sticky-class="positive">
        <div ng-repeat="record in recordList | limitTo:pageSize">
            <ion-item class="item-divider">
                <span class="fl">{{record.date}}</span><span class="fr">消费：{{record.amount | currency:'￥'}}</span>
            </ion-item>
            <ion-item ng-repeat="i in record.items" href="#/main/member/account_record_info?id={{i.id}}">
                <p><span class="fl fwb">{{i.title}}</span><span class="fr fs16">{{i.money | currency:'￥'}}</span></p>
                <p><span class="fs12 cor8">{{i.datetime * 1000 | date:"M月d日 HH:mm"}}</span></p>
            </ion-item>
        </div>
        <ion-infinite-scroll
                ng-if="moreDataCanBeLoaded()"
                on-infinite="loadMoreData()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>