<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/js/plugin/amezeui/css/amazeui.min.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">我的账户</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 bg5">
        <div class="list">
            <div class="item">
                我的余额：<button class="am-btn am-btn-primary am-btn-xs am-radius ml10" ng-if="!money" ng-click="showMoney()">查询余额</button><span ng-if="money" class="am-text-warning">{{userInfo.balance}}元</span>
            </div>
            <div class="item item-divider">
                我正在使用的服务
            </div>
            <div class="item" ng-repeat="service in serviceList">
                 <span class="cor33 fl fwb">{{service.serviceName}}</span>  <span class="cor33 fr" ng-if="serviceList.length > 0">到期时间：{{service.endTime}}</span>
                <span ng-if="serviceList.length < 1">暂无您正在使用的服务记录</span>
            </div>
            <a class="item item-icon-left item-icon-right mt20" href="#/main/member/account_record">
                <i class="icon icon-new-record cor9"></i>
                消费记录
                <i class="icon ion-ios-arrow-right cor12"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/main/member/account_bribery">
                <i class="icon icon-new-bri cor15"></i>
                嘉瑞红包
                <i class="icon ion-ios-arrow-right cor12"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/main/member/account_mycard">
                <i class="icon icon-new-bankCard cor33"></i>
                我的银行卡
                <i class="icon ion-ios-arrow-right cor12"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/main/member/account_withdraw">
                <i class="icon icon-new-withdraw cor35"></i>
                提现
                <i class="icon ion-ios-arrow-right cor12"></i>
            </a>
        </div>
    </ion-content>
</ion-view>