<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar align-title="center"  class="com_w_100 bhy bri_tabs">
        <button class="button button-icon w50 bri_tabs_btn" ng-class="{1:'cur'}[tab]" ng-click="showTab(1)">收到的红包
        </button>
        <button class="button button-icon w50 bri_tabs_btn" ng-class="{2:'cur'}[tab]" ng-click="showTab(2)">发出的红包
        </button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 bribery">
        <div class="user_bri_rec_info mb15">
            <div class="padding pr">
                <p class="tac mt40"><img class="u_img" width="80" height="80" ng-src="{{userInfo.info.head_pic | isNull}}" onerror="this.src='/wechat/web/images/no_img.png'"></p>
                <p class="tac fs18">共{{tab==1 ? '收到' : '发出'}}{{numAndmoney.number}}个红包</p>
                <p class="mt20 fs40 tac mb0">{{numAndmoney.money | currency:'￥'}}</p>
                <div class="date">
                    <select class="cor24 pd5" ng-model="year" ng-options="y.id as y.name for y in yearList"
                            ng-change="loadMore()">
                    </select>
                    <p class="ion-ios-arrow-down tac cor24 mb0"></p>
                </div>
            </div>
        </div>
        <ion-list>
            <ion-item class="bri_item" ng-repeat="vo in briberyList | filter:{flag: tab,year:year} | limitTo:pageSize">
                <p class="name"><span class="fl">{{vo.realName}}</span><span
                        class="fr">{{vo.money | currency:'￥'}}元</span></p>
                <p class="time"><span class="fl">{{vo.create_time}}</span><span class="fr">{{vo.status == 1 ? '已领' : '未领取，已退款'}}</span>
                </p>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                ng-if="moreDataCanBeLoaded()"
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>