<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/js/plugin/amezeui/css/amazeui.min.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">我的账户</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 bg5">
        <div class="list">
            <div class="item">
                我的余额：<button class="am-btn am-btn-primary am-btn-xs am-radius ml10" ng-if="!money" ng-click="showMoney()">查询余额</button><span ng-if="money" class="am-text-warning">198.00元</span>
            </div>
            <div class="item item-divider">
                我正在使用的服务
            </div>
            <div class="item">
                暂无您正在使用的服务记录
            </div>
            <a class="item item-icon-left item-icon-right mt20" href="#">
                <i class="icon icon-new-record cor9"></i>
                消费记录
                <i class="icon ion-ios-arrow-right cor12"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon icon-new-bri cor15"></i>
                嘉瑞红包
                <i class="icon ion-ios-arrow-right cor12"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon icon-new-bankCard cor33"></i>
                银行卡管理
                <i class="icon ion-ios-arrow-right cor12"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon icon-new-withdraw cor35"></i>
                余额提现
                <i class="icon ion-ios-arrow-right cor12"></i>
            </a>
        </div>
    </ion-content>
</ion-view>