<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">消费详情</title>
    </ion-header-bar>

    <ion-content class="com_w_100 bhy bg5">
        <ion-list>
            <ion-item class="mt20">
                <p><span class="fl">消费金额：</span><span class="fr fs18">{{item.money / 100 | currency:'￥'}}</span></p>
            </ion-item>
            <ion-item>
                <p><span class="fl mb5">用途：</span><span class="fr">{{item.type}}</span></p>
                <p><span class="fl mb5">收款方：</span><span class="fr">{{item.name | recordName:item.type}}</span></p>
                <p><span class="fl mb5">状态：</span><span class="fr balanced">{{item.status | recordStatus:item.type}}</span></p>
                <p><span class="fl mb5">付款时间：</span><span class="fr">{{item.create_time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</span></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>