<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy assertive-bg cor23">
        <title class="title">红包提现</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg bribery padding">
        <div class="card">
            <ion-item class="item item-input">
                <span class="input-label">到账银行卡</span>
                <a href="#/main/member/bank_card" class="bankCard_t">农业银行（9913）</a>
            </ion-item>
            <ion-item class="item item-input">
                <span class="input-label">提现金额</span>
                ￥<input type="number">
            </ion-item>
            <div class="item item-divider" style="font-weight: inherit;">
                余额￥135.00，<a>全部提现</a>
            </div>
        </div>
        <p class="tac cor5">24小时内到账</p>
        <button class="button button-block button-balanced">提现</button>
    </ion-content>
</ion-view>