<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <span class="title">添加银行卡</span>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 bg5">
        <ion-list>
            <p class="padding cor5 mb0 pl16">请绑定您本人的银行卡</p>
            <label class="item item-input">
                <span class="input-label">持卡人</span>
                <input type="text" ng-if="userInfo.info.real_name" ng-value="formData.user_name" readonly>
                <input type="text" ng-model="formData.user_name" ng-if="!userInfo.info.real_name" placeholder="请输入持卡人姓名">
            </label>
            <label class="item item-input">
                <span class="input-label">卡号</span>
                <input ng-model="formData.card_no" type="text" placeholder="请输入银行卡号" ng-blur="bankNameChain()">
            </label>
            <label class="item item-input">
                <span class="input-label">卡类型</span>
                <input ng-model="formData.name" type="text" value="" readonly>
            </label>
            <!--<p class="remark">注：如果您的卡号输入正确，但是卡类型未能自动补全，请<a href="javascript:;">点击这里</a>直接输入卡类型，例如：农业银行-借记卡</p>-->
        </ion-list>
    </ion-content>
</ion-view>