<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="main.member_bribery"></button>
        <title class="title">红包提现</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg bribery padding">
        <ion-list>
            <div class="card">
                <div class="item item-text-wrap">
                    <span></span>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>