<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy assertive-bg cor23">
        <a class="button button-icon icon ion-arrow-left-c" href="#/main/member/bribery"></a>
        <title class="title cor23">发红包</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 bribery padding">
        <div class="list">
            <label class="item item-input bor_0 pr16">
                <span class="input-label">红包金额</span>
                <input type="number" class="tar bri_money_input" placeholder="请填写红包金额" ng-model="formData.money">
                <span>元</span>
            </label>
            <label class="item item-input item-stacked-label bor_0 pr16 ">
                <span class="input-label">留言</span>
                <input class="bri_txt_input" type="text" placeholder="恭喜发财，大吉大利">
            </label>
            <label class="item tac bor_0">
                <span class="bri_money">{{formData.money | currency:'￥'}}</span>
            </label>
            <div class="item tac bor_0">
                <input type="button" class="button button-block" value="塞钱进红包" ng-click="bri_submit()">
            </div>
        </div>
    </ion-content>

    <script id="selectUser.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <button class="button button-icon" ng-click="closeModal()">关闭</button>
                <title class="title">选择我关注的好友</title>
            </ion-header-bar>
            <ion-content class="has-herder" ng-controller="member.bribery_selectUser">
                <ion-list>
                    <ion-item class="item-avatar">
                        <img src="/wechat/web/images/test.jpg">
                        <h2>李先生</h2>
                        <p>[28岁，未婚，180cm，本科]</p>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>