<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="main.member"></button>
        <title class="title">嘉瑞红包</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg bribery">
        <ion-list>
            <div class="mt10 mb10 sum_money">
                <p class="cor0 tac lh28 pt20 fs16">我的余额</p>
                <p class="cor0 tac lh28 pb20 fs16">{{bribery.balance | currency:"￥"}}元</p>
            </div>
            <ion-item class="item-icon-left item-icon-right" href="#/main/member/bribery_rec?money={{bribery.recMoney}}">
                <i class="icon bhy-icon-rec-bag cor33"></i>
                    我收到的红包
                <span class="badge badge-energized">{{bribery.receiveBribery}}</span>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" href="#/main/member/bribery_send?money={{bribery.sendMoney}}">
                <i class="icon bhy-icon-send-bag cor15"></i>
                    我发出的红包
                <span class="badge badge-assertive">{{bribery.sendBribery}}</span>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right" href="#/main/member/bribery_withdraw">
                <i class="icon bhy-icon-withdraw cor3"></i>
                    红包提现
                <i class="icon ion-ios-arrow-right cor12"></i>
            </ion-item>
            <div class="tac mt30 mb30 padding">
                <a class="button button-assertive button-block" href="#/main/member/bribery_award">发红包</a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>