<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">喜欢的美食</title>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 delicacy" style="background: #f5f5f5;">
            <ion-item class="bhy_item_b mt10 mb10">
                <ion-scroll delegate-handle="small" zooming="false" direction="x" scrollbar-x="false"
                            scrollbar-y="false"
                            class="addr_top_box" style="width: 100%; max-width: 100%;">
                   <span class="hob_food_flag" ng-repeat="f in foodList | filter:{checked: true}" ng-click="remove(f)">
                        <i class="icon-food fs12"></i>
                        <span class="hob_sport_name">{{f.name}}</span>
                    </span>
                </ion-scroll>
            </ion-item>
            <p class="pl16 cor20">
                热门推荐
            </p>
    </ion-content>
    <ion-content class="bhy com_w_100 delicacy t140">
        <ion-checkbox ng-repeat="f in foodList" ng-click="scrollSmallToBottom($event)"
                      ng-model="f.checked">{{f.name}}
        </ion-checkbox>
    </ion-content>
</ion-view>