<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/photoswipe/photoswipe.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="main.member_information" ng-click="showMenu(false)"></button>
       <title class="title">
           个人动态
       </title>
    </ion-header-bar>
    <ion-content class="dynamic com_w_100 bhy" ng-controller="member.dynamic" style="bottom: 0;">
        <ion-list>
            <ion-item class="mt10" ng-repeat="dyn in dynamic.list">
                <div class="dyn_u_img">
                    <img src="/wechat/web/images/test.jpg">
                </div>
                <div class="dyn_con clearfix">
                    <div class="dyn_con_name">
                        <p>
                            <span class="fl fs16 fwb">张小姐</span>
                            <span class="fr fs12 cor5">03-17 15:22</span>
                        </p>
                        <p class="mt10">
                            <span class="identity sfz">身份证</span>
                            <span class="identity phone">手机</span>
                            <span class="identity vip">vip</span>
                            <span class="identity guest">贵宾</span>
                            <span class="identity diamond">钻石</span>
                        </p>
                    </div>
                    <div class="dyn_con_t">
                        <p>岁的法国和私人谈话人挺好让他怀仁堂和人挺好让他和人挺好让他和人挺好让他，让他让他他人好，对方，发过去如果， </p>
                    </div>
                    <div class="dyn_con_p clearfix">
                        <a class="pic" ng-repeat="img in dyn.imgList" href="{{img.src}}" >
                            <img src="{{img.src}}">
                        </a>
                    </div>
                    <div class="dyn_con_b clearfix">
                        <span class="fl">
                            1258浏览
                        </span>
                         <span class="fr ml15 cp">
                            <i class="ion-chatbubble-working fs20 vam"></i>
                             <span class="vam">{{dyn.commentNumber}}</span>
                        </span>
                        <span class="fr cp" ng-class="{true:'cor21',false:''}[dynamic.like]" ng-click="dynamic.clickLike">
                            <i class="ion-thumbsup fs20 vam"></i>
                            <span class="vam">{{dyn.likeNumber}}</span>
                        </span>

                    </div>
                </div>
            </ion-item>
            <ion-item style="padding: 0;"  ng-if="dynamic.pageLast">
                <button style="margin: 0;" class="button button-block" ng-click="dynamic.loadMore()">点击加载更多</button>
            </ion-item>
        </ion-list>






    </ion-content>

</ion-view>