<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/photoswipe/photoswipe.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/photoswipe/default-skin.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="main.member_information" ></button>
       <title class="title">
           个人动态
       </title>
    </ion-header-bar>
    <ion-content class="dynamic m_bg com_w_100 bhy" ng-controller="member.dynamic" style="bottom: 0;">
        <ion-list>
            <ion-item class="mt10" ng-repeat="dyn in dynamic.list">
                <div class="dyn_u_img">
                    <img src="/wechat/web/images/test.jpg">
                </div>
                <div class="dyn_con clearfix">
                    <div class="dyn_con_name">
                        <p>
                            <span class="fl fs16 fwb">张小姐</span>
                            <span class="fr fs12 cor5">03-17 15:22</span>
                        </p>
                        <p class="mt10">
                            <span class="identity sfz">身份证</span>
                            <span class="identity phone">手机</span>
                            <span class="identity vip">vip</span>
                            <span class="identity guest">贵宾</span>
                            <span class="identity diamond">钻石</span>
                        </p>
                    </div>
                    <div class="dyn_con_t">
                        <p>岁的法国和私人谈话人挺好让他怀仁堂和人挺好让他和人挺好让他和人挺好让他，让他让他他人好，对方，发过去如果， </p>
                    </div>
                    <div class="dyn_con_p clearfix">
                        <a class="pic" ng-repeat="img in dyn.imgList" ng-click="showImgList(imgList,$index)" >
                            <img src="{{img.src}}">
                        </a>
                    </div>
                    <div class="dyn_con_b clearfix">
                        <span class="fl" ng-if="dyn.showAddress">
                            <i class="ion-location cor26"></i>
                            {{dyn.address}}
                        </span>
                         <span class="fr ml15 cp">
                            <i class="ion-chatbubble-working fs20 vam"></i>
                             <span class="vam">{{dyn.commentNumber}}</span>
                        </span>
                        <span class="fr cp" ng-class="{true:'cor21',false:''}[dynamic.like]" ng-click="dynamic.clickLike">
                            <i class="ion-thumbsup fs20 vam"></i>
                            <span class="vam">{{dyn.likeNumber}}</span>
                        </span>

                    </div>
                </div>
            </ion-item>
            <ion-item style="padding: 0;"  ng-if="dynamic.pageLast">
                <button style="margin: 0;" class="button button-block" ng-click="dynamic.loadMore()">点击加载更多</button>
            </ion-item>
        </ion-list>


    </ion-content>
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
</ion-view>