<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="main.member"></button>
        <title class="title">谁关注了我</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg follow">
        <ion-list show-delete="shouldShowDelete">
            <ion-item class="item-avatar" ui-sref="main.member_user_info({userId:f.other,tempUrl:'main.member_follow'})" ng-repeat="f in followList">
                <img src="{{f.info.head_pic}}">
                <h2 class="clearfix">
                    <span class="fl">{{f.info.real_name | sex:f.sex :f.info.age}}</span>
                    <span class="fr fs12 cor5">{{f.create_time | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                </h2>
                <p>{{f.info.age | timeToAge}}岁 {{f.info.height}}cm {{f.info.is_marriage | marriage}} {{f.info.is_purchase | purchase}} {{f.info.is_car | car}}</p>
            </ion-item>
        </ion-list>

        <!-- 判断userVIP -->
        <ion-list ng-if="followList.lenght == 0">
            <ion-item>
                <div class="No_Vip">

                    <img src="/wechat/web/images/test.jpg">

                    <p> Hi，张先生</p>
                    <p>目前还没有人关注您哦</p>

                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>