<ion-view ng-init="delTitle='删除';">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">关注的人</title>
        <button class="button button-icon" ng-show="followType == 'follow' && followList.length > 0" ng-click="shouldShowDelete = !shouldShowDelete; shouldShowDelete ? delTitle='完成' : delTitle='删除';" ng-bind="delTitle"></button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 follow">
        <div class="item tabs">
            <a class="tab-item" ng-class="{'follow':'cur'}[followType]" ng-click="switching('follow')">
                我关注的人(<span>{{followList.length}}</span>)
            </a>
            <a class="tab-item" ng-class="{'followed':'cur'}[followType]" ng-click="switching('followed')">
                关注我的人(<span class="assertive">{{followedList.length}}</span>)
            </a>
        </div>
        <ion-list ng-if="followType == 'follow'" show-delete="shouldShowDelete">
            <ion-item class="item-avatar"
                      ng-href="{{f.other >= 10000 ? '#/userInfo?userId='+f.other : '#/admin_info?userId='+f.other}}"
                      ng-repeat="f in followList">
                <ion-delete-button class="ion-minus-circled" ng-click="delFollow(f,$index)"></ion-delete-button>
                <img ng-src="{{f.info.head_pic | isNull}}" onerror="this.src='/wechat/web/images/no_img.png'">
                <h2 class="clearfix">
                    <span ng-if="f.info.real_name" class="fl">{{f.info.real_name | sex:f.sex :f.info.age}}</span>
                    <span ng-if="!f.info.real_name" class="fl">会员{{f.other}}</span>
                </h2>
                <p>{{f.info.age | timeToAge}} {{f.info.height}} {{f.info.is_marriage | marriage}}
                    {{f.info.is_purchase | purchase}} {{f.info.is_car | car}}</p>
            </ion-item>
        </ion-list>
        <div class="nullData has-header tac" ng-if="followType == 'follow' && followList.length < 1">
            <img src="/wechat/web/images/member/tip_05.png" height="150" class="vam">
            <p class="mt10 cor8">您目前没有关注任何人</p>
        </div>

        <ion-list ng-if="followType == 'followed' && userInfo.info.level >= 1">
            <ion-item class="item-avatar"
                      ng-href="{{f.other >= 10000 ? '#/userInfo?userId='+f.other : '#/admin_info?userId='+f.other}}"
                      ng-repeat="f in followedList">
                <img ng-src="{{f.info.head_pic | isNull}}" onerror="this.src='/wechat/web/images/no_img.png'">
                <h2 class="clearfix">
                    <span ng-if="f.info.real_name" class="fl">{{f.info.real_name | sex:f.sex :f.info.age}}</span>
                    <span ng-if="!f.info.real_name" class="fl">会员{{f.other}}</span>
                </h2>
                <p>{{f.info.age | timeToAge}} {{f.info.height}} {{f.info.is_marriage | marriage}}
                    {{f.info.is_purchase | purchase}} {{f.info.is_car | car}}</p>
            </ion-item>
        </ion-list>
        <div class="nullData has-header tac" ng-if="followType == 'followed' && followedList.length < 1">
            <img src="/wechat/web/images/member/tip_01.png" height="150" class="vam">
            <p class="mt10 cor8">暂时没有人关注您</p>
        </div>
        <div class="nullData has-header tac" ng-if="followType == 'followed' && followedList.length > 0 && userInfo.info.level < 1">
            <img src="/wechat/web/images/member/tip_03.png" height="150" class="vam">
            <p class="mt15"><span class="fs16">Hi</span>，{{userInfo.info.real_name | sex:userInfo.sex :userInfo.info.age}}</p>
            <p class="mt10">有 <span class="fs18 cor43">{{followedList.length}}</span> 人关注了你，TA们都想和你约会！</p>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive" ng-if="followType == 'followed' && userInfo.info.level < 1">
        <a class="title tdn" href="#/member/vip"><i class="icon ion-ios-star fs20 vam mr10"></i><span class="vam">开通VIP，查看关注您的人</span></a>
    </div>
</ion-view>