<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">关注的人</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 follow">
        <ion-list>
            <div class="item tabs">
                <a class="tab-item" ng-class="{'follow':'cur'}[followType]" ng-click="switching('follow')">
                    我关注的人
                </a>
                <a class="tab-item" ng-class="{'followed':'cur'}[followType]" ng-click="switching('followed')">
                    关注我的人
                </a>
            </div>
            <ion-item class="item-avatar" href="#/userInfo?userId={{f.other}}"
                      ng-repeat="f in followList">
                <img src="{{f.info.head_pic}}" onerror="this.src='/wechat/web/images/no_img.png'">
                <h2 class="clearfix">
                    <span class="fl">{{f.info.real_name | sex:f.sex :f.info.age}}</span>
                </h2>
                <p>{{f.info.age | timeToAge}} {{f.info.height}} {{f.info.is_marriage | marriage}}
                    {{f.info.is_purchase | purchase}} {{f.info.is_car | car}}</p>
                <ion-option-button ng-if="followType=='follow'" class="button-info"
                                   ng-click="delFollow(f,$index)">
                    取消关注
                </ion-option-button>
            </ion-item>
        </ion-list>

        <div class="nullData has-header tac" ng-if="followList.length == 0">
            <img src="/wechat/web/images/nullData.png" width="70" class="vam">
            <p class="mt10 cor8" ng-if="followType=='follow'">您好，您还没关注其他人哦！</p>
            <p class="mt10 cor8" ng-if="followType=='followed'">您好，目前还没有人关注您哦！</p>
        </div>
    </ion-content>
</ion-view>