<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar align-title="center"  class="com_w_100 bhy">
        <title class="title">会员协议</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100">
        <ion-list>
            <div class="item tac pd0 bor_0">
                <img src="/wechat/web/images/help_headImg.jpg" class="w100">
            </div>
            <div class="item help_protocol bor_0">
                <p class="tac title1 fwb">嘉瑞百合缘注册条款（会员协议）</p>
                <p class="title2 fwb">注册前，请认真阅读本协议条款；注册后，请严格遵守本协议条款。</p>
                <p>嘉瑞百合缘是全国唯一实名登记并严格进行身份证认证的征婚交友网站，隶属于重庆嘉瑞婚介有限责任公司（以下简称“嘉瑞婚介”）。</p>
                <p>为确保嘉瑞百合缘长期持续、健康阳光、稳定有效的发展，真正为单身朋友搭建一个真实、安全、纯净、严肃的婚恋平台。也为保障会员权益，让所有会员都能对本站资料真实性、隐私安全性予以放心，在众多异性会员中找到适合自己的伴侣。特拟定本协议。</p>
                <p>您的注册、登录、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。</p>
                <p>一、在注册成为嘉瑞百合缘会员时，您必须是处于法定的单身状态（包括未婚、离异、丧偶），且年龄在18周岁以上，注册本站是以恋爱、婚姻为目的。</p>
                <p>二、您必须以实名注册，并扫描上传身份证、护照或军官证等足以证明真实身份信息的证件。</p>
                <p>三、您必须向嘉瑞百合缘提供真实、准确、最新并且完整的个人资料，并承诺：所提供的资料真实可靠，如有虚假，自行承担相应法律责任。</p>
                <p>四、嘉瑞百合缘有权对所有希望在本站注册的申请者和已注册本站的会员进行身份认证和资格审核，对条件不符者将予以拒绝，对已注册会员将暂停或终止服务。</p>
                <p>五、嘉瑞百合缘在服务范围内，可在本站上公开会员的信息资料（保密部分除外，如：姓名、身份证、详细地址、联系方式等将不会公开）。</p>
                <p>六、嘉瑞百合缘对会员信息资料中的隐私部分有严格的保密措施，采用在前台称谓信息只显示会员的姓氏、性别，地址信息只显示市、区/县。会员的准确姓名、详细地址、联系方式等不会公开显示。</p>
                <p>以下约定情形除外：</p>
                <p>1、嘉瑞百合缘根据国家相关法规、执法机关相关指示需提供会员隐私信息时；</p>
                <p>2、会员自愿向第三方公开隐私信息时；</p>
                <p>3、会员自愿委托嘉瑞百合缘根据具体需求向第三方提供完整信息（包括真实姓名、联系方式等隐私信息），即采用红娘一对一服务时；</p>
                <p>4、因不可抗力导致会员隐私信息泄露时。</p>
                <p class="mt20">七、会员不得利用嘉瑞百合缘帐号或本站服务制作、复制、修改、发布、传播以下信息：</p>
                <p>1、法律、法规和政策禁止的内容：</p>
                <p>(1) 反对宪法所确定的基本原则的；</p>
                <p>(2) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
                <p>(3) 损害国家荣誉和利益的；</p>
                <p>(4) 煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                <p>(5) 破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
                <p>(6) 散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
                <p>(7) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
                <p>(8) 侮辱或者诽谤他人，侵害他人合法权益的；</p>
                <p>(9) 不遵守法律法规底线、社会主义制度底线、国家利益底线、公民合法权益底线、社会公共秩序底线、道德风尚底线和信息真实性底线的“七条底线”要求的；</p>
                <p>(10) 含有法律、行政法规禁止的其他内容的信息。</p>
                <p>2、干扰“嘉瑞百合缘”正常运营，以及侵犯其他会员或第三方合法权益的内容：</p>
                <p>(1) 含有任何性或性暗示的；</p>
                <p>(2) 含有辱骂、恐吓、威胁内容的；</p>
                <p>(3) 含有骚扰、垃圾广告、恶意信息、诱骗信息的；</p>
                <p>(4) 涉及他人隐私、个人信息或资料的；</p>
                <p>(5) 侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的；</p>
                <p>(6) 含有其他干扰本站正常运营和侵犯其他会员或第三方合法权益内容的信息。</p>
                <p class="mt20">八、帐号管理</p>
                <p>1、“嘉瑞百合缘”帐号的所有权归嘉瑞婚介所有，会员完成申请注册手续后，获得“嘉瑞百合缘”帐号的使用权，该使用权仅属于初始申请注册人，禁止赠与、借用、租用、转让或售卖。嘉瑞婚介因经营需要，有权回收会员的“嘉瑞百合缘”帐号。</p>
                <p>2、会员可以更改、删除“嘉瑞百合缘”帐号上的个人资料、注册信息及传送内容等，但需注意，更改基本信息部分需经“嘉瑞百合缘”重新审核，通过后方能发布，并且，删除有关信息的同时也会删除会员储存在系统中的文字和图片。会员需承担该风险。</p>
                <p>3、会员有责任妥善保管注册帐号信息及帐号密码的安全，因会员保管不善可能导致遭受盗号或密码失窃，责任由会员自行承担。会员需要对注册帐号以及密码下的行为承担法律责任。会员同意在任何情况下不使用其他会员的帐号或密码。在会员怀疑他人使用其帐号或密码时，会员同意立即通知嘉瑞婚介。</p>
                <p>4、会员应遵守本协议的各项条款，正确、适当地使用本站服务，如因会员违反本协议中的任何条款，嘉瑞婚介在通知会员后有权依据协议中断或终止对违约会员“嘉瑞百合缘”帐号提供服务。同时，嘉瑞婚介保留在任何时候收回“嘉瑞百合缘”帐号、会员名的权利。</p>
                <p>5、如会员注册“嘉瑞百合缘”帐号后一年不登录，通知会员后，嘉瑞婚介可以收回该帐号，以免造成资源浪费，由此造成的不利后果由会员自行承担。</p>
                <p class="mt20">九、风险承担</p>
                <p>1、会员理解并同意，“嘉瑞百合缘”仅为会员提供信息分享、传送及获取的平台，会员必须为自己注册帐号下的一切行为负责，包括会员所传送的任何内容以及由此产生的任何后果。会员应对“嘉瑞百合缘”及本站服务中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险。嘉瑞婚介无法且不会对因会员行为而导致的任何损失或损害承担责任。</p>
                <p>如果会员发现任何人违反本协议约定或以其他不当的方式使用本站服务，请立即向嘉瑞婚介举报或投诉，嘉瑞婚介将依本协议约定进行处理。</p>
                <p>2、会员理解并同意，因业务发展需要，嘉瑞婚介保留单方面对本站服务的全部或部分服务内容变更、暂停、终止或撤销的权利，会员需承担此风险。</p>
                <p class="mt20">十、知识产权声明</p>
                <p>1、除本站服务中涉及广告的知识产权由相应广告商享有外，嘉瑞婚介在本站服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权均归嘉瑞婚介所有，但会员在使用本站服务前对自己发布的内容已合法取得知识产权的除外。</p>
                <p>2、除另有特别声明外，嘉瑞婚介提供本站服务时所依托软件的著作权、专利权及其他知识产权均归嘉瑞婚介所有。</p>
                <p>3、嘉瑞婚介在本站服务中所涉及的图形、文字或其组成，以及其他嘉瑞婚介标志及产品、服务名称（以下统称“嘉瑞婚介标识”），其著作权或商标权归嘉瑞婚介所有。未经嘉瑞婚介事先书面同意，会员不得将嘉瑞婚介标识以任何方式展示或使用或作其他处理，也不得向他人表明会员有权展示、使用、或其他有权处理嘉瑞婚介标识的行为。</p>
                <p>4、上述及其他任何嘉瑞婚介或相关广告商依法拥有的知识产权均受到法律保护，未经嘉瑞婚介或相关广告商书面许可，会员不得以任何形式进行使用或创造相关衍生作品。</p>
                <p class="mt20">十一、法律责任</p>
                <p>1、如果嘉瑞婚介发现或收到他人举报或投诉会员违反本协议约定的，嘉瑞婚介有权不经通知随时对相关内容，包括但不限于会员资料、聊天记录进行审查、删除，并视情节轻重对违规帐号处以包括但不限于警告、帐号封禁 、设备封禁 、功能封禁 的处罚，且通知会员处理结果。</p>
                <p>2、因违反会员协议被封禁的会员，可致电“嘉瑞百合缘”客服电话023-68800997确认原因，或向嘉瑞婚介网站相关页面提交申诉，嘉瑞婚介将对申诉进行审查，并自行合理判断决定是否变更处罚措施。</p>
                <p>3、会员理解并同意，嘉瑞婚介有权依合理判断对违反有关法律法规或本协议规定的行为进行处罚，对违法违规的任何会员采取适当的法律行动，并依据法律法规保存有关信息向有关部门报告等，会员应承担由此而产生的一切法律责任。</p>
                <p>4、会员理解并同意，因会员违反本协议约定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，会员应当赔偿嘉瑞婚介与合作公司、关联公司，并使之免受损害。</p>
                <p class="mt20">十二、不可抗力及其他免责事由</p>
                <p>1、会员理解并确认，在使用本站服务的过程中，可能会遇到不可抗力等风险因素，使本站服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时，嘉瑞婚介将努力在第一时间与相关单位配合，及时进行修复，但是由此给会员或第三方造成的损失，嘉瑞婚介及合作单位在法律允许的范围内免责。</p>
                <p>2、本站服务同大多数互联网服务一样，受包括但不限于会员原因、网络服务质量、社会环境等因素的差异影响，可能受到各种安全问题的侵扰，如他人利用会员的资料，造成现实生活中的骚扰；会员下载安装的其它软件或访问的其他网站中含有“特洛伊木马”等病毒，威胁到会员的计算机信息和数据的安全，继而影响本站服务的正常使用等等。会员应加强信息安全及使用者资料的保护意识，要注意加强密码保护，以免遭致损失和骚扰。</p>
                <p>3、会员理解并确认，本站服务存在因不可抗力、计算机病毒或黑客攻击、系统不稳定、会员所在位置、会员关机以及其他任何技术、互联网络、通信线路原因等造成的服务中断或不能满足会员要求的风险，因此导致的会员或第三方任何损失，嘉瑞婚介不承担任何责任。</p>
                <p>4、会员理解并确认，在使用本站服务过程中存在来自任何他人的包括误导性的、欺骗性的、威胁性的、诽谤性的、令人反感的或非法的信息，或侵犯他人权利的匿名或冒名的信息，以及伴随该等信息的行为，因此导致的会员或第三方的任何损失，嘉瑞婚介不承担任何责任。</p>
                <p>5、会员理解并确认，嘉瑞婚介需要定期或不定期地对“嘉瑞百合缘”平台或相关的设备进行检修或者维护，如因此类情况而造成服务在合理时间内的中断，嘉瑞婚介无需为此承担任何责任，但嘉瑞婚介应事先进行通告。</p>
                <p>6、嘉瑞婚介依据法律法规、本协议约定获得处理违法违规或违约内容的权利，该权利不构成嘉瑞婚介的义务或承诺，嘉瑞婚介不能保证及时发现违法违规或违约行为或进行相应处理。</p>
                <p>7、会员理解并确认，对于嘉瑞婚介向会员提供的下列产品或者服务的质量缺陷及其引发的任何损失，嘉瑞婚介无需承担任何责任：</p>
                <p>(1) 嘉瑞婚介向会员免费提供的服务；</p>
                <p>(2) 嘉瑞婚介向会员赠送的任何产品或者服务。</p>
                <p>8、在任何情况下，嘉瑞婚介均不对任何间接性、后果性、惩罚性、偶然性、特殊性或刑罚性的损害，包括因会员使用”嘉瑞百合缘”或本站服务而遭受的利润损失，承担责任（即使嘉瑞婚介已被告知该等损失的可能性亦然）。尽管本协议中可能含有相悖的规定，嘉瑞婚介对会员承担的全部责任，无论因何原因或何种行为方式，始终不超过会员因使用嘉瑞婚介提供的服务而支付给嘉瑞婚介的费用(如有)。</p>
                <p class="mt20">十三、其他</p>
                <p>1、嘉瑞婚介郑重提醒会员注意本协议中免除嘉瑞婚介责任和限制会员权利的条款，请会员仔细阅读，自主考虑风险。</p>
                <p>2、本协议的效力、解释及纠纷的解决，适用于中华人民共和国法律。若会员和嘉瑞婚介之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，会员同意将纠纷或争议提交嘉瑞婚介住所地有管辖权的人民法院管辖。</p>
                <p>3、本协议的任何条款无论因何种原因无效或不具可执行性，其余条款仍有效，对双方具有约束力。</p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>