<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <a class="button button-icon icon ion-arrow-left-c" href="#/main/member/help"></a>
        <title class="title">约会须知</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100">
        <ion-list>
            <div class="item help_text">
                <p class="ti28">嘉瑞百合缘致力于为单身朋友成就幸福婚姻，建立美满幸福的家庭。为了提高会员的婚恋成功率，让每位会员都能通过本站找到属于自己的幸福，我们特别开创性推出“我的约会”栏目。</p>
                <p class="fwb title">一、目的。</p>
                <p class="ti28">丰富会员情感生活，让会员有更多机会接触异性朋友，促进情感交流，增进了解程度。</p>
                <p class="fwb title">二、参与会员条件。</p>
                <p class="ti28">1、已完善个人基本信息；</p>
                <p class="ti28">2、已上传身份证、军官证等有效证件并通过验证；</p>
                <p class="ti28">3、成为VIP以上级别会员且无被举报记录。</p>
                <p class="ti28">同时满足以上条件的会员，可自由发布约会或响应他人发布的约会。</p>
                <p class="fwb title">三、约会注意事项。</p>
                <p class="ti28">有太多优秀的男女擦肩而过，却往往只是因为忽略了约会的细节。尤其是初次约会时，尚未充分展示自己和了解对方，就因给对方留下不好的第一印象而错失彼此，实在令人惋惜。基于多年的职业经验，我们温馨提示单身朋友们，约会时应注意以下方面：</p>
                <p class="ti28 fwb">1、基本原则：谨记相互尊重。</p>
                <p class="ti28">每个人都是希望得到尊重的，尊重总会让人心情愉悦，这是无论男女最基本的心理需求。男士时时注意尊重并照顾女士可充分展现自己的绅士风度，女士尊重并感谢男士对自己的照顾也同样是有教养的表现。</p>
                <p class="ti28 fwb">2、约会地点尽量选择女士熟悉的区域。</p>
                <p class="ti28">多数情况下，女士寻找准确的道路和地点会比男士困难。因此，安排约会地点时，男士应尽量选择在女士熟悉的区域，必要时可与女士商量后选择对方非常熟悉的地点见面，再一同前往约会地点。避免约定时间已到，其中一方还未找到地点而影响双方见面时的心情。</p>
                <p class="ti28 fwb">3、按时赴约。</p>
                <p class="ti28">约会守时是对对方最大的尊重。特别说明，因性别差异，女士的琐事相对较多，对于时间和地点的概念相对较弱。所以男士应提前到达约会地点，迎接女士。女士应尽可能准时到达，不让男士久等。若女士无法准时到达时，也应及时告知男士，表达歉意，并尽快赶到，男士则应表示体谅。</p>
                <p class="ti28 fwb">4、仪容得体。</p>
                <p class="ti28">整洁的仪容会让双方都心情愉悦，也会让对方感受到你的尊重。男士应将头发梳理得当，胡须刮净或修饰整齐，着装整洁。女士应化淡妆，着装清新简洁。应避免穿着过分随意的服饰，比如男士穿无袖上装和拖鞋等，女士穿过短过紧裙装等。</p>
                <p class="ti28 fwb">5、点餐女士优先。</p>
                <p class="ti28">餐厅（咖啡厅）是最常见的约会地点。在点餐（饮料）时，男士应注意女士优先的原则，尽可能照顾女士的习惯，避免未经女士同意就自作主张。</p>
                <p class="ti28 fwb">6、餐桌基本礼仪。</p>
                <p class="ti28">就餐时应注意以下几点：避免发出较大的声音，这是有教养的表现；需为对方夹菜时，应尽量使用公筷；男士还应注意观察女士的进餐速度，适当放慢节奏，避免女士因看见男士已就餐完毕而不好意思继续用餐等。</p>
                <p class="ti28 fwb">7、围绕女士感兴趣的话题交谈。</p>
                <p class="ti28">约会过程中，相互交谈以展示自己并了解对方是最为重要的部分。男士应注意交谈内容要围绕女士感兴趣的话题展开，避免自己聊得很开心，女士却感到很无聊的情况发生。</p>
                <p class="ti28 fwb">8、真诚是最重要的。</p>
                <p class="ti28">约会是为了彼此了解，世上没有完美的人，让对方了解一个真实的自己，对关系的进一步发展至关重要。应避免吹牛皮、说大话的情况发生，相比在日后的交往中感觉自己受骗心理产生巨大的落差，每个人都更希望接纳一个真诚的人。</p>
                <p class="ti28 fwb">9、约会结束后。</p>
                <p class="ti28">约会结束后，男士应礼貌地送女士到她认为安全的地点，在女士暂时不愿意让对方了解自己的住址时，男士应礼貌地送女士上车，必要时可提前向司机支付车费并叮嘱司机安全将女士送到家。女士则应在回家后向男士回电话或短信，表示感谢并告知自己已安全到家。</p>



                <p class="fwb title">四、自我保护须知。</p>
                <p class="ti28">尽管本站严格审核发布约会与响应约会会员身份信息的真实性，但毕竟不是司法机关，难免出现个别居心不良者。特做如下提示：</p>
                <p class="ti28 fwb">1、选择公共场所，并告知家人或朋友</p>
                <p class="ti28">约会的首要原则是：选择公共场所约会，并告知自己的朋友或家人。您一定多次听到过这样的劝告：单独去一个陌生、偏僻的场所和陌生人约会是非常危险的。</p>
                <p class="ti28 fwb">2、控制首次约会时间，并独自回家</p>
                <p class="ti28">如果您是第一次与对方见面，即便早已精心准备期盼着这次约会，并且约会过程非常满意，也一定要掌握好首次约会的时间。既给下次约会留下一些神秘感，也让家人更放心。</p>
                <p class="ti28">首次约会结束后，尽可能独自回家，不急于让对方知道您确切的家庭住址，对于保护隐私和人身安全很有必要。</p>
                <p class="ti28 fwb">3、保持警惕，保护隐私信息</p>
                <p class="ti28">如果对方在初次约会前后不停地向您打探涉及隐私的种种信息，请务必保持冷静，并持有必要的警惕，机智应对。</p>
                <p class="ti28 fwb">4、约会中要察言观色</p>
                <p class="ti28">约会是加深双方感性认知，做出理智判断的最佳时机。所以，在约会中要注意观察对方的行为举止，比如：喜欢说大话、经常叹气、手舞足蹈、过激言行以及眼神、表情等细节。通过观察，建立正确而客观的第一印象对确定是否仍可继续交往以及交往后关系的发展大有裨益。</p>
                <p class="ti28 fwb">5、保持平常心并反思</p>
                <p class="ti28">嘉瑞百合缘会员数量众多，约会发布数量也因此很多，您很可能在站内迅速找到感觉合适的交往对象，但在您希望进一步加深关系前，务请回顾一下交友过程，并反思自己想要得到什么。不要因急于求成而盲目相信他人优越的条件，过早投入自己的情感，或做出使自己或他人不愉快的决定。尤其是在约会前，请慎重考虑。</p>
                <p class="ti28 fwb">6、勿轻易委身于人</p>
                <p class="ti28">在约会中，或许会有难以控制激情的情况发生，但在您还不十分了解并确定可以信任对方时，如若轻易付出自己的全部，结局往往与预期有极大距离，很多人都难以承受恋爱中因轻信而带来的身心的痛苦。珍惜自己的情感，保持克制和谨慎，才更有可能收获真正的爱情。</p>
                <p class="ti28 fwb">7、勿发生借贷关系</p>
                <p class="ti28">新闻中常有被网友骗取财物的报道，给当事人物质和精神上均带来严重伤害。特别提醒各位会员朋友：切勿和对方发生借贷关系。即便通过几次约会已与对方有一定了解和信任时，也务必留下凭据，以免造成不愉快的结果。</p>
                <p class="ti28 fwb">8、其它注意事项</p>
                <p class="ti28">保护好手机和手机号码，谨防被对方知道号码或带有欺骗性的借用；看管好身份证；不要透露涉及自己切身利益的私密信息。</p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>