<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar align-title="center"  class="com_w_100 bhy">
        <title class="title">会员须知（防骗指南）</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100">
        <ion-list>
            <div class="item help_text">
                <p class="ti28">嘉瑞百合缘致力于为单身朋友成就幸福婚姻，建立美满幸福的家庭，努力为会员朋友营造了一个安全、真实、纯净、严肃的婚恋交友平台。</p>
                <p class="ti28">但始终有极少数别有用心的网络骗子，通过各种社交平台，利用他人的感情，使他人蒙受精神上的伤害，乃至于财产损失。我们希望会员朋友加强防范意识，如遇到受骗的情况请及时报警并拨打“嘉瑞百合缘”客服电话举报，与我们一起携手打击骗子。</p>
                <p class="ti28">在与网络骗子坚持不懈斗争的过程中，我们总结了一些骗子的常见伎俩，特向会员朋友们分享如下：</p>
                <p class="fwb title">一、骗子的基本特征：</p>
                <p class="ti28">1、男性往往自称单身或丧偶的成功男士，女性往往自称事业型女强人或丧偶后丈夫留下巨额财产自己无法继续经营的富婆，大多数自称来自广东、香港等地。</p>
                <p class="ti28">2、大面积浏览异性主页，并同时群发大量希望找到有缘人的交友信息，部分骗子会在初次发送信息即表达感情经历的不幸或直接发送联系方式。</p>
                <p class="ti28">3、确认对方是否在群发信息，可通过以下迹象判断：后续通信中是否有答非所问、按固定模板发送他想要表达的信息之类可疑的情况，因为骗子大面积撒网时，难以像正常人一样沟通时准确回复对方问题来达到交流的目的，也并非每个成员都能有极强的应变能力，所以会采用固定模板发送信息。</p>
                <p class="ti28">4、在交流中重点展示自身优越的经济条件，并表达寻偶的真诚和感情经历的不幸，以达到博取对方信任的目的。</p>
                <p class="ti28">5、急于希望得到对方的QQ、微信、电话号码等私密联系方式，或主动提供自己的私密联系方式，这是希望能快速交流，锁定行骗目标。</p>
                <p class="ti28">6、在博取对方信任后，很快就会编制各种理由，提出需要对方花钱或向对方借钱。这是骗子的终极目的。</p>
                <p class="ti28"><b>温馨提示：</b>凡是交往中涉及钱财时，务必谨慎对待，切不可轻信对方自我描述的优越条件（甚至带你参观的公司厂房等都有可能是虚假的）。应通过其他渠道反复确认后再作判断，或直接断绝交往，不给骗子以任何可趁之机。</p>
                <p class="fwb title">二、骗子的常用借口：</p>
                <p class="ti28">1、女孩声称没钱上学，寻求帮助。</p>
                <p class="ti28">2、女性声称父母家人患病，急需医治，寻求帮助。</p>
                <p class="ti28">3、男性冒充海归，声称患病或受到政治迫害，向女性借钱。</p>
                <p class="ti28">4、男性冒充老板，声称资金周转不足或钱包丢失，向女性借钱。</p>
                <p class="ti28">5、在约会过程中，来电谎称途中发生车祸，要对方向账户汇款。</p>
                <p class="fwb title">三、骗子的常见类型：</p>
                <p class="fwb title">1、酒托 / 饭托</p>
                <p class="ti28">一般为女性，通常所上传的照片都较为漂亮，见面时照片与本人有明显出入。重点是将约会地点指定为某个酒吧、茶餐厅或娱乐场所，该场所消费明显高于其它同档次场所，骗取目标对象高额消费后从该场所分成。</p>
                <p class="fwb title">2、花篮托</p>
                <p class="ti28">以中年男性为主，通常资料中显示为事业有成，也有女性。重点是急于与目标对象确立恋爱关系，之后以公司开业、店面开张为由要求目标对象到指定花店买花或直接向账户汇款。</p>
                <p class="fwb title">3、机票托</p>
                <p class="ti28">通常为团伙性质，重点是在一定程度的交往后，告知目标对象要乘坐飞机前往看望或出差。之后以钱包被盗等理由，要求目标对象为其汇款购买机票，并利用事先录好的机场录音，以及团伙其他成员假扮机场工作人员等角色与目标对象通话，迷惑目标对象。</p>
                <p class="fwb title">4、赌博网站或赛马会</p>
                <p class="ti28">一般自称来自广东、香港，重点是取得信任后，虚构赌博网站或赛马会等机构，声称自己在其中工作，知道内幕消息，引诱目标对象进行巨额投资。</p>
                <p class="fwb title">5、淘宝网店加盟或炒期（现）货</p>
                <p class="ti28">一般为女性，重点是取得信任后，自称兼职做加盟淘宝店，不需进货款，，或自称炒期（现）货，现状均是已赚钱，希望目标对象能陪自己一起做共同的事业。并会发来另外一个QQ号码，称其为某某公司客服号码或指导老师号码，让目标对象将加盟费或投资款汇至指定账户。</p>
                <p class="fwb title">6、缴纳护照保证金</p>
                <p class="ti28">一般自称是境外人士，重点是取得信任后，邀请目标对象到自己虚拟的境外所在地，并自称可帮忙办理相关手续并负责所有费用，但在办理中途，告知目标对象需要缴纳保证金，并告知保证金会退回，保证金需汇至指定账户。</p>
                <p class="fwb title">7、手机充值</p>
                <p class="ti28">多为女性，重点是声称手机欠费，无法正常接打目标对象电话，自己又不方便出门，希望帮忙充值。充值后，往往还会表示未收到，要求再充一次。多次重复后，在目标对象发现上当后立即拉入黑名单并消失。</p>
                <p class="fwb title">8、高额声讯电话</p>
                <p class="ti28">重点是主动提供自己的联系电话，该号码为高额收费的声讯电话，一般不会主动联系他人，而是等目标对象主动拨打该电话号码，产生高额话费。</p>
                <p class="fwb title">9、中奖圈套</p>
                <p class="ti28">重点是伪造“嘉瑞百合缘”网站，一般会在网址上做微小更改，并通过“嘉瑞百合缘”留言向大量用户传播中奖信息，在信息中提供伪造网站的网址，若相信并登录后，会以高额邮递费、税费、手续费等名目要求目标对象汇款至指定账户，或者要求目标对象填写真实姓名、身份证号码、电话号码、网站用户名和密码等，套取目标对象隐私信息。</p>
                <p class="ti28"><b>温馨提示：</b>“嘉瑞百合缘”举办所有活动，均会在唯一网址“www.baihey.com”发布，且会在站内专属页面明确公布细则和获奖者名单，同时，不会以邮递费、税金、手续费等任何名目向获奖者收取费用，也不会要求获奖者提供任何隐私信息。</p>
                <p class="fwb title">特别提醒：在寻找幸福的道路上，保持必要的谨慎和警惕，万不可急于求成，被对方自我描述的优越条件所诱惑。如遇受骗情况时，请及时报警并拨打“嘉瑞百合缘”的客服电话023-68800997举报。衷心祝愿会员朋友在保证自己的人身和财产安全的前提下，都能寻找到属于自己的真爱！</p>
            </div>
        </ion-list>
    </ion-content>
</ion-view>