<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar align-title="center" class="com_w_100 bhy">
        <title class="title">嘉瑞规则</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 help_rule">
        <ion-list>
            <div class="item tac pd0 bor_0">
                <img src="/wechat/web/images/help_headImg.jpg" class="w100">
            </div>
            <div class="item pd0 bor_0 mt30">
                <div class="st1"></div>
                <div class="t1 mt20 padding">
                    当您<span class="cor54 fs18">没有头像</span>的情况下，您是<span class="cor54 fs18">无法显示在首页</span>并且<span
                        class="cor54 fs18">其他用户也搜索不到您！</span>
                </div>
                <img src="/wechat/web/images/help_sj1.jpg" class="w100 mt30">
            </div>

            <div class="item pd0 bor_0">
                <div class="st2"></div>
                <div class="t1 mt20 padding">
                    当您<span class="cor54 fs18">未上传身份证</span>的情况下，嘉瑞管理员会<span class="cor54 fs18">以安全消息提示给对方。</span>
                </div>
                <img src="/wechat/web/images/help_sj2.jpg" class="w100 mt30">
            </div>
            <div class="item pd0 bor_0">
                <div class="t1 mt20 padding">
                    为了给您提供一个<span class="cor54 fs18">安全、真实、严谨</span>的婚恋平台，请您<span class="cor54 fs18">上传照片及身份证进行实名认证</span>，以便得到更多会员的青睐。
                </div>
                <div class="bt mt20 mb20 tac">
                    <span>婚姻是严肃的；坦诚、真实的自己=幸福的婚姻</span>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>