<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <a class="button button-icon icon ion-arrow-left-c" href="#/main/member/index"></a>
        <title class="title">帮助中心</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 help">
        <div class="help_banner">
            <img src="/wechat/web/images/member/help.png" />
        </div>
        <ion-list>
            <a class="item item-icon-right" href="#/main/member/help_notice">
                会员须知（防骗指南）
                <i class="icon ion-ios-arrow-right cor50"></i>
            </a>
            <a class="item item-icon-right" href="#/main/member/help_appointment">
                约会须知
                <i class="icon ion-ios-arrow-right cor50"></i>
            </a>
            <a class="item item-icon-right" href="#/main/member/help_protocol">
                会员协议
                <i class="icon ion-ios-arrow-right cor50"></i>
            </a>
        </ion-list>
    </ion-content>
</ion-view>