<ion-view hide-tabs>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="main.member_honesty"></button>
        <title class="title">房产认证</title>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg honesty">
        <div class="card">
            <div class="item item-divider">
                请您上传房产证照片
            </div>
            <div class="item item-text-wrap">
                <div class="upload_box">
                    <span class="upload_text">
                        <p class="tac">
                            <i class="icon ion-plus-round upload_icon"></i>
                        </p>
                        <p class="tac">
                            <span class="upload_title">添加照片</span>
                        </p>
                    </span>
                </div>
                <div class="upload_box">
                    <span class="upload_text">
                        <p class="tac">
                            <i class="icon ion-plus-round upload_icon"></i>
                        </p>
                        <p class="tac">
                            <span class="upload_title">添加照片</span>
                        </p>
                    </span>
                </div>
                <input id="ml_idCard" type="file" nv-file-select uploader="uploader"
                       style="visibility: hidden; display: none;" accept="image/*" >
                <input id="re_idCard" type="file" nv-file-select uploader="uploader"
                       style="visibility: hidden; display: none;" accept="image/*" >
            </div>
        </div>

    </ion-content>
</ion-view>