<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/js/plugin/amezeui/css/amazeui.min.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">身份认证</title>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 honesty">
        <div class="card">
            <div class="item item-divider">
                请您上传身份证照片（正反两面）
            </div>
            <div class="item item-text-wrap">

                <ul class="am-avg-sm-2 am-thumbnails tac" data-am-widget="gallery" data-am-gallery="{ pureview: {target: 'a'} }">
                    <li class="am-gallery-item"><button type="button" class="am-btn am-btn-primary am-btn-sm am-radius" ng-click="addNewImg('identity_pic1')">上传正面</button><a href="{{userInfo.auth.identity_pic1 | picture}}"><img ng-if="userInfo.auth.identity_pic1 != '未知'" class="am-thumbnail mt10" src="{{userInfo.auth.identity_pic1}}" alt="正面"/></a></li>
                    <li class="am-gallery-item"><button type="button" class="am-btn am-btn-secondary am-btn-sm am-radius" ng-click="addNewImg('identity_pic2')">上传反面</button><a href="{{userInfo.auth.identity_pic2 | picture}}"><img ng-if="userInfo.auth.identity_pic2 != '未知'" class="am-thumbnail mt10" src="{{userInfo.auth.identity_pic2}}" alt="反面"/></a></li>
                </ul>
                <input id="identity_pic1" type="file" nv-file-select uploader="uploader1"
                       style="visibility: hidden; display: none;" accept="image/*">
                <input id="identity_pic2" type="file" nv-file-select uploader="uploader2"
                       style="visibility: hidden; display: none;" accept="image/*">
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                请您填写身份证信息
            </div>
            <div class="item item-text-wrap ">
                <label class="item item-input">
                    <span class="input-label">真实姓名</span>
                    <input type="text" ng-model="formData.real_name" placeholder="请输入您的真实姓名">
                </label>
                <label class="item item-input">
                    <span class="input-label">身份证号码</span>
                    <input type="text" ng-model="formData.identity_id" placeholder="请输入您的身份证号码">
                </label>
                <label class="item item-input">
                    <span class="input-label">身份证地址</span>
                    <input type="text" ng-model="formData.identity_address" placeholder="请输入您的身份证地址">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>