<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">房产认证</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg honesty">
        <div class="card">
            <div class="item item-divider">
                请您上传房产证照片
            </div>
            <div class="item item-text-wrap zj_wrap tac">
                <div class="zj_w pr dib card_hosing" ng-if="!authList[0].thumb_path"></div>
                <div class="zj_w pr dib" ng-if="authList[0].thumb_path">
                    <div class="bhy-gallery">
                        <a ng-href="{{authList[0].thumb_path | picture}}"
                           data-size="{{authList[0].thumb_path.split('.')[0].split('_')[1] + 'x' + authList[0].thumb_path.split('.')[0].split('_')[2]}}">
                            <img ng-src="{{authList[0].thumb_path}}">
                        </a>
                    </div>
                </div>
                <br/>
                <button type="button" class="button button-calm mb10"
                        ng-click="addNewImg('honesty1')">点击上传
                </button>
                <input id="honesty1" type="file" nv-file-select uploader="uploader"
                       style="visibility: hidden; display: none;" accept="image/*">
            </div>
        </div>

    </ion-content>

</ion-view>