<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <a class="button button-icon icon ion-arrow-left-c" href="#/main/member/honesty"></a>
        <title class="title">身份认证</title>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg honesty">
        <div class="card">
            <div class="item item-divider">
                请您上传身份证照片（正反两面）
            </div>
            <div class="item item-text-wrap">
                <div class="upload_box">
                    <span class="upload_text tac" ng-click="addNewImg('identity_pic1')">
                        <span ng-show="userInfo.auth.identity_pic1 != '未知'">
                            <img src="{{userInfo.auth.identity_pic1}}">
                        </span>
                        <p class="tac" ng-show="userInfo.auth.identity_pic1 == '未知'">
                            <i class="icon ion-plus-round upload_icon"></i>
                        </p>
                        <p class="tac">
                            <span class="upload_title">身份证正面</span>
                        </p>
                    </span>
                </div>
                <div class="upload_box">
                    <span class="upload_text tac" ng-click="addNewImg('identity_pic2')">
                        <span ng-show="userInfo.auth.identity_pic2 != '未知'">
                            <img src="{{userInfo.auth.identity_pic2}}">
                        </span>
                        <p class="tac" ng-show="userInfo.auth.identity_pic2 == '未知'">
                            <i class="icon ion-plus-round upload_icon"></i>
                        </p>
                        <p class="tac">
                            <span class="upload_title">身份证反面</span>
                        </p>
                    </span>
                </div>
                <input id="identity_pic1" type="file" nv-file-select uploader="uploader1"
                       style="visibility: hidden; display: none;" accept="image/*" >
                <input id="identity_pic2" type="file" nv-file-select uploader="uploader2"
                       style="visibility: hidden; display: none;" accept="image/*" >
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                请您填写身份证信息
            </div>
            <div class="item item-text-wrap ">
                <label class="item item-input">
                    <span class="input-label">真实姓名</span>
                    <input type="text" ng-model="formData.real_name" placeholder="请输入您的真实姓名">
                </label>
                <label class="item item-input">
                    <span class="input-label">身份证号码</span>
                    <input type="text" ng-model="formData.identity_id" placeholder="请输入您的身份证号码">
                </label>
                <label class="item item-input">
                    <span class="input-label">身份证地址</span>
                    <input type="text" ng-model="formData.identity_address" placeholder="请输入您的身份证地址">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>