<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <a class="button button-icon icon ion-arrow-left-c" href="#/main/member/honesty"></a>
        <title class="title">学历认证</title>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg honesty">
        <div class="card">
            <div class="item item-divider">
                请您上传学位证、毕业证照片
            </div>
            <div class="item item-text-wrap">
                <div class="upload_box">
                    <span class="upload_text tac" ng-click="addNewImg('education_pic1')">
                        <span ng-show="userInfo.auth.education_pic1 != '未知'">
                            <img src="{{userInfo.auth.education_pic1}}">
                        </span>
                        <p class="tac" ng-show="userInfo.auth.education_pic1 == '未知'">
                            <i class="icon ion-plus-round upload_icon"></i>
                        </p>
                        <p class="tac">
                            <span class="upload_title">添加照片</span>
                        </p>
                    </span>
                </div>
                <div class="upload_box">
                    <span class="upload_text tac" ng-click="addNewImg('education_pic2')">
                        <span ng-show="userInfo.auth.education_pic2 != '未知'">
                            <img src="{{userInfo.auth.education_pic2}}">
                        </span>
                        <p class="tac" ng-show="userInfo.auth.education_pic2 == '未知'">
                            <i class="icon ion-plus-round upload_icon"></i>
                        </p>
                        <p class="tac">
                            <span class="upload_title">添加照片</span>
                        </p>
                    </span>
                </div>
                <input id="education_pic1" type="file" nv-file-select uploader="uploader1"
                       style="visibility: hidden; display: none;" accept="image/*" >
                <input id="education_pic2" type="file" nv-file-select uploader="uploader2"
                       style="visibility: hidden; display: none;" accept="image/*" >
            </div>
        </div>

    </ion-content>
</ion-view>