<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">诚信认证</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg honesty">
        <ion-list>
            <p class="p_0_10 cor5">注：您所传证件照片我们会为您保密，不会向任何第三方公开(包括征婚会员)，请您放心上传。</p>
            <ion-item class="item item-icon-left" ng-href="{{sfzCheck > 0 ? '' : '#/member/honesty_sfz'}}">
                <i class="icon bhy-icon-idt cor3"></i>
                <div class="menu_name">
                    <p>身份认证</p>
                </div>
                <div class="menu_arrow">
                    <span class="cor8 mr15 fs14" ng-if="sfzCheck == 1">已认证</span>
                    <span class="cor20 mr15 fs14" ng-if="sfzCheck == 2">审核中</span>
                    <span class="cor15 mr15 fs14" ng-if="sfzCheck == 0 || sfzCheck === ''">此项必须认证</span>
                    <i class="ion-ios-arrow-right vam" ng-if="sfzCheck == 0 || sfzCheck === ''"></i>
                </div>
            </ion-item>
            <ion-item class="item item-icon-left" ng-href="{{marrCheck > 0 ? '' : '#/member/honesty_marr'}}">
                <i class="icon bhy-icon-marr cor32"></i>
                <div class="menu_name">
                    <p>婚姻认证</p>
                </div>
                <div class="menu_arrow">
                    <span class="cor8 mr15 fs14" ng-if="marrCheck == 1">已认证</span>
                    <span class="cor20 mr15 fs14" ng-if="marrCheck == 2">审核中</span>
                    <i class="ion-ios-arrow-right vam" ng-if="marrCheck == 0 || marrCheck === ''"></i>
                </div>
            </ion-item>
            <ion-item class="item item-icon-left" ng-href="{{eduCheck > 0 ? '' : '#/member/honesty_edu'}}">
                <i class="icon bhy-icon-edu cor9"></i>
                <div class="menu_name">
                    <p>学历认证</p>
                </div>
                <div class="menu_arrow">
                    <span class="cor8 mr15 fs14" ng-if="eduCheck == 1">已认证</span>
                    <span class="cor20 mr15 fs14" ng-if="eduCheck == 2">审核中</span>
                    <i class="ion-ios-arrow-right vam" ng-if="eduCheck == 0 || eduCheck === ''"></i>
                </div>
            </ion-item>
            <ion-item class="item item-icon-left" ng-href="{{housingCheck > 0 ? '' : '#/member/honesty_housing'}}">
                <i class="icon icon-home cor15"></i>
                <div class="menu_name">
                    <p>房产认证</p>
                </div>
                <div class="menu_arrow">
                    <span class="cor8 mr15 fs14" ng-if="housingCheck == 1">已认证</span>
                    <span class="cor20 mr15 fs14" ng-if="housingCheck == 2">审核中</span>
                    <i class="ion-ios-arrow-right vam" ng-if="housingCheck == 0 || housingCheck === ''"></i>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>