<link href="/wechat/web/css/member.css" rel="stylesheet">
<div class="com_w_100" ng-controller="member.index">

    <ion-content class="has-footer member com_w_100">
        <ion-list>
            <ion-item class="member_hdr">
                <div class="fl u_img">
                    <img class="rounded" src="/wechat/web/images/test.jpg">
                </div>
                <div class="fl u_info ml10">
                    <p>
                        <strong class="fs14">张小姐</strong>
                        <span class="ml5 cor22">
                            27岁
                            <span class="sx">|</span>
                            未婚
                            <span class="sx">|</span>
                            本科
                        </span>
                    </p>
                    <p class="mt5">
                        <span class="identity sfz">身份证</span>
                        <span class="identity phone" >手机</span>
                        <span class="identity vip">vip</span>
                        <span class="identity guest">贵宾</span>
                        <span class="identity diamond">钻石</span>
                    </p>
                    <p class="mt5 u_id">
                        ID：6511580
                    </p>
                </div>
                <div class="small_hdr_info fr">
                    <button class="button cor4 fs20 button-icon ion-ios-arrow-right"></button>
                </div>
                <div class="hdr_info fr">
                    <button class="hdr_info_btn button-light rounded mt20">资料<i class="ml5 ion-ios-arrow-right"></i></button>
                </div>

                <div class="hdr_tips fl pr">
                    <p class="tips"><span class=""><i class="ion-alert"></i></span>您还未上传身份证！</p>
                </div>
            </ion-item>

            <ion-item class="personal_info">
                <div class="">

                </div>
            </ion-item>
        </ion-list>

    </ion-content>

</div>
