<link href="/wechat/web/css/member.css" rel="stylesheet">
<div class="com_w_100" ng-controller="member.index">

    <ion-content class="has-footer member com_w_100">
        <ion-list>
            <ion-item class="member_hdr">
                <div class="fl u_img">
                    <img class="rounded" src="/wechat/web/images/test.jpg">
                </div>
                <div class="fl u_info ml10">
                    <p>
                        <strong class="fs14">张小姐</strong>
                        <span class="ml5 cor22">
                            27岁
                            <span class="sx">|</span>
                            未婚
                            <span class="sx">|</span>
                            本科
                        </span>
                    </p>
                    <p class="mt5">
                        <span class="identity sfz">身份证</span>
                        <span class="identity phone">手机</span>
                        <span class="identity vip">vip</span>
                        <span class="identity guest">贵宾</span>
                        <span class="identity diamond">钻石</span>
                    </p>
                    <p class="mt5 u_id">
                        ID：6511580
                    </p>
                </div>
                <div class="small_hdr_info fr">
                    <button class="button cor4 fs20 button-icon ion-ios-arrow-right"></button>
                </div>
                <div class="hdr_info fr">
                    <button class="hdr_info_btn button-light rounded mt20">资料<i class="ml5 ion-ios-arrow-right"></i>
                    </button>
                </div>

                <div class="hdr_tips fl pr clearfix">
                    <p class="tips fl">
                        <i class="fl icon-bhy-tips-02 mr5 mt10"></i>
                        <span class="fl">您还未上传身份证！</span>
                        <i class="fr ion-ios-arrow-right fs20"></i>
                    </p>
                </div>
            </ion-item>

            <ion-item class="personal_info">
                <div class="member_menu_i rounded per">
                    <i class="icon-bhy-member-menu-01"></i>
                </div>
                <div class="menu_name">
                    <p>个人动态</p>
                </div>
            </ion-item>
            <ion-item class="follow_info">
                <div class="member_menu_i rounded follow">
                    <i class="icon-bhy-member-menu-02"></i>
                </div>
                <div class="menu_name">
                    <p>谁关注了我</p>
                </div>
            </ion-item>
            <ion-item class="engagements_info">
                <div class="member_menu_i rounded eng">
                    <i class="icon-bhy-member-menu-03"></i>
                </div>
                <div class="menu_name">
                    <p>我的约会</p>
                </div>
            </ion-item>
            <ion-item class="marker_info">
                <div class="member_menu_i rounded marker">
                    <i class="icon-bhy-member-menu-04"></i>
                </div>
                <div class="menu_name">
                    <p>申请红娘服务</p>
                </div>
            </ion-item>
            <ion-item class="privacy_info">
                <div class="member_menu_i rounded privacy">
                    <i class="icon-bhy-member-menu-05"></i>
                </div>
                <div class="menu_name">
                    <p>隐私设置</p>
                </div>
            </ion-item>
            <ion-item class="security_info">
                <div class="member_menu_i rounded security">
                    <i class="icon-bhy-member-menu-06"></i>
                </div>
                <div class="menu_name">
                    <p>账户安全</p>
                </div>
            </ion-item>
            <ion-item class="honesty_info">
                <div class="member_menu_i rounded honesty">
                    <i class="icon-bhy-member-menu-07"></i>
                </div>
                <div class="menu_name">
                    <p>诚信认证</p>
                </div>
            </ion-item>
            <ion-item class="vip_info">
                <div class="member_menu_i rounded vip">
                    <i class="icon-bhy-member-menu-08"></i>
                </div>
                <div class="menu_name">
                    <p>会员中心</p>
                </div>
            </ion-item>
            <ion-item class="money_info">
                <div class="member_menu_i rounded money">
                    <i class="icon-bhy-member-menu-09"></i>
                </div>
                <div class="menu_name">
                    <p>嘉瑞红包</p>
                </div>
            </ion-item>
            <ion-item class="about_info">
                <div class="member_menu_i rounded about">
                    <i class="icon-bhy-member-menu-10"></i>
                </div>
                <div class="menu_name">
                    <p>关于嘉瑞</p>
                </div>
            </ion-item>
            <ion-item class="help_info">
                <div class="member_menu_i rounded help">
                    <i class="icon-bhy-member-menu-11"></i>
                </div>
                <div class="menu_name">
                    <p>帮助中心</p>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>

</div>
