<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/fontIcon.css" rel="stylesheet">
    <ion-header-bar>
        <title class="title">我的资料</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 infomation bg5">
        <ion-list>
            <div class="imgList_con">
                <div class="imgList_handle clearfix ">
                    <div class="bhy-gallery">
                        <a class="imgItem pr" ng-repeat="img in imgList | orderBy:['-is_head']" on-hold="moreImg($index)" ng-href="{{img.thumb_path | picture}}" data-size="{{img.thumb_path.split('.')[0].split('_')[1] + 'x' + img.thumb_path.split('.')[0].split('_')[2]}}">
                            <img src="{{img.thumb_path}}">
                            <div class="underReview" ng-if="img.is_check != 1"><span class="">审核中</span></div>
                        </a>
                    </div>
                    <div ng-if="imgList.length < 12 || !imgList" class="imgItem addItem" ng-click="addNewImg()">
                        <i class="ion-plus-round"></i>
                    </div>
                    <div class="tip fl w100">温馨提示：相册第一张为头像，长按照片可设置头像，您最多可以上传12张照片。</div>
                </div>
            </div>
            <input id="pic_fileInput" type="file" nv-file-select="" uploader="uploader"
                   style="visibility: hidden; display: none;" accept="image/*">

            <ion-item ng-if="!honestyStatus" class="mb10 item-icon-left item-icon-right" href="#/member/honesty">
                <i class="icon ion-android-alert assertive"></i>
                实名制婚恋，上传身份证，完善资料！
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="idt">
                <p>
                    <span ng-class="{0:'not'}[honesty(userInfo.honesty_value)]" class="identity id">身份证</span>
                        <span ng-class="{true:'not'}[userInfo.phone == null || userInfo.phone == '']"
                              class="identity phone">手机</span>
                    <span ng-class="{false:'not'}[userInfo.info.level == '1']" class="identity vip">VIP</span>
                    <span ng-class="{false:'not'}[userInfo.info.level == '2']" class="identity guest">贵宾</span>
                    <span ng-class="{false:'not'}[userInfo.info.level == '3']" class="identity diamond">钻石</span>
                    <span class="ml10">
                        {{userInfo.info.constellation | constellation}} {{userInfo.info.zodiac | zodiac}}
                    </span>
                </p>
            </ion-item>
            <ion-item class="item-icon-right" ng-href="{{dynamicList.length > 0 ? '#/member/discovery' : '#/member/discovery_add'}}">
                   <p>
                    <span class="cor4">个人动态</span>
                    <span class="ml20 cor4" ng-if="dynamicList.length < 1">发布我的第一条个人动态</span>
                   </p>
                    <ul class="dynamicImg clearfix mt10" ng-if="dynamicList.length > 0">
                        <li ng-repeat="dynamic in dynamicList | limitTo:3" ng-if="dynamic.imgList.length > 0">
                            <div class="dynamicImg-item">
                                <img ng-src="{{dynamic.imgList[0].thumb_path}}" alt="." >
                            </div>
                        </li>
                    </ul>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="mb10 item-icon-right" ng-click="updateInfo('signature')">
                <p>
                    <span class="cor4">个人签名</span>
                    <span class="cor21 ml20" ng-if="!userInfo.personalized">立即填写</span>
                    <span class="ml20" ng-if="userInfo.personalized">{{userInfo.personalized}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo(userInfo.info.real_name ? '' : 'real_name')">
                <p>
                    <span class="cor4">真实姓名</span>
                    <span ng-if="!userInfo.info.real_name" class="ml20 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.real_name" class="ml20 mr10">{{userInfo.info.real_name}}</span>
                    <span class="fs12 cor">保密，仅自己可见</span>
                </p>
                <i ng-if="!userInfo.info.real_name" class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo(userInfo.age ? '' : 'age')">
                <p>
                    <span class="cor4">年龄</span>
                    <span ng-if="!userInfo.age" class="ml48 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.age" class="ml48 mr10">{{userInfo.age}}岁</span>
                </p>
                <i ng-if="!userInfo.age" class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo(userInfo.info.height ? '' : 'height')">
                <p>
                    <span class="cor4">身高</span>
                    <span ng-if="!userInfo.info.height" class="ml48 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.height" class="ml48 mr10">{{userInfo.info.height}}厘米</span>
                </p>
                <i ng-if="!userInfo.info.height" class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('education')">
                <p>
                    <span class="cor4">学历</span>
                    <span ng-if="!userInfo.info.education" class="ml48 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.education" class="ml48 mr10">{{userInfo.info.education | education}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo(userInfo.info.is_marriage ? '' : 'is_marriage')" >
                <p>
                    <span class="cor4">婚姻状况</span>
                    <span ng-if="!userInfo.info.is_marriage" class="ml20 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.is_marriage"
                          class="ml20 mr10">{{userInfo.info.is_marriage | marriage}}</span>
                </p>
                <i ng-if="!userInfo.info.is_marriage" class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('occupation')">
                <p>
                    <span class="cor4">职业</span>
                    <span ng-if="!userInfo.info.occupation" class="ml48 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.occupation" class="ml48 mr10">{{userInfo.info.occupation | occupation : userInfo.info.children_occupation}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('address')">
                <p>
                    <span class="cor4">地区</span>
                    <span ng-if="!userInfo.province" class="ml48 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.province" class="ml48 mr10">{{userInfo.province | address:userInfo.city:userInfo.area}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('haunt_address')">
                <p>
                    <span class="cor4">常出没地</span>
                    <span ng-if="!userInfo.info.haunt_address" class="ml20 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.haunt_address" class="ml20 mr10">{{userInfo.info.haunt_address}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>

            <!--<ion-item href="" class="mt10 mb10">
                <div class="info_l">
                    <p>礼物</p>
                </div>
                <div class="info_c">
                    <p class="gift_t">我有<span>3</span>个喜欢的礼物</p>
                    <p class="gift_list mt10">
                        <img class="gift_img" src="/wechat/web/images/test/gift1.jpg">
                        <img class="gift_img" src="/wechat/web/images/test/gift1.jpg">
                        <img class="gift_img" src="/wechat/web/images/test/gift1.jpg">
                    </p>
                </div>
                <div class="info_r">
                    <i class=" ion-ios-arrow-right"></i>
                </div>
            </ion-item>-->
            <ion-item class="item-icon-right" ng-click="updateInfo('wechat_number')">
                <p>
                    <span class="cor4">微信号码</span>
                    <span ng-if="!userInfo.info.wechat" class="ml20 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.wechat" class="ml20 mr10">{{userInfo.info.wechat}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('qq_number')">
                <p>
                    <span class="cor4">Q Q号码</span>
                    <span ng-if="!userInfo.info.qq" class="ml20 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.qq" class="ml20 mr10">{{userInfo.info.qq}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <div class="hobby">
                <div class="hobby_bg">
                    <img src="/wechat/web/images/info_hobby_bg.jpg">
                </div>
                <div class="hobby_t">
                    <div class="h_t_b tac">
                        <span class="h_t_t">填出真正的自己，总有一位会关注您！</span>
                    </div>
                </div>
            </div>
            <ion-item class="item-icon-right" ng-click="updateInfo('been_address')">
                <p><span class="cor4">我去过的地方({{went_travel_count}})</span></p>
                <div class="hob_addr clearfix">
                        <span class="hob_addr_flag" ng-repeat="addrt in went_travel track by addrt.id">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">{{addrt.name}}</span>
                        </span>
                </div>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('want_address')">
                    <p><span class="cor4">想去的地方({{want_travel_count}})</span></p>
                    <div class="hob_addr clearfix">
                            <span class="hob_addr_flag f2" ng-repeat="addrt in want_travel track by addrt.id">
                                <i class="ion-location hob_addr_icon"></i>
                                <span class="hob_addr_name">{{addrt.name}}</span>
                            </span>
                    </div>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('sports')">
                <p><span class="cor4">喜欢的运动({{love_sport_count}})</span></p>
                    <div class="hob_sport clearfix">
                        <span class="hob_sport_flag" ng-repeat="addrt in love_sport track by addrt.id">
                            <i class="icon-sport-{{addrt.pic_path}} hob_sport_icon"></i>
                            <span class="hob_sport_name">{{addrt.name}}</span>
                        </span>
                    </div>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>

            <ion-item class="item-icon-right" ng-click="updateInfo('movie')">
                    <p><span class="cor4">喜欢的影视({{want_film_count}})</span></p>
                <div class="hob_sport clearfix">
                        <span class="hob_tv_flag" ng-repeat="addrt in want_film track by addrt.id">
                            <i class="ion-ios-play mr5"></i>
                            <span class="hob_sport_name">{{addrt.name}}</span>
                        </span>
                </div>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>

            <ion-item class="item-icon-right" ng-click="updateInfo('delicacy')">
                    <p><span class="cor4">喜欢的美食({{like_food_count}})</span></p>
                    <div class="hob_food clearfix">
                        <span class="hob_food_flag" ng-repeat="addrt in like_food track by addrt.id">
                            <i class="icon-food hob_food_icon"></i>
                            <span class="hob_food_name">{{addrt.name}}</span>
                        </span>
                    </div>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-divider">
                详细资料
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo(userInfo.info.nation ? '' : 'nation')">
                <p>
                    <span class="cor4">民族</span>
                    <span ng-if="!userInfo.info.nation" class="ml48 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.nation" class="ml48 mr10">{{userInfo.info.nation | nation}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>

            <ion-item class="item-icon-right" ng-click="updateInfo('children')">
                <p>
                    <span class="cor4">子女状况</span>
                    <span ng-if="!userInfo.info.is_child" class="ml20 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.is_child" class="ml20 mr10">{{userInfo.info.is_child | child}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>


            <ion-item class="item-icon-right" ng-click="updateInfo('salary')">
                <p>
                    <span class="cor4">年薪</span>
                    <span ng-if="!userInfo.info.year_income" class="ml48 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.year_income"
                          class="ml48 mr10">{{userInfo.info.year_income | yearIncome}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('house')">
                <p>
                    <span class="cor4">购房情况</span>
                    <span ng-if="!userInfo.info.is_purchase" class="ml20 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.is_purchase"
                          class="ml20 mr10">{{userInfo.info.is_purchase | purchase}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('car')">
                <p>
                    <span class="cor4">购车情况</span>
                    <span ng-if="!userInfo.info.is_car" class="ml20 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.is_car" class="ml20 mr10">{{userInfo.info.is_car | car}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('blood')">
                <p>
                    <span class="cor4">血型</span>
                    <span ng-if="!userInfo.info.blood" class="ml48 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.blood" class="ml48 mr10">{{userInfo.info.blood | blood}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('school')">
                <p>
                    <span class="cor4">毕业院校</span>
                    <span ng-if="!userInfo.info.school" class="ml20 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.school" class="ml20 mr10">{{userInfo.info.school}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('work')">
                <p>
                    <span class="cor4">工作单位</span>
                    <span ng-if="!userInfo.info.work" class="ml20 mr10"><span class="cor21">立即填写</span> （保密 仅供红娘参考）</span>
                    <span ng-if="userInfo.info.work" class="ml20 mr10">{{userInfo.info.work}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-divider">
                择偶标准
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('zo_age')">
                <p>
                    <span class="cor4">年龄要求</span>
                    <span ng-if="!userInfo.info.zo_age" class="ml20 mr10 cor21">不限</span>
                    <span ng-if="userInfo.info.zo_age" class="ml20 mr10">{{userInfo.info.zo_age | zo_age}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('zo_height')">
                <p>
                    <span class="cor4">身高要求</span>
                    <span ng-if="!userInfo.info.zo_height" class="ml20 mr10 cor21">不限</span>
                    <span ng-if="userInfo.info.zo_height"
                          class="ml20 mr10">{{userInfo.info.zo_height | zo_height}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('zo_education')">
                <p>
                    <span class="cor4">学历要求</span>
                    <span ng-if="!userInfo.info.zo_education" class="ml20 mr10 cor21">不限</span>
                    <span ng-if="userInfo.info.zo_education" class="ml20 mr10">{{userInfo.info.zo_education | education}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('zo_marriage')">
                <p>
                    <span class="cor4">婚姻要求</span>
                    <span ng-if="!userInfo.info.zo_marriage" class="ml20 mr10 cor21">不限</span>
                    <span ng-if="userInfo.info.zo_marriage" class="ml20 mr10">{{userInfo.info.zo_marriage | zo_marriage}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('zo_children')">
                <p>
                    <span class="cor4">子女要求</span>
                    <span ng-if="!userInfo.info.zo_children" class="ml20 mr10 cor21">不限</span>
                    <span ng-if="userInfo.info.zo_children" class="ml20 mr10">{{userInfo.info.zo_children | zo_children}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('zo_house')">
                <p>
                    <span class="cor4">购房要求</span>
                    <span ng-if="!userInfo.info.zo_house" class="ml20 mr10 cor21">不限</span>
                    <span ng-if="userInfo.info.zo_house" class="ml20 mr10">{{userInfo.info.zo_house | purchase}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('zo_car')">
                <p>
                    <span class="cor4">购车要求</span>
                    <span ng-if="!userInfo.info.zo_car" class="ml20 mr10 cor21">不限</span>
                    <span ng-if="userInfo.info.zo_car" class="ml20 mr10">{{userInfo.info.zo_car | car}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('zo_zodiac')">
                <p>
                    <span class="cor4">属相要求</span>
                    <span ng-if="!userInfo.info.zo_zodiac" class="ml20 mr10 cor21">不限</span>
                    <span ng-if="userInfo.info.zo_zodiac"
                          class="ml20 mr10">{{userInfo.info.zo_zodiac | zo_zodiac}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="updateInfo('zo_constellation')">
                <p>
                    <span class="cor4">星座要求</span>
                    <span ng-if="!userInfo.info.zo_constellation" class="ml20 mr10 cor21">不限</span>
                    <span ng-if="userInfo.info.zo_constellation" class="ml20 mr10">{{userInfo.info.zo_constellation | zo_constellation}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
            <ion-item class="mb30 item-icon-right" ng-click="updateInfo('mate')">
                <p>
                    <span class="cor4">心目中的TA</span>
                    <span ng-if="!userInfo.info.mate" class="ml20 mr10 cor21">立即填写</span>
                    <span ng-if="userInfo.info.mate" class="ml20 mr10">{{userInfo.info.mate}}</span>
                </p>
                <i class="icon ion-ios-arrow-right cor52"></i>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>