<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <ion-header-bar>
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="main.member" ng-click="showMenu(true)"></button>
        <title class="title">我的资料</title>
        <button class="button button-icon">预览</button>
    </ion-header-bar>
    <ion-content ng-controller="member.information" class="bhy com_w_100 infomation m_bg">
        <ion-list >
            <div class="imgList_con">
                <div class="imgList_handle clearfix">
                    <div class="imgItem" ng-repeat="img in imgList">
                        <img src="{{img.url}}">
                        <span class="removepic" ng-click="removeImg($index)">
                            <i class="ionc ion-close-round"></i>
                        </span>
                        <span class="headpic" ng-if="img.headpic">头像</span>
                    </div>
                    <div class="imgItem addItem">
                        <a href="javascript:;" ng-click="addNewImg()">
                            <img src="/wechat/web/images/addImg.png">
                        </a>
                    </div>
                    <div class="tip fl w100">点击更换照片，最多可以上传12张照片</div>
                </div>
            </div>

            <ion-item class="idt mt10">
                <p>
                    <span class="identity sfz" ng-if="userInfo.identity_pic.is_check == 1">身份证</span>
                    <span class="identity phone" ng-if="userInfo.phone">手机</span>
                    <span class="identity vip" ng-if="userInfo.info.level == 1">vip</span>
                    <span class="identity guest" ng-if="userInfo.info.level == 2">贵宾</span>
                    <span class="identity diamond" ng-if="userInfo.info.level == 3">钻石</span>
                    <span class="ml10">
                        {{userInfo.info.zodiac | zodiac}}
                        <span class="sx">|</span>
                        {{userInfo.info.constellation | constellation}}
                    </span>
                </p>
            </ion-item>
            <ion-item ui-sref="main.member_dynamic">
                <div class="info_l">
                    <p>个人动态</p>
                    <p class="dyn_nb">12</p>
                </div>
                <div class="info_c">
                    <div class="dyn_img_list">
                        <img class="dyn_img" src="/wechat/web/images/test/1.jpg">
                        <img class="dyn_img" src="/wechat/web/images/test/2.jpg">
                        <img class="dyn_img" src="/wechat/web/images/test/3.jpg">
                        <img class="dyn_img" src="/wechat/web/images/test/4.jpg">
                    </div>

                </div>
                <div class="info_r mt10">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item class="mb10" ui-sref="main.member_signature">
                <div class="info_l">
                    <p>个性签名</p>
                </div>
                <div class="info_c">
                    <p ng-if="userInfo.personalized == null">这人很懒，什么也没留下~</p>
                    <p ng-if="userInfo.personalized != null">{{userInfo.personalized}}</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item class="idv mb10" href="">
                <div class="info_c">
                    <p>
                        <i class="icon ion-android-alert fs16 mr5 energized vam"></i>
                        <span class="vam">诚信认证：您还未上传有效身份证明、婚姻证明、学历证明、资产证明~</span>
                    </p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>性别</p>
                </div>
                <div class="info_c">
                    <p ng-if="userInfo.sex == 0"><i class="mr5 icon bhy-icon-member-woman cor13 vam"></i>女</p>
                    <p ng-if="userInfo.sex == 1"><i class="mr5 icon bhy-icon-member-man cor13 vam"></i>男</p>
                </div>
            </ion-item>
            <ion-item ng-if="userInfo.info.real_name == '未知'" ui-sref="main.member_real_name">
                <div class="info_l">
                    <p>真实姓名</p>
                </div>
                <div class="info_c">
                    <p><span class="cor21 mr10">立即填写</span><span class="fs12 cor20">保密，只有您自己可以看到</span></p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item ng-if="userInfo.info.real_name != '未知'">
                <div class="info_l">
                    <p>真实姓名</p>
                </div>
                <div class="info_c">
                    <p><span class="cor21 mr10">{{userInfo.info.real_name}}</span><span class="fs12 cor20">保密，只有您自己可以看到</span></p>
                </div>
            </ion-item>
            <ion-item class="brithday" ui-sref="main.member_age">
                <div class="info_l">
                    <p>出生年月</p>
                </div>
                <div class="info_c">
                    <p><i class="bhy-icon-member-birthday cor23 vam mr5"></i><span class="mr10">1991-08-04</span><span class="mr10">羊</span><span>狮子座</span></p>
                </div>
            </ion-item>
            <ion-item  ng-if="userInfo.info.height == '未知'" ui-sref="main.member_height">
                <div class="info_l">
                    <p>身高</p>
                </div>
                <div class="info_c">
                    <p><span class="cor21">立即填写</span></p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item ng-if="userInfo.info.height != '未知'">
                <div class="info_l">
                    <p>身高</p>
                </div>
                <div class="info_c">
                    <p>{{userInfo.info.height}}</p>
                </div>
            </ion-item>
            <ion-item ng-if="userInfo.info.is_marriage == '未知'" ui-sref="main.member_is_marriage" >
                <div class="info_l">
                    <p>婚姻状况</p>
                </div>
                <div class="info_c">
                    <p><span class="cor21">立即填写</span></p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item ng-if="userInfo.info.is_marriage != '未知'" >
                <div class="info_l">
                    <p>婚姻状况</p>
                </div>
                <div class="info_c">
                    <p>{{userInfo.info.is_marriage | marriage}}</p>
                </div>
            </ion-item>
            <ion-item ng-if="userInfo.info.education == '未知'" ui-sref="main.member_education">
                <div class="info_l">
                    <p>学历</p>
                </div>
                <div class="info_c">
                    <p><span class="cor21">立即填写</span></p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item ng-if="userInfo.info.education != '未知'">
                <div class="info_l">
                    <p>学历</p>
                </div>
                <div class="info_c">
                    <p>
                        <i class="icon ion-university positive fs16 mr5 vam"></i>
                        {{userInfo.info.education | education}}
                    </p>
                </div>
            </ion-item>
            <ion-item ui-sref="main.member_occupation">
                <div class="info_l">
                    <p>职业</p>
                </div>
                <div class="info_c">
                    <p><span class="cor21">立即填写</span></p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item ui-sref="main.member_address">
                <div class="info_l">
                    <p>地区</p>
                </div>
                <div class="info_c">
                    <p><span>重庆市</span><span>渝中区</span></p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item ui-sref="main.member_haunt_address">
                <div class="info_l">
                    <p>常出没地</p>
                </div>
                <div class="info_c">
                    <p>观音桥、大坪、南坪</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>

            <!--<ion-item href="" class="mt10 mb10">
                <div class="info_l">
                    <p>礼物</p>
                </div>
                <div class="info_c">
                    <p class="gift_t">我有<span>3</span>个喜欢的礼物</p>
                    <p class="gift_list mt10">
                        <img class="gift_img" src="/wechat/web/images/test/gift1.jpg">
                        <img class="gift_img" src="/wechat/web/images/test/gift1.jpg">
                        <img class="gift_img" src="/wechat/web/images/test/gift1.jpg">
                    </p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>-->
            <ion-item ui-sref="main.member_wechat_number">
                <div class="info_l">
                    <p>微信号</p>
                </div>
                <div class="info_c">
                    <p><span class="cor21 mr10">立即填写</span></p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item ui-sref="main.member_qq_number">
                <div class="info_l">
                    <p>QQ号</p>
                </div>
                <div class="info_c">
                    <p><span class="cor21 mr10">立即填写</span></p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <div class="hobby">
                <div class="hobby_bg">
                    <img src="/wechat/web/images/info_hobby_bg.jpg">
                </div>
                <div class="hobby_t">
                    <div class="h_t_b tac">
                        <span class="h_t_t">填出真正的自己，总有一位会关注您！</span>
                    </div>
                </div>
            </div>
            <ion-item ui-sref="main.member_been_address" class="hob_item">
                <div class="info_l hob">
                    <p>我去过的地方(7)</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
                <div class="info_c hob">
                    <div class="hob_addr clearfix">
                        <span class="hob_addr_flag">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>
                        <span class="hob_addr_flag">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">重庆</span>
                        </span>
                        <span class="hob_addr_flag">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">上海</span>
                        </span>
                        <span class="hob_addr_flag">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">澳大利亚</span>
                        </span>
                        <span class="hob_addr_flag">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">墨西哥</span>
                        </span>
                        <span class="hob_addr_flag">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>
                        <span class="hob_addr_flag">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>
                    </div>
                </div>
            </ion-item>
            <ion-item ui-sref="main.member_want_address" class="hob_item">
                <div class="info_l hob">
                    <p>想去的地方(5)</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
                <div class="info_c hob">
                    <div class="hob_addr clearfix">
                        <span class="hob_addr_flag f2">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>
                        <span class="hob_addr_flag f2">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>
                        <span class="hob_addr_flag f2">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>
                        <span class="hob_addr_flag f2">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>
                        <span class="hob_addr_flag f2">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>

                    </div>
                </div>
            </ion-item>

            <ion-item ui-sref="main.member_sports" class="hob_item">
                <div class="info_l hob">
                    <p>喜欢的运动(4)</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
                <div class="info_c hob">
                    <div class="hob_sport clearfix">
                        <span class="hob_sport_flag">
                            <i class="bhy-icon-moves hob_sport_icon"></i>
                            <span class="hob_sport_name">跑步</span>
                        </span>
                         <span class="hob_sport_flag">
                            <i class="bhy-icon-moves hob_sport_icon"></i>
                            <span class="hob_sport_name">羽毛球</span>
                        </span>
                         <span class="hob_sport_flag">
                            <i class="bhy-icon-moves hob_sport_icon"></i>
                            <span class="hob_sport_name">篮球</span>
                        </span>
                         <span class="hob_sport_flag">
                            <i class="bhy-icon-moves hob_sport_icon"></i>
                            <span class="hob_sport_name">骑行</span>
                        </span>
                         <span class="hob_sport_flag">
                            <i class="bhy-icon-moves hob_sport_icon"></i>
                            <span class="hob_sport_name">健身</span>
                        </span>
                        <span class="hob_sport_flag">
                            <i class="bhy-icon-moves hob_sport_icon"></i>
                            <span class="hob_sport_name">游泳</span>
                        </span>
                    </div>
                </div>
            </ion-item>

            <ion-item ui-sref="main.member_movie" class="hob_item">
                <div class="info_l hob">
                    <p>想看的电影(8)</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
                <div class="info_c hob">
                    <ion-scroll delegate-handle="small" zooming="false" direction="x" scrollbar-x="false" scrollbar-y="false" class="hob_movie clearfix">
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie1.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">美人鱼</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie2.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">山东分公司当然</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie3.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">使得法国</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie4.gif"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">阿瑟我去</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie5.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">才vssdfsd发</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie6.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">短途运输让他</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie7.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">让他我去</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie8.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">人与人他</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie3.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">法国皇帝</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie5.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">身高4而</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie2.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">导演姜文</dd>
                        </dl>
                    </ion-scroll>
                </div>
            </ion-item>

            <ion-item ui-sref="main.member_delicacy" class="hob_item">
                <div class="info_l hob">
                    <p>喜欢的美食(9)</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
                <div class="info_c hob mb10">
                    <div class="hob_food clearfix">
                        <span class="hob_food_flag">
                            <i class="icon-food hob_food_icon"></i>
                            <span class="hob_food_name">爱吃甜</span>
                        </span>
                        <span class="hob_food_flag">
                            <i class=" icon-food hob_food_icon"></i>
                            <span class="hob_food_name">爱吃辣</span>
                        </span>
                        <span class="hob_food_flag">
                            <i class=" icon-food hob_food_icon"></i>
                            <span class="hob_food_name">寿司</span>
                        </span>
                        <span class="hob_food_flag">
                            <i class=" icon-food hob_food_icon"></i>
                            <span class="hob_food_name">火锅</span>
                        </span>
                        <span class="hob_food_flag">
                            <i class=" icon-food hob_food_icon"></i>
                            <span class="hob_food_name">哈根达斯</span>
                        </span>
                        <span class="hob_food_flag">
                            <i class=" icon-food hob_food_icon"></i>
                            <span class="hob_food_name">冰棍</span>
                        </span>
                    </div>
                </div>
            </ion-item>
            <ion-item ui-sref="main.member_mate">
                <div class="info_l mate">
                    <p>对未来伴侣的期望</p>
                </div>
                <div class="info_c mate">
                    <p><span class="cor21 mr10">立即填写</span></p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item class="member_t">
                <p>详细资料</p>
            </ion-item>
            <ion-item ui-sref="main.member_children">
                <div class="info_l">
                    <p>子女状况</p>
                </div>
                <div class="info_c">
                    <p>无小孩</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item ui-sref="main.member_nation">
                <div class="info_l">
                    <p>民族</p>
                </div>
                <div class="info_c">
                    <p>汉族</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item ui-sref="main.member_work">
                <div class="info_l">
                    <p>工作单位</p>
                </div>
                <div class="info_c">
                    <p><span class="cor21 mr10">立即填写</span></p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item ui-sref="main.member_salary">
                <div class="info_l">
                    <p>年收入</p>
                </div>
                <div class="info_c">
                    <p><span class="cor21 mr10">立即填写</span></p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item ui-sref="main.member_house">
                <div class="info_l">
                    <p>购房情况</p>
                </div>
                <div class="info_c">
                    <p><span class="cor21 mr10">立即填写</span></p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item ui-sref="main.member_car">
                <div class="info_l">
                    <p>购车情况</p>
                </div>
                <div class="info_c">
                    <p><span class="cor21 mr10">立即填写</span></p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item ui-sref="main.member_blood">
                <div class="info_l">
                    <p>血型</p>
                </div>
                <div class="info_c">
                    <p><span class="cor21 mr10">立即填写</span></p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item ui-sref="main.member_school">
                <div class="info_l">
                    <p>毕业院校</p>
                </div>
                <div class="info_c">
                    <p>重庆工商大学</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item class="member_t">
                <p>择偶标准</p>
            </ion-item>
            <ion-item href="">
                <div class="info_l">
                    <p>年龄</p>
                </div>
                <div class="info_c">
                    <p>18-24岁</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item href="">
                <div class="info_l">
                    <p>身高</p>
                </div>
                <div class="info_c">
                    <p>170-185厘米</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item href="">
                <div class="info_l">
                    <p>学历</p>
                </div>
                <div class="info_c">
                    <p>不限</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item href="">
                <div class="info_l">
                    <p>婚姻状况</p>
                </div>
                <div class="info_c">
                    <p>未婚</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item href="">
                <div class="info_l">
                    <p>购房情况</p>
                </div>
                <div class="info_c">
                    <p>已购房</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item href="">
                <div class="info_l">
                    <p>购车情况</p>
                </div>
                <div class="info_c">
                    <p>不限</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item href="">
                <div class="info_l">
                    <p>属相</p>
                </div>
                <div class="info_c">
                    <p>牛</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item href="" class="mb30">
                <div class="info_l">
                    <p>星座</p>
                </div>
                <div class="info_c">
                    <p>不限</p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>