<ion-view hide-tabs>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="main.member_information"
                ng-click="showMenu(false)"></button>
        <title class="title">想看的电影</title>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg sports">
        <ion-list>
            <ion-item class="bhy_item_b mt10 mb10">
                <ion-scroll delegate-handle="small" zooming="false" direction="x" scrollbar-x="false" scrollbar-y="false"
                            class="addr_top_box fl">
                   <span class="hob_movie_flag" ng-repeat="userMovie in formData.userMovieList" >
                        <span class="hob_sport_name"><img src="{{userMovie}}" width="25" height="35"></span>
                    </span>
                </ion-scroll>
                <p class="addr_top_search">
                    <input type="text" ng-model="formData.searchMovie" placeholder="搜索" class="addr_top_searchInput" ng-change="search(this.formData.searchMovie)">
                </p>
            </ion-item>
            <p class="pl16 cor20">
                热门推荐
            </p>
            <ion-item class="item-checkbox" ng-repeat="movie in movieList">
                <label class="checkbox checkbox-balanced">
                    <input type="checkbox" id="{{movie.id}}" name="{{movie.img}}" ng-checked="isSelected({{movie.id}})"
                           ng-click="updateSelection($event,{{movie.id}})">
                </label>
                <img src="{{movie.img}}" class="vam mr10"  width="40" height="55">
                {{movie.name}}
            </ion-item>
            <ion-item ng-if="!movieList.length">
                <p class="tac">暂无相关数据</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>