<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="main.member_information"
                ng-click="showMenu(false)"></button>
        <title class="title">请选择职业</title>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg">
        <ion-scroll zooming="false"
                    ng-style="scrollStyle" style="border-right: 1px solid #ccc;">
            <ion-list style="height: 3000px;">
                <ion-item ng-repeat="province in provinces track by province.id" item="province"
                          class="item tac" ng-class="{true:'selected',flase:''}[pvId == province.id]"
                          href="#" ng-click="selected_pv({{province.id}})">
                    {{province.name}}
                </ion-item>
            </ion-list>
        </ion-scroll>
        <ion-scroll zooming="false" ng-style="scrollStyle">
            <ion-list class="city" style="height: 3000px;">
                <ion-item ng-repeat="city in citys track by city.id" item="city" class="item tac"
                          ng-if="pvId == city.parentId" ng-click="selected_city({{city.id}})"
                          ng-class="{true:'selected',flase:''}[cityId == city.id]" href="#">
                    {{city.name}} <i class="ml25 ion-ios-checkmark-outline"></i>
                </ion-item>
            </ion-list>
        </ion-scroll>
    </ion-content>
</ion-view>