<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="main.member_information"
                ng-click="showMenu(false)"></button>
        <title class="title">请选择职业</title>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg occupation">
        <ion-scroll zooming="false" ng-style="scrollStyle" class="fl w50 bor_r_1c">
            <ion-list style="height: 3000px;">
                <ion-item ng-repeat="o in occupationModel"
                          class="item" ng-class="{'{{o.id}}':'selected'}[useroccBig]"
                          ng-click="selected_bigo({{o}})">
                    <i class="icon icon-bhy-occupation-{{o.icon}} vam"></i>
                   <span class="o_l">{{o.name}}</span>
                </ion-item>
            </ion-list>
        </ion-scroll>
        <ion-scroll zooming="false" class="fl w50" ng-style="scrollStyle">
            <ion-list class="city" style="height: 3000px;">
                <ion-item ng-repeat="occ in occupation" ng-click="selected_smallo({{occ}})" ng-class="{'{{occ.id}}':'selected'}[useroccSmall]" class="item">
                    <span class="fl">{{occ.name}}</span>
                    <i class="fr ml25 ion-ios-checkmark-outline o_r"></i>
                </ion-item>
            </ion-list>
        </ion-scroll>
    </ion-content>
</ion-view>