<ion-view ng-init="delTitle='解除';">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">黑名单</title>
        <button class="button button-icon" ng-click="shouldShowDelete = !shouldShowDelete; shouldShowDelete ? delTitle='完成' : delTitle='解除';" ng-bind="delTitle"></button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg">
        <ion-list show-delete="shouldShowDelete">
            <ion-item class="item-avatar" href="#/userInfo?userId={{f.other}}" ng-repeat="f in followList">
                <ion-delete-button class="ion-minus-circled" ng-click="removeItem($index,f)"></ion-delete-button>
                <img ng-src="{{f.info.head_pic | isNull}}" onerror="this.src='/wechat/web/images/no_img.png'">
                <h2>
                    <span ng-if="f.info.real_name">{{f.info.real_name | sex:f.sex :f.info.age}}</span>
                    <span ng-if="!f.info.real_name">会员{{f.other}}</span>
                    <span ng-if="honesty(f.honesty_value)" class="identity id">身份证</span>
                    <span ng-if="f.phone" class="identity phone">手机</span>
                    <span ng-if="f.info.level == 1" class="identity vip">VIP</span>
                    <span ng-if="f.info.level == 2" class="identity guest">贵宾</span>
                    <span ng-if="f.info.level == 3" class="identity diamond">钻石</span>
                </h2>
                <p>拉黑时间 {{f.update_time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>