<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">微信显示权限</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg">
        <ion-list>
            <ion-radio value="1" name="authGroup" ng-model="formData.privacy_wechat">
                完全公开
            </ion-radio>
            <ion-radio value="2" name="authGroup" ng-model="formData.privacy_wechat">
                我关注的人可见
            </ion-radio>
            <ion-radio value="3" name="authGroup" ng-model="formData.privacy_wechat">
                VIP会员可见
            </ion-radio>
            <ion-radio value="4" name="authGroup" ng-model="formData.privacy_wechat">
                不公开
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>