<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="main.member_privacy"></button>
        <title class="title" style="font-weight: inherit;">QQ显示权限</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg">
        <ion-list>
            <ion-item class="item item-input mt10 mb10">
                <input type="text" placeholder="请填写QQ号">
            </ion-item>
            <ion-radio value="1" name="authGroup" ng-model="formData.auth">
                完全公开
            </ion-radio>
            <ion-radio value="2" name="authGroup" ng-model="formData.auth">
                我关注的人可见
            </ion-radio>
            <ion-radio value="3" name="authGroup" ng-model="formData.auth">
                VIP会员可见
            </ion-radio>
            <ion-radio value="4" name="authGroup" ng-model="formData.auth">
                不公开
            </ion-radio>
        </ion-list>
    </ion-content>
</ion-view>