<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">隐私设置</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg privacy">
        <ion-list>
            <ion-item class="item" href="#/member/privacy_pic">
                <div class="privacy_menu_i rounded pic">
                    <i class="ion-images"></i>
                </div>
                <div class="menu_name">
                    <p>照片权限</p>
                </div>
                <div class="menu_arrow">
                    <span class="cor5 fs14 mr15 vam">{{userInfo.privacy_pic | privacy}}</span>
                    <i class="ion-ios-arrow-right vam"></i>
                </div>
            </ion-item>
            <!--<ion-item class="item" href="#/member/privacy_per">-->
                <!--<div class="privacy_menu_i rounded per">-->
                    <!--<i class="bhy-icon-member-menu-01"></i>-->
                <!--</div>-->
                <!--<div class="menu_name">-->
                    <!--<p>个人动态权限</p>-->
                <!--</div>-->
                <!--<div class="menu_arrow">-->
                    <!--<span class="cor5 fs14 mr15 vam">{{userInfo.privacy_per | privacy}}</span>-->
                    <!--<i class="ion-ios-arrow-right vam"></i>-->
                <!--</div>-->
            <!--</ion-item>-->
            <ion-item class="item" href="#/member/privacy_wechat">
                <div class="privacy_menu_i rounded wx">
                    <i class="bhy-icon-member-wechat"></i>
                </div>
                <div class="menu_name">
                    <p>微信显示权限</p>
                </div>
                <div class="menu_arrow">
                    <span class="cor5 fs14 mr15 vam">{{userInfo.privacy_wechat | privacy}}</span>
                    <i class="ion-ios-arrow-right vam"></i>
                </div>
            </ion-item>
            <ion-item class="item" href="#/member/privacy_qq">
                <div class="privacy_menu_i rounded qq">
                    <i class="bhy-icon-member-qq"></i>
                </div>
                <div class="menu_name">
                    <p>QQ显示权限</p>
                </div>
                <div class="menu_arrow">
                    <span class="cor5 fs14 mr15 vam">{{userInfo.privacy_qq | privacy}}</span>
                    <i class="ion-ios-arrow-right vam"></i>
                </div>
            </ion-item>
            <ion-item class="item" href="#/member/privacy_black">
                <div class="privacy_menu_i rounded black">
                    <i class="bhy-icon-member-blacklist"></i>
                </div>
                <div class="menu_name">
                    <p>黑名单</p>
                </div>
                <div class="menu_arrow">
                    <span class="badge badge-assertive mr15">{{blackSum}}</span>
                    <i class="ion-ios-arrow-right vam"></i>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>