<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <h1 class="title">我参与的约会</h1>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg rendezvous">
        <div class="list card" ng-repeat="part in partList">
            <div class="item item-thumbnail-left">
                <img src="{{part.info.head_pic}}">
                <h2>
                    <span class="fl">{{part.info.real_name | sex:part.sex :part.info.age}}</span>
                    <span ng-click="delPart(part.apply_id,$index)" class="fr icon icon-trash cor5"></span>
                </h2>
                <p>
                    <i ng-if="part.auth.identity_check" class="identity icon-new-id"></i>
                    <i ng-if="part.phone" class="identity icon-new-phone"></i>
                    <i ng-if="part.info.level == 1" class="identity icon-new-vip"></i>
                    <i ng-if="part.info.level == 2" class="identity icon-new-guest"></i>
                    <i ng-if="part.info.level == 3" class="identity icon-new-diamond"></i>part
                </p>
                <p>{{part.info.age | timeToAge}}岁 {{part.info.is_marriage | marriage}}</p>
            </div>
            <div class="item item-body">
                <p class="mt0">
                    <span ng-class="{'1':'balanced-bg','2':'energized-bg','3':'calm-bg','运动/健身':'assertive-bg','-1':'dark-bg'}[part.theme]">##{{part.title}}##</span>
                    <span ng-if="!openTxt">{{part.content | cut:true:60:'...'}}</span>
                    <span ng-if="openTxt">{{part.content}}</span>
                    <a href="javascript:;" ng-if="part.content.length > 60 && !openTxt" class="allTextLink" ng-click="openText($event)">[展开全文]</a>
                </p>
                <p class="cor39 mt0 mb0">约会地点：{{part.destination}}</p>
                <p class="cor39 mt0 mb0">约会时间：{{part.rendezvous_time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                <p class="cor39 mt0 mb0">费用说明：{{part.fee_des | feeDisplay}}</p>
                <p class="cor39 mt0">性别限制：{{part.sex | sexDisplay}}</p>
                <p>
                    <span class="label mr5" ng-repeat="lab in part.label">{{lab}}</span>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <span ng-if="part.apply_status==0">等待对方回复</span>
                <span ng-if="part.apply_status==2">对方已忽略</span>
                <button ng-if="part.apply_status==1" ng-click="acceptAlert(part.phone)" class="button button-balanced w100">对方已接受，联系TA</button>
            </div>

        </div>

    </ion-content>
    <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded()"
            on-infinite="loadMore()"
            distance="1%">
    </ion-infinite-scroll>


</ion-view>