<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <a class="button button-icon icon ion-arrow-left-c" href="#/main/member/rendezvous"></a>
        <h1 class="title">发布约会</h1>
        <button class="button button-icon cor21" ng-click="saveData()">发布</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg rendezvous">
        <ion-list>
            <div class="item item-divider">
                嘉瑞 ● 实名制婚恋网
            </div>
            <a class="item item-icon-left item-icon-right" ng-click="openThemeModal()">
                <i class="icon ion-ios-star cor33"></i>
                <span class="cor21 fl">约会主题</span>
                <p class="fr cor5 fs14 mw50">娱乐</p>
                <i class="icon ion-ios-arrow-right cor34"></i>
            </a>
            <a class="item item-icon-left item-icon-right mb10" ng-click="openThemeTitleModal()">
                <i class="icon ion-ios-compose cor38"></i>
                <span class="fl">约会内容</span>
                <p class="fr cor5 fs14 mw50">约个高富帅看电影约个高富帅看电影约个高富帅看电影约个高富帅看电影</p>
                <i class="icon ion-ios-arrow-right cor34"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ng-click="openSexModal()">
                <i class="icon bhy-icon-notsex cor35"></i>
                <span class="fl">性别限制</span>
                <p class="fr cor5 fs14 mw50">不限制</p>
                <i class="icon ion-ios-arrow-right cor34"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ng-click="openDestinationModal()">
                <i class="icon bhy-icon-destination cor33"></i>
                <span class="fl">约会地点</span>
                <p class="fr cor5 fs14 mw50">重庆市渝中区大坪正街118号嘉华鑫城A幢11-11</p>
                <i class="icon ion-ios-arrow-right cor34"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ng-click="openDateModal()">
                <i class="icon bhy-icon-seout-time cor21"></i>
                <span class="fl">约会时间</span>
                <p class="fr cor5 fs14 mw50">2015-11-01 19:20</p>
                <i class="icon ion-ios-arrow-right cor34"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ng-click="openMoneyModal()">
                <i class="icon bhy-icon-cost cor15"></i>
                <span class="fl">费用说明</span>
                <p class="fr cor5 fs14 mw50">AA制</p>
                <i class="icon ion-ios-arrow-right cor34"></i>
            </a>
            <a class="item item-icon-left item-icon-right mt10" ng-click="openRequirementModal()">
                <i class="icon ion-compose cor15"></i>
                <span class="fl">对约伴的要求</span>
                <p class="fr cor5 fs14 mw50">爱干净、高富帅、无公主病、有礼貌、逗比</p>
                <i class="icon ion-ios-arrow-right cor34"></i>
            </a>
        </ion-list>
    </ion-content>

    <script id="themeModal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <button class="button button-icon" ng-click="closeThemeModal()">关闭</button>
                <h1 class="title">约会主题</h1>
            </ion-header-bar>
            <ion-content ng-controller="member.rendezvous_theme">
                <ion-list>
                    <ion-radio ng-value="1" ng-model="formData.theme" ng-change="selTheme()">
                        <i class="icon bhy-icon-ent cor29 fs30 vam mr5"></i>
                        <span class="vam">娱乐</span>
                    </ion-radio>
                    <ion-radio ng-value="2" ng-model="formData.theme" ng-change="selTheme()">
                        <i class="icon bhy-icon-food cor23 fs30 vam mr5"></i>
                        <span class="vam">美食</span>
                    </ion-radio>
                    <ion-radio ng-value="3" ng-model="formData.theme" ng-change="selTheme()">
                        <i class="icon bhy-icon-tour cor25 fs30 vam mr5"></i>
                        <span class="vam">旅游</span>
                    </ion-radio>
                    <ion-radio ng-value="4" ng-model="formData.theme" ng-change="selTheme()">
                        <i class="icon bhy-icon-moves cor33 fs30 vam mr5"></i>
                        <span class="vam">运动健身</span>
                    </ion-radio>
                    <ion-radio ng-value="5" ng-model="formData.theme" ng-change="selTheme()">
                        <i class="icon ion-more cor4 fs30 vam mr5"></i>
                        <span class="vam">其它</span>
                    </ion-radio>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>


    <script id="themeTitleModal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <button class="button button-icon" ng-click="closeThemeTitleModal()">关闭</button>
                <h1 class="title">约会内容</h1>
            </ion-header-bar>
            <ion-content ng-controller="member.rendezvous_themeTitle">
                <ion-list>
                    <label class="item item-input mb10">
                        <input type="text" ng-model="formData.themeTitle" maxlength="15" placeholder="请输入约会标题，15字以内。">
                    </label>
                    <label class="item item-input">
                        <textarea ng-model="formData.content" maxlength="300" style="resize:none;height: 120px;"
                                  placeholder="请输入约会内容，300字以内。"></textarea>
                    </label>
                    <ion-item>
                        <button class="button button-positive button-block" ng-click="save()">确定</button>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>

    <script id="sexModal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <button class="button button-icon" ng-click="closeSexModal()">关闭</button>
                <h1 class="title">性别限制</h1>
            </ion-header-bar>
            <ion-content ng-controller="member.rendezvous_sex">
                <ion-list>
                    <ion-radio ng-value="0" ng-model="formData.sex" ng-change="selSex()">
                        <i class="icon bhy-icon-notsex cor35 fs22 vam mr5"></i>
                        <span class="vam">不限制</span>
                    </ion-radio>
                    <ion-radio ng-value="1" ng-model="formData.sex" ng-change="selSex()">
                        <i class="icon bhy-icon-man cor9 fs22 vam mr5"></i>
                        <span class="vam">限男生</span>
                    </ion-radio>
                    <ion-radio ng-value="2" ng-model="formData.sex" ng-change="selSex()">
                        <i class="icon bhy-icon-woman cor16 fs22 vam mr5"></i>
                        <span class="vam">限女生</span>
                    </ion-radio>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>

    <script id="fromModal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <button class="button button-icon" ng-click="closeFromModal()">关闭</button>
                <h1 class="title">我的出发地</h1>
            </ion-header-bar>
            <ion-content ng-controller="member.rendezvous_from">
                <ion-list>
                    <label class="item item-input">
                        <input type="text" ng-model="formData.from" placeholder="请输入您的出发地点">
                    </label>
                    <ion-item>
                        <button class="button button-positive button-block" ng-click="saveFrom()">确定</button>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>

    <script id="destinationModal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <button class="button button-icon" ng-click="closeDestinationModal()">关闭</button>
                <h1 class="title">目的地</h1>
            </ion-header-bar>
            <ion-content ng-controller="member.rendezvous_destination">
                <ion-list>
                    <label class="item item-input">
                        <input type="text" ng-model="formData.destination" placeholder="请填写目的地">
                    </label>
                    <ion-item>
                        <button class="button button-positive button-block" ng-click="saveDestination()">确定</button>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>

    <script id="dateModal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <button class="button button-icon" ng-click="closeDateModal()">关闭</button>
                <h1 class="title">约会时间</h1>
            </ion-header-bar>
            <ion-content ng-controller="member.rendezvous_date">
                <ion-list>
                    <label class="item item-input">
                        <input type="datetime-local" ng-model="formData.date" placeholder="请选择出发时间">
                    </label>
                    <ion-item>
                        <button class="button button-positive button-block" ng-click="saveDate()">确定</button>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>

    <script id="moneyModal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <button class="button button-icon" ng-click="closeMoneyModal()">关闭</button>
                <h1 class="title">费用说明</h1>
            </ion-header-bar>
            <ion-content ng-controller="member.rendezvous_money">
                <ion-list>
                    <ion-radio ng-value="1" ng-model="formData.money" ng-change="selMoney()">
                        <i class="icon bhy-icon-nomoney cor35 fs30 vam mr5"></i>
                        <span class="vam">免费</span>
                    </ion-radio>
                    <ion-radio ng-value="2" ng-model="formData.money" ng-change="selMoney()">
                        <i class="icon bhy-icon-mytreat cor25 fs30 vam mr5"></i>
                        <span class="vam">我请客</span>
                    </ion-radio>
                    <ion-radio ng-value="3" ng-model="formData.money" ng-change="selMoney()">
                        <i class="icon bhy-icon-yourtreat cor27 fs30 vam mr5"></i>
                        <span class="vam">你请客</span>
                    </ion-radio>
                    <ion-radio ng-value="4" ng-model="formData.money" ng-change="selMoney()">
                        <i class="icon bhy-icon-AA cor15 fs30 vam mr5"></i>
                        <span class="vam">AA制</span>
                    </ion-radio>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>


    <script id="requirementModal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar>
                <button class="button button-icon" ng-click="closeRequirementModal()">关闭</button>
                <h1 class="title">约伴要求</h1>
            </ion-header-bar>
            <ion-content ng-controller="member.rendezvous_requirement">
                <ion-list>
                    <label class="item item-input">
                        <textarea ng-model="formData.requirement" style="resize: none;height: 100px;"
                                  placeholder="请简要描述对约伴的要求"></textarea>
                    </label>
                    <ion-item>
                        <button class="button button-positive button-block" ng-click="saveRequirement()">确定</button>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>