<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar align-title="center"  class="com_w_100 bhy">
        <title class="title">我的约会</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 rendezvous">
        <div class="rendezvousBg w100">
            <img src="/wechat/web/images/member/member_rendBg.jpg">
        </div>
        <div class="mt20 pb30">
            <p class="w100 tac"><a href="#/member/rendezvous_add" class="button icon ion-ios-plus-outline button-energized">发布约会</a></p>
            <p class="w100 tac"><a href="#/member/rendezvous_put" class="button w50 button-energized">我发布的约会</a></p>
            <p class="w100 tac"><a href="#/member/rendezvous_part" class="button w50 button-energized">我参与的约会</a></p>
        </div>
    </ion-content>
</ion-view>