<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <a class="button button-icon icon ion-arrow-left-c" ui-sref="main.member"></a>
        <title class="title">我的约会</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 rendezvous">
        <div class="rendezvousBg w100">
            <img src="/wechat/web/images/member/member_rendBg.jpg">
        </div>
        <div class="row responsive-sm mt20 pb30 tac">
            <div class="col"><a href="#/main/member/rendezvous_add" class="button icon-left bhy-icon-release button-energized">发布约会</a></div>
            <div class="col"><a class="button icon-left bhy-icon-memeng button-energized">我发布的约会</a></div>
            <div class="col"><a class="button icon-left bhy-icon-receng button-energized">我参与的约会</a></div>
        </div>
    </ion-content>
</ion-view>