<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <h1 class="title">参与的人</h1>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg rendezvous">
        <ion-list>
            <ion-item ng-class="{'1':'balanced-bg','2':'energized-bg','3':'calm-bg','运动/健身':'assertive-bg','-1':'dark-bg'}[rendzvous.theme]">
                <p>
                    <span class="cor0">##{{rendzvous.title}}##</span>
                </p>
            </ion-item>
            <p class="padding" style="margin: 0;">
                TA们想和你约会
            </p>
        </ion-list>

        <div class="list card" ng-repeat="inv in involvedList">
            <div class="item item-thumbnail-left">
                <img src="{{inv.info.head_pic}}">
                <h2>
                    {{inv.info.real_name | sex:inv.sex :inv.info.age}}
                </h2>
                <p>
                    <i ng-if="inv.auth.identity_check" class="identity icon-new-id"></i>
                    <i ng-if="inv.phone" class="identity icon-new-phone"></i>
                    <i ng-if="inv.info.level == 1" class="identity icon-new-vip"></i>
                    <i ng-if="inv.info.level == 2" class="identity icon-new-guest"></i>
                    <i ng-if="inv.info.level == 3" class="identity icon-new-diamond"></i>inv
                </p>
                <p>{{inv.info.age | timeToAge}}岁 {{inv.info.is_marriage | marriage}}</p>
                <p>手机号码：{{inv.mobile}}</p>
            </div>
            <div class="item item-body">
                <p style="margin-top: 0;">TA的留言：{{inv.message}}</p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <p ng-if="inv.status==1">已接受</p>
                <p ng-if="inv.status==2">已忽略</p>
                <button ng-if="inv.status==0" class="button button-balanced w50" ng-click="accept(inv.id,$index)">接受</button>
                <button ng-if="inv.status==0" class="button button-stable w50" ng-click="ignore(inv.id,$index)">忽略</button>
            </div>
        </div>


    </ion-content>


</ion-view>