<ion-view hide-tabs>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="main.member"></button>
        <title class="title">账户安全</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg security">
        <ion-list>
            <ion-item class="item" ui-sref="main.member_security_pass">
                <div class="security_menu_i rounded pass">
                    <i class="ion-ios-locked"></i>
                </div>
                <div class="menu_name">
                    <p>密码修改</p>
                </div>
                <div class="menu_arrow">
                    <span class="cor5 fs14 mr15 vam">上次修改 2016-03-14</span>
                    <i class="ion-ios-arrow-right vam"></i>
                </div>
            </ion-item>
            <ion-item class="item" ui-sref="main.member_security_phone">
                <div class="security_menu_i rounded phone">
                    <i class="ion-android-phone-portrait"></i>
                </div>
                <div class="menu_name">
                    <p>手机绑定</p>
                </div>
                <div class="menu_arrow">
                    <span class="cor5 fs14 mr15 vam">已绑定 159****2577</span>
                    <i class="ion-ios-arrow-right vam"></i>
                </div>
            </ion-item>
            <ion-item class="item" ui-sref="main.member_security_wechat">
                <div class="security_menu_i rounded wx">
                    <i class="bhy-icon-member-wechat"></i>
                </div>
                <div class="menu_name">
                    <p>微信绑定</p>
                </div>
                <div class="menu_arrow">
                    <span class="cor5 fs14 mr15 vam">已绑定 denger096</span>
                    <i class="ion-ios-arrow-right vam"></i>
                </div>
            </ion-item>
            <ion-item class="item" ui-sref="main.member_security_qq">
                <div class="security_menu_i rounded qq">
                    <i class="bhy-icon-member-qq"></i>
                </div>
                <div class="menu_name">
                    <p>QQ绑定</p>
                </div>
                <div class="menu_arrow">
                    <span class="cor5 fs14 mr15 vam">已绑定 348892233</span>
                    <i class="ion-ios-arrow-right vam"></i>
                </div>
            </ion-item>
            <!--<ion-item class="item" ui-sref="#">
                <div class="security_menu_i rounded weibo">
                    <i class="bhy-icon-member-blacklist"></i>
                </div>
                <div class="menu_name">
                    <p>新浪微博绑定</p>
                </div>
                <div class="menu_arrow">
                    <span class="cor5 fs14 mr15 vam">已绑定 helloword002</span>
                    <i class="ion-ios-arrow-right vam"></i>
                </div>
            </ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>