<ion-view hide-tabs>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="main.member_security"></button>
        <title class="title" style="font-weight: inherit;">QQ绑定</title>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg security">
        <ion-list>
            <ion-item class="item item-input">
                <span class="input-label">QQ号</span>
                <input type="text" placeholder="请输入QQ号">
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>