<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar align-title="center"  class="com_w_100 bhy">
        <title class="title">绑定手机</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg security">
        <div class="list">
            <label class="item item-input padding">
                <input type="text" placeholder="请输入您本人真实有效手机号码" ng-model="formData.phone">
            </label>
            <div class="item item-input padding">
                <input type="text" placeholder="请输入验证码" maxlength="6" ng-model="formData.code">
                <button class="button button-calm button-small" ng-disabled="getCodeTitle != '获取验证码'" ng-click="getCode()">{{getCodeTitle}}</button>
            </div>
            <label class="item item-input padding">
                <button class="button button-block button-positive" ng-disabled="!formData.phone || !formData.code" ng-click="bindNow()">
                    立即绑定
                </button>
            </label>

        </div>
    </ion-content>

    <script id="sendCodeModal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar align-title="center">
                <button class="button button-icon" ng-click="closeSendCodeModal()">取消</button>
                <h1 class="title">获取验证码</h1>
            </ion-header-bar>
            <ion-content>
                <div class="list">
                    <div class="item tac bor_0">
                        <img id="verify" class="mb15" src="/wap/user/get-verify" ng-click="getVerify($event)">
                        <div class="item item-input" style="margin-bottom: 15px;">
                            <input type="text" maxlength="4" ng-model="validate.verify" placeholder="请输入上图中验证码，轻触图片可更换">
                        </div>
                        <button class="button button-positive button-block" ng-click="sendCode()">
                            获取短信验证码
                        </button>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>