<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="/wechat/web/js/plugin/amezeui/css/amazeui.min.css" rel="stylesheet">
    <ion-header-bar>
        <title class="title">隐私设置</title>
        <a class="button button-icon icon icon-new-menu-user-settings" href="/member/"></a>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 infomation">
        <ion-list></ion-list>
    </ion-content>
</ion-view>