<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="main.member_information" ng-click="showMenu(false)"></button>
        <title class="title">个性签名</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100" style="bottom: 0;" ng-controller="member.signature">
        <ion-list>
            <ion-item>
                dfgsdfg
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>