<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/photoswipe/photoswipe.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/photoswipe/default-skin.css" rel="stylesheet">
    <ion-header-bar>
        <button class="button button-icon icon ion-arrow-left-c" ng-click="jump()"></button>
        <title class="title">{{otherUserInfo.info.real_name | sex:otherUserInfo.sex :otherUserInfo.info.age}}</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 infomation m_bg">
        <ion-list>
            <div class="imgList_con">
                <div class="imgList_handle clearfix">
                    <div class="imgItem" ng-repeat="img in imgList" ng-click="showImgList(imgList,$index)">
                        <img src="{{img.thumb_path}}">
                    </div>
                </div>
            </div>
            <ion-item class="idt mt10" ng-if="otherUserInfo.identity_pic || otherUserInfo.phone != '' || otherUserInfo.info.level != '未知' || otherUserInfo.info.zodiac != '未知' || otherUserInfo.info.constellation != '未知'">
                <p>
                    <span class="identity sfz" ng-if="otherUserInfo.identity_pic">身份证</span>
                    <span class="identity phone" ng-if="otherUserInfo.phone">手机</span>
                    <span class="identity vip" ng-if="otherUserInfo.info.level == 1">vip</span>
                    <span class="identity guest" ng-if="otherUserInfo.info.level == 2">贵宾</span>
                    <span class="identity diamond" ng-if="otherUserInfo.info.level == 3">钻石</span>
                    <span class="ml10">
                        {{otherUserInfo.info.zodiac | zodiac}}
                        <span class="sx">|</span>
                        {{otherUserInfo.info.constellation | constellation}}
                    </span>
                </p>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>个人动态</p>
                    <p class="dyn_nb">12</p>
                </div>
                <div class="info_c">
                    <div class="dyn_img_list">
                        <img class="dyn_img" src="/wechat/web/images/test/1.jpg">
                        <img class="dyn_img" src="/wechat/web/images/test/2.jpg">
                        <img class="dyn_img" src="/wechat/web/images/test/3.jpg">
                        <img class="dyn_img" src="/wechat/web/images/test/4.jpg">
                    </div>

                </div>
                <div class="info_r mt10">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item class="mb10">
                <div class="info_l">
                    <p>个性签名</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.personalized == null" class="null">这人很懒，什么也没留下~</p>
                    <p ng-if="otherUserInfo.personalized != null">{{otherUserInfo.personalized}}</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>性别</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.sex == 0"><i class="mr5 icon bhy-icon-member-woman cor13 vam"></i>女</p>
                    <p ng-if="otherUserInfo.sex == 1"><i class="mr5 icon bhy-icon-member-man cor13 vam"></i>男</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>真实姓名</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.real_name != '未知'">{{otherUserInfo.info.real_name | realName}}</p>
                    <p ng-if="otherUserInfo.info.real_name == '未知'" class="null">未知</p>
                </div>

            </ion-item>
            <ion-item class="brithday">
                <div class="info_l">
                    <p>出生年月</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.age != '未知'"><i class="bhy-icon-member-birthday cor23 vam mr5"></i><span class="mr10">{{otherUserInfo.info.age * 1000 | date:'yyyy-MM-dd'}}</span><span
                            class="mr10">{{otherUserInfo.info.zodiac | zodiac}}</span><span>{{otherUserInfo.info.constellation | constellation}}</span></p>
                    <p ng-if="otherUserInfo.info.age == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>身高</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.height != '未知'">{{otherUserInfo.info.height}}</p>
                    <p ng-if="otherUserInfo.info.height == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item >
                <div class="info_l">
                    <p>婚姻状况</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.is_marriage != '未知'">{{otherUserInfo.info.is_marriage | marriage}}</p>
                    <p ng-if="otherUserInfo.info.is_marriage == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>学历</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.education != '未知'">{{otherUserInfo.info.education | education}}</p>
                    <p ng-if="otherUserInfo.info.education == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>职业</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.occupation != '未知'">{{otherUserInfo.info.occupation | occupation : otherUserInfo.info.children_occupation}}</p>
                    <p ng-if="otherUserInfo.info.occupation == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>地区</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.province != '0'"><span>{{otherUserInfo.province | address : otherUserInfo.city :otherUserInfo.area}}</span></p>
                    <p ng-if="otherUserInfo.province == '0'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>常出没地</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.haunt_address != '未知'">{{otherUserInfo.info.haunt_address}}</p>
                    <p ng-if="otherUserInfo.info.haunt_address == '未知'" class="null">未知</p>
                </div>
            </ion-item>

            <!--<ion-item href="" class="mt10 mb10">
                <div class="info_l">
                    <p>礼物</p>
                </div>
                <div class="info_c">
                    <p class="gift_t">我有<span>3</span>个喜欢的礼物</p>
                    <p class="gift_list mt10">
                        <img class="gift_img" src="/wechat/web/images/test/gift1.jpg">
                        <img class="gift_img" src="/wechat/web/images/test/gift1.jpg">
                        <img class="gift_img" src="/wechat/web/images/test/gift1.jpg">
                    </p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>-->
            <ion-item>
                <div class="info_l">
                    <p>微信号</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.wechat != '未知'">{{otherUserInfo.info.wechat}}</p>
                    <p ng-if="otherUserInfo.info.wechat == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>QQ号</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.qq != '未知'">{{otherUserInfo.info.qq}}</p>
                    <p ng-if="otherUserInfo.info.qq == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <div class="hobby">
                <div class="hobby_bg">
                    <img src="/wechat/web/images/info_hobby_bg.jpg">
                </div>
            </div>
            <ion-item class="hob_item">
                <div class="info_l hob">
                    <p>去过的地方({{went_travel_count}})</p>
                </div>
                <div class="info_c hob">
                    <div class="hob_addr clearfix">
                        <span class="hob_addr_flag" ng-repeat="addrt in went_travel track by addrt.id">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">{{addrt.name}}</span>
                        </span>
                    </div>
                </div>
            </ion-item>
            <ion-item class="hob_item">
                <div class="info_l hob">
                    <p>想去的地方({{want_travel_count}})</p>
                </div>
                <div class="info_c hob">
                    <div class="hob_addr clearfix">
                        <span class="hob_addr_flag f2" ng-repeat="addrt in want_travel track by addrt.id">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">{{addrt.name}}</span>
                        </span>
                    </div>
                </div>
            </ion-item>

            <ion-item class="hob_item">
                <div class="info_l hob">
                    <p>喜欢的运动({{love_sport_count}})</p>
                </div>
                <div class="info_c hob">
                    <div class="hob_sport clearfix">
                        <span class="hob_sport_flag" ng-repeat="addrt in love_sport track by addrt.id">
                            <i class="bhy-icon-moves hob_sport_icon"></i>
                            <span class="hob_sport_name">{{addrt.name}}</span>
                        </span>
                    </div>
                </div>
            </ion-item>

            <ion-item class="hob_item">
                <div class="info_l hob">
                    <p>想看的电影({{want_film_count}})</p>
                </div>
                <div class="info_c hob">
                    <ion-scroll delegate-handle="small" zooming="false" direction="x" scrollbar-x="false"
                                scrollbar-y="false" class="hob_movie clearfix" ng-if="want_film_count != '0'">
                        <dl ng-repeat="addrt in want_film track by addrt.id">
                            <dt><img src="{{addrt.pic_path}}"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">{{addrt.name}}</dd>
                        </dl>
                    </ion-scroll>
                    <div class="hob_sport clearfix" ng-if="want_film_count == '0'"> </div>
                </div>
            </ion-item>

            <ion-item class="hob_item">
                <div class="info_l hob">
                    <p>喜欢的美食({{like_food_count}})</p>
                </div>
                <div class="info_c hob mb10">
                    <div class="hob_food clearfix">
                        <span class="hob_food_flag" ng-repeat="addrt in like_food track by addrt.id">
                            <i class="icon-food hob_food_icon"></i>
                            <span class="hob_food_name">{{addrt.name}}</span>
                        </span>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>对伴侣的期望</p>
                </div>
                <div class="info_c mate">
                    <p ng-if="otherUserInfo.info.mate != '未知'">{{otherUserInfo.info.mate}}</p>
                    <p ng-if="otherUserInfo.info.mate == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item class="member_t">
                <p>详细资料</p>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>子女状况</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.is_child != '未知'">{{otherUserInfo.info.is_child | child}}</p>
                    <p ng-if="otherUserInfo.info.is_child == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>民族</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.nation != '未知'">{{otherUserInfo.info.nation | nation}}</p>
                    <p ng-if="otherUserInfo.info.nation == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>工作单位</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.work != '未知'">{{otherUserInfo.info.work}}</p>
                    <p ng-if="otherUserInfo.info.work == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>年收入</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.year_income != '未知'">{{otherUserInfo.info.year_income | yearIncome}}</p>
                    <p ng-if="otherUserInfo.info.year_income == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>购房情况</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.is_purchase != '未知'">{{otherUserInfo.info.is_purchase | purchase}}</p>
                    <p ng-if="otherUserInfo.info.is_purchase == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>购车情况</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.is_car != '未知'">{{otherUserInfo.info.is_car | car}}</p>
                    <p ng-if="otherUserInfo.info.is_car == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>血型</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.blood != '未知'">{{otherUserInfo.info.blood | blood}}</p>
                    <p ng-if="otherUserInfo.info.blood == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>毕业院校</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.school != '未知'">{{otherUserInfo.info.school}}</p>
                    <p ng-if="otherUserInfo.info.school == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item class="member_t">
                <p>择偶标准</p>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>年龄</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.zo_age != '未知'">{{otherUserInfo.info.zo_age | zo_age}}</p>
                    <p ng-if="otherUserInfo.info.zo_age == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>身高</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.zo_height != '未知'">{{otherUserInfo.info.zo_height | zo_age}}</p>
                    <p ng-if="otherUserInfo.info.zo_height == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>学历</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.zo_education != '未知'">{{otherUserInfo.info.zo_education | education}}</p>
                    <p ng-if="otherUserInfo.info.zo_education == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>婚姻状况</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.zo_marriage != '未知'">{{otherUserInfo.info.zo_marriage | zo_marriage}}</p>
                    <p ng-if="otherUserInfo.info.zo_marriage == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>购房情况</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.zo_house != '未知'">{{otherUserInfo.info.zo_house | purchase}}</p>
                    <p ng-if="otherUserInfo.info.zo_house == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>购车情况</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.zo_car != '未知'">{{otherUserInfo.info.zo_car | car}}</p>
                    <p ng-if="otherUserInfo.info.zo_car == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>属相</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.zo_zodiac != '未知'">{{otherUserInfo.info.zo_zodiac | zo_zodiac}}</p>
                    <p ng-if="otherUserInfo.info.zo_zodiac == '未知'" class="null">未知</p>
                </div>
            </ion-item>
            <ion-item class="mb40">
                <div class="info_l">
                    <p>星座</p>
                </div>
                <div class="info_c">
                    <p ng-if="otherUserInfo.info.zo_constellation != '未知'">{{otherUserInfo.info.zo_constellation | zo_constellation}}</p>
                    <p ng-if="otherUserInfo.info.zo_constellation == '未知'" class="null">未知</p>
                </div>
            </ion-item>

        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light">
        <div class="buttons w50 bor_r_1c">
            <button class="button w100" style="font-size: 16px; color:#e4007f;" ui-sref="main.message_chat({id:otherUserInfo.id,head_pic:otherUserInfo.info.head_pic,real_name:otherUserInfo.info.real_name,sex:otherUserInfo.sex,age:otherUserInfo.info.age})"><i class="ion-chatbox-working cor21 mr5 vam fs22"></i>对话</button>
        </div>
        <div class="buttons w50" >
            <button ng-if="!formData.follow" class="button w100"  style="font-size: 16px;" ng-click="addFollow()">
                <i class="ion-plus-round mr5 vam fs22"></i>关注
            </button>

            <button ng-if="formData.follow" ng-click="cancelFollow()" class="button w100" style="font-size: 16px;">取消关注</button>
        </div>
    </ion-footer-bar>


    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
</ion-view>