<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/photoswipe/photoswipe.css" rel="stylesheet">
    <link href="/wechat/web/css/plugin/photoswipe/default-skin.css" rel="stylesheet">
    <ion-header-bar>
        <button class="button button-icon icon ion-arrow-left-c" ng-click="jump()"></button>
        <title class="title">张小姐</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 infomation m_bg">
        <ion-list>
            <div class="imgList_con">
                <div class="imgList_handle clearfix">
                    <div class="imgItem" ng-repeat="img in imgList" ng-click="showImgList(imgList,$index)">
                        <img src="{{img.src}}">
                    </div>
                </div>
            </div>
            <ion-item class="idt mt10">
                <p>
                    <span class="identity sfz" ng-if="userInfo.identity_pic.is_check == 1">身份证</span>
                    <span class="identity phone" ng-if="userInfo.phone">手机</span>
                    <span class="identity vip" ng-if="userInfo.info.level == 1">vip</span>
                    <span class="identity guest" ng-if="userInfo.info.level == 2">贵宾</span>
                    <span class="identity diamond" ng-if="userInfo.info.level == 3">钻石</span>
                    <span class="ml10">
                        {{userInfo.info.zodiac | zodiac}}
                        <span class="sx">|</span>
                        {{userInfo.info.constellation | constellation}}
                    </span>
                </p>
            </ion-item>
            <ion-item ui-sref="main.member_dynamic">
                <div class="info_l">
                    <p>个人动态</p>
                    <p class="dyn_nb">12</p>
                </div>
                <div class="info_c">
                    <div class="dyn_img_list">
                        <img class="dyn_img" src="/wechat/web/images/test/1.jpg">
                        <img class="dyn_img" src="/wechat/web/images/test/2.jpg">
                        <img class="dyn_img" src="/wechat/web/images/test/3.jpg">
                        <img class="dyn_img" src="/wechat/web/images/test/4.jpg">
                    </div>

                </div>
                <div class="info_r mt10">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>
            <ion-item class="mb10">
                <div class="info_l">
                    <p>个性签名</p>
                </div>
                <div class="info_c">
                    <p ng-if="userInfo.personalized == null">这人很懒，什么也没留下~</p>
                    <p ng-if="userInfo.personalized != null">{{userInfo.personalized}}</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>性别</p>
                </div>
                <div class="info_c">
                    <p ng-if="userInfo.sex == 0"><i class="mr5 icon bhy-icon-member-woman cor13 vam"></i>女</p>
                    <p ng-if="userInfo.sex == 1"><i class="mr5 icon bhy-icon-member-man cor13 vam"></i>男</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>真实姓名</p>
                </div>
                <div class="info_c">
                    <p>张**</p>
                </div>

            </ion-item>
            <ion-item class="brithday">
                <div class="info_l">
                    <p>出生年月</p>
                </div>
                <div class="info_c">
                    <p><i class="bhy-icon-member-birthday cor23 vam mr5"></i><span class="mr10">1991-08-04</span><span
                            class="mr10">羊</span><span>狮子座</span></p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>身高</p>
                </div>
                <div class="info_c">
                    <p>165厘米</p>
                </div>
            </ion-item>
            <ion-item >
                <div class="info_l">
                    <p>婚姻状况</p>
                </div>
                <div class="info_c">
                    <p class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>学历</p>
                </div>
                <div class="info_c">
                    <p class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>职业</p>
                </div>
                <div class="info_c">
                    <p class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>地区</p>
                </div>
                <div class="info_c">
                    <p><span>重庆市</span><span>渝中区</span></p>
                </div>
            </ion-item>
            <ion-item ui-sref="main.member_haunt_address">
                <div class="info_l">
                    <p>常出没地</p>
                </div>
                <div class="info_c">
                    <p>观音桥、大坪、南坪</p>
                </div>
            </ion-item>

            <!--<ion-item href="" class="mt10 mb10">
                <div class="info_l">
                    <p>礼物</p>
                </div>
                <div class="info_c">
                    <p class="gift_t">我有<span>3</span>个喜欢的礼物</p>
                    <p class="gift_list mt10">
                        <img class="gift_img" src="/wechat/web/images/test/gift1.jpg">
                        <img class="gift_img" src="/wechat/web/images/test/gift1.jpg">
                        <img class="gift_img" src="/wechat/web/images/test/gift1.jpg">
                    </p>
                </div>
                <div class="info_r">
                    <i class="ionc ion-ios-arrow-right"></i>
                </div>
            </ion-item>-->
            <ion-item>
                <div class="info_l">
                    <p>微信号</p>
                </div>
                <div class="info_c">
                    <p>******</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>QQ号</p>
                </div>
                <div class="info_c">
                    <p>******</p>
                </div>
            </ion-item>
            <div class="hobby">
                <div class="hobby_bg">
                    <img src="/wechat/web/images/info_hobby_bg.jpg">
                </div>
            </div>
            <ion-item class="hob_item">
                <div class="info_l hob">
                    <p>她去过的地方(7)</p>
                </div>
                <div class="info_c hob">
                    <div class="hob_addr clearfix">
                        <span class="hob_addr_flag">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>
                        <span class="hob_addr_flag">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">重庆</span>
                        </span>
                        <span class="hob_addr_flag">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">上海</span>
                        </span>
                        <span class="hob_addr_flag">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">澳大利亚</span>
                        </span>
                        <span class="hob_addr_flag">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">墨西哥</span>
                        </span>
                        <span class="hob_addr_flag">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>
                        <span class="hob_addr_flag">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>
                    </div>
                </div>
            </ion-item>
            <ion-item class="hob_item">
                <div class="info_l hob">
                    <p>她想去的地方(5)</p>
                </div>
                <div class="info_c hob">
                    <div class="hob_addr clearfix">
                        <span class="hob_addr_flag f2">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>
                        <span class="hob_addr_flag f2">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>
                        <span class="hob_addr_flag f2">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>
                        <span class="hob_addr_flag f2">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>
                        <span class="hob_addr_flag f2">
                            <i class="ion-location hob_addr_icon"></i>
                            <span class="hob_addr_name">北京</span>
                        </span>
                    </div>
                </div>
            </ion-item>

            <ion-item class="hob_item">
                <div class="info_l hob">
                    <p>她喜欢的运动(4)</p>
                </div>
                <div class="info_c hob">
                    <div class="hob_sport clearfix">
                        <span class="hob_sport_flag">
                            <i class="bhy-icon-moves hob_sport_icon"></i>
                            <span class="hob_sport_name">跑步</span>
                        </span>
                         <span class="hob_sport_flag">
                            <i class="bhy-icon-moves hob_sport_icon"></i>
                            <span class="hob_sport_name">羽毛球</span>
                        </span>
                         <span class="hob_sport_flag">
                            <i class="bhy-icon-moves hob_sport_icon"></i>
                            <span class="hob_sport_name">篮球</span>
                        </span>
                         <span class="hob_sport_flag">
                            <i class="bhy-icon-moves hob_sport_icon"></i>
                            <span class="hob_sport_name">骑行</span>
                        </span>
                         <span class="hob_sport_flag">
                            <i class="bhy-icon-moves hob_sport_icon"></i>
                            <span class="hob_sport_name">健身</span>
                        </span>
                        <span class="hob_sport_flag">
                            <i class="bhy-icon-moves hob_sport_icon"></i>
                            <span class="hob_sport_name">游泳</span>
                        </span>
                    </div>
                </div>
            </ion-item>

            <ion-item class="hob_item">
                <div class="info_l hob">
                    <p>想看的电影(8)</p>
                </div>
                <div class="info_c hob">
                    <ion-scroll delegate-handle="small" zooming="false" direction="x" scrollbar-x="false"
                                scrollbar-y="false" class="hob_movie clearfix">
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie1.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">美人鱼</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie2.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">山东分公司当然</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie3.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">使得法国</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie4.gif"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">阿瑟我去</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie5.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">才vssdfsd发</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie6.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">短途运输让他</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie7.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">让他我去</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie8.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">人与人他</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie3.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">法国皇帝</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie5.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">身高4而</dd>
                        </dl>
                        <dl>
                            <dt><img src="/wechat/web/images/test/movie2.jpg"></dt>
                            <dd class="fs12 tac cor25 lh24 toe">导演姜文</dd>
                        </dl>
                    </ion-scroll>
                </div>
            </ion-item>

            <ion-item class="hob_item">
                <div class="info_l hob">
                    <p>喜欢的美食(9)</p>
                </div>
                <div class="info_c hob mb10">
                    <div class="hob_food clearfix">
                        <span class="hob_food_flag">
                            <i class="icon-food hob_food_icon"></i>
                            <span class="hob_food_name">爱吃甜</span>
                        </span>
                        <span class="hob_food_flag">
                            <i class=" icon-food hob_food_icon"></i>
                            <span class="hob_food_name">爱吃辣</span>
                        </span>
                        <span class="hob_food_flag">
                            <i class=" icon-food hob_food_icon"></i>
                            <span class="hob_food_name">寿司</span>
                        </span>
                        <span class="hob_food_flag">
                            <i class=" icon-food hob_food_icon"></i>
                            <span class="hob_food_name">火锅</span>
                        </span>
                        <span class="hob_food_flag">
                            <i class=" icon-food hob_food_icon"></i>
                            <span class="hob_food_name">哈根达斯</span>
                        </span>
                        <span class="hob_food_flag">
                            <i class=" icon-food hob_food_icon"></i>
                            <span class="hob_food_name">冰棍</span>
                        </span>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l mate">
                    <p>她对未来伴侣的期望</p>
                </div>
                <div class="info_c mate">
                    <p class="null">未知</p>
                </div>
            </ion-item>
            <ion-item class="member_t">
                <p>详细资料</p>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>子女状况</p>
                </div>
                <div class="info_c">
                    <p>无小孩</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>民族</p>
                </div>
                <div class="info_c">
                    <p>汉族</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>工作单位</p>
                </div>
                <div class="info_c">
                    <p class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>年收入</p>
                </div>
                <div class="info_c">
                    <p class="null">未知</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>购房情况</p>
                </div>
                <div class="info_c">
                    <p>未购房</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>购车情况</p>
                </div>
                <div class="info_c">
                    <p>未购车</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>血型</p>
                </div>
                <div class="info_c">
                    <p>O型</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>毕业院校</p>
                </div>
                <div class="info_c">
                    <p class="null">未知</p>
                </div>
            </ion-item>
            <ion-item class="member_t">
                <p>择偶标准</p>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>年龄</p>
                </div>
                <div class="info_c">
                    <p>18-24岁</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>身高</p>
                </div>
                <div class="info_c">
                    <p>170-185厘米</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>学历</p>
                </div>
                <div class="info_c">
                    <p>不限</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>婚姻状况</p>
                </div>
                <div class="info_c">
                    <p>未婚</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>购房情况</p>
                </div>
                <div class="info_c">
                    <p>已购房</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>购车情况</p>
                </div>
                <div class="info_c">
                    <p>不限</p>
                </div>
            </ion-item>
            <ion-item>
                <div class="info_l">
                    <p>属相</p>
                </div>
                <div class="info_c">
                    <p>牛</p>
                </div>
            </ion-item>
            <ion-item class="mb40">
                <div class="info_l">
                    <p>星座</p>
                </div>
                <div class="info_c">
                    <p>不限</p>
                </div>
            </ion-item>

        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-light">
        <div class="buttons w50 bor_r_1c">
            <button class="button w100" style="font-size: 16px; color:#e4007f;" ui-sref="main.message_chat({id:user.id,head_pic:user.info.head_pic,real_name:user.info.real_name,sex:user.sex,age:user.info.age})"><i class="ion-chatbox-working cor21 mr5 vam fs22"></i>对话</button>
        </div>
        <div class="buttons w50" >
            <button ng-if="!formData.follow" class="button w100"  style="font-size: 16px;" ng-click="addFollow()">
                <i class="ion-plus-round mr5 vam fs22"></i>关注
            </button>

            <button ng-if="formData.follow" ng-click="cancelFollow()" class="button w100" style="font-size: 16px;">取消关注</button>
        </div>
    </ion-footer-bar>


    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
</ion-view>