<ion-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar align-title="center"  class="com_w_100 bhy">
        <h1 class="title">开通VIP</h1>
    </ion-header-bar>
    <ion-content class="com_w_100 bhy m_bg">
        <ion-list>
            <ion-item class="item-button-right vip_g" ng-repeat="goods in goodsList | orderBy:['-id']" ng-click="createOrder(goods.id)">
                <img src="{{goods.img}}" width="102">
                <p class="vip_g_t tac">
                    <s class="fs16">原价{{goods.native_price / 100}}元</s>
                </p>
                <button class="button button-energized vip_g_b">
                    {{ goods.price / 100 | currency:'￥'}}
                </button>
            </ion-item>
        </ion-list>
        <div class="vip_b_ad" ng-click="vipModal.show()">
            <img src="/wechat/web/images/member/vip_b_ad.png">
        </div>
    </ion-content>
</ion-view>