<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <a class="button button-icon icon ion-arrow-left-c" href="#/main/member"></a>
        <h1 class="title">开通VIP</h1>
    </ion-header-bar>
    <ion-content class="com_w_100 bhy m_bg">
        <ion-list>
            <div class="mt10 vip_top_bg clearfix tac">
                <h4 class="cor0 lh48">距离恢复原价还有：{{formData.timer}}</h4>
            </div>
            <ion-item class="item-button-right vip_g" ng-repeat="goods in goodsList | orderBy:['-id']" ng-click="createOrder(goods.id)">
                <img src="{{goods.img}}" width="102">
                <p class="vip_g_t tac">
                    <s class="fs16">原价{{goods.native_price}}元</s>
                </p>
                <button class="button button-energized vip_g_b">
                    {{ goods.price | currency:'￥'}}
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>