<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">学历要求</title>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg">
        <ion-list>
            <div class="item item-divider">
                嘉瑞 ● 实名制婚恋网
            </div>
            <div class="item item-text-wrap">

                <label class="item item-input item-select">
                    <div class="input-label">
                        最低学历要求
                    </div>
                    <select ng-model="formData.zo_education">
                        <option value="">请选择</option>
                        <option value="{{e.id}}" ng-repeat="e in zo_educationList">{{e.name}}</option>
                    </select>
                </label>

                <div class="m_b_bg w100 mt20 tal">
                    <img src="/wechat/web/images/member/children_bg.png">
                </div>
            </div>

        </ion-list>
    </ion-content>
</ion-view>