<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <a class="button button-icon icon ion-arrow-left-c" href="#/main/member/information"
                ></a>
        <title class="title">婚姻状况要求</title>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg">
        <ion-list>
            <ion-item class="item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" value="0" ng-click="SelectedNull($event)">
                </label>
                不限
            </ion-item>
            <ion-item class="item-checkbox" ng-repeat="m in marriageList">
                <label class="checkbox">
                    <input type="checkbox" value="{{m.id}}" ng-checked="isSelected({{m.id}})" ng-disabled="isSelectedNull" ng-click="selected($event,{{m.id}})">
                </label>
                {{m.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>