<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon icon ion-arrow-left-c" ui-sref="main.member_information"
                ></button>
        <title class="title">属相要求</title>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg">
        <ion-list>
            <ion-item class="item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" value="0" ng-click="SelectedNull($event)">
                </label>
                不限
            </ion-item>
            <ion-item class="item-checkbox" ng-repeat="z in zodiacList">
                <label class="checkbox">
                    <input type="checkbox" value="{{z.id}}" ng-checked="isSelected({{z.id}})" ng-disabled="isSelectedNull" ng-click="selected($event,{{z.id}})">
                </label>
                {{z.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>