<ion-view hide-tabs="true">
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">属相要求</title>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100">
        <ion-list>
            <ion-checkbox ng-model="isNull" ng-click="isNullFunc($event)">不限</ion-checkbox>
            <ion-checkbox ng-model="zodiac.checked" ng-repeat="zodiac in zodiacList" ng-checked="zodiac.checked" ng-disabled="isNull">{{zodiac.name}}</ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>