<ion-modal-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <link href="/wechat/web/js/plugin/mobiscroll/mobiscroll.custom-3.0.0-beta.min.css" rel="stylesheet" type="text/css">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon" ng-click="closeModal()">取消</button>
        <span class="title">出生年月</span>
        <button class="button button-icon cor21" ng-disabled="!formData.birthday || formData.age < 18" ng-click="saveData(formData)">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg">
        <ion-list>
            <div class="item item-divider">
                嘉瑞 ● 实名制婚恋网
            </div>
            <div class="item item-text-wrap">

                <label class="item item-input">
                    <input ng-model="formData.birthday" type="text" mobiscroll-calendar="settings" placeholder="点击选择出生日期" ng-change="birthdayChange()" />
                </label>
                <label class="item item-input">
                    <input type="text" readonly placeholder="{{formData.age}}">
                </label>
                <label class="item item-input">
                    <input type="text" readonly placeholder="{{formData.zodiac.name}}">
                </label>
                <label class="item item-input mb20">
                    <input type="text" readonly placeholder="{{formData.constellation.name}}">
                </label>

                <div class="m_b_bg w100 mt20">
                    <img src="/wechat/web/images/member/age_bg.png">
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-modal-view>