<ion-modal-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon" ng-click="closeModal()">取消</button>
        <title class="title">我去过的地方</title>
        <button class="button button-icon cor21" ng-click="saveData(formData)">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100" style="background-color:#f5f5f5;">
        <ion-item class="bhy_item_b mt10 mb10">
            <ion-scroll delegate-handle="small" zooming="false" direction="x" scrollbar-x="false"
                        scrollbar-y="false"
                        class="addr_top_box fl">
                   <span class="hob_addr_flag f1" ng-click="remove(dat)" ng-repeat="dat in data | filter:{checked: true}">
                        <i class="ion-location hob_addr_icon"></i>
                        <span class="hob_addr_name">{{dat.name}}</span>
                    </span>
            </ion-scroll>
        </ion-item>
        <div class="pl16 cor20 clearfix hr_30">
            <span class="fl">热门推荐</span>
                <span class="fr addr_type_tab">
                    <span ng-class="{1:'cur'}[typeTab]" ng-click="showTab(1)">国内</span>
                    <span ng-class="{2:'cur'}[typeTab]" ng-click="showTab(2)">国外</span>
                </span>
        </div>
    </ion-content>
    <ion-content class="bhy com_w_100 t140">
        <div class="item item-divider" ng-if="typeTab==1"
             ng-repeat="d in domestic | orderBy:['-id'] | limitTo:pageSize">
            <div class="padding">{{d.name}}</div>
            <ion-checkbox ng-repeat="da in data" ng-if="da.parentId == d.id" ng-click="scrollSmallToBottom($event,da)"
                          ng-model="da.checked">{{da.name}}
            </ion-checkbox>
        </div>
        <div class="item item-divider" ng-if="typeTab==2" ng-repeat="a in abroad | limitTo:pageSize">
            <div class="padding">{{a.name}}</div>
            <ion-checkbox ng-repeat="da in data" ng-if="da.parentId == a.id" ng-click="scrollSmallToBottom($event,da)"
                          ng-model="da.checked">{{da.name}}
            </ion-checkbox>
        </div>
        <ion-infinite-scroll
                ng-if="moreDataCanBeLoaded()"
                on-infinite="loadMore(typeTab)"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-modal-view>