<ion-modal-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar align-title="center" class="com_w_100 bhy">
        <button class="button button-icon" ng-click="saveClose()">取消</button>
        <title class="title" style="font-weight: inherit;">QQ号</title>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg">
        <ion-list>
            <div class="item item-divider">
                嘉瑞 ● 实名制婚恋网
            </div>

            <label class="item item-input mb20">
                <input type="text" ng-model="userInfo.info.qq" placeholder="请输入您的QQ号">
            </label>

            <ion-radio value="1" name="authGroup" ng-model="userInfo.privacy_qq">
                完全公开
            </ion-radio>
            <ion-radio value="2" name="authGroup" ng-model="userInfo.privacy_qq">
                我关注的人可见
            </ion-radio>
            <ion-radio value="3" name="authGroup" ng-model="userInfo.privacy_qq">
                VIP会员可见
            </ion-radio>
            <ion-radio value="4" name="authGroup" ng-model="userInfo.privacy_qq">
                不公开
            </ion-radio>

        </ion-list>
    </ion-content>
</ion-modal-view>