<ion-modal-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar align-title="center" class="com_w_100 bhy">
        <button class="button button-icon" ng-click="saveClose()">取消</button>
        <title class="title">真实姓名</title>
        <button class="button button-icon cor21" ng-disabled="userInfo.info.real_name.length < 2" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg">
        <ion-list>
            <div class="item item-divider">
                嘉瑞 ● 实名制婚恋网
            </div>
            <div class="item item-text-wrap">
                <label class="item item-input mb20">
                    <input type="text" placeholder="真实姓名一旦填写不可更改" ng-model="userInfo.info.real_name">
                </label>
                <label class="m_tips">
                    <p class="fwb">温馨提示：</p>
                    <p class="ti24">本站绝不会在未获得您授权的情况下公布您的真实姓名，只是将其作为依据来验证您的真实身份，请如实填写！</p>
                </label>

                <!-- 男 -->
                <div ng-if="userInfo.sex == 1" class="m_b_bg w100 mt20 ">
                    <img src="/wechat/web/images/member/real_name_bg0.png">
                </div>
                <!-- 女 -->
                <div ng-if="userInfo.sex == 0" class="m_b_bg w100 mt20 tal">
                    <img src="/wechat/web/images/member/real_name_bg1.png">
                </div>
            </div>

        </ion-list>
    </ion-content>
</ion-modal-view>