<ion-modal-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar align-title="center" class="com_w_100 bhy">
        <button class="button button-icon" ng-click="vipModal.hide()">关闭</button>
        <title class="title">VIP特权介绍</title>
    </ion-header-bar>
    <ion-content class="bhy com_w_100">
        <div class="vip_b_ad">
            <img src="/wechat/web/images/member/vip_t_ad.png">
        </div>
        <div class="vip_content">
            <div class="vip1_t"></div>
            <p class="tac mt10 cor10">[个人-隐私设置-资料隐身-立即开启资料隐身]</p>
            <p class="ti24 mt20 mb30">个人资料隐身后，在您未主动联系其他会员时，他人均不可搜索及浏览到您的资料，有效的保护了您的个人隐私，<span class="cor3">悄悄咪咪谈恋爱，让您手握主动权，谈定与心仪的对象悄悄联络。</span></p>
            <div class="vip1_p mb30"></div>
            <div class="line"></div>

            <div class="vip2_t mt30"></div>
            <p class="tac mt10 cor10">[个人-隐私设置-照片权限]</p>
            <p class="ti24 mt20 mb30">权限1：完全公开；权限2：我关注的人可见；权限3：vip可见；权限4：不公开，<span class="cor3">您想把照片给谁看，就给谁看，设置权限后，其他会员均不可放大查看您的照片。</span></p>
            <div class="vip2_p mb30"></div>
            <div class="line"></div>

            <div class="vip3_t mt30"></div>
            <p class="tac mt10 cor10">[发现-＋][个人-个人动态-＋]</p>
            <p class="ti24 mt20 mb30">无限动态让您尽情地展现自己，让更多会员关注您，<span class="cor3">谈感情交朋友，想发什么发什么。</span></p>
            <div class="vip3_p mb30"></div>
            <div class="line"></div>

            <div class="vip4_t mt30"></div>
            <p class="tac mt10 cor10">[可查看对方的QQ号、微信号]</p>
            <p class="ti24 mt20 mb30">搭建沟通的桥梁，无论何时都能联系到TA，<span class="cor3">让感情多路径传递。</span></p>
            <div class="vip4_p mb30"></div>
            <div class="line"></div>

            <div class="vip5_t mt30"></div>
            <p class="tac mt10 cor10">[个人-关注的人]</p>
            <p class="ti24 mt20 mb30">第一时间查看对你感兴趣的人，<span class="cor3">让有缘人不再错过。</span></p>
            <div class="vip5_p mb30"></div>
            <div class="line"></div>

            <div class="vip6_t1 mt20"></div>
            <div class="vip6_t mt10"></div>
            <p class="tac mt10 cor10">[个人-我的专属红娘]</p>
            <p class="ti24 mt20 mb30">嘉瑞vip会员有机会获得<span class="cor3">红娘免费推荐合适人选。</span></p>
            <div class="vip6_p mb30"></div>
            <div class="line"></div>
        </div>
    </ion-content>
</ion-modal-view>