<ion-modal-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar align-title="center" class="com_w_100 bhy">
        <button class="button button-icon" ng-click="saveClose()">取消</button>
        <title class="title">微信号</title>
        <button class="button button-icon cor21" ng-click="saveData()">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg">
        <ion-list>
            <div class="item item-divider">
                嘉瑞 ● 实名制婚恋网
            </div>

            <label class="item item-input mb20">
                <input type="text" ng-model="userInfo.info.wechat" placeholder="请输入您的微信号">
            </label>

            <div class="item bor_b_n">
                <p class="fwb">温馨提示：</p>
                <p class="wsn ti28">微信号码仅限本站VIP会员可见。</p>
            </div>

        </ion-list>
    </ion-content>
</ion-modal-view>