<ion-modal-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <title class="title">星座要求</title>
        <button class="button button-icon cor21" ng-click="saveData(formData)">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100">
        <ion-list>
            <ion-checkbox ng-model="isNull" ng-click="isNullFunc($event)">不限</ion-checkbox>
            <ion-checkbox ng-model="constellation.checked" ng-repeat="constellation in constellationList" ng-disabled="isNull" ng-click="saveFormData($event,constellation)">{{constellation.name}}</ion-checkbox>
        </ion-list>
    </ion-content>
</ion-modal-view>