<ion-modal-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar class="com_w_100 bhy">
        <button class="button button-icon" ng-click="saveClose()">取消</button>
        <title class="title">婚姻状况要求</title>
        <button class="button button-icon cor21" ng-click="saveData(formData)">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100 m_bg">
        <ion-list>
            <ion-checkbox ng-model="marriage.checked" ng-repeat="marriage in marriageList" >{{marriage.name}}</ion-checkbox>
        </ion-list>
    </ion-content>
</ion-modal-view>