<ion-modal-view>
    <link href="/wechat/web/css/member.css" rel="stylesheet">
    <ion-header-bar align-title="center" class="com_w_100 bhy">
        <button class="button button-icon" ng-click="saveClose()">取消</button>
        <title class="title">属相要求</title>
        <button class="button button-icon cor21" ng-click="saveData(formData)">保存</button>
    </ion-header-bar>
    <ion-content class="bhy com_w_100">
        <ion-list>
            <ion-checkbox ng-model="zodiac.checked" ng-repeat="zodiac in zodiacList">{{zodiac.name}}</ion-checkbox>
        </ion-list>
    </ion-content>
</ion-modal-view>